.range-slider
	text-align: center
	p
		font-size: 15px
		color: white
		padding: 15px 0
		&.title
			margin: 10px 0
			text-transform: uppercase
			color: $dark-text-color
			font-size: 13px
.tablet-filter-panel
	display: none
	@media(max-width: 991px)
		background-color: #1b1f2b
		position: absolute
		top: 0px
		z-index: 100
		left: 60px
		right: 0
		display: flex
		flex: 1 0 100%
		height: 50px
		text-align: center
		color: #FFFFFF
		font-size: 13px
		font-weight: 600
		justify-content: center
		line-height: 50px
		text-transform: uppercase
		img
			position: absolute
			right: 30px
			top: 16px
			width: 22px
			height: 22px
	@media(max-width: 767px)
		display: none
.mobile-filter-panel
	display: none
	@media(max-width: 767px)
		display: flex
		flex: 0 0 auto
		height: 40px
		background-color: #303647
		position: relative
		justify-content: center
		.to-search
			position: absolute
			color: #FFFFFF
			font-size: 14px
			font-weight: 600
			top: 11px
			left: 15px
		.ttl
			color: #FFFFFF
			font-size: 12px
			font-weight: 600
			line-height: 40px
		.btn
			position: absolute
			width: 22px
			height: 22px
			top: 9px
			right: 15px

.filter-panel
	flex: 0 0 240px
	background-color: $black-color
	margin: 6px

	&__close
		$center: translate(-50%, -50%)
		display: none
		width: 20px
		height: 20px
		position: absolute
		top: 15px
		right: 15px
		z-index: 1002
		cursor: pointer

		@media(max-width: 767px)
			display: block

		&::before, &::after
			border-bottom: 1px solid white
			content: ''
			left: 50%
			position: absolute
			top: 50%
			width: 28px

		&::before
			transform: $center rotate(45deg)

		&::after
			transform: $center rotate(-45deg)

	@media(max-width: 991px)
		position: absolute
		z-index: 100
		width: 357px
		left: 54px
		top: 44px
		box-shadow: 0 -4px 16px 0 rgba(25,31,42,0.88);
	@media(max-width: 767px)
		left: 0
		right: 0
		top: 0
		bottom: 0
		margin: 0
		width: auto
		position: fixed
		overflow: auto
		z-index: 1001
	&.minimized
		max-width: 60px
		@media(max-width: 991px)
			display: none
		span
			display: none
		ul
			display: none
		.accordion
			display: none
	.body
		.parameter
			padding-left: 11px

	.header
		height: 58px
		position: relative
		padding: 24px 9px
		box-sizing: border-box
		@media(max-width: 991px)
			display: none
		span
			color: white
			font-size: 13px
			text-transform: uppercase
		img
			position: absolute
			top: 21px
			right: 18px
			width: 22px
			height: 22px
