.flights-list
  width: 100%
  margin-top: 10px
  background-color: #FFFFFF
  border-radius: 4px
  padding: 10px 10px 10px
  &.purchase-list
    .flights-list__direction
      position: relative
      padding-top: 40px
      padding-bottom: 15px
    .flights-list__from
      position: relative
      z-index: 1
      width: 70px
    .flights-list__to
      position: relative
      z-index: 1
      width: 70px
    .flights-list__info
      position: relative
      z-index: 1
      width: calc(100% - 140px)
    .flights-list__arrow
      position: absolute
      top: 0
      right: 0
      width: 70px
      text-align: center
    .flights-list__img
      position: absolute
      width: 65px
      top: 7px
      left: 0
    .flights-list__more-details
      padding: 10px
      max-width: 100%
      .top
        display: block
        max-width: 100%
        max-width: 270px
        .company,
        .class,
        .tariff
           display: block
      .flight
        padding-left: 30px
      .transfer-duration
        margin-left: -20px
        padding-left: 20px
        margin-right: -20px;
        width: calc(100% + 40px)
  &__direction
    position: relative
    border-bottom: 1px dashed #D5D5D5
    padding: 15px 0
    @media(max-width: 767px)
      position: relative
      padding-top: 40px
      padding-bottom: 15px
    &:before
      position: absolute
      content: ''
      width: 10px
      height: 10px
      background: #1b1f2b
      border-radius: 50%
      bottom: -5px
      left: -15px
    &:after
      position: absolute
      content: ''
      width: 10px
      height: 10px
      background: #1b1f2b
      border-radius: 50%
      bottom: -5px
      right: -15px
  &__footer
    padding-top: 20px
    .clr
      clear: both
      display: block

    .left
      color: #7B818F
      font-size: 16px
      font-weight: 600
      @media(max-width: 767px)
        font-size: 12px
      .info
        font-size: 10px
        font-weight: 400
        @media(max-width: 767px)
          display: none
      .mobile-price
        display: none
        @media(max-width: 767px)
          display: block
          color: #FC4955
          font-size: 18px
          font-weight: bold

    .right
      float: right
      .price
        color: #FC4955
        font-weight: bold
        font-size: 21px
        line-height: 40px
        @media(max-width: 767px)
          display: none
      .btn
        display: inline-block
        vertical-align: top
        margin-left: 25px
        height: 40px
        line-height: 40px
        width: 130px
        border-radius: 7px
        background-color: #FC4955
        text-align: center
        color: #FFFFFF
        font-size: 18px
        font-weight: bold
        @media(max-width: 767px)
          margin-left: 0
  &__from
    display: inline-block
    vertical-align: middle
    width: calc(17.5% - 30px)
    @media(max-width: 767px)
     position: relative
     z-index: 1
     width: 70px
    .time
      color: #4C4F61
      font-size: 24px
      font-weight: 500
      text-align: right
      margin-bottom: 3px
    .airport
      text-align: right
      color: #7B818F
      font-size: 20px
      font-weight: 500
      margin-bottom: 12px
    .date
      text-align: right
      color: #7B818F
      font-size: 12px
      font-weight: 500
  &__to
    display: inline-block
    vertical-align: middle
    width: calc(17.5% - 30px)
    @media(max-width: 767px)
     position: relative
     z-index: 1
     width: 70px
    .time
      color: #4C4F61
      font-size: 24px
      font-weight: 500
      margin-bottom: 3px
    .airport
      color: #7B818F
      font-size: 20px
      font-weight: 500
      margin-bottom: 12px
    .date
      color: #7B818F
      font-size: 12px
      font-weight: 500
  &__info
    display: inline-block
    vertical-align: middle
    width: 35%
    padding: 0 35px 0 15px
    position: relative
    @media(max-width: 767px)
     z-index: 1
     width: calc(100% - 140px)
    .ico
      position: absolute
      width: 17px
      height: 28px
      top: -12px
      right: -25px
    .duration
      color: #4C4F61
      font-size: 14px
      font-weight: 500
      text-align: center
      margin-bottom: 20px
    .info
      color: #7B818F
      font-size: 13px
      color: #7B818F
      text-align: center
      &.red
        color: #FC4955
    .line
      background: #D5D5D5
      width: 100%
      height: 2px
      margin-bottom: 20px
      position: relative
      &.red
        &:before,
        &:after
          background-color: #FC4955
      &.blue
        &:before,
        &:after
          background-color: #5A8CE1
      &.one
        &:before
          position: absolute
          content: ''
          top: -10px
          left: 50%
          margin-left: -9px
          height: 17px
          width: 17px
          border: 3px solid #FFFFFF
          border-radius: 50%
      &.two
        &:before
          position: absolute
          content: ''
          top: -10px
          left: 60%
          margin-left: -9px
          height: 17px
          width: 17px
          border: 3px solid #FFFFFF
          border-radius: 50%
        &:after
          position: absolute
          content: ''
          top: -10px
          left: 30%
          margin-left: -9px
          height: 17px
          width: 17px
          border: 3px solid #FFFFFF
          border-radius: 50%

  &__arrow
    display: inline-block
    width: 60px
    text-align: center
    @media(max-width: 767px)
      position: absolute
      top: 0
      right: 0
      width: 70px
      text-align: center
    .btn
      height: 7.95px;
      width: 13.62px;
      display: inline-block
      img
        max-width: 100%
  &__img
    width: 29%
    display: inline-block
    vertical-align: middle
    text-align: center
    img
      max-width: 100%
    @media(max-width: 767px)
      position: absolute
      width: 80px
      top: 0px
      left: 0
  &__more-details
    padding: 23px 20px 30px 38px
    border-top: 1px dashed #D5D5D5
    margin-top: 15px
    @media(max-width: 767px)
      padding: 10px
      max-width: 100%
    .top
      display: flex
      justify-content: space-between
      margin-bottom: 20px
      @media(max-width: 767px)
        display: block
        max-width: 100%
        max-width: 270px
      .company
        color: #7B818F
        font-size: 13px
        font-weight: 500
        @media(max-width: 767px)
          display: block
      .tariff
        color: #5A8CE1
        text-decoration: underline
        font-size: 12px
        font-weight: 600
        @media(max-width: 767px)
          display: block
      .class
        color: #7B818F
        font-size: 12px
        font-weight: 500
        @media(max-width: 767px)
          display: block
    .flight
      position: relative
      padding-left: 47px
      @media(max-width: 767px)
        padding-left: 30px
      .line
        position: absolute
        left: 5px
        top: 16px
        width: 2px
        height: 68px
        background: #FC4955
        &:before
          position: absolute
          content: ''
          top: -11px
          left: -5px
          height: 8px
          width: 8px
          border: 2px solid #FC4955
          border-radius: 50%
        &:after
          position: absolute
          content: ''
          bottom: -12px
          left: -5px
          height: 8px
          width: 8px
          border: 2px solid #FC4955
          border-radius: 50%
      .time
        display: inline-block
        margin-right: 26px
        color: #4C4F61
        font-size: 18px
        font-weight: 500
      .place
        color: #4C4F61
        font-size: 16px
        font-weight: 500
      .time-flight
          margin: 23px 0 21px
          color: #4C4F61
          font-size: 14px
          font-weight: 500
          img
            width: 16px
            height: 16px
            margin-bottom: -3px
            margin-right: 15px
            margin-left: 16px
    .transfer-duration
      height: 40px
      border-radius: 2px
      background-color: #F8F8F8
      line-height: 40px
      color: #FC4955
      font-size: 13px
      font-weight: 500
      margin-left: -35px
      padding-left: 35px
      margin-top: 20px
      margin-bottom: 22px
      img
        width: 16px
        height: 16px
        margin-bottom: -3px
        margin-right: 13px
      @media(max-width: 767px)
        margin-left: -20px
        padding-left: 20px
        margin-right: -20px
        width: calc(100% + 40px)
.flight-list__airlines
  width: 100%;
  display: block;
  color: #7B818F;
  font-size: 14px;
  margin: 10px 10px 0;