<template>
	<li >
		<img src="../../assets/icons/down-arrow-red.svg" alt="" class="ico-chek" v-show="displayElement.id && !change"/>
		<div class="name">{{ttl}}</div>
		<span class="value" v-show="!change" v-click-outside='close' @click="open">
			<span class="mobile-name">{{ttl}}</span>
			<span v-if="!displayName" class='plchldr'>__</span>
			<span>{{displayName}}</span>
		</span>
		<div class="change" v-if="change">

			<autocomplete :list="names"
						  :classList="adaptiveClassList"
						  :placeholder="placeholder"
						  :focus-on-render="true"
						  v-model="displayElement"
			/>
			<button href="#" class="save" @click.prevent.stop="close" :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isSaving"></spiner>
				<img src="../../assets/icons/save.svg" alt="" v-if="!isSaving" />
			</button>
			<button href="#" class="remove" @click.prevent.stop="remove" :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isRemoving"></spiner>
				<img src="../../assets/icons/rubbish.svg" alt="" v-if="!isRemoving"  />
			</button>
		</div>
	</li>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner.vue";
import Autocomplete from "../plain/autocomplete";
export default {
	name: "citizenship-select",
	props: ["value", "names", "ttl", "placeholder", "dataRef", "param", "id"],
	components: {
		Autocomplete,
		spiner: Spinner
	},
	data() {
		let displayElement = {};
		if (this.value) {
			let currentName = this.names.find(name => name.id === this.value);
			if (currentName) displayElement = currentName;
		}
		return {
			isSaving: false,
			isRemoving: false,
			change: false,
			val: "",
			active: 0,
			displayElement,
			test: {},
			adaptiveClassList: {
				dropdownWrapper: "dopdown",
				dropdown: "list-wr",
				input: "small-input"
			}
		};
	},
	watch: {
		displayElement: {
			deep: true,
			handler (newValue, oldValue) {
				if (
					newValue.hasOwnProperty("name") &&
					(oldValue.hasOwnProperty("name") ? newValue.name !== oldValue.name : true)
				) {
					this.save()
				}
			}
		}
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		filteredNames () {
			if (!this.displayElement) return this.names;
			else return this.names.filter(name => {
				if (this.currentLangCode === "ru") return name.name.toLowerCase().startsWith(this.displayElement.name.toLowerCase())
				else return name.nameEn.toLowerCase().startsWith(this.displayelement.nameEn.toLowerCase())
			})
		},
		displayName () {
			return this.currentLangCode === "ru" ? this.displayElement.name : this.displayElement.nameEn
		}
	},
	methods: {
		up() {
			event.preventDefault();
			if (this.active > 0) {
				this.active--;
			}
		},
		down() {
			event.preventDefault();
			if (this.active < this.names.length - 1) {
				this.active++;
			}
		},
		close() {
			this.change = false;
		},
		ajax (val) {
			self = this;

			var travelerData = {};
			travelerData.citizenshipCountryId = this.displayElement.id || "";
			travelerData.travelerId = this.id;
			API.setTrevelerCitizenship(travelerData)
				.then(response => {
					self.isSaving = false;
					self.isRemoving = false;
					if (response.data.status === "success") {
						this.$emit("input", this.val);
						self.close();
						self.$emit("save");
					} else {
						console.log("error" + data);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					self.isSaving = false;
					self.isRemoving = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				});
		},
		open() {
			this.change = true;
			self = this;
			setTimeout(function() {
				// self.$refs.dropdown.focus();
			}, 50);
			this.$emit("setActive", this.dataRef);
		},
		save() {
			this.isSaving = true;
			this.ajax();
		},
		remove() {
			this.isRemoving = true;
			this.val = "";
			this.displayElement = {};
			this.ajax();
		}
	}
};
</script>

<style lang="sass" scoped>
	.change
		display: inline-flex !important
</style>
