<template>
	<li>
		<img src="../../assets/icons/down-arrow-red.svg" alt="" class="ico-chek" v-show="!!value && !change"/>
		<div class="name">{{ttl}}</div>
		<span v-click-outside="close" @click="open" >
			<span class="value" v-show="!change">
				<span class="mobile-name">{{ttl}}</span>
				<span v-if="!value" class='plchldr'>________</span>
				<span>{{value}}</span>
			</span>
			<form class="change" v-show="change" @submit.prevent>
				<input ref="inp" type="text" class="small-input" v-model="tempVal" @keyup.enter='save' :placeholder="placeholder" />
				<button href="#" class="save" @click.prevent.stop="save" :disabled='(isSaving || isRemoving)'>
					<spiner v-if="isSaving"></spiner>
					<img src="../../assets/icons/save.svg" alt="" v-if="!isSaving"/>
				</button>
				<button href="#" class="remove" @click.prevent.stop="remove" :disabled='(isSaving || isRemoving)'>
					<spiner v-if="isRemoving"></spiner>
					<img src="../../assets/icons/rubbish.svg" alt="" v-if="!isRemoving"  />
				</button>
			</form>
		</span>
	</li>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner.vue";
export default {
	name: "input",
	props: ["value", "ttl", "placeholder", "dataRef", "param", "id"],
	components: {
		spiner: Spinner
	},
	data() {
		return {
			isSaving: false,
			isRemoving: false,
			change: false,
			tempVal: this.value
		};
	},
	computed: {},
	methods: {
		focus() {
			this.$refs.inp.focus();
		},
		close() {
			this.change = false;
		},
		ajax() {
			// тут отправка на сервер
			// и если валидация прошла - сохраняем значение и закрывем

			var travelerData = {};
			travelerData[self.param] = self.tempVal;
			API.uptadePersonalInfo(travelerData)
				.then(response => {
					self.isSaving = false;
					self.isRemoving = false;
					if (response.data.status == "success") {
						self.close();
						self.$emit("input", this.$refs.inp.value);
						self.$emit("save");
					} else {
						console.log("error" + data);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					self.isSaving = false;
					self.isRemoving = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				});
		},
		open() {
			this.change = true;
			self = this;
			setTimeout(function() {
				self.focus();
			}, 50);

			this.$emit("setActive", this.dataRef);
		},
		save() {
			this.isSaving = true;
			this.ajax();
		},
		remove() {
			this.tempVal = "";
			this.isRemoving = true;
			this.ajax();
		}
	}
};
</script>
