<template>
	<li>
		<img src="../../assets/icons/down-arrow-red.svg" alt="" class="ico-chek" v-show="!!value.number && !change"/>
		<div class="name">{{pasportTll}}</div>
		<span v-click-outside="close" @click="open" >
			<span class="value" v-show="!change">
				<span class="mobile-name">{{pasportTll}}</span>
				<span v-if="!value.number" class='plchldr'>________</span>
				<span>{{value.number}}</span>
			</span>
			<form class="change" v-show="change" @submit.prevent>
				<input ref="inp" type="text" class="small-input" v-model="tempVal" @keyup.enter='save' :placeholder="placeholder" />
				<button href="#" class="save" @click.prevent.stop="save" :disabled='(isSaving || isRemoving)'>
					<spiner v-if="isSaving"></spiner>
					<img src="../../assets/icons/save.svg" alt="" v-if="!isSaving"/>
				</button>
				<button href="#" class="remove" @click.prevent.stop="remove" :disabled='(isSaving || isRemoving)'>
					<spiner v-if="isRemoving"></spiner>
					<img src="../../assets/icons/rubbish.svg" alt="" v-if="!isRemoving"  />
				</button>
			</form>
		</span>
	</li>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner.vue";
export default {
	name: "pasport-input",
	props: ["value", "ttl", "placeholder", "dataRef", "id"],
	components: {
		spiner: Spinner
	},
	data() {
		return {
			isSaving: false,
			isRemoving: false,
			variant: {
				"0": "Внутр.",
				"1": "Загран"
			},
			variantEn: {
				"0": "Passport",
				"1": "International passport"
			},
			change: false,
			tempVal: this.value.number
		};
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		pasportTll() {
			return this.value.type === 0
				? this.$t("profile.passport", this.currentLangCode)
				: this.$t("profile.intPassport", this.currentLangCode);
		}
	},
	methods: {
		focus() {
			this.$refs.inp.focus();
		},
		close() {
			this.change = false;
		},
		ajax() {
			// тут отправка на сервер
			// и если валидация прошла - сохраняем значение и закрывем

			var travelerData = {
				travelerId: this.id,
				type: this.value.type,
				number: this.tempVal
			};
			API.updateTravelerPassport(travelerData)
				.then(response => {
					self.isSaving = false;
					self.isRemoving = false;
					if (response.data.status == "success") {
						self.close();
						self.$emit("setTravelerId", response.data.data.travelerId);
						self.$emit("input", {
							number: this.$refs.inp.value,
							type: this.value.type
						});
						self.$emit("save");
					} else {
						console.log("error" + data);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
						VueNotifications.error({ message: response.data.error });
					}
				})
				.catch(e => {
					self.isSaving = false;
					self.isRemoving = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				});
		},
		open() {
			this.change = true;
			self = this;
			setTimeout(function() {
				self.focus();
			}, 50);

			this.$emit("setActive", this.dataRef);
		},
		save() {
			this.isSaving = true;
			this.ajax();
		},
		remove() {
			this.tempVal = "";
			this.isRemoving = true;
			this.ajax();
		}
	}
};
</script>
