<template>
	<li class="grey">
		<img src="../../assets/icons/down-arrow-red.svg" alt="" class="ico-chek" v-show="!change"/>
		<div class="name">{{ttl}}</div>
		<span v-click-outside="close" @click="open" >
			<span class="value" v-show="!change">
				<span class="mobile-name">{{ttl}}</span>
				<span class='plchldr'>********</span>
			</span>
			<form class="change password" v-show="change" @submit.prevent>
                <div class="question pointer" v-show='!confirmChange' @click="confirm">
                    {{$t("profile.changePass", currentLang.code)}}
                    <img src="../../assets/icons/ico-key.svg" alt="">
                </div>
                <div v-show='confirmChange'>
                    <div class="change__inp-gr">
                        <input ref="inp1" type="password" class="small-input" v-model.trim="changePassData.oldPassword" :placeholder='$t("profile.oldPass", currentLang.code)' />
                        <a tabindex="-1" href="#" @click.prevent='secondStep' class="save" v-show="firstBtn">
                            <img src="../../assets/icons/angle-arrow-down-white.svg" alt="" class="rotate">
                        </a>
                    </div>
                    <div class="change__inp-gr">
                        <input ref="inp2" type="password" class="small-input" v-model.trim="changePassData.newPassword" :placeholder='$t("profile.newPass", currentLang.code)' />
                        <a tabindex="-1" href="#" @click.prevent='thirdStep' class="save" v-show="secondBtn">
                            <img src="../../assets/icons/angle-arrow-down-white.svg" alt=""  class="rotate">
                        </a>
                    </div>
                    <div class="change__inp-gr">
                        <input ref="inp3" type="password" class="small-input" v-model.trim="changePassData.newPasswordRepeat" :placeholder='$t("profile.newPass", currentLang.code)' />
                        <button href="#" class="save" @click.prevent.stop="validate" :disabled='isChanging'  v-show="thirdBtn">
                            <spiner v-if="isChanging"></spiner>
                            <img src="../../assets/icons/save.svg" alt="" v-if="!isChanging"/>
                        </button>
                    </div>
                 </div>
			</form>
		</span>
	</li>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner.vue";
export default {
	name: "passwordut",
	props: ["ttl", "dataRef", "id"],
	components: {
		spiner: Spinner
	},
	data() {
		return {
			confirmChange: false,
			firstBtn: true,
			secondBtn: false,
			thirdBtn: false,
			changePassData: {
				oldPassword: "",
				newPassword: "",
				newPasswordRepeat: ""
			},
			validPass: true,
			isChanging: false,
			change: false
		};
	},
	mounted() {
		self = this;
		this.$refs.inp2.onfocus = function(e) {
			self.secondStep();
		};
		this.$refs.inp3.onfocus = function(e) {
			self.thirdStep();
		};
		this.$refs.inp1.onfocus = function(e) {
			self.firstStep();
		};
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		confirm() {
			this.confirmChange = true;
			setTimeout(() => {
				this.$refs.inp1.focus();
			}, 10);
		},
		firstStep() {
			this.firstBtn = true;
			this.thirdBtn = false;
			this.secondBtn = false;
			this.$refs.inp1.focus();
		},
		thirdStep() {
			this.firstBtn = false;
			this.thirdBtn = true;
			this.secondBtn = false;
			this.$refs.inp3.focus();
		},
		secondStep() {
			this.firstBtn = false;
			this.thirdBtn = false;
			this.secondBtn = true;
			this.$refs.inp2.focus();
		},
		focus() {
			// this.$refs.inp.focus();
		},
		close() {
			this.change = false;
			this.confirmChange = false;
		},
		validate() {
			this.validPass = true;
			if (this.changePassData.newPassword.length < 5) {
				VueNotifications.error({
					message: this.$t("validation.passwordLen6", this.currentLangCode)
				});
				this.validPass = false;
			}
			if (
				this.changePassData.newPassword !==
				this.changePassData.newPasswordRepeat
			) {
				VueNotifications.error({
					message: this.$t("validation.passwordDontMatch", this.currentLangCode)
				});
				this.validPass = false;
			}
			if (this.validPass) {
				this.ajax();
			}
		},
		ajax() {
			// тут отправка на сервер
			// и если валидация прошла - сохраняем значение и закрывем
			this.isChanging = true;
			var changePassData = {
				oldPassword: this.changePassData.oldPassword,
				newPassword: this.changePassData.newPassword
			};
			API.changePassword(changePassData)
				.then(response => {
					self.isChanging = false;
					if (response.data.status == "success") {
						self.close();
						VueNotifications.success({ message: this.$t("confirm.passwordChanged", this.currentLangCode) });
					} else {
						console.log("error" + data);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					self.isChanging = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				});
		},
		open() {
			this.change = true;
			self = this;
			setTimeout(function() {
				self.focus();
			}, 50);

			this.$emit("setActive", this.dataRef);
		},
		save() {
			this.ajax();
		},
		remove() {
			this.tempVal = "";
			this.ajax();
		}
	}
};
</script>
