<template>
	<li >
		<img src="../../assets/icons/down-arrow-red.svg" alt="" class="ico-chek" v-show="val && !change"/>
		<div class="name">{{ttl}}</div>
		<span class="value" v-show="!change" v-click-outside='close' @click="open">
			<span class="mobile-name">{{ttl}}</span>
			<span v-if="!displayName" class='plchldr'>__</span>
			<span>{{displayName}}</span>
		</span>
		<div class="change" v-show="change">
			<input  type="text" readonly ref='dropdown' class="small-input" v-model='displayName' :placeholder="placeholder" @keyup.up="up" @keyup.down="down" />
			<input type="hidden" :value='val'/>
			<div class="dopdown"  v-show="change" >
				<div v-bar='{useScrollbarPseudo: true}' >
					<ul class="list-wr">
						<li v-for="(item, index) in names" :key="index" v-show='val !== item.id' @click.prevent.stop='save(item)' :class='{active: index == active}'>
							{{item.name}}
						</li>
					</ul>
				</div><!-- .list-wr -->
			</div>
			<a href="#" class="save" @click.prevent.stop="close()"><img src="../../assets/icons/save.svg" alt="" /></a>
			<a href="#" class="remove" @click.prevent.stop="remove()"><img src="../../assets/icons/rubbish.svg" alt="" /></a>
		</div>
	</li>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "sitizenship-select",
	props: ["value", "names", "ttl", "placeholder", "dataRef", "param", "id"],
	data() {
		return {
			change: false,
			val: "",
			active: 0,
			displayName: ""
		};
	},
	created() {},
	computed: {},
	methods: {
		up() {
			event.preventDefault();
			if (this.active > 0) {
				this.active--;
			}
		},
		down() {
			event.preventDefault();
			if (this.active < this.names.length - 1) {
				this.active++;
			}
		},
		close() {
			this.change = false;
		},
		save(val) {
			self = this;
			this.val = val.id;
			this.displayName = val.name;
			var travelerData = {};
			travelerData[this.param] = this.val;
			console.log(travelerData);
			if (this.id == "" || this.id == undefined) {
				API.travelerCreate(travelerData)
					.then(response => {
						if (response.data.status == "success") {
							self.close();
							this.$emit("input", this.val);
							self.$emit("setTravelerId", response.data.travelerId);
							self.$emit("save");
						} else {
							console.log("error" + data);
						}
					})
					.catch(e => {
						if (e.response) {
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						} else {
							console.log(e.response);
						}
					});
			} else {
				var travelerData = {};
				travelerData.travelerId = this.id;
				travelerData[this.param] = this.val;
				API.travelerUpdate(travelerData)
					.then(response => {
						if (response.data.status == "success") {
							self.close();
							self.$emit("save");
						} else {
							console.log("error" + data);
						}
					})
					.catch(e => {
						if (e.response) {
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						} else {
							console.log(e.response);
						}
					});
			}
		},
		open() {
			this.change = true;
			self = this;
			setTimeout(function() {
				self.$refs.dropdown.focus();
			}, 50);
			this.$emit("setActive", this.dataRef);
		},
		remove() {
			this.$emit("input", "");
			this.val = "";
			//на сервер запрос об удалении
			this.close();
		}
	}
};
</script>