<template>
	<div class="card airport" v-click-outside='close' >
		<div v-show="!airport.isEdit">
			<div class="checker">
				<input type="checkbox" class="checkbox" :id="airport.airportId" v-model="airport.status" />
				<label :for="airport.airportId"></label>
			</div><!-- .checker -->
			<div class="name pointer" @click='edit'>{{airport.airportName}}</div>
			<div class="number pointer" @click='edit'>{{airport.cityName}}</div>
			<div class="edit pointer" @click='edit'><img src="../../assets/icons/ellipsis.svg" alt="" /></div>
		</div>
		<form class="editing" v-show="airport.isEdit" @submit.prevent>
			<div class="spinner-editing" v-show="showLoader">
				<spiner color='red'></spiner>
			</div>
			<input ref='inp' type="text" class="card-number" :placeholder='$t("profile.airportName", currentLang.code)' v-model='searchInput' @input='getAirport'/>
			<div class="dropdown" v-bar='{useScrollbarPseudo: true}'>
				<ul>
					<li v-for="item in airports" @click.prevent.stop='select(item)' :key='item.airportId'>
						<div class="airport-name">{{item.airportName}}</div>
						<div class="city-name">{{item.cityName}}</div><!-- .city-name -->
					</li>
					<li class="empty" v-if='empty'>
						<div class="airport-name">{{$t("profile.noAirport", currentLang.code)}}</div>
					</li>
				</ul>
			</div><!-- .dropdown -->
			<button class="save-btn pointer" @click.prevent.stop='save' :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isSaving"></spiner>
				<img src="../../assets/icons/save.svg" alt="" v-if="!isSaving"/>
			</button>
			<button class="remove-btn pointer" @click.prevent.stop='remove' :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isRemoving"></spiner>
				<img src="../../assets/icons/rubbish.svg" alt="" v-if="!isRemoving"  />
			</button>
		</form><!-- .editing -->
	</div><!-- .card -->
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner.vue";
export default {
	name: "preferenceairport",
	props: ["airport", "currentLang", "id"],
	components: {
		spiner: Spinner
	},
	data() {
		return {
			isSaving: false,
			isRemoving: false,
			showLoader: false,
			searchInput: "",
			empty: false,
			airports: []
		};
	},
	mounted() {
		if (this.airport.id == null) {
			self = this;
			setTimeout(() => {
				self.$refs.inp.focus();
			}, 50);
		}
	},
	methods: {
		getAirport() {
			self = this;
			this.showLoader = true;
			clearTimeout(self.timeout);
			self.timeout = setTimeout(function() {
				self.timeout = null;
				if (self.searchInput.length > 2) {
					self.ajaxAirport();
				} else {
					self.airports = [];
				}
			}, 400);
		},
		ajaxAirport() {
			self = this;
			var airportData = {
				lang: this.currentLang.code,
				text: this.searchInput
			};
			API.searchAirport(airportData)
				.then(response => {
					self.showLoader = false;
					if (response.data.status == "success") {
						self.airports = response.data.data;

						if (self.airports.length == 0) {
							self.empty = true;
						} else {
							self.empty = false;
						}
					} else if (response.data.status == "error") {
						VueNotifications.error({ message: response.data.error });
					} else {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					self.showLoader = false;
					if (e.response) {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				});
		},
		select(airport) {
			if (!airport) return false;
			console.log("select");
			self = this;
			this.isSaving = true;
			var addAirport = {
				travelerId: this.id,
				airportId: airport.airportId
			};
			if (!this.airport.preferenceAirportId) {
				//создаем карут
				API.createAirport(addAirport)
					.then(response => {
						self.isSaving = false;
						if (response.data.status === "success") {
							self.airport.airportId = airport.airportId;
							self.airport.airportName = airport.airportName;
							self.airport.airportCode = airport.airportCode;
							self.airport.cityName = airport.cityName;
							self.searchInput = airport.airportName;
							self.airport.preferenceAirportId =
								response.data.data.preferenceAirportId;
							self.airport.isEdit = false;
						} else {
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
						}
					})
					.catch(e => {
						self.isSaving = false;
						if (e.response) {
							VueNotifications.error({ message: e.response.data.error });
						} else {
							console.log(e.response);
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
						}
					});
			} else {
				//редактируем текущую карту
				addAirport = {
					travelerId: this.id,
					airportId: airport.airportId,
					preferenceAirportId: this.airport.preferenceAirportId
				};
				API.updateAirport(addAirport)
					.then(response => {
						self.isSaving = false;
						if (response.data.status == "success") {
							self.airport.airportId = airport.airportId;
							self.airport.airportName = airport.airportName;
							self.airport.airportCode = airport.airportCode;
							self.airport.cityName = airport.cityName;
							self.searchInput = airport.airportName;
							self.airport.isEdit = false;
						} else {
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
						}
					})
					.catch(e => {
						self.isSaving = false;
						if (e.response) {
							VueNotifications.error({ message: e.response.data.error });
						} else {
							console.log(e.response);
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
						}
					});
			}
		},
		edit() {
			if (this.airport.airportName != "") {
				this.searchInput = this.airport.airportName;
			}
			this.airport.isEdit = true;
			setTimeout(() => {
				this.$refs.inp.focus();
			}, 50);
		},
		save() {
			if (this.airport.preferenceAirportId == null) {
				//ничего не добавили
				self.isEdit = false;
				self.$emit("removeAirport", null);
			} else {
				//изменение данных
			}

			this.airport.isEdit = false;
			//тут запрос на сервер о изменении данных или сохранение новой карты
		},
		close() {
			if (this.airport.isEdit) {
				if (this.airport.airportName == "") {
					//ничего не добавили
					this.$emit("removeAirport", null);
				}
				this.airport.isEdit = false;
			}
		},
		remove() {
			self = this;
			self.isRemoving = true;
			var aiprortData = {
				travelerId: this.id,
				preferenceAirportId: self.airport.preferenceAirportId
			};
			API.deleteAirport(aiprortData)
				.then(response => {
					self.isRemoving = false;
					if (response.data.status == "success") {
						//удаляем
						self.airport.isEdit = false;
						self.$emit("removeAirport", self.airport.preferenceAirportId);
					} else if (response.data.status == "error") {
						VueNotifications.error({ message: response.data.error });
					} else {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					self.isRemoving = false;
					if (e.response) {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				});
		}
	}
};
</script>
