<template>
	<div class="card airport airline" v-click-outside='close' >
		<div v-show="!airline.isEdit">
			<div class="checker">
				<input type="checkbox" class="checkbox" :id="airline.id" v-model="airline.status" />
				<label :for="airline.id"></label>
			</div><!-- .checker -->
			<div class="name pointer" @click='edit'>{{airline.name}}</div>
			<div class="edit pointer" @click='edit'><img src="../../assets/icons/ellipsis.svg" alt="" /></div>
		</div>
		<form class="editing" v-show="airline.isEdit" @submit.prevent>
			<div class="spinner-editing" v-show="showLoader">
				<spiner color='red'></spiner>
			</div>
			<input ref='inp' type="text" class="card-number" :placeholder='$t("profile.airlineName", currentLang.code)' v-model='searchInput' @input='getAirlines'/>
			<div class="dropdown" v-bar='{useScrollbarPseudo: true}'>
				<ul>
					<li v-for="item in airlines" @click='select(item)' :key='item.id' >
						<div class="airline-name">{{item.airlineName}}</div>
					</li>
					<li class="empty" v-if='empty'>
						<div class="airport-name">{{$t("profile.noAirline", currentLangCode)}}</div>
					</li>
				</ul>
			</div><!-- .dropdown -->
			<button class="save-btn pointer" @click.prevent.stop='save' :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isSaving"></spiner>
				<img src="../../assets/icons/save.svg" alt="" v-if="!isSaving"/>
			</button>
			<button class="remove-btn pointer" @click.prevent.stop='remove' :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isRemoving"></spiner>
				<img src="../../assets/icons/rubbish.svg" alt="" v-if="!isRemoving"  />
			</button>
		</form><!-- .editing -->
	</div><!-- .card -->
</template>

<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner.vue";
export default {
	name: "preferenceairline",
	props: ["airline", "currentLang", "id"],
	components: {
		spiner: Spinner
	},
	data() {
		return {
			isSaving: false,
			isRemoving: false,
			isEdit: false,
			showLoader: false,
			searchInput: "",
			empty: false,
			airlines: []
		};
	},
	computed: {},
	mounted() {
		if (this.airline.id == null) {
			self = this;
			setTimeout(() => {
				self.$refs.inp.focus();
			}, 50);
		}
	},
	methods: {
		close() {
			if (this.airline.isEdit) {
				this.airline.isEdit = false;
				this.airlines = [];
			}
			if (
				this.airline.preferenceAirlineId == undefined ||
				this.airline.preferenceAirlineId == null ||
				this.airline.preferenceAirlineId == ""
			) {
				self.$emit("removeAirline", null);
			}
		},
		getAirlines() {
			self = this;
			this.showLoader = true;
			clearTimeout(self.timeout);
			self.timeout = setTimeout(function() {
				self.timeout = null;
				if (self.searchInput.length > 2) {
					self.ajaxAirline();
				} else {
					self.airlines = [];
				}
			}, 400);
		},
		ajaxAirline() {
			let airlineData = {
				lang: this.currentLangCode,
				text: this.searchInput
			};
			API.searchAirline(airlineData)
				.then(response => {
					if (response.data.status === "success") {
						this.airlines = response.data.data;
						this.empty = this.airlines.length === 0;
					} else {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					if (e.response) {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.finally(() => this.showLoader = false)
		},
		select(airline) {
			console.log(airline)
			this.isSaving = true;
			if (!this.airline.preferenceAirlineId || typeof this.airline.preferenceAirlineId === "undefined") {
				let addAirline = {
					travelerId: this.id,
					airlineId: airline.airlineId
				};
				API.createAirline(addAirline)
					.then(response => {
						if (response.data.status === "success") {
							this.airline.id = airline.airlineId;
							this.airline.name = airline.airlineName;
							this.airline.code = airline.airlineCode;
							this.searchInput = airline.airlineName;
							this.airline.preferenceAirlineId = response.data.data.preferenceAirlineId;
							this.airline.isEdit = false;
						} else {
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
						}
					})
					.catch(e => {
						if (e.response) {
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
							if (e.response.data.data) {
								e.response.data.data.forEach(function(el) {
									VueNotifications.error({ message: el.message });
								});
							}
							if (e.response.error) {
								VueNotifications.error({ message: e.response.error });
							}
						} else {
							console.log(e.response);
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
						}
					})
					.finally(() => this.isSaving = false)
			} else {
				var addAirline = {
					travelerId: this.id,
					airlineId: airline.airlineId,
					preferenceAirlineId: this.airline.preferenceAirlineId
				};
				API.updateAirline(addAirline)
					.then(response => {
						if (response.data.status == "success") {
							this.airline.id = airline.airlineId;
							this.airline.name = airline.airlineName;
							this.airline.code = airline.airlineCode;
							this.searchInput = airline.airlineName;
							this.airline.isEdit = false;
						} else {
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
						}
					})
					.catch(e => {
						if (e.response) {
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
							if (e.response.data.data) {
								e.response.data.data.forEach(function(el) {
									VueNotifications.error({ message: el.message });
								});
							}
							if (e.response.error) {
								VueNotifications.error({ message: e.response.error });
							}
						} else {
							console.log(e.response);
							VueNotifications.error({
								message: this.$t("errors.dataFetch", this.currentLangCode)
							});
						}
					})
					.finally(() => this.isSaving = false)
			}
		},
		edit() {
			this.airline.isEdit = true;
			if (this.airline.name != "") {
				this.searchInput = this.airline.airlineName;
			}
		},
		save() {
			this.airline.isEdit = false;
			//тут запрос на сервер о изменении данных или сохранение новой карты
		},
		remove() {
			self = this;
			self.isRemoving = true;
			var aiprortData = {
				travelerId: this.id,
				preferenceAirlineId: this.airline.preferenceAirlineId
			};
			API.deleteAirline(aiprortData)
				.then(response => {
					if (response.data.status === "success") {
						//удаляем
						self.airline.isEdit = false;
						self.$emit("removeAirline", self.airline.id);
					} else if (response.data.status === "error") {
						VueNotifications.error({ message: response.data.error });
					} else {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					if (e.response) {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.finally(() => this.isRemoving = false)
		}
	}
};
</script>
