<template>
	<li>
		<span class="first-letter">{{ firstLetter }}</span>
		
		<div class="info" v-show="!isOpen" v-click-outside='close'>
			<span class="ava">{{ trevalerAva(traveler.firstName, traveler.lastName) }}</span>
			<span class="name">{{traveler.firstName}} {{traveler.lastName}}</span>
			<span class="place"><img src="../../assets/icons/marker.svg" alt="" />{{ traveler.country }},{{ traveler.city }}</span>
			<span class="details" @click.stop="open"><img src="../../assets/icons/ellipsis.svg" alt="" /></span>
		</div><!-- .info -->
		<div class="edit" v-show="isOpen">
			<span class="name-wr">
				<span class="name">{{traveler.firstName}} {{traveler.lastName}}</span>
				<span class="create" >
					<span v-if='traveler.isTrip' @click.stop='removeTrip'>Отменить</span>
					<span v-else @click.stop='create' >Создать поездку</span>
					
				</span>
			</span>
			<span class="edit" @click.stop='edit'><img src="../../assets/icons/save.svg" alt="" /></span>
			<span class="remove" @click.stop='openpopup'><img src="../../assets/icons/rubbish.svg" alt="" /></span>
			<div class="remove-popup" v-click-outside='closePopup' v-if='showRemove'>
				<div class="ttl">Удалить</div>
				<p> Учетные записи пользователей. Ищете ту запись, которую требуется удалить, нажимаете на нее, а потом ниже ищете строчку Удалить пользователя.</p>
				<span class="yes btn" @click.stop='closePopup'>Отмена</span>
				<span class="no btn" @click.stop='remove'>Удалить</span>
			</div><!-- .remove-popup -->
		</div><!-- .edit -->
	</li>
</template>
<script>
var prevFirstLetter = "";
export default {
	name: "travelerinlist",
	props: ["traveler", "firstLetter"],
	data() {
		return {
			isOpen: false,
			showRemove: false
		};
	},
	computed: {},
	methods: {
		removeTrip() {
			this.$store.commit("removeSelectedPassengers", this.traveler);
		},
		create() {
			this.traveler.classID = 0;
			this.traveler.isTrip = true;
			this.$store.commit("addSelectedPassengers", this.traveler);
		},
		edit() {
			this.close();
			this.$emit("openTravelerCard");
		},
		remove() {
			this.closePopup();
			this.close();
			this.$emit("removeTraveler", this.traveler.id);
		},
		closePopup() {
			this.showRemove = false;
		},
		openpopup() {
			this.showRemove = true;
		},
		close() {
			this.isOpen = false;
		},
		open() {
			this.isOpen = true;
		},
		trevalerAva(firstName, lastName) {
			return firstName[0] + lastName[0];
		}
	}
};
</script>