<template>
	<li>
		<img src="../../assets/icons/down-arrow-red.svg" alt="" class="ico-chek" v-show="!!value && !change"/>
		<div class="name">{{ttl}}</div>
		<span v-click-outside="close" @click="open" >
			<span class="value" v-show="!change">
				<span class="mobile-name">{{ttl}}</span>
				<span v-if="!value" class='plchldr'>________</span>
				<span>{{value}}</span>
			</span>
			<div class="change" v-show="change">
				<input ref="inp" type="text" class="small-input" v-model="tempVal" @keyup.enter='save' :placeholder="placeholder" />
				<input ref="inp" type="text" class="small-input" v-model="tempVal" @keyup.enter='save' :placeholder="placeholder" />
				<input ref="inp" type="text" class="small-input" v-model="tempVal" @keyup.enter='save' :placeholder="placeholder" />
				<input ref="inp" type="text" class="small-input" v-model="tempVal" @keyup.enter='save' :placeholder="placeholder" />
				<input ref="inp" type="text" class="small-input" v-model="tempVal" @keyup.enter='save' :placeholder="placeholder" />
				<input ref="inp" type="text" class="small-input" v-model="tempVal" @keyup.enter='save' :placeholder="placeholder" />
				<a href="#" class="save" @click.prevent.stop="save"><img src="../../assets/icons/save.svg" alt="" /></a>
				<a href="#" class="remove" @click.prevent.stop="remove"><img src="../../assets/icons/rubbish.svg" alt="" /></a>
			</div>
		</span>
	</li>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "input",
	props: ["value", "ttl", "placeholder", "dataRef", "param", "id"],
	data() {
		return {
			change: false,
			tempVal: this.value
		};
	},
	computed: {},
	methods: {
		focus() {
			this.$refs.inp.focus();
		},
		close() {
			this.change = false;
		},
		save() {
			console.log("save");
			// тут отправка на сервер
			// и если валидация прошла - сохраняем значение и закрывем

			var campanyData = { id: this.id };
			campanyData[this.param] = this.tempVal;
			API.companyUpdate(campanyData)
				.then(response => {
					if (response.data.status == "success") {
						self.close();
						self.$emit("input", this.$refs.inp.value);
						self.$emit("save");
					} else {
						console.log("error" + data);
					}
				})
				.catch(e => {
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
					}
				});
		},
		open() {
			this.change = true;
			self = this;
			setTimeout(function() {
				self.focus();
			}, 50);

			this.$emit("setActive", this.dataRef);
		},
		remove() {
			this.tempVal = "";
			this.save();
			//на сервер запрос об удалении
			// this.close();
		}
	}
};
</script>