.fade
	&-enter, &-leave-to
		opacity: 0

	&-leave, &-enter-to
		opacity: 1

	&-enter, &-leave
		&-active
			transition: opacity .5s ease-in-out

.slide-left
	&-enter, &-leave-to
		transform: translate3d(100%, 0, 0)

	&-leave, &-enter-to
		transform: none

	&-enter, &-leave
		&-active
			transition: transform 1s ease-out
