.auth {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    span.text {
        color: #4A90E2;
        font-size: 13px;
        font-weight: 600;
    }
    &__logo {
        height: 18px;
    }
    &__btns-wr {
        font-size: 0px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: 50px;
        ul {
            font-size: 0px;
            width: 300px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            margin-top: 45px;
            li {
                display: inline-block;
                vertical-align: top;
                &:first-child {
                    margin-right: 20px;
                }
                a {
                    color: #858996;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    text-align: center;
                    position: relative;
                    width: 140px;
                    display: inline-block;
                    &:after {
                        position: absolute;
                        content: '';
                        bottom: -24px;
                        left: 0;
                        right: 0;
                        height: 4px;
                        background: #323647;
                        border-radius: 2px;
                    }
                    &.router-link-active {
                        color: #FFFFFF;
                        &:after {
                            background: #FF2C3A;
                        }
                    }
                }
            }
        }
    }
    &__btn {
        text-transform: uppercase;
        display: inline-block;
        vertical-align: top;
        height: 60px;
        width: 186px;
        text-align: center;
        border: 1px solid #303647;
        background-color: #1B1F2B;
        color: #717A8E;
        font-size: 13px;
        font-weight: 600;
        line-height: 58px;
        &.router-link-active {
            color: #FAFAFA;
            background-color: #303647;
        }
    }
    &__btn-next {
        height: 60px;
        width: 300px;
        border-radius: 100px;
        background-color: #303647;
        text-align: center;
        font-size: 14px;
        line-height: 60px;
        color: #858996;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        border: none;
        position: relative;
        .loader {
            position: absolute;
            left: calc(50% - 62px);
            top: 16px;
            border: 5px solid #f3f3f3;
            /* Light grey */
            border-top: 5px solid #FC4955;
            /* red */
            border-radius: 50%;
            width: 30px;
            height: 30px;
            animation: spin 2s linear infinite;
            &.left {
                left: calc(50% - 100px);
            }
            &.left-left {
                left: calc(50% - 113px);
            }
        }
        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
        &.red {
            background: #FC4955;
            color: #fff;
        }
    }
    .input-group {
        display: flex;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        .input-wr {
            margin-left: 5px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .input-wr {
        font-size: 0px;
        margin-bottom: 12px;
        position: relative;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        .inp-dropdown-wr {
            position: absolute !important;
            z-index: 10;
            top: 60px;
            left: 0;
            right: 0;
            border: 1px solid #EDEDED;
            border-radius: 3px;
            background-color: #FFFFFF;
            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
            .inp-dropdown {
                max-height: 200px;
                li {
                    color: #000000;
                    font-size: 15px;
                    text-align: left;
                    padding-left: 15px;
                    display: block;
                    line-height: 45px;
                    border-bottom: 1px solid #F2F2F2;
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        label {
            position: absolute;
            left: 12px;
            top: 10px;
            color: #C1C4CB;
            font-size: 12px;
            font-weight: 600;
            z-index: 1;
            text-transform: uppercase;
        }
        input {
            display: block;
            height: 60px;
            width: 100%;
            border-radius: 2px;
            background-color: #FFFFFF;
            color: #000;
            font-size: 15px;
            border: none;
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 24px;
            &.center {
                text-align: center;
            }
        }
        .tel-input {
            border: none;
            font-size: 15px;
            padding-left: 60px;
            .flag {
                width: 60px;
                height: 60px;
                border-radius: 2px;
                .flag-icon {
                    margin-top: 18px;
                }
            }
            .country-list {
                width: 300px;
                text-align: left;
                min-height: 200px;
                .country-text {
                    color: #000;
                }
            }
        }
    }
    &__center-link {
        color: #469AFD;
        font-size: 12px;
        font-weight: 500;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    &__link-wr {
        text-align: center;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        &.text-right {
            text-align: right;
        }
        a {
            color: #4A90E2;
            font-size: 13px;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__cashback {
        margin: 30px auto 0;
        width: 300px;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        color: #FFFFFF;
        a {
            color: #4A90E2;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.login-private {
    padding-bottom: 200px;
    .congratulation {
        width: 300px;
        border: 3px solid #303647;
        border-radius: 2px;
        background-color: #232836;
        text-align: center;
        margin: 0 auto;
        color: #AEB3C1;
        padding: 30px 0;
        .ttl {
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }
        .copy {
            font-size: 14px;
            font-weight: 500;
            margin-top: 30px;
        }
        .mail {
            color: #4A90E2;
            text-decoration: underline;
        }
        .call {
            margin-top: 40px;
            font-size: 13px;
            font-weight: 400;
        }
    }
    .desc {
        width: 300px;
        margin: 0 auto 30px;
        text-align: left;
        color: #FFFFFF;
        .ttl {
            font-size: 18px;
            margin-bottom: 20px;
        }
        p {
            font-size: 12px;
            color: #6F778B;
            position: relative;
            &.with-link {
                padding-bottom: 25px;
            }
            .step-ttl {
                position: absolute;
                right: 0;
                bottom: -2px;
                font-size: 14px;
                text-transform: uppercase;
                color: #AEB3C1;
            }
            .back {
                font-size: 14px;
                position: absolute;
                left: 0;
                bottom: -2px;
                color: #6F778B;
                img {
                    margin-right: 5px;
                    margin-bottom: -2px;
                }
            }
            .copy {
                position: absolute;
                left: 0;
                right: 0;
                text-align: center;
                bottom: -22px;
                color: #4A90E2;
            }
        }
    }
    .became-corp {
        text-align: center;
        font-size: 14px;
        color: #fff;
        margin-top: 50px;
        a {
            color: #4A90E2;
            font-size: 13px;
            text-decoration: underline;
            display: inline-block;
            margin-top: 5px;
        }
    }
}
