@import "../../styles/sass/colors"
.passengers-list
	&__item
		color: $dark-color
		&:not(:last-child)
			margin-bottom: 15px
.book-error
	align-items: center
	background-color: white
	color: $red-color
	display: flex
	justify-content: center
	margin: 5px
	min-height: 100px
	padding: 10px
.container
	width: 100%
.loader
	display: block !important
	margin: 20px auto
.rules
	&__ttl
		color: black
		margin: 10px 0 10px 30px
.sub-list
	margin-top: 10px
	padding-left: 30px
	&__ttl
		font-size: 16px
		margin: 10px 0
	&__text
		margin-left: 15px
