.empty-btn
	display: inline-block
	line-height: 35px
	margin: 16px
	width: 90%
	text-decoration: none
	padding: 0 15px
	position: relative
	text-align: center
	border-radius: 3px
	transition: all 1s
	background: transparent
	border: 2px solid $grey-color
	color: $dark-text-color
	cursor: pointer
	&:hover
		border-color: $primary-color
		color: $primary-color
.button
	padding: 9px 21px
	border-radius: 4px
	background-color: $primary-color
	transition: all 0.5s
	cursor: pointer
	text-align: center
	color: white
	&.hotel,
	&.hotel-btn
		background-color: $orange-color
	&.full-width
		width: 100%
		margin-right: 5px
		margin-bottom: 10px
	&:hover
		opacity: 0.8
	span
		color: white
		font-size: 15px
