@import "colors.sass"
.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0

.calendar
  display: flex
  position: relative
  flex-flow: column wrap
  position: relative
  width: 100%
  padding: 0
  margin: 0

  ul
    list-style-type: none
    padding: 0
    margin: 0
  .month
    flex: 0 1 60px
    display: flex
    flex-flow: row wrap
    justify-content: center
    align-items: center
    align-content: center
    width: 100%
    background-color: $black-color
    li
      display: inline-block
      font-size: 17px
      font-weight: 400
      color: $calendar-month-text-color
      &:nth-child(2)
        width: 120px
        text-align: center
      &.arrow
        padding: 10px
        cursor: pointer
        transition: all 1s
        &:hover
          color: white

  .calendar-body
    background-color: $black-color
    display: flex
    flex-flow: column wrap
    width: 100%
    position: relative
    flex: 0 1 auto
    padding-top: 18px
    .weekdays
      height: 50px
      padding-right: 10px
      display: flex
      flex: 0 1 auto
      flex-flow: row wrap
      align-content: center
      align-items: center
      li
        text-align: right
        display: inline-block
        flex: 0 1 14.285%
        color: white
        font-size: 12px
        font-weight: 400
        text-align: center
        .dayoff
          color: $red-color
    .days
      flex: 0 1 auto
      display: flex
      flex-flow: row wrap
      align-content: flex-start
      padding: 0 1px
      position: relative
      margin: 0
      padding: 4px 10px 0px
      .jet-img
        width: 20px
        float: left
        margin-top: 7px
      .hotel-img
        width: 16px
        float: left
        margin-top: 8px
      .calendar-ico
        &:first-child
          margin-left: 11px
        &:nth-child(2)
          margin-left: 7px
      li
        cursor: pointer
        display: inline-block
        position: relative
        flex: 0 1 14.285%
        box-sizing: border-box
        overflow: hidden
        height: 110px
        padding: 0
        margin: 0
        border: 0.5px solid #323647
        color: white
        transition: all .5s
        .many
          position: absolute
          display: flex
          width: 100%
          height: 100%
          flex-wrap: wrap
          align-items: flex-end
          align-content: flex-end
          font-size: 13px;
          padding-bottom: 10px
          padding-left: 14px
          &.disabled
            .flight-sub,
            .hotel-sub
              color:#494E5F
          .flight-sub
            width: 100%
            color: #FC4955
            font-weight: 300
            img
              width: 16px
              height: auto
              margin-right: 6px
              margin-bottom: -3px
          .hotel-sub
            padding-top: 10px
            width: 100%
            color: #FFB428
            font-weight: 300
            img
              width: 15px
              height: auto
              margin-right: 6px
              margin-bottom: -3px
        .flights
          position: absolute
          display: flex
          flex-flow: column-reverse
          width: 100%
          height: 100%
          font-weight: normal
          font-size: 12px
          span
            padding-left: 11px
            text-align: left
            flex-flow: 0 0
            &:first-child
              padding-bottom: 11px
          .future
            color: $future-text-color

        &.disable-day
          background-color: #232836
          background-image: url(../../assets/bg-date-disable2x.png)
          background-size: cover;
        &.currentDay
          color:  $primary-color
          border: 1.5px solid $primary-color
          &:hover
            border: 2px solid red
          p.date
            font-size: 20px
            padding-right: 17px;
            padding-top: 14px;

        &:hover
          border: 1px solid $light-grey-color
          box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
        p.date
          float: right
          padding-right: 23px
          font-size: 13px
          margin: 0
          color: white !important
          padding-top: 7px

        div.past
          height: 100%
          width: 100%
          color: $past-text-color
          background-color: rgba(29,36,47,1)



        &:nth-child(7n+6),
        &:nth-child(7n+7)
          background-color: #1B1F2B
          .past
            background-color: #1B1F2B

    .calendar-footer
      flex: 0 1 84px
      position: relative
      text-align: left
      margin: 0
      padding-top: 32px
      padding-left: 42px
      padding-right: 25px
      .badget
        position: relative
        margin-right: 19px

        &:nth-child(3)
          margin-right: 0
          span
            padding-left: 10px
        .img
          display: inline-block
          vertical-align: middle
          &.plane
            width: 19px
            height: 19px
          &.hotel
            width: 17px
            height: 17px
        span
          font-size: 13px
          padding-left: 16px
          color: $text-color
          display: inline-block
          vertical-align: middle
      .info-bar
        height: 40px
        margin-top: -9px
        float: right
        border-radius: 20px
        border: 1px solid $primary-color
        .today-trip
          display: inline-block
          font-size: 14px
          color: $primary-color
          padding: 10px 12px
