@import "colors.sass"


.cashback-col
  flex: 1 0
  width: 100px
  border-radius: 3px
  width: 40%
  display: flex
  flex-flow: column wrap
.cashback
  flex: 1 0
  margin: 5px
  background-color: $black-color
  border-radius: 3px

  .header
    position: relative
    h3
      font-size: 24px
      color: $dark-text-color
      padding: 27px
      padding-bottom: 0
      margin: 0
      font-weight: normal
      &.money
        font-size: 34px
        margin: 22px
        padding: 0
        text-align: center
      &.primary
        color: $primary-color
      &.green
        color: $green-color

    img
      position: absolute
      max-width: 8px
      right: 22px
      top: 32px
      cursor: pointer
  .content
    hr

      margin: 0 auto
      width: 80%
      border: 1px solid $grey-color
    p
      color: $dark-text-color
      font-size: 15px
      margin: 5px
      text-align: center
    .empty-btn
      width: 78%

      color: $green-color
      border-color: $green-color
      &:hover
        background-color: $dark-color
    .btn
      position: relative
      background-color: $grey-color
      margin: 9px
      border-radius: 8px
      padding: 15px
      color: $text-color
      font-size: 15px

      .cost
        position: absolute
        right: 22px
        font-size: 17px
        color: $primary-color
