
.parameter
  position: relative
  margin: 21px 0
  .checkbox
    width: 20px
    height: 20px
    position: absolute
    border: 1px solid white
    border-radius: 3px
    top: -2px
    left: 23px
    &.checked .marker
      background-color: $primary-color
    .marker
      width: 12px
      height: 12px

      border-radius: 2px
      position: absolute
      top: 4px
      left: 4px

  span
    color: white
    margin-left: 54px

.checkbox
  vertical-align: top
  margin: 0 3px 0 0
  width: 20px
  height: 20px

  &:checked
    & + label
      &::before
        background-color: $primary-color


  &:not(checked)
    position: absolute
    opacity: 0

    & + label
      position: relative
      padding: 0 0 0 32px
      color: white
      font-size: 15px
      &::after
        content: ''
        position: absolute
        top: -1px
        left: 1px
        width: 20px
        height: 20px
        padding: 1px
        box-sizing: border-box
        border: 1px solid white
        border-radius: 3px
        transition: all 0.2s
      &::before
        content: ''
        position: absolute
        top: 3px
        left: 5px
        width: 12px
        height: 12px
        background-color: transparent

  & + label
    cursor: pointer

.toggle-checkbox
  vertical-align: top
  margin: 0 3px 0 0
  width: 20px
  height: 20px

  &:checked
    & + label
      &::before
        background-color: $primary-color
      &::after
        left: 18px
        background-color: white
  &:not(checked)
    position: absolute
    opacity: 0

    & + label
      position: relative
      padding: 0 0 0 50px
      &::after
        content: ''
        position: absolute
        top: -1px
        left: 1px
        width: 18px
        height: 18px
        border-radius: 10px
        background: $dark-text-color
        box-shadow: 0 2px 5px rgba(0,0,0,.3)
        transition: all 0.2s


      &::before
        content: ''
        position: absolute
        top: -2px
        left: 0
        width: 37px
        height: 20px
        border-radius: 13px
        background-color: $dark-color
        box-shadow: inset 0 2px 3px rgba(0,0,0,.2)

  & + label
    cursor: pointer
