.confirmation
	align-items: center
	background-color: rgba(black, .5)
	bottom: 0
	display: flex
	justify-content: center
	left: 0
	position: fixed
	right: 0
	top: 0
	z-index: 1100

	&__body
		background-color: white
		color: black

		> *
			padding: 15px

		&-header
			background-color: $primary-color
			color: white
			font-size: 18px
			font-weight: 600
			line-height: 22px
			margin-bottom: 5px
			text-transform: uppercase

		&-content
			color: black

		&-footer
			display: flex
			justify-content: space-around
			padding-top: 0

			> *
				margin: 5px

