*
  margin: 0
  padding: 0
  list-style-type: none
  outline: none !important
  text-decoration: none
  box-sizing: border-box
  max-height: 999999px
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

h1,h2,h3,h4,h5,h6
  margin: 0

html, * html body 
  height: 100%

body
  min-height: 100%
  min-width: 300px
  color: #fff
  font-family: 'SF UI Display', sans-serif
  font-size: 15px
  font-weight: 400
  background-color: $dark-color
  overflow-x: hidden

