.flight-info-panel-wr {
    position: fixed !important;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: rgba(49, 55, 71, 0.84);
    .flight-info-panel {
        position: absolute !important;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        background: #fff;
        width: 811px !important;
        overflow: hidden;
        padding-bottom: 20px;
        @media(max-width: 811px) {
            width: auto !important;
            left: 0;
        }
        &:before {
            position: absolute;
            left: 0;
            right: 0;
        }
        .ttl {
            line-height: 50px;
            color: #323647;
            font-size: 18px;
            padding-left: 40px;
            font-weight: 600;
        }
        .close-popup {
            position: absolute;
            right: 20px;
            top: 20px;
            width: 20px;
            height: 20px;
            text-align: center;
            img {
                margin-top: 4px;
            }
        }
        .error {
            font-size: 20px;
            color: #FC4955;
            padding-left: 20px;
            padding-top: 20px;
        }
        .loading {
            position: absolute;
            bottom: 0;
            right: 0;
            left: 0;
            top: 50px;
            display: flex;
            .loader {
                position: absolute;
                left: 50%;
                top: 50%;
                margin-left: -15px;
                margin-top: -15px;
                border: 5px solid #f3f3f3;
                /* Light grey */
                border-top: 5px solid #FC4955;
                /* red */
                border-radius: 50%;
                width: 30px;
                height: 30px;
                animation: spin 2s linear infinite;
                &.left {
                    left: calc(50% - 100px);
                }
                &.left-left {
                    left: calc(50% - 113px);
                }
            }
            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }
                100% {
                    transform: rotate(360deg);
                }
            }
        }
        .direction {
            .city {
                line-height: 60px;
                color: #323647;
                font-size: 17px;
                font-weight: 600;
                padding: 0 40px;
                position: relative;
                @media(max-width: 540px) {
                    padding: 0 10px;
                }
                img {
                    &.jet {
                        margin: 0 10px -1px;
                    }
                }
                .close {
                    position: absolute;
                    right: 40px;
                    top: 21px;
                    font-size: 12px;
                    line-height: 1.2;
                    color: #8B8F9B;
                    font-weight: 400;
                    text-decoration: underline;
                    @media(max-width: 540px) {
                        right: 10px;
                    }
                    img {
                        &.down {
                            transform: rotate(180deg);
                        }
                    }
                }
            }
            .details {
                padding: 0 40px;
                @media(max-width: 540px) {
                    padding: 0 10px;
                }
                p {
                    font-size: 12px;
                    color: #000000;
                    white-space: pre-wrap;
                    padding-bottom: 20px;
                    &.attention {
                        color: #FC4955;
                    }
                }
                .action {
                    border-bottom: 1px dashed #C3C5CD;
                    &:nth-child(2) {
                        border-bottom: 0px;
                    }
                    .head {
                        padding: 20px 0;
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        @media(max-width: 540px) {
                            flex-wrap: wrap;
                        }
                        .name {
                            color: #323647;
                            font-size: 15px;
                            font-weight: 600;
                            img {
                                margin-right: 8px;
                                margin-bottom: -2px;
                            }
                            @media(max-width: 540px) {
                                width: 100%;
                                margin-bottom: 5px;
                            }
                        }
                        .before-flight,
                        .after-flight {
                            font-size: 13px;
                            color: #232836;
                            font-weight: 400;
                            @media(max-width: 540px) {
                                width: 100%;
                                padding-left: 20px;
                            }
                            span {
                                padding-left: 5px;
                                font-weight: 600;
                                &.green {
                                    color: #1BC1A0;
                                }
                                &.red {
                                    color: #FC4955;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}