$font_path: '~assets/fonts/'

@font-face
  font-family: 'SF UI Display'
  src: url($font_path +'SFUIDisplay-Ultralight.eot')
  src: local("SF UI Display Ultralight"), local("SFUIDisplay-Ultralight"), url($font_path +'SFUIDisplay-Ultralight.eot?#iefix') format("embedded-opentype"), url($font_path +'SFUIDisplay-Ultralight.woff2') format("woff2"), url($font_path +'SFUIDisplay-Ultralight.woff') format("woff"), url($font_path +'SFUIDisplay-Ultralight.ttf') format("truetype"), url($font_path +'SFUIDisplay-Ultralight.svg#SFUIDisplay-Ultralight') format("svg")
  font-weight: 200
  font-style: normal


@font-face
  font-family: 'SF UI Display'
  src: url($font_path +'SFUIDisplay-Bold.eot')
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url($font_path +'SFUIDisplay-Bold.eot?#iefix') format("embedded-opentype"), url($font_path +'SFUIDisplay-Bold.woff2') format("woff2"), url($font_path +'SFUIDisplay-Bold.woff') format("woff"), url($font_path +'SFUIDisplay-Bold.ttf') format("truetype"), url($font_path +'SFUIDisplay-Bold.svg#SFUIDisplay-Bold') format("svg")
  font-weight: bold
  font-style: normal


@font-face
  font-family: 'SF UI Display'
  src: url($font_path +'SFUIDisplay-Black.eot')
  src: local("SF UI Display Black"), local("SFUIDisplay-Black"), url($font_path +'SFUIDisplay-Black.eot?#iefix') format("embedded-opentype"), url($font_path +'SFUIDisplay-Black.woff2') format("woff2"), url($font_path +'SFUIDisplay-Black.woff') format("woff"), url($font_path +'SFUIDisplay-Black.ttf') format("truetype"), url($font_path +'SFUIDisplay-Black.svg#SFUIDisplay-Black') format("svg")
  font-weight: 900
  font-style: normal


@font-face
  font-family: 'SF UI Display'
  src: url($font_path +'SFUIDisplay-Regular.eot')
  src: local("SF UI Display Regular"), local("SFUIDisplay-Regular"), url($font_path +'SFUIDisplay-Regular.eot?#iefix') format("embedded-opentype"), url($font_path +'SFUIDisplay-Regular.woff2') format("woff2"), url($font_path +'SFUIDisplay-Regular.woff') format("woff"), url($font_path +'SFUIDisplay-Regular.ttf') format("truetype"), url($font_path +'SFUIDisplay-Regular.svg#SFUIDisplay-Regular') format("svg")
  font-weight: normal
  font-style: normal


@font-face
  font-family: 'SF UI Display'
  src: url($font_path +'SFUIDisplay-Heavy.eot')
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url($font_path +'SFUIDisplay-Heavy.eot?#iefix') format("embedded-opentype"), url($font_path +'SFUIDisplay-Heavy.woff2') format("woff2"), url($font_path +'SFUIDisplay-Heavy.woff') format("woff"), url($font_path +'SFUIDisplay-Heavy.ttf') format("truetype"), url($font_path +'SFUIDisplay-Heavy.svg#SFUIDisplay-Heavy') format("svg")
  font-weight: 900
  font-style: normal


@font-face
  font-family: 'SF UI Display'
  src: url($font_path +'SFUIDisplay-Light.eot')
  src: local("SF UI Display Light"), local("SFUIDisplay-Light"), url($font_path +'SFUIDisplay-Light.eot?#iefix') format("embedded-opentype"), url($font_path +'SFUIDisplay-Light.woff2') format("woff2"), url($font_path +'SFUIDisplay-Light.woff') format("woff"), url($font_path +'SFUIDisplay-Light.ttf') format("truetype"), url($font_path +'SFUIDisplay-Light.svg#SFUIDisplay-Light') format("svg")
  font-weight: 200
  font-style: normal


@font-face
  font-family: 'SF UI Display'
  src: url($font_path +'SFUIDisplay-Thin.eot')
  src: local("SF UI Display Thin"), local("SFUIDisplay-Thin"), url($font_path +'SFUIDisplay-Thin.eot?#iefix') format("embedded-opentype"), url($font_path +'SFUIDisplay-Thin.woff2') format("woff2"), url($font_path +'SFUIDisplay-Thin.woff') format("woff"), url($font_path +'SFUIDisplay-Thin.ttf') format("truetype"), url($font_path +'SFUIDisplay-Thin.svg#SFUIDisplay-Thin') format("svg")
  font-weight: 100
  font-style: normal


@font-face
  font-family: 'SF UI Display'
  src: url($font_path +'SFUIDisplay-Medium.eot')
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url($font_path +'SFUIDisplay-Medium.eot?#iefix') format("embedded-opentype"), url($font_path +'SFUIDisplay-Medium.woff2') format("woff2"), url($font_path +'SFUIDisplay-Medium.woff') format("woff"), url($font_path +'SFUIDisplay-Medium.ttf') format("truetype"), url($font_path +'SFUIDisplay-Medium.svg#SFUIDisplay-Medium') format("svg")
  font-weight: 500
  font-style: normal


@font-face
  font-family: 'SF UI Display'
  src: url($font_path +'SFUIDisplay-Semibold.eot')
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url($font_path +'SFUIDisplay-Semibold.eot?#iefix') format("embedded-opentype"), url($font_path +'SFUIDisplay-Semibold.woff2') format("woff2"), url($font_path +'SFUIDisplay-Semibold.woff') format("woff"), url($font_path +'SFUIDisplay-Semibold.ttf') format("truetype"), url($font_path +'SFUIDisplay-Semibold.svg#SFUIDisplay-Semibold') format("svg")
  font-weight: 600
  font-style: normal