.hotel-confirm-result {
    background: #fff;
    margin: 5px;
    color: #232836;
    padding: 35px;
    @media(max-width: 560px) {
        padding: 20px;
    }
    h1 {
        font-size: 21px;
        font-weight: 600;
    }
    h2 {
        font-size: 18px;
        font-weight: 600;
        margin-top: 20px;
    }
    .list {
        padding-left: 30px;
        margin-top: 20px;
        @media(max-width: 560px) {
            padding-left: 10px;
        }
        li {
            font-size: 0px;
            margin-bottom: 15px;
            .ttl {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                font-size: 14px;
            }
            .text {
                display: inline-block;
                vertical-align: top;
                width: 50%;
                font-size: 14px;
            }
        }
    }
    .info-block {
        background-color: #D6FAF1;
        color: #358065;
        padding: 20px 35px;
        p {
            color: #358065;
        }
        .ttl {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 30px;
            position: relative;
            &:before {
                position: absolute;
                content: '';
                height: 1px;
                left: 0;
                right: 0;
                bottom: -15px;
                background: #4FC99E;
            }
        }
		&__subheader {
			font-weight: 600;
			margin-bottom: 10px;
		}
    }
}
