@import "/hotels/hotels-search-panel.sass"
@import "/hotels/hotels-filter-panel.sass"
@import "/hotels/hotels-list.sass"
@import "/hotels/hotels-map.sass"
@import "/hotels/hotel-page.sass"
@import "/hotels/hotel-informational-sidebar.sass"
@import "/hotels/rooms-list.sass"
.hotels-dashboard
  display: block
  width: 100%;
  .hotels-workplace
    display: block;
    margin-left: 6px
    .mobile-filter-btn
      display: none
      @media (max-width: 960px)
        display: block
        position: relative
        text-align: center
        line-height: 50px
        color: #FFFFFF;
        font-size: 13px;
        text-transform: uppercase
        margin-bottom: -7px
        img
          position: absolute
          width: 22px
          height: 22px
          right: 30px
          top: 16px
    .header
      height: 60px
      background-color: $black-color
      margin: 7px 7px 0 0
      border-radius: 3px
      box-sizing: border-box
      display: flex
      flex-flow: row nowrap
      align-items: center
      @media (max-width: 560px)
        position: relative
        display: block
        height: auto;
      .label
        color: #888C99;
        font-size: 17px;
        font-weight: 500
        margin-left: 20px
        @media (max-width: 560px)
          position: absolute
          left: 0
          top: 15px
      .toggle
        height: 36px
        width: 100px
        border: 1px solid $light-grey-color
        margin-left: auto
        margin-right: 23px
        border-radius: 4px
        display: flex
        flex-flow: row wrap
        box-sizing: border-box
        @media (max-width: 560px)
          position: absolute
          right: 0
          top: 10px
          width: 76px
          height: 30px
        .img
          width: 50%
          display: flex
          flex-flow: row wrap
          justify-content: space-around
          &.active
            background-color: $light-grey-color
          img
            max-width: 24px
            max-height: 32px
            @media (max-width: 560px)
              max-width: 19px
              max-height: 28px
      span
        color: $dark-text-color
        font-weight: 500
        font-size: 17px
        padding-left: 20px
        &.date-range
          padding-left: 32px
          color: white
          font-weight: normal
          @media (max-width: 560px)
            display: block
            padding: 50px 10px 5px;
    .hotels-list
      flex: 1 0 auto
