@import "colors.sass"

/* .large-input
  box-sizing: border-box
  height: 55px
  width: 100%
  border-radius: 2px
  background-color: #fff
  position: relative
  margin: 0 0 7px 0
  .dropdown
    height: 100%
    width: 100%
    background-color: #fff
    border: 1px solid #EAEAEA
    transition: all 0.65s
    padding: 26px 0 0 24px

    &:hover, &:focus
      border-color: $primary-color

  &.inform
    border: 1px solid #EAEAEA
    font-size: 15px
    font-weight: 500
    padding: 20px 0 0 42px
    .marker
      position: absolute
      top: 25px
      left: 18px
      height: 6px
      width: 6px
      background-color: $green-color
      border-radius: 50%

    .text
      font-size: 15px
      font-weight: 500
      text-transform: uppercase


  .label
    position: absolute
    left: 23px
    top: 9px
    font-size: 12px
    font-weight: 600
    color: $light-grey-color
    z-index: 99999
    text-transform: uppercase
  input
    width: 100%
    height: 100%
    color: #000
    border: 1px solid #EAEAEA
    padding: 28px 0 0 23px
    transition: all 0.65s
    &:hover, &:focus
      border-color: $primary-color */
