@import '../../../node_modules/vue-image-lightbox/dist/vue-image-lightbox.min.css';
.vue-lb-container {
    z-index: 999;
    background-color: rgba(35, 40, 54, 0.9);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.vue-lb-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    align-self: center;
    font-family: inherit;
    background: transparent;
    font-weight: 400;
    bottom: auto;
    top: -40px;
}

.vue-lb-modal-thumbnail {
    opacity: 0.6;
}

.vue-lb-modal-thumbnail-active {
    box-shadow: inset 0 0 0 2px #ffb63d;
    opacity: 1;
}

.vue-lb-header {
    position: relative;
    z-index: 1;
}
