.mobile-timetable {
    border-radius: 3px;
    background: #232836;
    display: none;
    margin-left: -10px;
    margin-right: -10px;
    width: calc(100% + 20px);
    @media(max-width: 767px) {
        display: block;
    }
    .header {
        padding: 10px;
        .inner {
            height: 50px;
            border-radius: 3px;
            background-color: #323647;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            position: relative;
            color: #787C8B;
            font-size: 13px;
            font-weight: 600;
            line-height: 50px;
            padding-left: 45px;
            padding-right: 18px;
            &:before {
                position: absolute;
                content: '';
                height: 8px;
                width: 15px;
                border-radius: 4.5px;
                background-color: #FC4955;
                left: 15px;
                top: 21px;
            }
            .events {
                float: right;
                img {
                    margin-bottom: -5px;
                    margin-right: 10px;
                }
            }
        }
    }
    .body {
        .item {
            .date {
                color: #C3C5CD;
                padding-left: 28px;
                line-height: 40px;
                font-weight: 400;
                font-size: 13px;
            }
            ul {
                &:nth-child(3) {
                    margin-top: 4px;
                }
                li {
                    background-color: #1B1F2B;
                    margin-top: 4px;
                    position: relative;
                    padding-top: 14px;
                    padding-bottom: 12px;
                    &:first-child {
                        margin-top: 0;
                    }
                    img {
                        position: absolute;
                        left: 24px;
                        top: 9px;
                    }
                    .name {
                        color: #fff;
                        font-weight: 500;
                        font-size: 14px;
                        padding-left: 57px;
                        text-transform: uppercase;
                    }
                    .info {
                        color: #A5A6AD;
                        font-size: 12px;
                        padding-left: 57px;
                        margin-top: 4px;
                    }
                }
            }
        }
    }
}