@import "colors.sass"
nav, .navbar
  flex: 0 0 60px
  display: flex
  flex-flow: row wrap
  background-color: $grey-color
  position: relative
  z-index: 999
  a
    align-self: center
  img.logo
    width: 150px
    margin-left: 15px
    @media(max-width: 767px)
      margin-left: 0
  .burger
    align-self: center
    margin-left: 34px
    cursor: pointer
    padding: 20px
    img
      width: 17px
      height: 12px
    
    @media(max-width: 767px)
      margin-left: 5px
  .dropdown
    @media (max-width: 992px)
      display: none