.oreder-info-wr {
    position: fixed !important;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    overflow: hidden;
    background-color: rgba(49, 55, 71, 0.84);
    @media(max-width: 620px) {}
}

.oreder-info {
    width: 550px !important;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0px;
    background-color: #F9FDFF;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5);
    z-index: 10;
    padding-bottom: 50px;
    .ttl {
        line-height: 60px;
        background-color: #FC4955;
        padding: 0 25px;
        font-size: 17px;
        color: #fff;
        font-weight: 600;
        position: relative;
        .close {
            position: absolute;
            right: 10px;
            top: 0px;
            padding: 0px 5px 0;
            img {
                width: 16px;
                height: 16px;
            }
        }
    }
    ul.main-info {
        padding: 15px 45px;
        li {
            display: flex;
            color: #151922;
            font-size: 13px;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
            .head {
                position: relative;
                padding-left: 20px;
                font-weight: 600;
                width: 170px;
                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 6px;
                    width: 4px;
                    height: 4px;
                    border-radius: 50%;
                    background: #151922;
                }
            }
            .info {
                li {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    ul.purchase-tickets.order-info {
        padding: 0 25px 50px;
        .flights-list__direction {
            &:nth-child(2) {
                border-bottom: none;
            }
            &:before,
            &:after {
                background: #F9FDFF;
            }
        }
    }
}