.preloader
  flex: 1 0 100vh
  background-color: $black-color
  display: flex
  flex-flow: column wrap
  align-items: center
  justify-content: center

  .preloader-block
    flex: 0 0 auto
    max-width: 50%
    display: flex
    flex-flow: column wrap
    color: white
    align-items: center
    justify-content: center
    .direction
      margin-top: 36px
      display: flex
      flex-wrap: wrap

    img
      width: 125px
      height: 180px
    h3
      text-align: center
      font-size: 18px
      text-transform: uppercase
      font-weight: normal
    span
      font-size: 17px
      text-align: center
      width: 50%
      justify-content: center;
      font-weight: normal
      align-items: center
      align-self: center
      &.abbr
        margin-top: 5px
        font-weight: lighter
      &.time
        font-size: 14px
        color: $primary-color
        margin-top: 10px
        
