@import '../../styles/sass/colors.sass';
.purchase
	display: block
	width: 100%
	.flights-list .block .title-bar .class
		right: 170px
	.flights-list__direction
		&:first-child
			position: relative
			z-index: 3
		&:last-child
			border-bottom: none
			&:before,
			&:after
				display: none
	.purchase-title
		color: #898F9E
		font-size: 18px
		font-weight: 600
		position: relative
		display: block
		width: 100%
		padding-left: calc(22% + 25px)
		background-color: #fff;
		line-height: 50px
		z-index: -1
		@media (max-width: 1024px)
			padding-left: 0
			text-align: center
		@media(max-width: 767px)
			font-size: 14px
			text-align: right
			padding-right: 10px
			z-index: auto
		.back-to-list
			position: absolute
			left: 20px
			font-size: 14px
			text-transform: none
			display: none
			top: 0
			@media(max-width: 767px)
				display: block
	.purchase-content
		display: flex
		@media (max-width: 767px)
			flex-wrap: wrap
		.informational-sidebar
			width: 22%
			margin: -44px 6px 0
			border-radius: 4px
			box-shadow: 0 1px 14px 0 rgba(25,31,42,0.88)
			@media (max-width: 1024px)
				display: none
		.hotel-purchase-wr
			width: 38%
			@media (max-width: 1024px)
				width: 60%
				padding-left: 10px
			@media (max-width: 767px)
				width: 100%
				padding: 0 10px
			.hotel-purchase
				background: #fff
				color: #232836
				margin-top: 10px
				padding: 0 10px
				border-radius: 4px;
				position: relative
				.loading
					position: absolute
					left: 0
					right: 0
					bottom: 0
					top: 0
					display: flex
					align-items: center
					justify-content: center
					background: rgba(255,255,255,0.7)
					z-index: 1
				.top-panel
					height: 80px
					display: flex
					align-items: center
					.hotel-name
						font-size: 18px
						color: #232836
						font-weight: 600
						line-height: 18px
						width: 60%
					.cost
						width: 40%
						color: #9B9B9B
						font-size: 14px
						font-weight: 600
						padding-left: 10px
						@media (max-width: 900px)
							font-size: 12px
						span
							display: block
							color: #4FC99E
							font-size: 24px
							@media (max-width: 900px)
								font-size: 21px
				.date-info
					display: flex
					@media (max-width: 460px)
						flex-wrap: wrap
						border-top: 1px solid #E8E9ED
						border-bottom: 1px solid #E8E9ED
					.col
						width: 19%
						@media (max-width: 460px)
							width: 100%
							display: flex
							height: 30px
						&.date
							width: 25%
							@media (max-width: 900px)
								width: 31%
							@media (max-width: 460px)
								width: 100%
						&.arrow
							width: 12%
							@media (max-width: 900px)
								display: none
						.text
							width: 100%
							height: 72px
							border-bottom: 1px dashed #EBEBEB
							display: flex
							align-items: center
							justify-content: center
							font-size: 24px
							color: #232836
							font-weight: 400
							@media screen and (min-width: 767px) and (max-width: 1450px)
								height: 90px
							@media (max-width: 460px)
								width: calc(100% - 100px)
								font-size: 14px
								font-weight: 500
								color: #000000
								height: auto
								border: none
								justify-content: flex-end
							&.date
								@media screen and (min-width: 767px) and (max-width: 1450px)
									display: flex
									flex-direction: column
									justify-content: center
								.num
									font-size: 36px
									@media (max-width: 900px)
										font-size: 30px
									@media (max-width: 460px)
										font-size: 14px
										font-weight: 500
								.desc
									font-size: 15px
									padding-left: 10px
									@media screen and (min-width: 767px) and (max-width: 1450px)
										padding-left: 0
										text-align: center
									@media (max-width: 900px)
										font-size: 12px
									@media (max-width: 460px)
										padding-left: 5px
									.month
										font-weight: 400
										display: block
										@media (max-width: 460px)
											display: inline-block
											font-size: 14px
											font-weight: 500
									.day
										font-weight: 600
										display: block
										@media (max-width: 460px)
											display: inline-block
											font-size: 14px
											font-weight: 500
						.ttl
							width: 100%
							height: 30px
							border-top: 1px solid #EBEBEB
							border-bottom: 1px solid #EBEBEB
							text-transform: uppercase
							font-size: 10px
							color: #6E727F
							display: flex
							align-items: center
							justify-content: center
							@media (max-width: 460px)
								width: 100px
								border: none;
								justify-content: flex-start
								font-weight: 600
								font-size: 11px
				.price-panel
					padding: 20px 0 10px;
					margin-bottom: 20px
					border-bottom: 1px solid #EBEBEB;
					.list
						margin-left: 0
						margin-left: -10px
						margin-right: -10px
						width: calc(100% + 20px)
						li
							margin-bottom: 0
							height: 50px
							display: flex
							align-items: center
							&.big
								height: 60px
							&.taxes
								background: #EBEBEB
							.ttl
								width: 150px
								font-size: 14px
								color: #232836
								width: 50%
								font-weight: 500
								padding-left: 15px
								position: relative
								@media (max-width: 460px)
									font-weight: 400
									width: 75%
								&.semibold
									font-weight: 600
								.cashback-ttl
									color: #4FC99E
									font-size: 13px
								.info
									position: absolute
									right: 10px
									top: 0
									cursor: pointer;
									z-index: 1
									&:hover
										z-index: 10
										.text
											display: block
									.text
										display: none
										position: absolute
										background: #fff
										color: #484C58
										font-size: 13px
										font-weight: 400
										line-height: 19px
										width: 250px
										left: -100px
										top: 33px
										padding: 15px
										border-radius: 3px
										box-shadow: 0 1px 19px 0 rgba(0, 0, 0, 0.2);
										z-index: 1
										&:before
											position: absolute;
											content: '';
											left: 100px;
											top: -20px;
											width: 0;
											height: 0;
											border: 10px solid transparent;
											border-bottom-color: #fff;
							.desc
								width: 50%
								padding-left: 10px
								font-size: 14px;
								color: #000000;
								@media (max-width: 460px)
									text-align: right
									padding-right: 10px
								&.price
									color: #232836;
									font-size: 21px
									font-weight: 600
									@media (max-width: 460px)
										font-size: 18px
								.cashback-desc
									color: #4FC99E
									font-size: 13px
									font-weight: 600
				.info-panel
					padding: 0 5px
					h4
						font-size: 16px;
						padding-bottom: 20px
						position: relative
						cursor: pointer
						img
							position: absolute
							right: 10px
							width: 14px
							top: 5px
							transition: all .3s
							&.rotate
								transform: rotate(180deg)
					.info-list
						margin-left: 10px
						padding-bottom: 20px
						li
							position: relative
							margin-bottom: 15px
							&:not(.ttl)
								padding-left: 20px
							&.ttl
								&:before
									display: none
							&:before
								position: absolute
								content: ''
								width: 5px
								height: 5px
								border-radius: 50%
								background: #4A4A4A
								top: 7px
								left: 2px

		.payment-info
			background: #333547
			width: 510px
			margin: 10px 10px 0
			border-radius: 4px
			overflow: hidden //for br4
			@media (max-width: 1024px)
				width: 530px
			@media (max-width: 767px)
				width: 100%
			.payment-checkbox
				padding-left: 70px
				margin-top: 25px
				input
					&+label
						cursor: pointer
						color: #FC4955;
						font-size: 14px;
						font-weight: 300
						text-decoration: underline

					&:not(checked)
						position: absolute;
					opacity: 0;
					&:not(checked)+label
						position: relative
						&:before
							display: block
							position: absolute
							content: ''
							width: 18px
							height: 18px
							border-radius: 50%
							border: 2px solid #FFFFFF
							left: -30px
							top: -2px
						&:after
							position: absolute
							content: ''
							display: block
							border-radius: 50%
							width: 10px
							height: 10px
							background: #FC4955;
							top: 4px
							left: -24px
							opacity: 0
					&:checked+label
						&:after
							opacity: 1
			p.text
				padding: 0 15px
				color: #898F9E
				font-size: 11px
				margin-top: 45px
				padding-bottom: 100px
			.buy
				display: block
				margin: 50px auto 0
				background: #FC4955
				line-height: 65px
				text-align: center
				width: 304px;
				border-radius: 3px;
				color: #ffffff
				font-size: 15px
				text-transform: uppercase
				border: none
				@media(max-width: 767px)
					width: 280px
		.purchase-tickets
			display: inline-block
			vertical-align: top
			width: calc(100% - 530px)
			@media(max-width: 1024px)
				width: calc(100% - 510px)
			@media(max-width: 959px)
				display: block
				width: 100%
			@media (max-width: 767px)
				margin: 0 10px
	.purchase-passengers-list
		border-radius 4px
		background-color: #fff
		overflow: hidden
		color: #000
		.title
			font-size: 20px
			height: 55px
			display: flex
			align-items: center
			padding: 0 30px
			background-color: #EFEFF1
		.inputs-group
			padding: 8px
			position: relative
			.loading
				position: absolute
				left: 0
				right: 0
				bottom: 0
				top: 0
				display: flex
				align-items: center
				justify-content: center
				background: rgba(255,255,255,0.7)
				z-index: 1
	.purchase-passenger
		margin: 0 0 5px 0
		.header
			height: 55px
			border-radius: 3px
			cursor: pointer
			color: white
			padding: 20px 19px 0 57px
			background-color: $grey-color
			position: relative
			.arrow
				float: right
				width: 8px
				height: 8px
				margin: 5px
				transform: rotate(-90deg)
				transition: all 0.65s
				&.opened
					transform: rotate(0)
			.avatar
				position: absolute
				top: 16px
				left: 18px
				width: 24px
				height: 24px
				border-radius: 50%
				background-color: white
				display: flex
				justify-content: center
				align-items: center
				font-size: 11px
				font-weight: 600
				color: #000
			.name
				text-transform: uppercase
		.body
			padding: 5px 0
			.tel-input
				.flag
					background-color: transparent
					img
						width: 18px
						height: 18px
						margin: 26px 0 0 23px
				.label
					left: 23px
					top: 7px
				input
					padding: 25px 0 0 52px
			.dropdown
				margin: 0
				width: 100%
				padding: 0
				height: 100%;
				&:hover
					.dropbtn
						background-color: #fff
				&.open
					.dropbtn
						box-shadow: 0 2px 12px 0 rgba(35,40,54,0.2);
				.dropbtn
					height: 100%
					width: 100%
					padding: 26px 0 0 23px
					border: none
					color: #000
					font-size: 15px
					span.red
						color: #FF3A32
						display: inline-block
						// width: 60px
						padding-right: 10px
				.dropdown-content
					position: absolute !important
					top: calc(100% + 1px)
					left: 0
					right: 0
					z-index: 99999999
					background: #fff;
					box-shadow: 0 12px 14px 0 rgba(35,40,54,0.2);
					div.ovh-wrapper
						max-height: 200px
						position: relative
						.vb-dragger-styler
							height: 100%
					div.item
						height: 40px
						padding: 0 0 0 23px
						line-height: 40px
						span.red
							color: #FF3A32
							display: inline-block
							// width: 60px
							padding-right: 10px




	.large-input
		height: 55px
		width: 100%
		background-color: #fff
		position: relative
		margin: 0 0 7px 0
		border: 1px solid #EAEAEA
		border-radius: 3px
		.dropdown
			margin: 0
			width: 100%
			padding: 0
			height: 100%;
			&:hover
				.dropbtn
					background-color: #fff
			&.open
				.dropbtn
					box-shadow: 0 2px 12px 0 rgba(35,40,54,0.2);
			.dropbtn
				height: 100%
				width: 100%
				padding: 26px 0 0 23px
				border: none
				color: #000
				font-size: 15px
				span.red
					color: #FF3A32
					display: inline-block
					// width: 60px
					padding-right: 10px
			.dropdown-content
				position: absolute !important
				top: calc(100% + 1px)
				left: 0
				right: 0
				z-index: 10
				background: #fff
				box-shadow: 0 12px 14px 0 rgba(35,40,54,0.2)
				&.citizenship
					height: 150px
				div.ovh-wrapper
					max-height: 200px
					position: relative
					.vb-dragger-styler
						height: 100%
				.item
					height: 40px
					padding: 0 0 0 23px
					line-height: 40px
					span.red
						color: #FF3A32
						display: inline-block
						// width: 60px
						padding-right: 10px

		&.blur
			filter: blur(2px)
		&.inform
			font-size: 15px
			font-weight: 500
			padding: 0 0 0 42px
			input
				padding-left: 0
				padding-top: 0
			.marker
				position: absolute
				top: 25px
				left: 18px
				height: 6px
				width: 6px
				background-color: $green-color
				border-radius: 50%

			.text
				font-size: 15px
				font-weight: 500
				text-transform: uppercase


		.label
			position: absolute
			left: 23px
			top: 9px
			font-size: 11px
			font-weight: 500
			color: #8B8F9B
			z-index: 1
			text-transform: uppercase
		input
			width: 100%
			height: 100%
			color: #000
			border: none

			padding: 28px 0 0 23px
			transition: all 0.65s
	.payment
		color: #FFFFFF

		.title
			color: #323647
			font-weight: 500
			font-size: 20px
			height: 55px
			display: flex
			align-items: center
			padding: 0 30px
			background-color: #EFEFF1
		.info
			padding: 10px 15px 0
			.row
				padding: 15px 10px
				&:nth-child(1)
				// border-bottom: 1px dashed #898F9E
				.line
					line-height: 30px
					font-size: 15px
					font-weight: 400
					.num
						float: right
						width: 125px
						&.big
							color: #FC4955
							font-size: 20px
							font-weight: 600
		.card
			padding: 0 15px
			display: flex
			flex-wrap: wrap;
			width: 100%
			margin-top: 20px
			.cvv-desc
				width: calc(100% - 151px)
				background-color: #898F9E;
				color: #fff
				height: 55px
				border-radius: 3px
				padding-left: 25px
				display: flex
				align-items: center
				justify-content: flex-star
				font-size: 12px;
				@media(max-width: 450px)
					width: calc(100% - 121px)
			.input-wr
				width: 100%
				position: relative
				&.small
					width: 50%
					&:nth-child(2)
						margin-right: 1px
						width: calc(50% - 1px)
				&.cvv
					width: 150px
					margin-right: 1px
					@media(max-width: 450px)
						width: 120px
					input
						background-color: #898F9E;
						color: #fff
						&::-webkit-input-placeholder
							color: #fff;
						&::-moz-placeholder
							color: #fff;
						&:-ms-input-placeholder
							color: #fff;
						&:-moz-placeholder
							color: #fff;
				input
					background: #fff;
					display: block
					width: 100%
					border-radius: 3px
					margin-bottom: 1px
					border: 2px solid transparent
					box-shadow: none;
					height: 55px
					padding-left: 15px
					padding-right: 15px
					padding-top: 20px
					font-size: 15px
					transition: all .3s
					&:focus
						box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.5)
						border-color: #FF3A32
				label
					position: absolute
					top: 10px
					left: 15px
					color: #C7CAD0
					font-size: 12px
					text-transform: uppercase
