.vb > .vb-dragger {
    z-index: 5;
    width: 4px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    transition:
        background-color 100ms ease-out,
        margin 100ms ease-out,
        height 100ms ease-out;
    background: linear-gradient(180deg, #272D3A 0%, #292F3E 100%);
    border-radius: 2px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background: linear-gradient(180deg, #272D3A 0%, #292F3E 100%);
}


.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
}

.input-wr .vb > .vb-dragger > .vb-dragger-styler{
    height: 100%;
    background: #D3D4D6;
}
.card .vb > .vb-dragger > .vb-dragger-styler{
    height: 100%;
    background: #D3D4D6;
}