@import "colors.sass"

.sidebar
  flex: 0 0 180px
  width: 180px
  background-color: $grey-color
  display: flex
  flex-flow: column wrap
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  z-index: 100
  @media(max-width: 1199px)
    position: absolute
    left: 0
    top: 0
    bottom: 0
    z-index: 1100
    display: block
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.5);
    &.minimize
      display: block
      width: 60px
      box-shadow: 0 4px 16px 0 rgba(0,0,0,0.5)
      .item
        display: block
        height: 40px
        &:first-child
          height: 51px
    .item
      display: block
  @media(max-width: 767px)
    &.minimize
      display: none
  &.minimize
    flex: 0 0 60px
    .item:first-child
      flex: 0 0 50px
      background-color: $dark-color
    .item
      flex: 0 0 40px
      .title
        font-size: 0px
        height: 51px
      &.margin-top
        ul,
        .cashback-menu
          display: none
        .title
          font-size: 11px;
          padding-left: 0
          padding-right: 0
          text-align: center
          cursor: pointer;

      .text
        height: 100%
        .air-ticket
          padding: 0
        .hotel
          padding: 0
    

    span
      display: none
  .item
    flex: 0 0
    padding: 0 0
    margin: 0
    &.margin-top
      margin-top: 50px
      .title
        text-align: left
        padding-left: 25px
      ul
        padding-top: 9px
        li
          padding-left: 25px
          margin-bottom: 22px
          a
            position: relative
            color: #9399A3
            font-size: 12px
            font-weight: 600
            padding-left: 24px
            &:before
              position: absolute
              content: '';
              top: 5px
              left: 0
              width: 4px
              height: 4px
              border-radius: 50%
              background-color: #9399A3
      .cashback-menu
        height: 40px
        line-height: 40px
        width: 160px
        border-radius: 3px
        background-color: #FFB63D
        font-size: 12px
        font-weight: 600
        color: #000
        margin: 0 auto
        padding-left: 10px
    .title
      text-align: center
      background-color: $dark-color
      padding: 19px 0px 19px 35px
      font-size: 11px
      color: $text-color
      text-transform: uppercase
      white-space: nowrap
      position: relative
      height: 51px
      img
        position: absolute
        left: 18px
        top: 12px
    .text
      font-size: 15px
      transition: all 1s
      position: relative
      img
        position: absolute
        left: 18px
        top: 9px
        opacity: 0.4
        width: 20px
      span
        padding-left: 56px
      .air-ticket
        padding: 10px 0
        height: 100%
        width: 100%
        height: 40px
        color: $text-color
        &.is-active
          background-color: $primary-color
          color: white
          img
            opacity: 1
      .hotel
        height: 40px
        padding: 10px 0
        width: 100%

        color: $text-color
        &.is-active
          background-color: $orange-color
          color: white
          img
            opacity: 1

      &:hover .air-ticket
        background-color: $primary-color
        color: white
      &:hover .hotel
        background-color: $orange-color
        color: white
      &:hover img
        opacity: 1

  



