@import "colors.sass"
@import "normalize.sass"
@import "default.sass"
@import "calendar.sass"
@import "travelers.sass"
@import "navbar.sass"
@import "sidebar.sass"
@import "cashback.sass"
@import "searchbar/searchbar.sass"
@import "preloader.sass"
@import "ticket-selection.sass"
@import "checkbox.sass"
@import "hotels.sass"
@import "timetable.scss"
@import "../fonts/stylesheet.css"
@import "buttons.sass"
@import "scroll.css"
@import "traveler-card.scss"
@import "auth.scss"
@import "inputs.sass"
@import "userbar.scss"
@import "notification.scss"
@import "text-page.scss"
@import "ajax-loader.css"
@import "purchase.sass"
@import "mobile-timetable.scss"
@import "orderinfo"
@import "flightinfo"
@import "hotelresult"
@import "lightbox"
@import "animation"
@import "confirmation"


input, textarea
	color: #000

p
	color: $text-color

#app
	padding: 0
	margin: 0
	display: flex
	flex-flow: column wrap
	position: relative
.desk
	flex: 1 0 100vh
	display: flex
	flex-flow: row wrap
	background-color: $black-color

.app-content
	flex: 1 0 auto
	display: flex
	flex-flow: row nowrap
	min-height: 100vh
	position: relative
	align-content: flex-start
	&.clear-page
		padding-left: 0
	@media(max-width: 1199px)
		padding-left: 60px
		flex-wrap: wrap
	@media(max-width: 767px)
		padding-left: 0


.dashboard
	padding: 16px 9px 9px
	flex: 1 0
	flex-flow: column wrap
	display: flex
	// HACK: on 320px vw layout overflows, need fix
	max-width: 100vw

	.date-time
		flex: 1 0 675px
	.lower-panel
		flex: 1 0
		display: flex
		flex-flow: row wrap



.is-checked
	width: 8px
	height: 8px
	border-radius: 50%
	background-color: $green-color
.green
	color: $green-color

.primary
	color: $primary-color


footer, .footer
	margin: 70px 13px
	font-size: 13px
	color: $muted-text-color
	font-weight: normal
	p
		padding: 0
		margin: 0
	.separator
		margin: 0 10px

a
	color: $primary-color
	text-decoration: none
.pointer
	cursor: pointer
.dropdown
	&:last-child
		margin-left: 11px
		width: 100px
	&:nth-child(3)
		width: 140px
	&:nth-child(4)
		width: 100px
	position: relative
	display: inline-block
	margin-left: 68px
	align-self: center
	&:hover .dropbtn
		background-color: $black-color

.dropbtn
	color: $text-color
	//min-width: 100px
	position: relative
	border-radius: 3px
	border: 1px dotted $border-color
	cursor: pointer
	transition: all 1s
	font-size: 13px
	padding: 7px 20px 7px 9px
	.icon
		position: absolute
		top: 15%
		right: 0
		padding: 2px 12px 2px 9px
		width: 5px
		border-left: 1px solid $border-color
		img
			width: 6px

.dropdown-content
	position: absolute
	border-radius: 6px
	overflow: hidden
	right: -10%
	background-color: #f9f9f9
	min-width: 160px
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2)
	z-index: 1

	a
		color: black
		padding: 12px 16px
		text-decoration: none
		display: block
		position: relative
		transition: all 1s
		font-size: 12px
		&:hover
			background-color: $light-grey-color

		span
			position: absolute
			right: 34px
.right
	float: right



.accordion
	margin: 9px
	padding: 1px 0
	border-radius: 5px
	transition: all 1s

	.btn
		position: relative
		.indicator
			position: absolute
			height: 5px
			left: 0
			top: 17px
			width: 16px
			background-color: $primary-color
			border: 1px solid $primary-color
			border-radius: 3px
		p
			height: 40px
			line-height: 40px
			padding-left: 25px
			font-size: 14px
			color: white
	.round-switcher
		margin: 10px 0
		.from, .to
			padding: 14px 28px
			font-size: 17px
			border-bottom: 2px solid black
			display: inline-block
			color: $dark-text-color
			&.active
				color: white
				border-color: $primary-color
		&.disabled
			color: $dark-text-color
		.line
			position: absolute
			width: 50%
			height: 2px
			bottom: -2px
			background-color: $primary-color
	.status-bar
		margin: 5px
		height: 36px
		background-color: $primary-color
		border-radius: 3px
		text-align: center
		font-size: 14px
		color: white
		padding: 10px
		box-sizing: border-box

		&.disabled
			background-color: $grey-color
	.text
		h3
			font-size: 14px
			text-transform: uppercase
			color: white
			margin-left: 10px
			margin-top: 15px
			margin-bottom: 15px
	ul
		list-style-type: none
		margin: 0
		padding: 0
		&.airlines
			li
				height: 50px
				position: relative
				img
					max-width: 100px
					max-height: 36px
				.cost
					font-size: 12px
					position: absolute
					bottom: 5px
					right: 7px
		&.disabled
			li
				cursor: not-allowed
				&:hover
					color: $dark-text-color
					border-color: $dark-text-color
		li
			display: block
			font-size: 14px
			height: 36px
			border: 1px solid $dark-text-color
			border-radius: 3px
			color: $dark-text-color
			margin: 5px
			padding: 10px
			transition: all 0.5s
			box-sizing: border-box
			.time
				float: right
			.abbr
				float: right

			&:hover
				color: white
				border-color: white
			&.active
				color: $primary-color
				border-color: $primary-color
	&.hide
		background-color: $grey-color
		.btn
			p
				color: $dark-text-color
			.indicator
				display: none
		.body
			display: none
.warning
	color: $primary-color
.modal-background
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	background: rgba(0,0,0,0.8)
	z-index: 9999999
#map
	width: 50%
	height: 300px
	border: 1px solid black
	float: left
.datetime
	position: relative
	.calendare-switcher
		position: absolute
		top: 30px
		right: 50px
		z-index: 3
		@media(max-width: 767px)
			display: none
		a
			display: inline-block
			width: 20px
			height: 20px
			&:first-child
				margin-right: 10px
