.text-page{
	width: 100%;
	text-align: center;
	padding-top: 115px;
	@media(max-width: 576px){
		padding-top: 45px;
	}
	.logo{

		img{
			width: 208px;
		}
		
	}
	.text{
		max-width: 768px;
		margin: 35px auto 0;
		background-color: #FFFFFF;
		text-align: left;
		color: #000000;
		padding: 44px 84px;
		position: relative;
		@media(max-width: 768px){
			margin: 35px 20px 0;
		}
		@media(max-width: 576px){
			margin: 20px 15px 0;
			padding: 20px 10px;
			
		}
		.close{
			position: absolute;
			width: 14px;
			top: 44px;
			right: 40px;
			@media(max-width: 576px){
				top: 10px;
				right: 10px;
			}
		}
	}
	h1{
		font-size: 20px;
    	font-weight: 600;
    	margin-bottom: 20px;
	}
	h2{
		font-weight: 600;
		font-size: 17px;
		margin-bottom: 20px;
	}
	p{
		color: #000000;
		font-size: 13px;
    	line-height: 1.5;
    	margin-bottom: 20px;
    	font-weight: 400;
	}
}