@import "ticket-search/filter.sass"
@import "ticket-search/flights-list.sass"

.ticket-selection
  flex: 1 0 auto
  display: flex
  flex-flow: row wrap
  width: 300px //max width for mobile
  @media(max-width: 767px)
    flex-flow: column nowrap
  .content
    flex: 1 0 auto
    display: flex
    margin: 7px 4px
    flex-direction: column;
    .fligth-variant
      display: block
    .total-count
      display: block
      padding: 0 5px 0 30px
      font-size: 16px
      border-radius: 6px
      background-color: white
      position: relative
      // height: 50px
      @media(max-width: 768px)
        margin-top: 50px
      @media(max-width: 767px)
        display: none
      .count
        color: #232639
        font-size: 14px
        display: inline-block
        vertical-align: top
        line-height: 50px
        margin-right: 10%
      .priorities
        display: inline-block
        vertical-align: top
        margin-top: 15px
        padding-bottom: 16px
        label
          color: #232639
          font-size: 14px

        .check 
          vertical-align: top
          margin: 0 3px 0 0
          width: 17px;
          height: 17px
          & + label
            cursor: pointer
          
          
          &:not(checked)
            position: absolute
            opacity: 0
            & + label
              position: relative
              padding: 0 60px 0 0
              &:before
                content: ''
                position: absolute
                top: -4px
                right: 0
                width: 50px
                height: 26px
                border-radius: 13px
                background-color: #C2C5CD
              
              &:after
                content: ''
                position: absolute
                top: -2px
                right: 2px
                width: 22px
                height: 22px
                border-radius: 10px
                background: #FFF
                transition: all .2s
              
            
          
          &:checked
            & + label
              &:before
                background: #FC4955
              &:after
                right: 26px
              
      .sort
        width: 200px
        height: 40px
        border: 1px solid #D1D5DB
        border-radius: 4px
        display: inline-block
        vertical-align: top
        float: right
        margin-top: 5px
        font-size: 15px
        color: #232639
        line-height: 40px
        position: relative
        span
          padding-left: 11px
        ul
          position: relative
          left: 0
          right: 0
          top: 0
          border: 1px solid #D1D5DB
          border-radius: 4px
          background: #fff
          z-index: 101
          li
            padding-left: 15px
            &:hover
              background: #f9f9f9;

          

