.timetable{
	height: 540px;
		&__hours{
			padding-top: 20px;
			padding-left: 100px;
			margin-top: 50px;
			position: relative;
			padding-bottom: 60px;
			@media(max-width: 767px){
				padding-left: 0;
			}
		}
		&__hour{
			position: relative;
			border-top: 1px dashed $dark-text-color;
			height: 60px;
			&:before{
				position: absolute;
				content: '';
				left: 0;
				right: 0;
				height: 1px;
				top: 50%;
				background:  $dark-text-color;
			}
		}
		&__time{
			position: absolute;
			top: -5px;
			left: -44px;
			color: $dark-text-color;
			font-size: 11px;
			@media(max-width: 767px){
				left: 0;
				top: 2px;
			}

		}
		&__now{
			position: absolute;
			content: '';
			top: 0;
			left: 53px;
			right: 0;
			height: 1px;
			background: $red-color;
			transition: top .3s ease-in-out;
			z-index: 1;
			@media(max-width: 767px){
				left: 35px;
			}
			span{
				color: $red-color;
				position: relative;
				top: -8px;
				left: -48px;
				@media(max-width: 767px){
					font-size: 10px;
					left: -35px;
				}
			}
			
		}
		&__event{
			min-height: 55px;
			padding-bottom: 5px;
			border: 2px solid transparent;
			border-radius: 3px;
			background-color: #323647;
			left: 105px;
			display: block;
			padding-left: 60px;
			width: calc(100% - 128px);
			padding-right: 220px;
			z-index: 1;
			position: absolute;
			&:hover{
				z-index: 5;
			}
			@media(max-width: 767px){
				left: 35px;
				padding-right: 10px;
				width: calc(100% - 45px);
				padding-left: 40px;
			}
			.ttl{
				color: #FFFFFF;
				font-size: 14px;
				font-weight: 600;
				margin-top: 5px;
				@media(max-width: 767px){
					font-weight: 400;
				}
			}
			.desc{
				color: #FFFFFF;
				font-size: 11px;
				font-weight: 600;
				margin-top: 3px;
				@media(max-width: 767px){
					font-size: 9px;
					font-weight: 400;
				}
				
			}
			.btn{
				position: absolute;
    			top: 50%;
    			transform: translateY(-50%);
    			right: 5px;
				height: 43px;
				border-radius: 3px;
				line-height: 43px;
				text-align: center;
				box-shadow: 0 4px 7px 0 rgba(0,0,0,0.5);
				color: #FFFFFF;
				font-size: 13px;
				font-weight: bold;
				@media(max-width: 767px){
					display: none;
				}
    			
			}
			&.flight{
				border-color: #FC4955;
				.btn{
					width: 200px;
					background-color: #FF584B;
				}
				.ico{
					position: absolute;
					top: 8px;
					left: 17px;
					width: 17px;
					@media(max-width: 767px){
						left: 10px;
					}
				}
			}
			&.hotel{
				border-color: #FFB63D;
				.btn{
					width: 120px;
					background-color: #FFB63D;
				}
				.ico{
					position: absolute;
					top: 6px;
					left: 18px;
					width: 17px;
					@media(max-width: 767px){
						left: 12px;
						top: 8px;
					}
				}

			}
		}


	}
.timetable-top{
	background: linear-gradient(180deg, #222936 0%, #2A313E 100%);
	border-radius: 3px 3px 0 0;
	height: 160px;
	padding: 60px 20px 0;
	position: relative;
	overflow: hidden;
	>ul{
		position: absolute;
		left: 50%;
		top: 60px;
		transform: translate(-48%, 0);
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		>li{
			display: inline-block;
			vertical-align: top;
			padding-top: 24px;
			width: 26px;
			text-align: center;
			color: #606473;
			font-size: 15px;
			font-weight: 500;
			cursor: pointer;
			.border{
				width: 100%;
				display: block;
				height: 26px;
				border: 2px solid transparent;
				border-radius: 6px;
				line-height: 22px;
				z-index: 3;
    			position: relative;
			}
			&.active{
				.border{
					border-color: #F72D3A !important;
					color: #fff;
				}
			}
			&.current-week{
				padding-top: 0;

				&:nth-child(12){
					position: relative;
					&:before{
						position: absolute;
						content: '';
						left: 0;
						top: -17px;
						width: 1px;
						height: 80px;
						background: #6c758f;
					}
				}
				&:nth-child(18){
					position: relative;
					&:before{
						position: absolute;
						content: '';
						right: 0;
						top: -17px;
						width: 1px;
						height: 80px;
						background: #6c758f;
					}
				}
				&:nth-child(12),
				&:nth-child(13),
				&:nth-child(14),
				&:nth-child(15),
				&:nth-child(16),
				&:nth-child(17){
					position: relative;
					&:after{
						position: absolute;
						content: '';
						top: -6px;
						right: 0;
						width: 1px;
						height: 25px;
						border-right: 1px dotted #6c758f;
					}
				}
				.day{
					color: #5D6170;
					font-size: 12px;
					font-weight: 500;
					line-height: 14px;
					text-align: center;
					text-align: center;
					margin-bottom: 6px;
				}
				.date{
					color: #606473;
					font-size: 15px;
					font-weight: 500;
				}
				.border{
					border: 2px solid transparent;
					border-radius: 6px;
					text-align: center;
					height: auto;
					// max-width: 26px;
					padding-top: 4px;
					padding-bottom: 3px;
					&:after{
						content: '';
						display: block;
						clear: both;
					}
					ul{
						text-align: center;
						padding: 0 3px;
						margin-top: 5px;
						&:after{
							content: '';
							display: block;
							clear: both;
						}
						li.yellow{
							display: inline-block;
							vertical-align: top;
							height: 6px;
							width: 6px;
							background-color: #FFB63D;
							border-radius: 50%;
							margin: 1px;
							float: right;
							&:after{
								content: '';
								display: block;
								clear: both;
							}
							&:only-child{
								float: none;
							}
							&:last-child{
								float: none;
							}
						}
						li.red{
							display: inline-block;
							vertical-align: top;
							height: 6px;
							width: 6px;
							background-color: #F72D3A;
							border-radius: 50%;
							margin: 1px;
							float: left;
							&:after{
								content: '';
								display: block;
								clear: both;
							}
							&:only-child{
								float: none;
							}
							&:last-child{
								float: none;
							}
						}
					}
					
				}
				&.active{
					.day,
					.border .date{
						color: #fff;
					}
				}
			}
		}
	}
}

@media (max-width:767){
	.timetable-wr{
		display: none;
	}
}