.traveler-card-wr {
    position: absolute !important; // Fix for iOS 11
    top: 0;
    left: 0;
	width: 100vw;
	height: 100vh;
    z-index: 9999;
    overflow: hidden;
    background-color: rgba(49, 55, 71, 0.84);
    @media(max-width: 620px) {}
}

.traveler-card {
    width: 620px !important;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100%;
    z-index: 1001;
    background: #fff;
    padding-bottom: 200px;
    @media(max-width: 620px) {
        width: auto;
        left: 0;
        bottom: auto;
        width: 100% !important;
    }
    .loading {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__header {
        height: 60px;
        background-color: #FC4955;
        font-size: 17px;
        font-weight: 600;
        line-height: 60px;
        padding-left: 40px;
        position: relative;
        text-transform: uppercase;
        @media(max-width: 620px) {
            font-size: 15px;
            padding-left: 15px;
        }
        .close {
            position: absolute;
            top: 26px;
            right: 32px;
            line-height: 11px;
            img {
                width: 12px;
                height: 12px;
            }
        }
    }
    &__body {
        background: #fff;
        .travelers-card {
            .list {
                font-size: 0px;
                li {
                    padding: 20px 40px;
                    border-bottom: 1px solid #FAFAFA;
                    position: relative;
                    @media(max-width: 620px) {
                        padding: 10px 20px;
                    }
                    .first-letter {
                        position: absolute;
                        left: 0;
                        top: 17px;
                        width: 40px;
                        text-align: center;
                        height: 40px;
                        color: #9B9B9B;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 40px;
                        @media(max-width: 620px) {
                            width: 26px;
                            top: 5px;
                        }
                        &:after {
                            height: 6px;
                            width: 6px;
                            background-color: #D8D8D8;
                            border-radius: 50%;
                            content: '';
                            position: absolute;
                            bottom: 4px;
                            left: 50%;
                            margin-left: -3px;
                        }
                        &:empty {
                            &:after {
                                display: none;
                            }
                        }
                    }
                    .ava {
                        display: inline-block;
                        vertical-align: top;
                        height: 40px;
                        width: 40px;
                        text-align: center;
                        height: 28px;
                        width: 28px;
                        background-color: #000000;
                        border-radius: 50%;
                        line-height: 28px;
                        text-align: center;
                        color: #FFFFFF;
                        font-size: 13px;
                        font-weight: bold;
                        margin: 7px 6px 0;
                    }
                    .name {
                        display: inline-block;
                        vertical-align: top;
                        padding-left: 10px;
                        color: #000000;
                        font-size: 17px;
                        font-weight: 500;
                        width: 272px;
                        height: 40px;
                        line-height: 40px;
                        line-height: 40px;
                        @media(max-width: 620px) {
                            width: calc(100% - 40px);
                        }
                    }
                    .place {
                        display: inline-block;
                        vertical-align: top;
                        height: 40px;
                        line-height: 40px;
                        width: 188px;
                        padding-left: 40px;
                        color: #787F8A;
                        font-size: 12px;
                        img {
                            width: 9px;
                            height: auto;
                            margin-right: 9px;
                        }
                    }
                    .details {
                        cursor: pointer;
                        position: absolute;
                        top: 33px;
                        right: 10px;
                        width: 40px;
                        height: 40px;
                        img {
                            width: 8px;
                        }
                        @media(max-width: 620px) {
                            width: 20px;
                            text-align: center;
                            top: 22px;
                        }
                    }
                }
            }
            .search {
                padding-left: 40px;
                height: 80px;
                background-color: #FAFAFA;
                padding-top: 15px;
                margin-top: 15px;
                @media(max-width: 620px) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                input {
                    height: 50px;
                    width: 414px;
                    border: 1px solid #F0F0F0;
                    border-radius: 3px;
                    padding-left: 19px;
                    padding-right: 5px;
                    color: #000;
                    @media(max-width: 620px) {
                        width: calc(100% - 70px)
                    }
                }
                .add {
                    color: #787C8B;
                    font-size: 14px;
                    font-weight: 500;
                    margin-left: 30px;
                    @media(max-width: 620px) {
                        font-size: 0px;
                    }
                    img {
                        width: 22px;
                        margin-right: 10px;
                        margin-bottom: -6px;
                    }
                }
            }
        }
    }
    &__item {
        .traveler-name {
            background: #FBFBFB;
            height: 60px;
            padding-left: 35px;
            //margin-bottom: 17px;
            text-transform: uppercase;
            position: relative; // margin-left: -81px;
            @media(max-width: 620px) {
                padding-left: 10px;
                margin-left: 0;
            }
            .name {
                cursor: pointer;
                font-size: 17px;
                line-height: 60px;
                font-weight: 500;
                color: #989CA7;
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 80px);
                .real-name {
                    color: #000;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    max-width: 100%;
                }
            }
            .ico {
                display: inline-block;
                vertical-align: top;
                background: #989CA7;
                border-radius: 50%;
                width: 36px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                font-size: 18px;
                color: #FFFFFF;
                margin-top: 12px;
                margin-right: 18px;
                &.dark {
                    background-color: #212121;
                }
            }
            .edit {
                display: inline-block;
                vertical-align: top;
                @media(max-width: 620px) {
                    position: absolute;
                    left: 10px;
                    right: 10px;
                }
                .save {
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 5px;
                    background: #FC4955;
                    border: 1px solid #FF3946;
                    border-radius: 0 3px 3px 0;
                    width: 152px;
                    height: 50px;
                    text-align: center;
                    font-size: 13px;
                    color: #FFFFFF;
                    line-height: 50px;
                    .lds-spinner {
                        margin-top: 7px;
                    }
                    .mobile {
                        display: none;
                        text-align: center;
                        padding-top: 4px;
                        img {
                            width: 18px;
                            height: 18px;
                        }
                    }
                    @media(max-width: 620px) {
                        height: 47px;
                        width: 47px;
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                        border-radius: 0;
                        .desktop {
                            display: none;
                        }
                        .mobile {
                            display: inline-block;
                        }
                    }
                }
                .inpt-wr {
                    float: left;
                    width: 360px;
                    border: 2px solid #FC4955;
                    padding: 0 10px;
                    background: #fff;
                    z-index: 1;
                    position: relative;
                    margin-top: 5px;
                    @media(max-width: 620px) {
                        border-radius: 3px;
                        width: 100%;
                    }
                    input {
                        border: none;
                        border-bottom: 1px solid #F4F4F4;
                        display: block;
                        width: 100%;
                        height: 45px;
                        color: #000;
                    }
                }
            }
        }
    }
    &__item-ttl {
        margin-bottom: 17px;
        color: #151922;
        font-size: 15px;
        font-weight: bold;
        line-height: 18px;
        text-transform: uppercase;
        height: 60px;
        background-color: #FAFAFA;
        line-height: 60px;
        position: relative;
        .deposit-info {
            float: right;
            margin-right: 58px;
            color: #FC4955;
            font-size: 18px;
            font-weight: 600;
            @media(max-width: 767px) {
                display: none;
            }
        }
        .info {
            float: left;
            margin-left: 36px;
            margin-right: 13px;
            cursor: pointer;
            position: relative;
            img {
                width: 6px;
            }
            &:hover {
                span {
                    display: block;
                    z-index: 1001;
                }
            }
            span {
                display: none;
                position: absolute;
                top: 48px;
                left: -17px;
                color: #484C58;
                font-size: 13px;
                font-weight: 400;
                text-transform: capitalize;
                line-height: 19px;
                padding: 32px 20px 32px 40px;
                width: 320px;
                border: 1px solid #E3E4E7;
                border-radius: 3px;
                background-color: #FFFFFF;
                box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
                &:before {
                    position: absolute;
                    content: '';
                    left: 10px;
                    top: -20px;
                    width: 0;
                    height: 0;
                    border: 10px solid transparent;
                    border-bottom-color: #fff;
                }
            }
        }
        .checker {
            float: right;
            .checkbox {
                vertical-align: top;
                margin: 0 3px 0 0;
                width: 17px;
                height: 17px;
                +label {
                    cursor: pointer;
                    &.disabled {
                        cursor: not-allowed;
                    }
                }
                &:not(checked) {
                    position: absolute;
                    opacity: 0;
                    +label {
                        position: relative;
                        padding: 0 0 0 60px;
                        &:before {
                            content: '';
                            position: absolute;
                            top: -4px;
                            left: 0;
                            width: 50px;
                            height: 26px;
                            border-radius: 13px;
                            background-color: #C2C5CD;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: -2px;
                            left: 2px;
                            width: 22px;
                            height: 22px;
                            border-radius: 10px;
                            background: #FFF;
                            transition: all .2s;
                        }
                    }
                }
                &:checked {
                    +label {
                        &:before {
                            background: #FC4955;
                        }
                        &:after {
                            left: 26px;
                        }
                    }
                }
            }
        }
        .info-ico {
            position: absolute;
            right: 20px;
            top: 0;
            transition: all .3s;
            &.rotate {
                transform: rotate(180deg);
            }
        }
    }
    &__item-body {
        color: #000;
        .spinner-wr {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
        }
        .empty-history {
            text-align: center;
            color: #F43F59;
            font-size: 22px;
            padding: 10px;
        }
        .cashback-info {
            table {
                max-width: 540px;
                margin: 10px 0 10px 50px;
                text-align: left;
                color: #484C58;
                font-size: 13px;
                font-weight: 400;
                @media(max-width: 767px) {
                    margin: 10px 2px;
                    width: 100%;
                }
                th {
                    font-weight: 400;
                    height: 50px;
                    &:nth-child(1) {
                        width: 180px;
                        padding-left: 15px;
                        @media(max-width: 767px) {
                            width: 33%;
                        }
                    }
                    &:nth-child(2) {
                        width: 240px;
                        @media(max-width: 767px) {
                            width: 33%;
                        }
                    }
                    &:nth-child(3) {
                        @media(max-width: 767px) {
                            width: 33%;
                        }
                    }
                }
                tr {
                    &:nth-child(2) {
                        border: 2px solid #FC4955;
                        th {
                            &:nth-child(2) {
                                color: #1B1F2B;
                                font-size: 21px;
                                input {
                                    padding-left: 5px;
                                    border: none;
                                    height: 52px;
                                    @media(max-width: 767px) {
                                        width: 100%;
                                    }
                                    &::-webkit-input-placeholder {
                                        color: #000;
                                        font-size: 13px;
                                    }
                                    &::-moz-placeholder {
                                        color: #000;
                                        font-size: 13px;
                                    }
                                    &:-ms-input-placeholder {
                                        color: #000;
                                        font-size: 13px;
                                    }
                                    &:-moz-placeholder {
                                        color: #000;
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                    }
                    &:nth-child(1) {
                        th {
                            &:nth-child(2) {
                                color: #1B1F2B;
                                font-size: 18px;
                                font-weight: bold;
                            }
                        }
                    }
                }
                button {
                    border: none;
                    border-radius: 0px;
                    background: #FC4955;
                    text-align: center;
                    color: #FFFFFF;
                    font-size: 15px;
                    display: block;
                    height: 52px;
                    width: 120px;
                }
            }
        }
        .mobile {
            display: none;
            padding: 10px;
            .btn-press {
                line-height: 40px;
                border: 1px solid #ECECEE;
                margin-bottom: 8px;
                padding-left: 10px;
				cursor: pointer;
            }
        }
        @media(max-width: 620px) {
            .desktop {
                display: none;
            }
            .mobile {
                display: block;
            }
        }
        .table {
            padding: 15px;
            .table-ttl {
                background: #FAFAFA;
                color: #484C58;
                font-size: 15px;
                font-weight: 500;
                padding-left: 20px;
                line-height: 50px;
            }
            .table-header {
                font-size: 0px;
                .col {
                    display: inline-block;
                    vertical-align: top;
                    color: #989DA8;
                    font-size: 13px;
                    line-height: 50px;
                    text-align: center;
                    border-bottom: 1px solid #EEEEEE;
                    &:nth-child(1) {
                        width: 120px;
                        border-right: 1px solid #EEEEEE;
                    }
                    &:nth-child(2) {
                        width: 350px;
                        border-right: 1px solid #EEEEEE;
                    }
                    &:nth-child(3) {
                        width: 120px;
                    }
                }
            }
            &.user-table {
                .table-header {
                    .col {
                        &:nth-child(1) {
                            width: 115px;
                        }
                        &:nth-child(2) {
                            width: 230px;
                        }
                        &:nth-child(3) {
                            width: 120px;
                            border-right: 1px solid #EEEEEE;
                        }
                        &:nth-child(4) {
                            width: 122px;
                        }
                    }
                }
            }
            .table-body {
                font-size: 0px;
                .row {
                    display: table;
                    .col {
                        // display: inline-block;
                        display: table-cell;
                        vertical-align: middle;
                        border-bottom: 1px solid #EEEEEE;
                        height: 50px;
                        &:nth-child(1) {
                            width: 120px;
                            border-right: 1px solid #EEEEEE;
                            color: #000000;
                            font-size: 13px;
                            padding-left: 17px;
                            padding-top: 9px;
                            .date {
                                display: block;
                                color: #989DA8;
                                margin-top: 4px;
                            }
                        }
                        &:nth-child(2) {
                            width: 350px;
                            border-right: 1px solid #EEEEEE;
                            color: #000000;
                            font-size: 13px; // line-height: 50px;
                            padding-left: 10px;
                            .hotel-icon {
                                width: 10px;
                            }
                        }
                        &:nth-child(3) {
                            width: 120px;
                            position: relative;
                            color: #000000;
                            font-size: 14px;
                            padding-left: 32px; // line-height: 50px;
                            .ico-pay {
                                position: absolute;
                                left: 7px;
                                top: 7px;
                                img {
                                    width: 14px;
                                }
                            }
                            .ico-status {
                                position: absolute;
                                left: 8px;
                                bottom: 9px;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                line-height: 1;
                                &.green {
                                    background-color: #1BC1A0;
                                }
                                &.grey {
                                    background-color: #C3C5CD
                                }
                                &.yellow {
                                    background-color: #FFB63D;
                                }
                            }
                        }
                    }
                }
            }
            &.user-table {
                .table-body {
                    .col {
                        &:nth-child(1) {
                            width: 115px;
                        }
                        &:nth-child(2) {
                            width: 230px;
                        }
                        &:nth-child(3) {
                            width: 120px;
                            border-right: 1px solid #EEEEEE;
                            .ico-pay {
                                top: 17px;
                            }
                        }
                        &:nth-child(4) {
                            width: 122px;
                            position: relative;
                            color: #000000;
                            font-size: 14px;
                            padding-left: 32px;
                            line-height: 50px;
                            text-align: right;
                            .ico-pay {
                                position: absolute;
                                left: 7px;
                                top: -8px;
                                img {
                                    width: 14px;
                                }
                            }
                            .ico-status {
                                position: absolute;
                                left: 8px;
                                bottom: 18px;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                line-height: 1;
                                &.green {
                                    background-color: #1BC1A0;
                                }
                                &.grey {
                                    background-color: #C3C5CD
                                }
                                &.yellow {
                                    background-color: #FFB63D;
                                }
                            }
                        }
                    }
                }
            }
            .table-footer {
                line-height: 50px;
                text-align: center;
                background-color: #FAFAFA;
                color: #989DA8;
                font-size: 15px;
                font-weight: 500;
            }
        }
        .preferences {
            padding: 0 15px;
            margin-bottom: 10px;
            @media(max-width: 620px) {
                padding: 0 10px;
            }
            .header {
                height: 50px;
                width: 100%;
                background-color: #FAFAFA;
                line-height: 50px;
                padding-left: 50px;
                position: relative;
                font-weight: 500;
                @media(max-width: 620px) {
                    font-size: 15px;
                    padding-left: 10px;
                    font-weight: 400;
                }
                .add {
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    width: 120px;
                    background-color: #ECECEE;
                    padding-left: 21px;
                    line-height: 50px;
                    color: #989CA7;
                    font-size: 11px;
                    font-weight: 500;
                    img {
                        width: 18px;
                        height: auto;
                        line-height: 1;
                        vertical-align: top;
                        margin-top: 16px;
                        margin-right: 8px;
                    }
                }
            }
            .body {
                .card {
                    font-size: 0px;
                    height: 50px;
                    line-height: 50px;
                    margin-left: 75px;
                    margin-top: 10px;
                    position: relative;
                    &.airport {
                        &.airline {
                            .name {
                                line-height: 50px;
                                padding-top: 0;
                            }
                        }
                        .name {
                            display: block;
                            line-height: 1.4;
                            padding-top: 5px;
                        }
                        .number {
                            display: block;
                            line-height: 1.4;
                        }
                        .edit {
                            position: absolute;
                            right: 0;
                            top: 0;
                        }
                        .dropdown {
                            position: absolute !important;
                            left: 0;
                            top: 50px;
                            width: calc(100% - 100px);
                            border-radius: 3px;
                            background-color: #FFFFFF;
                            margin-left: 0;
                            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
                            @media(max-width: 620px) {
                                width: 100%;
                            }
                            ul {
                                max-height: 200px;
                                li {
                                    padding: 15px 10px 20px 28px;
                                    border-bottom: 1px solid #EEEEEE;
                                    cursor: pointer;
                                    .airport-name {
                                        color: #000000;
                                        font-size: 15px;
                                        line-height: 1.2;
                                    }
                                    .city-name {
                                        font-size: 15px;
                                        color: #989CA7;
                                        line-height: 1.2;
                                    }
                                    .airline-name {
                                        line-height: 20px;
                                        color: #000000;
                                        font-size: 15px;
                                    }
                                    &.empty {
                                        cursor: default;
                                    }
                                }
                            }
                        }
                    }
                    .checker {
                        position: absolute;
                        left: -72px;
                        top: 0;
                        .checkbox {
                            vertical-align: top;
                            margin: 0 3px 0 0;
                            width: 17px;
                            height: 17px;
                            +label {
                                cursor: pointer;
                                &.disabled {
                                    cursor: not-allowed;
                                }
                            }
                            &:not(checked) {
                                position: absolute;
                                opacity: 0;
                                +label {
                                    position: relative;
                                    padding: 0 0 0 60px;
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        top: -4px;
                                        left: 0;
                                        width: 50px;
                                        height: 26px;
                                        border-radius: 13px;
                                        background-color: #C2C5CD;
                                    }
                                    &:after {
                                        content: '';
                                        position: absolute;
                                        top: -2px;
                                        left: 2px;
                                        width: 22px;
                                        height: 22px;
                                        border-radius: 10px;
                                        background: #FFF;
                                        transition: all .2s;
                                    }
                                }
                            }
                            &:checked {
                                +label {
                                    &:before {
                                        background: #FC4955;
                                    }
                                    &:after {
                                        left: 26px;
                                    }
                                }
                            }
                        }
                    }
                    .name {
                        display: inline-block;
                        vertical-align: top;
                        color: #1B1F2B;
                        font-size: 15px;
                        width: 140px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-right: 10px;
                        @media(max-width: 620px) {
                            width: calc(100% - 50px);
                            display: block;
                            line-height: 1.4;
                            padding-top: 5px;
                        }
                    }
                    .number {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 15px;
                        color: #989CA7;
                        width: 325px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        padding-right: 10px;
                        @media(max-width: 620px) {
                            width: calc(100% - 50px);
                            display: block;
                            line-height: 1.4;
                        }
                    }
                    .edit {
                        display: inline-block;
                        vertical-align: top;
                        width: 50px;
                        text-align: center;
                        img {
                            vertical-align: middle;
                            width: 3px;
                        }
                        @media(max-width: 620px) {
                            position: absolute;
                            top: 0;
                            right: 0;
                        }
                    }
                    .editing {
                        position: relative;
                        font-size: 0px;
                        z-index: 4;
                        @media(max-width: 620px) {
                            margin-left: -75px;
                        }
                        .spinner-editing {
                            position: absolute;
                            left: -45px;
                            top: 9px;
                            @media(max-width: 620px) {
                                left: auto;
                                right: 110px;
                            }
                        }
                        .card-number {
                            height: 50px;
                            border: 2px solid #FC4955;
                            border-radius: 3px 0 0 3px;
                            color: #000000;
                            font-size: 18px;
                            padding-left: 15px;
                            width: calc(100% - 100px);
                            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
                        }
                        .card-name {
                            position: absolute;
                            left: 0;
                            top: 50px;
                            width: calc(100% - 100px);
                            border-radius: 3px;
                            background-color: #FFFFFF;
                            height: 60px;
                            padding-left: 15px;
                            color: #000000;
                            font-size: 15px;
                            border: 1px solid #EDEDED;
                            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
                            @media(max-width: 620px) {
                                width: 100%;
                            }
                        }
                        .save-btn {
                            border: none;
                            display: inline-block;
                            vertical-align: top;
                            width: 50px;
                            height: 50px;
                            background: #FC4955;
                            text-align: center;
                            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
                            img {
                                width: 18px;
                                vertical-align: middle;
                            }
                            .lds-spinner {
                                margin-top: 8px;
                            }
                        }
                        .remove-btn {
                            display: inline-block;
                            vertical-align: top;
                            width: 50px;
                            height: 50px;
                            background: #C3C3C3;
                            text-align: center;
                            box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
                            img {
                                width: 14px;
                                vertical-align: middle;
                            }
                            .lds-spinner {
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }
        .deposit {
            padding: 0 15px 10px;
            .count {
                color: #484C58;
                font-size: 13px;
                font-weight: 500;
                line-height: 50px;
                margin-bottom: 25px;
                .now {
                    padding-left: 20px;
                    height: 50px;
                    .money {
                        float: right;
                        color: #1B1F2B;
                        font-size: 18px;
                        line-height: 50px;
                        padding-right: 30px;
                    }
                }
                .pay {
                    height: 50px;
                    background-color: #FAFAFA;
                    padding-left: 20px;
                    @media(max-width: 767px) {
                        height: auto;
                        padding-bottom: 15px;
                    }
                    .info {
                        display: inline-block;
                        vertical-align: top;
                        margin-left: 5px;
                        position: relative;
                        &:hover {
                            span {
                                display: block;
                            }
                        }
                        img {
                            width: 6px;
                            height: auto;
                        }
                        span {
                            display: none;
                            position: absolute;
                            top: 48px;
                            left: -17px;
                            color: #484C58;
                            font-size: 13px;
                            font-weight: 400;
                            text-transform: capitalize;
                            line-height: 19px;
                            padding: 32px 20px 32px 40px;
                            width: 320px;
                            border: 1px solid #E3E4E7;
                            border-radius: 3px;
                            background-color: #FFFFFF;
                            box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2);
                            &:before {
                                position: absolute;
                                content: '';
                                left: 10px;
                                top: -20px;
                                width: 0;
                                height: 0;
                                border: 10px solid transparent;
                                border-bottom-color: #fff;
                            }
                        }
                    }
                    .right {
                        font-size: 0px;
                        @media(max-width: 767px) {
                            display: block;
                            float: none;
                        }
                        input {
                            height: 50px;
                            width: 252px;
                            border: 2px solid #FC4955;
                            padding-left: 25px;
                            padding-right: 5px;
                            display: inline-block;
                            vertical-align: top;
                            font-size: 13px;
                            @media(max-width: 767px) {
                                width: calc(100% - 20px)
                            }
                        }
                        button {
                            height: 50px;
                            width: 100px;
                            text-align: center;
                            width: 100px;
                            font-size: 14px;
                            font-weight: 600;
                            background: #FC4955;
                            display: inline-block;
                            vertical-align: top;
                            border: none;
                            color: #fff;
                            @media(max-width: 767px) {
                                height: 40px;
                                line-height: 40px;
                                width: 150px;
                                display: block;
                                margin: 10px auto 0;
                            }
                        }
                    }
                }
            }
            .deposit-history-ttl {
                color: #151922;
                font-size: 14px;
                font-weight: 500;
                text-decoration: underline;
                margin-bottom: 15px;
            }
            .deposit-history {
                font-size: 0px;
                li {
                    height: 50px;
                    @media(max-width: 767px) {
                        height: 100px;
                        position: relative;
                    }
                    &:nth-child(even) {
                        background-color: #FAFAFA;
                    }
                    .ico {
                        display: inline-block;
                        vertical-align: top;
                        width: 50px;
                        height: 50%;
                        text-align: center;
                        padding-top: 23px;
                        @media(max-width: 767px) {
                            position: absolute;
                            left: 0;
                            top: 0;
                        }
                        img {
                            width: 10px;
                            height: auto;
                        }
                    }
                    .name {
                        display: inline-block;
                        vertical-align: top;
                        line-height: 50px;
                        width: 190px;
                        padding-left: 15px;
                        color: #484C58;
                        font-size: 13px;
                        font-weight: 500;
                        @media(max-width: 767px) {
                            width: 50%;
                            height: 50px;
                            line-height: 1.2;
                            display: inline-flex;
                            align-items: center;
                            padding-left: 40px;
                        }
                    }
                    .date {
                        display: inline-block;
                        vertical-align: top;
                        width: 150px;
                        line-height: 50px;
                        padding-left: 15px;
                        color: #151922;
                        font-size: 13px;
                        font-weight: 500;
                        @media(max-width: 767px) {
                            width: 50%;
                            height: 50px;
                            line-height: 1.2;
                            display: inline-flex;
                            align-items: center;
                        }
                        span {
                            color: #9AA0A6;
                            font-weight: 400;
                        }
                    }
                    .price {
                        display: inline-block;
                        vertical-align: top;
                        width: 150px;
                        line-height: 50px;
                        text-align: right;
                        padding-right: 10px;
                        color: #151922;
                        font-size: 13px;
                        font-weight: 500;
                        @media(max-width: 767px) {
                            width: calc(100% - 50px);
                            display: inline-flex;
                            align-items: center;
                            justify-content: flex-start;
                            padding-left: 15px;
                        }
                    }
                    .link {
                        display: inline-block;
                        vertical-align: top;
                        width: 50px;
                        height: 50px;
                        text-align: center;
                        padding-top: 12px;
                        cursor: pointer;
                        img {
                            width: 20px;
                            height: auto;
                        }
                    }
                }
            }
            .more-history {
                line-height: 50px;
                background: #FAFAFA;
                text-align: center;
                color: #4A4A4A;
                font-size: 15px;
                cursor: pointer;
            }
        }
        .company-travelers {
            .search {
                height: 60px;
                background-color: #EEEEEE;
                margin-top: 10px;
                input {
                    height: 40px;
                    width: 499px;
                    border-radius: 3px;
                    border: none;
                    padding-left: 20px;
                    font-size: 14px;
                    margin-left: 57px;
                    margin-top: 10px;
                    @media(max-width: 767px) {
                        margin-left: 10px;
                        width: calc(100% - 20px);
                    }
                }
            }
            .add {
                cursor: pointer;
                height: 40px;
                width: 260px;
                border: 2px solid #9AA0A6;
                border-radius: 3px;
                border-radius: 3px;
                font-size: 14px;
                font-weight: 500;
                line-height: 36px;
                color: #9AA0A6;
                margin: 10px 0 15px;
                float: right;
                margin-right: 15px;
                img {
                    width: 18px;
                    height: auto;
                    margin-left: 10px;
                    margin-right: 25px;
                    margin-bottom: -4px;
                }
            }
            .traveler-list {
                padding: 0 15px 0 65px;
                clear: both;
                @media(max-width: 767px) {
                    padding-left: 35px;
                }
                li {
                    border-bottom: 1px solid #EEEEEE;
                    position: relative;
                    .first-letter {
                        position: absolute;
                        color: #6E7789;
                        font-size: 15px;
                        font-weight: 500;
                        left: -35px;
                        top: 18px;
                        @media(max-width: 767px) {
                            left: -22px;
                        }
                    }
                    .ava {
                        height: 24px;
                        width: 24px;
                        background-color: #8B8F9B;
                        border-radius: 50%;
                        line-height: 25px;
                        text-align: center;
                        color: #fff;
                        font-size: 11px;
                        font-weight: bold;
                        display: inline-block;
                        margin: 13px;
                    }
                    .info {
                        display: inline-block;
                        vertical-align: top;
                        .name {
                            color: #222936;
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 50px;
                            padding-left: 15px;
                            width: 240px;
                            display: inline-block;
                            text-transform: uppercase;
                            @media(max-width: 767px) {
                                width:auto;
                            }
                        }
                        .place {
                            color: #898F9E;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 50px;
                            display: inline-block;
                            width: 190px;
                            img {
                                width: 9px;
                                margin-right: 5px;
                                line-height: 1;
                            }
                        }
                        .details {
                            cursor: pointer;
                            float: right;
                            width: 50px;
                            height: 50px;
                            text-align: center;
                            padding-top: 17px;
                            position: absolute;
                            right: 0;
                            top: 0;
                            img {
                                width: 3px;
                            }
                        }
                    }
                    .edit {
                        display: inline-block;
                        vertical-align: top;
                        font-size: 0px;
                        position: relative;
                        box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
                        .name-wr {
                            display: inline-block;
                            vertical-align: top;
                            height: 50px;
                            width: 386px;
                            border: 2px solid #FC4955;
                            border-radius: 3px 0 0 3px;
                            @media(max-width: 767px) {
                                width: auto;
                            }
                            .name {
                                color: #222936;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 46px;
                                padding-left: 13px;
                                width: 238px;
                                display: inline-block;
                                text-transform: uppercase;
                            }
                            .create {
                                margin-top: 3px;
                                display: inline-block;
                                vertical-align: top;
                                background-color: #EEEEEE;
                                border-radius: 3px;
                                width: 140px;
                                height: 40px;
                                text-align: center;
                                line-height: 40px;
                                color: #9AA0A6;
                                font-size: 14px;
                                font-weight: 500;
                                cursor: pointer;
                                @media(max-width: 767px) {
                                    margin-left: 98px;
                                    height: 50px;
                                    line-height: 50px;
                                    width: calc(100% - 96px);
                                    margin-top: -1px;
                                    margin-top: 2px;
                                }
                            }
                        }
                        .edit {
                            display: inline-block;
                            vertical-align: top;
                            width: 50px;
                            height: 50px;
                            background: #FC4955;
                            text-align: center;
                            cursor: pointer;
                            img {
                                width: 20px;
                                margin-top: 14px;
                            }
                        }
                        .remove {
                            cursor: pointer;
                            display: inline-block;
                            vertical-align: top;
                            width: 50px;
                            height: 50px;
                            background-color: #C3C3C3;
                            border-radius: 0 3px 3px 0;
                            text-align: center;
                            padding-top: 15px;
                            img {
                                width: 14px;
                                height: auto;
                            }
                        }
                        .remove-popup {
                            position: absolute;
                            z-index: 2;
                            box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.15);
                            border-radius: 5px;
                            width: 490px;
                            top: 67px;
                            left: 0;
                            padding: 50px 45px 28px 75px;
                            background: #fff;
                            text-align: center;
                            &:before {
                                position: absolute;
                                content: '';
                                width: 0;
                                height: 0;
                                border: 15px solid transparent;
                                border-bottom-color: #fff;
                                right: 15px;
                                top: -30px;
                                z-index: 1;
                            }
                            .ttl {
                                color: #FC4955;
                                font-size: 21px;
                                font-weight: 600;
                                margin-bottom: 20px;
                                text-align: left;
                            }
                            p {
                                color: #868C9A;
                                font-size: 15px;
                                text-align: left;
                                margin-bottom: 25px;
                            }
                            .btn {
                                display: inline-block;
                                vertical-align: top;
                                height: 40px;
                                width: 130px;
                                text-align: center;
                                line-height: 40px;
                                font-size: 15px;
                                font-weight: 600;
                                cursor: pointer;
                            }
                            .yes {
                                color: #FFFFFF;
                                background-color: #FC4955;
                            }
                            .no {
                                background-color: #FAFAFA;
                                color: #868C9A;
                                margin-left: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    &__presonal-list {
        margin-bottom: 5px;
        padding-left: 81px;
        @media(max-width: 620px) {
            padding-left: 0px;
            padding-right: 0px;
        }
        li {
            height: 50px;
            position: relative;
            @media(max-width: 620px) {
                margin-bottom: 5px;
            }
            &.grey {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: -65px;
                    right: 15px;
                    bottom: 0;
                    top: 0;
                    background: #FAFAFA;
                    @media(max-width: 620px) {
                        top: -15px;
                        right: 0;
                        left: 0;
                    }
                }
            }
            .ico-chek {
                position: absolute;
                top: 20px;
                left: -35px;
                width: 10px;
                @media(max-width: 620px) {
                    left:11px;
                    top: 15px;
                }
            }
            .name {
                display: inline-flex;
                align-items: center;
                vertical-align: top; // line-height: 46px;
                height: 46px;
                color: #484C58;
                font-size: 13px;
                font-weight: 500;
                width: 170px;
                border: 2px solid transparent;
                position: relative;
                @media(max-width: 620px) {
                    display: none;
                }
            }
            .value {
                display: inline-flex;
                align-items: center;
                vertical-align: top;
                padding-left: 15px; // line-height: 46px;
                height: 46px;
                border: 2px solid transparent;
                position: relative;
                width: calc(100% - 224px);
                span {
                    display: inline-block;
                    max-width: 100%;
                    word-wrap: break-word;
                }
                @media(max-width: 620px) {
                    padding-left: 45px;
                    width: 100%;
                }
                .plchldr {
                    @media(max-width: 620px) {
                        display: none;
                    }
                }
                .mobile-name {
                    display: none;
                    @media(max-width: 620px) {
                        position: absolute;
                        display: block;
                        top: -8px;
                        left: 45px;
                        color: #8B8F9B;
                        font-size: 13px;
                    }
                }
            }
            .change {
                display: inline-block;
                vertical-align: top;
                font-size: 0px;
                position: relative;
                z-index: 1;
                box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
                @media(max-width: 620px) {
                    width: calc(100% - 10px);
                    margin-left: 5px;
                    &.password {
                        width: calc(100% - 60px);
                    }
                }
                .question {
                    line-height: 50px;
                    background-color: #FC4955;
                    padding-left: 15px;
                    font-size: 15px;
                    font-weight: 600;
                    color: #fff;
                    width: 100%;
                    width: 350px;
                    position: relative;
                    @media(max-width: 620px) {
                        width: 100%;
                    }
                    img {
                        position: absolute;
                        width: 20px;
                        right: 13px;
                        top: 13px;
                    }
                }
                .change__inp-gr {
                    position: relative;
                    .small-input {
                        width: 300px;
                        border-radius: 0px;
                        border: 1px solid #EDEDED;
                        &:focus {
                            border: 2px solid #FB5764;
                        }
                        @media(max-width: 620px) {
                            width: 100%;
                        }
                    }
                    .save {
                        position: absolute;
                        right: -50px;
                    }
                }
                .dopdown {
                    position: absolute !important;
                    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.2);
                    top: 100%;
                    left: 0;
                    right: 0;
                    width: 250px;
                    border: 1px solid #EDEDED;
                    border-radius: 3px;
                    background-color: #FFFFFF;
                    .list-wr {
                        max-height: 200px;
                    }
                    li {
                        padding-left: 44px;
                        color: #000000;
                        font-size: 15px;
                        line-height: 45px;
                        cursor: pointer;
                        border-bottom: 1px solid #F9F9F9;
                        background: #fff;
                        transition: background .3s;
                        &:hover {
                            background-color: #c3c5cd;
                        }
                        &:last-child {
                            border: none;
                        }
                    }
                }
                .small-input {
                    width: 250px;
                    height: 50px;
                    border: 2px solid #FC4955;
                    border-radius: 3px 0 0 3px;
                    background-color: #FFFFFF;
                    padding-left: 15px;
                    font-size: 15px;
                    color: #000000;
                    display: inline-block;
                    vertical-align: top;
                    @media(max-width: 620px) {
                        width: calc(100% - 100px);
                    }
                }
				.autocomplete {
					width: 250px;
					@media(max-width: 620px) {
						width: calc(100% - 100px);
					}
					.small-input {
						width: 100%;
					}
				}
                a,
                button {
                    border: none;
                    display: inline-block;
                    vertical-align: top;
                    width: 50px;
                    height: 50px;
                    .lds-spinner {
                        margin-top: 9px;
                    }
                    &.save {
                        background-color: #FC4955;
                        text-align: center;
                        line-height: 50px;
                        img {
                            width: 18px;
                            vertical-align: middle;
                            &.rotate {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    &.remove {
                        background-color: #C3C3C3;
                        text-align: center;
                        line-height: 50px;
                        border-radius: 0 3px 3px 0;
                        img {
                            width: 14px;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
    .mobile-travel {
        .header {
            line-height: 60px;
            background-color: #FC4955;
            color: #FFFFFF;
            font-size: 15px;
            font-weight: 600;
            padding-left: 10px;
            position: relative;
            .close {
                width: 12px;
                height: 12px;
                position: absolute;
                top: 25px;
                right: 10px;
                display: block;
                line-height: 1;
                img {
                    max-width: 100%;
                }
            }
        }
        .body {
            .item {
				display: block;
                margin: 10px;
                border: 1px solid #ECECEE;
                padding: 0 5px;
                .top {
                    border-bottom: 1px solid #ECECEE;
                    .date {
                        float: right;
                        color: #8B8F9B;
                        font-size: 11px;
                        padding-right: 7px;
                        line-height: 40px;
                    }
                    .number {
                        color: #000000;
                        font-size: 14px;
                        line-height: 40px;
                        padding-left: 7px;
                    }
                }
                .middle {
                    color: #000000;
                    opacity: 0.8;
                    font-size: 13px;
                    border-bottom: 1px solid #ECECEE;
                    padding: 10px;
                    .ico-hotel {
                        width: 10px;
                    }
                }
                .bottom {
                    padding-bottom: 5px;
                    .left {
                        color: #8B8F9B;
                        &.green {
                            .ico-status {
                                &:before {
                                    background-color: #1BC1A0;
                                }
                            }
                        }
                        &.grey {
                            .ico-status {
                                &:before {
                                    background-color: #C3C5CD;
                                }
                            }
                        }
                        &.yellow {
                            .ico-status {
                                &:before {
                                    background-color: #FFB63D;
                                }
                            }
                        }
                        .ico-status {
                            font-size: 9px;
                            position: relative;
                            padding-left: 43px;
                            margin-top: 9px;
                            &:before {
                                position: absolute;
                                width: 8px;
                                height: 8px;
                                border-radius: 50%;
                                content: '';
                                left: 15px;
                                top: 0;
                                background: #000;
                            }
                        }
                        .ico-pay {
                            font-size: 9px;
                            padding-left: 43px;
                            margin-top: 5px;
                            position: relative;
                            img {
                                position: absolute;
                                left: 12px;
                                top: 2px;
                                width: 12px;
                            }
                        }
                    }
                    .right {
                        float: right;
                        .price {
                            color: #000000;
                            font-size: 15px;
                            padding-right: 15px;
                            line-height: 29px;
                        }
                        .btn {
                            display: inline-block;
                            height: 29px;
                            width: 90px;
                            border-radius: 3px;
                            background-color: #C3C5CD;
                            text-align: center;
                            line-height: 29px;
                            color: #FFFFFF;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
        .footer-btn {
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #989DA8;
            font-size: 15px;
            font-weight: 500;
            background-color: #FAFAFA;
            margin-bottom: 40px;
        }
    }
    .popup-pay {
        position: absolute;
        left: 0;
        top: 60px;
        right: 0;
        bottom: 0;
        background: rgba(216, 216, 216, 0.38);
        .form {
            position: absolute;
            left: 15px;
            z-index: 1;
            border-radius: 3px;
            background-color: #FFFFFF;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
            width: 590px;
            padding: 40px 30px 50px 35px;
            .close {
                position: absolute;
                width: 12px;
                height: auto;
                top: 15px;
                right: 15px;
            }
            .ttl {
                color: #151922;
                font-size: 18px;
                font-weight: 500;
            }
            ul {
                margin-top: 35px;
                margin-bottom: 45px;
                li {
                    color: #151922;
                    font-size: 14px;
                    line-height: 26px;
                    .name {
                        display: inline-block;
                        width: 140px;
                    }
                }
            }
            .download {
                display: inline-block;
                vertical-align: top;
                height: 50px;
                width: 140px;
                border-radius: 3px;
                background-color: #F43F59;
                border: none;
            }
            .send {
                float: right;
                vertical-align: top;
                font-size: 0px;
                input {
                    height: 50px;
                    width: 250px;
                    border: 2px solid #FC4955;
                    border-radius: 3px 0 0 3px;
                    font-size: 16px;
                    color: #151922;
                    padding-left: 15px;
                    padding-right: 5px;
                }
                button {
                    height: 50px;
                    width: 120px;
                    border: 1px solid #FC4955;
                    border-radius: 0 3px 3px 0;
                    background-color: #FC4955;
                    font-size: 14px;
                    font-weight: 500;
                    color: #FFFFFF;
                }
            }
        }
    }
}
