@import "colors.sass"
.travelers-wr
  margin: 11px 0
  &.travelers-col
    width: 50%
    padding-right: 10px
    li
      padding: 13px 13px 9px 14px
    .content
      margin-top: 4px
  &.reservation-col
    width: 50%
    li
      padding: 18px 13px 14px 19px
    .content
      margin-top: 8px

  .travelers
    border-radius: 3px
    background-color: $black-color


    &:after
      display: block
      clear: both
      content: ''

    .shaw-all-btn
      float: right
      height: 40px
      width: 130px
      border: 2px solid #313547
      border-radius: 100px
      text-align: center
      line-height: 36px
      color: #787F8A
      font-size: 15px
      margin: 10px 16px 0 0
    .count
      color: #6E7789
      font-size: 14px
      margin-top: 21px
      display: inline-block
      margin-left: 16px
    .list-wr
      height: 360px
      margin: 6px 4px 0 13px
    ul
      li

        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5)
        background: linear-gradient(180deg, #272D3A 0%, #292F3E 100%)
        display: block
        list-style-type: none
        box-sizing: border-box
        background-color: #fff
        margin: 0 0 8px
        border-radius: 5px
        background-color: $grey-color
        position: relative
        margin-right: 9px
        .cost
          color: $primary-color
          font-weight: bold
          float: right
        .header
          position: relative
          .arrow
            float: right
            max-height: 13px
            max-width: 8px
            color: $text-color
            cursor: pointer
            margin-top: 4px

          .is-checked
            display: inline-block
            margin-right: 15px
            &.disabled
              background-color: $dark-text-color
            &.warning
              background-color: $orange-color


        .logo
          display: inline-block
          vertical-align: top
          width: 24px
          height: 24px
          background-color: white
          border-radius: 50%
          text-align: center
          margin-right: 12px
          span
            font-size: 10px
            font-weight: 700
            color: #151922
            line-height: 24px

        .header-text
          color: $text-color
          display: inline-block
          vertical-align: top
          margin-top: 3px
          .mini-icon
            width: 10px
            height: 10px
            margin-right: 10px
            display: inline-block
          .hotel
            display: inline-block
            span
              color: $orange-color
            &.disabled, &.warning
              span
                color: $text-color
              .hotel-icon
                fill: $text-color
          .route
            span
              color: $primary-color
            &.disabled, &.warning
              span
                color: $text-color
              .jet-icon
                fill: $text-color


          .name
            font-size: 13px
            font-weight: 500
          .place
            display: inline-block
            margin-left: 10px
            margin-top: 2px
            font-size: 12px
            color: $muted-text-color
            img
              display: inline-block
              height: 12px
              max-height: 12px
              margin-right: 5px
        .content
          .time
            display: flex
            align-items: center
            font-size: 13px
            margin: 5px 0
            .countdown
              margin-left: 10px
              text-decoration: underline

            .icon
              display: inline-block
              width: 15px
              margin: 0 3px
            .date
              display: inline-block

          img.oclock
            width: 15px
            margin-left: -3px
            margin-right: 11px
          .status
            display: flex
            align-items: center
            font-size: 13px
            .mini-icon
              width: 13px
              height: 13px
              margin: 0 5px
            .indicator
              display: block
              width: 8px
              height: 8px
              border-radius: 50%
              background-color: $green-color
              margin: 0 7px
              &._error
                background-color: $orange-color
            .text
              margin-left: 13px
              display: inline-block
              .disabled
                color: $text-color
                .hotel
                  color: $text-color
                .hotel-icon
                  fill: $text-color
                .jet-icon
                  fill: $text-color
              .mini-icon
                display: inline-block

              p
                display: inline-block
                &.hotel
                  color: $orange-color




          p

            &.status
              margin-bottom: 1px
            &.reserv-status
              color: $black-text-color
              font-size: 12px
              display: inline-block
              vertical-align: top
            &.direction
              color: $primary-color

              &.disabled
                color: $black-text-color
            &.date
              display: inline-block
              vertical-align: top
              margin-left: 11px
          .is-checked
            display: inline-block
            vertical-align: top
            margin-top: 4px
            &.disabled
              background-color: $bright-color


    .bottom
        box-shadow: 0 -4px 14px 0 rgba(0,0,0,0.5);
        height: 60px
        position: relative
        z-index: 3
    .title
      box-shadow: 0 4px 11px 0 rgba(0,0,0,0.5)
      z-index: 999
      height: 60px
      display: flex
      width: 100%
      align-items: center
      padding: 0 24px 0 30px
      .right
        margin-left: auto
        .add
          display: flex
          align-items: center
          span
            font-size: 13px
            font-weight: 500
            color: $bright-color
          img
            width: 18px
            margin-right: 11px
      h3
        font-weight: 400
        font-size: 16px
        color: $text-color
      span
        color: $muted-text-color
        transition: all 1s
        cursor: pointer
        &:hover
          color: $primary-color
@media (max-width: 1300px)
  .travelers-wr
    &.travelers-col
      width: 40%
    &.reservation-col
      width: 60%

@media (max-width: 1200px)
  .travelers-wr
    &.travelers-col,
    &.reservation-col
      padding-right: 0
      width: 100%
