.user-bar {
    position: absolute;
    top: 13px;
    right: 40px;
    z-index: 1001;
    &__ico {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 15px;
    }
    &__ico-arrow {
        width: 12px;
        height: 7px;
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
    }
    &__top {
        display: inline-block;
        color: #BABCC4;
        font-size: 15px;
        .name {
            display: inline-block;
            width: 135px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            vertical-align: middle;
        }
    }
    &__dropdown {
        position: absolute;
        width: 217px;
        border-radius: 3px;
        background-color: #FFFFFF;
        top: 57px;
        left: 4px;
        &:before {
            position: absolute;
            content: '';
            width: 0;
            height: 0;
            top: -40px;
            left: calc(50% - 10px);
            border-top: 20px solid transparent;
            border-bottom: 20px solid #fff;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
        }
    }
    &__dropdown-top {
        padding: 24px 18px 13px;
        color: #323647;
        font-size: 15px;
        border-bottom: 2px solid #F0F0F0;
        span {
            float: right;
        }
    }
    &__dropdown-links {
        padding-left: 28px;
        padding-top: 24px;
        padding-bottom: 6px;
        li {
            margin-bottom: 10px;
            a {
                color: #323647;
                font-size: 15px;
                position: relative;
                padding-left: 24px;
                &:before {
                    position: absolute;
                    content: '';
                    left: 0;
                    top: 5px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: #323647;
                }
            }
        }
    }
    &__dropdown-users {
        background-color: #F0F0F0;
        padding-top: 12px;
        padding-left: 15px;
        border-bottom: 1px solid #C3C5CD;
        li {
            margin-bottom: 13px;
            a {
                display: inline-block;
                vertical-align: middle;
                color: #323647;
                font-size: 15px;
            }
        }
    }
    &__dropdown-users-ico {
        width: 30px;
        height: 30px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }
    &__logout {
        background-color: #F0F0F0;
        padding-left: 21px;
        padding-bottom: 15px;
        padding-top: 10px;
        border-radius: 0 0 3px 3px;
        span {
            color: #323647;
            font-weight: 500;
            font-size: 15px;
        }
    }
}

@media (max-width: 992px) {
    .user-bar {
        right: 20px;
        &__top {
            .name {
                padding-left: 10px;
            }
        }
        &__ico {
            margin-right: 0;
        }
    }
}

@media (max-width: 767px) {
    .user-bar {
        .name {
            width: 0;
            padding-left: 0;
        }
        &__dropdown {
            left: auto;
            right: 0;
            &:before {
                left: auto;
                right: 20px;
            }
        }
    }
}