<template lang="pug">
transition(name="fade")
	.reviews-modal(@click.self="close")
		transition(name="slide-left" appear)
			.reviews-modal__body
				.reviews-modal__head {{ $t("hotels.ratingAndReviews", currentLangCode) }}
					.reviews-modal__head-close(@click="close")
				.reviews-modal__inner
					.reviews-modal__subhead
						hotel-rating.reviews-modal__subhead-rating(:rating="rating")
						.reviews-modal__subhead-filter
							h3.reviews-modal__subhead-filter-head {{ $t("hotels.reviewsFilter", currentLangCode) }}:
							ul.reviews-modal__subhead-filter-list
								li.reviews-modal__subhead-filter-item(@click="filter = ''") {{ $t("hotels.allTravelers", currentLangCode) }}
								li.reviews-modal__subhead-filter-item(v-for="(value, name) in filterData"
																	:key="name"
																	@click="filter = name") {{ value.name }} ({{ value.count }})
					h3.reviews-modal__comments-head {{ $t("hotels.allVerifiedComments", currentLangCode) }} ({{ reviewsCount }})
					.reviews-modal__comments
						hotel-review.reviews-modal__comments-item(v-for="review in filteredReviews"
																:key="review.user_name + review.creation_date"
																:review="review")
</template>

<script>
	import HotelRating from "./HotelRating"
	import HotelReview from "./HotelReview"
    export default {
        name: "HotelReviewsModal",
		components: {
        	HotelRating,
			HotelReview
		},
		beforeMount () {
        	document.documentElement.style.overflowY = "hidden"
		},
		destroyed () {
        	document.documentElement.style.overflowY = "auto"
		},
		data () {
        	return {
        		filter: ''
			}
		},
		props: {
        	reviews: {
        		type: Array,
				required: true
			},
			rating: {
        		type: String,
				required: true
			}
		},
		computed: {
        	reviewsCount () {
        		return this.reviews.length
			},
			filterData () {
        		let filterStates = {};
        		for (let review of this.reviews) {
        			let key = review.traveller_type;
					let name = review.traveller_type_name;
					if (key && !filterStates.hasOwnProperty(key)) filterStates[key] = {name, count: 1};
					else if (key) filterStates[key].count++
				}
				return filterStates
			},
			filteredReviews () {
        		return this.filter ? this.reviews.filter(review => review.traveller_type === this.filter) : this.reviews
			}
		},
		methods: {
        	close () {
        		this.$emit('close')
			}
		}
    }
</script>

<style lang="sass" scoped>
@import "../../../styles/sass/colors"
.reviews-modal
	background-color: rgba(black, .5)
	bottom: 0
	left: 0
	position: fixed
	right: 0
	top: 0
	z-index: 1101

	&__body
		background-color: white
		height: 100%
		position: absolute
		right: 0
		top: 0

		@media screen
			@media (max-width: 630px)
				width: 100%
			@media (min-width: 631px) and (max-width: 880px)
				width: 80%
			@media (min-width: 881px) and (max-width: 1300px)
				width: 60%
			@media (min-width: 1300px)
				width: 40%

	&__head
		background-color: $primary-color
		color: white
		font-size: 20px
		font-weight: 400
		line-height: 60px
		padding: 0 10px
		position: relative

		&-close
			$translate: translate(-50%, -50%)
			cursor: pointer
			height: 15px
			position: absolute
			right: 20px
			top: 50%
			transform: translate(0, -50%)
			width: 15px

			&::before, &::after
				$border: 1px solid white
				border-top: $border
				border-bottom: $border
				content: ''
				left: 50%
				position: absolute
				top: 50%
				width: 21px

			&::before
				transform: $translate rotate(45deg)

			&::after
				transform: $translate rotate(-45deg)

	&__inner
		display: flex
		flex-direction: column
		justify-content: flex-start
		max-height: calc(100% - 60px)

	&__subhead
		display: flex
		flex-shrink: 0
		margin-bottom: 5px
		overflow: hidden

		&-rating
			width: 50%
			@media screen and (max-width: 630px)
				width: 100%

		&-filter
			margin-top: 20px
			width: 50%
			@media screen and (max-width: 630px)
				display: none

			&-head
				color: black
				font-size: 14px
				font-weight: 600

			&-list
				list-style-type: initial
				padding-left: 25px

			&-item
				color: $future-text-color
				cursor: pointer
				margin: 5px 0

	&__comments
		overflow: auto
		padding: 10px 15px

		&-head
			color: black
			font-size: 18px
			font-weight: 400
			margin-bottom: 10px
			margin-left: 10px

		&-item
			margin-bottom: 10px
			padding-bottom: 5px

			&:not(:last-child)
				border-bottom: 1px solid $light-grey-color
</style>
