<template lang="pug">
	div.review
		div.review__user
			p.review__user-rating {{ rating }}
			p.review__user-name {{ review.user_name }}
			p.review__user-group {{ review.traveller_type_name }}
			p.review__user-date {{ date }}
		div.review__body
			div.review__body-block(v-if="review.good_description")
				img.review__body-icon.review__body-icon--up(:src="ThumbsUp" align="left")
				p.review__body-paragraph {{ review.good_description }}
			div.review__body-block(v-if="review.bad_description")
				img.review__body-icon.review__body-icon--down(:src="ThumbsDown" align="left")
				p.review__body-paragraph {{ review.bad_description }}
			//div.review__body-block(v-if="review.review_text")
				p.review__body-paragraph {{ review.review_text }}
		div.review__footer(v-if="review.source") {{ $t("hotels.verifiedComment", currentLangCode) }}
			span.review__footer-provider {{ review.source }}
</template>

<script>
	import ThumbsUp from "../../../assets/icons/thumbs_up.svg"
	import ThumbsDown from "../../../assets/icons/thumbs_down.svg"
    export default {
        name: "HotelReview",
		data () {
        	return {
        		ThumbsUp,
				ThumbsDown
			}
		},
		props: {
			review: {
        		type: Object,
				required: true
			}
		},
		computed: {
        	rating () {
        		return parseFloat(this.review.rating).toFixed(1)
			},
			date () {
        		return this.review.creation_date.split('-').reverse().join('.')
			}
		}
    }
</script>

<style lang="sass" scoped>
@import "../../../styles/sass/colors"
.review
	display: grid
	grid-template-areas: "user review" "user provider"
	grid-template-columns: 35% auto
	grid-template-rows: auto 30px
	padding-left: 10px

	&__user
		align-items: flex-start
		display: flex
		grid-area: user
		flex-direction: column

		&-rating
			background-color: $orange-color
			border-radius: 6px
			color: white
			font-size: 20px
			font-weight: 600
			margin-bottom: 15px
			padding: 10px
			width: auto

		&-name, &-group, &-date
			color: $grey-color
			font-size: 14px

		&-name
			font-weight: 600
			margin-bottom: 10px

	&__body
		grid-area: review
		padding-left: 5px

		&-block:not(:last-child)
			margin-bottom: 15px

		&-icon
			margin-right: 10px

			&--up
				margin-top: 3.5px

			&--down
				margin-top: 5.5px

		&-paragraph
			color: $grey-color
			line-height: 1.5

	&__footer
		background-color: $white-gray-color
		grid-area: provider
		line-height: 30px
		padding-right: 10px
		text-align: right

		&-provider
			color: $future-text-color
			font-weight: 600
			margin-left: 3px

</style>
