<template lang="pug">
	div.hotel-rating
		div.hotel-rating__total
			p.hotel-rating__total-box {{ rating }}
			div.hotel-rating__total-text
				p.hotel-rating__total-text-small {{ $t("hotels.customerRating", currentLangCode) }}
				p.hotel-rating__total-text-big {{ ratingString }}
		// TODO: detail rating
</template>

<script>
    export default {
        name: "HotelRating",
		props: {
        	rating: {
        		type: String,
				required: true
			}
		},
		computed: {
			ratingString () {
				const rating = parseFloat(this.rating);
				let output;
				if (rating >= 9) output = 'wonderful';
				else if (rating >= 7) output = 'good';
				else if (rating >= 5) output = 'acceptable';
				else if (rating >= 3) output = 'poor';
				else output = 'veryPoor';
				return this.$t(`hotels.rating.${output}`, this.currentLangCode)
			}
		},
    }
</script>

<style lang="sass" scoped>
@import "../../../styles/sass/colors"
.hotel-rating
	display: flex
	flex-direction: column
	padding: 20px 30px

	&__total
		align-items: center
		display: flex
		justify-content: flex-start

		&-box
			background-color: $orange-color
			border-radius: 6px
			color: white
			font-size: 20px
			font-weight: 600
			padding: 10px
			margin-right: 10px

		&-text
			display: flex
			flex-direction: column
			font-weight: 600

			&-small
				color: $grey-color
				font-size: 16px

			&-big
				color: $grey-color
				font-size: 20px
</style>
