<template>
	<div class="autocomplete">
		<template v-if="label">
			<label :for="inputId">
				{{ label }}
			</label>
			<input type="text"
				   autocomplete="off"
				   ref="input"
				   :class="classList.input"
				   :id="inputId"
				   :value="name"
				   :placeholder="placeholder"
				   @input="updateValue($event.target.value)"
				   @focus="focused = true"
				   v-click-outside="focusOut"
			/>
		</template>
		<input type="text"
			   autocomplete="off"
			   ref="input"
			   :class="classList.input"
			   :value='name'
			   :placeholder="placeholder"
			   @input="updateValue($event.target.value)"
			   @focus="focused = true"
			   v-click-outside="focusOut"
			   v-else
		/>
		<div :class="classList.dropdownWrapper" v-show="focused" v-bar='{useScrollbarPseudo: true}'>
			<ul :class="classList.dropdown">
				<template  v-if="name">
					<li v-for="(item, index) in filteredList"
						:key="index"
						:class="classList.dropdownItem"
						@click.prevent.stop='saveValue(item[fieldName])'
					>
						{{ item[fieldName] }}
					</li>
				</template>
				<template v-else>
					<li v-for="(item, index) in tenRecent"
						v-if="item.hasOwnProperty(fieldName)"
						:key="index"
						:class="classList.dropdownItem"
						@click.prevent.stop='saveValue(item[fieldName])'
					>
						{{ item[fieldName] }}
					</li>
				</template>
			</ul>
		</div>
	</div>

</template>

<script>
	import {get, set} from "../../utils/localStorage"
    export default {
        name: "autocomplete",
		props: {
        	list: {
        		type: Array,
				required: true
			},
			value: {
				type: Object,
				required: true
			},
			ruNameField: {
        		type: String,
				default: "name"
			},
			enNameField: {
        		type: String,
				default: "nameEn"
			},
			placeholder: {
        		type: String,
				default: ""
			},
			focusOnRender: {
        		type: Boolean,
				default: false
			},
			label: {
        		type: String,
				default: ""
			},
			classList: {
        		type: Object,
				default () {
        			return {}
				}
			}
		},
		mounted () {
        	if (this.focusOnRender) this.$refs.input.focus()
		},
		data () {
        	return {
        		name: "",
				recent: [],
				focused: false,
				inputId: `${this.list.length}_${this.placeholder}_${this.value[this.fieldName]}_autocomplete`
			}
		},
		computed: {
        	fieldName () {
				return this.currentLangCode === "ru" ? this.ruNameField : this.enNameField;
			},
        	filteredList () {
        		return this.list.filter(item => item[this.fieldName].toLowerCase().startsWith(this.name.toLowerCase()));
			},
			tenRecent () {
        		return this.recent.slice(0, 10);
			}
		},
		watch: {
        	value: {
        		deep: true,
				immediate: true,
				handler (newValue) {
        			if (newValue.hasOwnProperty(this.fieldName) && newValue[this.fieldName] !== this.name) {
        				this.name = newValue[this.fieldName]
					}
				}
			},
			name: {
        		immediate: true,
				handler (newName) {
        			if (!newName) {
        				this.recent = get("citizenship-autocomplete") || []
					}
				}
			}
		},
		methods: {
        	updateValue (value) {
        		this.name = value;
				let result = this.list.find(item => item[this.fieldName] === value);
				if (typeof result !== "undefined") {
					this.$emit("input", result);
					let oldRecent = get("citizenship-autocomplete") || [];
					oldRecent = oldRecent.filter(item => item[this.fieldName] !== value).slice(0, 9);
					oldRecent.unshift(result);
					this.recent = oldRecent;
					set("citizenship-autocomplete", oldRecent)
				}
				else this.$emit("input", {});
			},
			focusField () {
        		this.$refs.input.focus()
			},
			focusOut () {
        		this.focused = false
			},
			saveValue (value) {
        		this.updateValue(value);
        		this.$refs.input.blur();
				this.focusOut();
			}
		}
    }
</script>

<style scoped>

</style>
