<template>
	<div class="tel-input">
		<div class="flag" @click='toggleList'>
			<img :src="icons[currentCountry.icon]"  class='flag-icon' alt="">
			<ul class='country-list' v-if='isListShowed'>
				<li v-for='country in countries' class='country' @click='setCountry(country)'>
					<img :src="icons[country.icon]"  class='flag-icon' alt="">
					<span class='country-text'>{{country.name_en}}</span>
				</li>
			</ul>
		</div>
		<span class='label'>Телефон</span>
		<input type="text" v-mask="currentCountry.mask" v-model="myInputModel" @input='getValue' :placeholder='currentCountry.mask'>

	</div>
</template>
<script>
import countries from './countries';
import icons from './icons';

export default{
	name: 'tel-input',
	components:{
	},
	props: {
		initValue: {
			type: String,
			default: '+7('
		}
	},
	data(){
		return{
			myInputModel: this.initValue,
			countries: countries,
			icons: icons,
			isListShowed: false,
			currentCountry: { "mask": "+7(###)###-##-##", "cc": "RU", "icon": "russia", "name_en": "Russia", "desc_en": "", "name_ru": "Россия", "desc_ru": "" }
		}
	},
	created(){
	},
	methods: {
		setCountry(country){
			this.currentCountry = country;
			this.myInputModel = '';
		},
		getValue(){
			this.$emit('getValue', this.myInputModel)
		},
		toggleList(){
			this.isListShowed = !this.isListShowed;
		}
	}
}
</script>

<style scoped="">
	.tel-input{
		position: relative;
		display: block;
		width: 100%;
		border: 1px solid #EAEAEA;
		box-sizing: border-box;
		border-radius: 2px;
		height: 55px;
		background-color: #fff
	}
	.label{
		position: absolute;
		left: 74px;
		top: 8px;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 12px;
		color: #C1C4CB;
	}
	.flag{
		width: 55px;
		height: 100%;
		position: absolute;
		background-color: #F2F2F2;
		left: 0;
		top: 0;
		transition: all 0.5s;
		cursor: pointer;
	}
	.flag:hover{
		background-color: #dbdada
	}
	.flag-icon{
		display: block;
		border-radius: 50%;
		border-width: 0;
		width: 25px;
		height: 25px;
		margin: 15px auto;
		background-color: #a4a4a4;
		border-color: green;
	}
	.country-list{
		position: absolute;
		top: 55px;
		left: 0;
		background-color: #fff;
		max-height: 400px;
		width: 400px;
		z-index: 99999999;
		overflow-y: auto;
	}
	.country{
		cursor: pointer;
		transition: all 0.5s;
		padding: 5px;
	}
	.country .flag-icon{
		display: inline-block;
		width: 15px;
		height: 15px;
		margin: 0;
	}
	.country:hover{
		background-color: #F2F2F2;
	}
	.country-text{
		font-size: 16px
	}
	input{
		height: 100%;
		padding: 26px 0 0 74px;
		width: 100%;
		font-weight: 500;
		line-height: 18px;
		font-size: 15px;
		color: #000;

	}

</style>
