.choice-panel
  flex: 1 0 auto
  display: flex
  flex-flow: column wrap
  background-color: #fff
  &.bgt
    background-color: transparent
  .direction
    height: 50px
    background-color: $dark-color
    position: relative
    padding: 18px 15px 8px
    box-sizing: border-box
    a.remove
      position: absolute
      width: 50px
      height: 50px
      right: 0
      background-color: #FC4955
      top: 0
      display: flex
      align-items: center
      justify-content: center
      img
        width: 13px
    a.edit
      position: absolute
      width: 50px
      height: 50px
      right: 50px
      background-color: #787C8B
      top: 0
      display: flex
      align-items: center
      justify-content: center
      img
        width: 18px
    &.selected
      padding: 9px 16px
      .direct
        position: relative
      .abbr
        color: $bright-color
      .date
        position: absolute
        top: 20px
        right: 40px
        text-transform: uppercase
        color: $primary-color


    &.from
      border-left: 5px solid $primary-color
      
    &.to
      border-left: 5px solid $future-text-color
      &.selected
        border-top: 1px solid #babcc4;
      .date

        color: $future-text-color
    
      
      
    span
      color: white
      font-size: 15px
    .edit
      display: inline-block
      vertical-align: top
      position: absolute
      text-align: center
      right: 16px
      top: 22px
      cursor: pointer
      width: 16px
      img
        width: 8px
        height: 13px
    .city
      display: inline-block
      vertical-align: top
      &.width 
        width: 100px
        white-space: nowrap
        text-overflow: ellipsis
        overflow: hidden
    .abbr
      display: inline-block
      vertical-align: top
      margin-left: 20px
      
