
.city-picker
  @media(max-width: 768px)
    min-height: calc(100vh - 60px);
    background: #fff;
  .ul-wr
    margin-bottom: 20px
    ul
      background-color: white
      list-style: none
      margin: 0
      padding: 0
      margin-bottom: 22px
      li
        position: relative
        padding: 16px
        padding-left: 22px
        display: block
        cursor: pointer
        color: $muted-text-color
        @media(max-width: 768px)
          display: flex
        &:hover
          background-color: $list-hover-color
        .city
          color: black
          width: 105px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          white-space: nowrap;
          vertical-align: top
          margin-right: 5px
          @media(max-width: 768px)
            width: calc(50% - 20px)
        .country
          display: inline-block
          width: 130px
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;
          white-space: nowrap;
          vertical-align: top
          margin-right: 5px
          @media(max-width: 768px)
            width: calc(50% - 20px)
        .abbr
          width: 30px
          display: inline-block
  .input
    position: relative
    input
      color: black
      width: 100%
      height: 44px
      padding: 0
      margin: 0
      border: 1px solid $text-color
      font-size: 17px
      padding-left: 21px
      padding-right: 165px
      text-overflow: ellipsis;
      white-space: nowrap;
      border-radius: 0px;
      &.from
        border-left: 5px solid $primary-color
      &.to
        border-left: 5px solid $text-color

    .clear-icon
      position: absolute
      right: 15px
      top: 18px
      width: 13px
      cursor: pointer
    .abbr
      position: absolute
      right: 39px
      top: 14px
      font-weight: 400
      color: $muted-text-color
      font-size: 17px
    .country
      position: absolute
      top: 16px
      color: $muted-text-color
      left: 160px
      max-width: 80px
      overflow: hidden
      white-space: nowrap
      text-overflow: ellipsis
  .empty-btn
    display: block
    margin: 0 auto
    width: 156px
    height: 36px
    border-radius: 50px
    border-color: $primary-color
    color: $primary-color
    
    &.disabled
      display: none

    span
      font-size: 15px
