.date-picker
  position: relative
.mini-calendar
  position: absolute
  left: 0
  display: flex
  flex-flow: column wrap
  color: black
  width: 320px
  &:nth-child(2)
    left: 320px
  @media(max-width: 767px)
    display: block
    width: 100%
    &:nth-child(2)
      display: none
  .calendar
    .header
      @media(max-width: 767px)
        display: none
    .mobile-header
      display: none
      @media(max-width: 767px)
        display: flex
        flex: 0 0 auto
        background-color: $grey-color
        height: 55px
      .col
        width: 50%
        display: flex
        align-items: center
        align-content: center
        justify-content: center
        span
          font-size: 15px
          color: white
          cursor: pointer
          padding-left: 10px
          &.disabled
            color: $calendar-month-text-color
        .bar
          cursor: pointer
          img
            width: 15px
            height: 18px
            margin-bottom: -4px
            &:nth-child(2)
              transform: rotate(180deg)
              margin-left: 3px
    .header
      flex: 0 0 auto
      background-color: $grey-color
      height: 55px
      position: relative
      text-align: center
      &.next
        &:before
          position: absolute
          content: ''
          top: 5px
          bottom: 5px
          left: 0
          width: 1px
          background: #BABCC4
      span
        font-size: 15px
        color: white
        cursor: pointer
        line-height: 55px
        &.next
          left: 36px
        &.prev
          right: 14px
        &.disabled
          color: $calendar-month-text-color

      .bar
        display: inline-block
        vertical-align: top
        cursor: pointer
        line-height: 55px
        margin-right: 10px
        &.next
          left: 15px
        &.prev
          right: 134px
        &.disabled
          background-color: $calendar-month-text-color
          border-color: $calendar-month-text-color
        img
            width: 15px
            height: 18px
            margin-bottom: -5px
            &:nth-child(2)
              transform: rotate(180deg)
              margin-left: 3px


    .content

      .month
        height: 85px
        position: relative
        background-color: #fff
        span
          font-size: 15px
        .switch
          cursor: pointer
          color: $muted-text-color
          &.mobile
            display: none
            @media(max-width: 767px)
              display: block
          span
            position: absolute
            top: 33px
            &.prev
              left: 28px
            &.next
              right: 36px
        img
          height: 8px
          width: 7px
          position: absolute
          top: 38px
          &.prev
            left: 14px
          &.next
            right: 21px
            transform: rotate(180deg)
      ul
        background-color: #fff
        padding: 0 5px
        &.days
          min-height: 345px
        li
          padding: 14px 0
          text-align: center
          display: inline-block
          position: relative
          width: 14.27%
          &.day
            border-top: 1px solid $light-grey-color
            &.past
              opacity: .4
              cursor: not-allowed
            &.today
              position: relative
              &:after
                position: absolute
                content: ''
                width: 4px
                height: 4px
                background-color: #FC4955
                border-radius: 50%
                bottom: 5px
                left: 50%
                margin-left: -2px
          &.pointer
            cursor: pointer
          &:nth-child(7n+7)
            color: $light-grey-color
          &:nth-child(7n+6)
            color: $light-grey-color
          .marked
            position: absolute
            height: 28px
            width: 28px
            top: 9px
            right: 8px
            border-radius: 50%
            border: 1px solid $primary-color
            @media(max-width: 767px)
              right: calc(50% - 14px)
          .drawed
            color: $primary-color
