.passenger-picker
  flex: 1 0 auto
  display: flex
  flex-flow: column wrap
  color: black
  min-height: calc(100vh - 60px);
  .btn
    color: $muted-text-color
    margin: 22px auto
    cursor: pointer
    font-size: 15px
  .total-count
    height: 83px
    padding: 26px 30px
    box-sizing: border-box
    .count
      font-size: 24px
      margin-left: 9px

    .text
      font-size: 12px
      width: 70px
      display: inline-block
      text-align: right
  .empty-btn
    margin: 0 auto
    width: 70%
    border-radius: 26px
  .search-panel
    height: 60px
    position: relative
    padding: 13px 26px
    box-sizing: border-box
    img
      width: 18px
      height: 18px
      right: 29px
      top: 21px
      position: absolute
      cursor: pointer

    input
      position: absolute
      right: 21px
      transition: all 1s
      height: 30px
      width: 84%
      font-size: 15px
      padding-left: 5px
      &.hide
        visibility: hidden
        width: 0
    span
      position: absolute
      text-transform: uppercase
      font-size: 15px
      color: $dark-color
      font-weight: 500
      margin-top: 10px
      transition: all 1s
      &.hide
        opacity: 0
  ul
    list-style: none
    margin: 0
    padding: 0
    max-height: 400px
    li
      display: block
      height: 65px
      margin: 0 10px
      padding: 12px 5px
      box-sizing: border-box
      border-bottom: 1px solid $text-color

      position: relative

      .icon
        top: 10px
        left: 37px
        height: 24px
        width: 24px
        border-radius: 50%
        position: absolute
        background-color: $dark-text-color
        text-align: center
        padding-top: 2px
        box-sizing: border-box
        span

          font-size: 11px
          color: white

      .full-name
        font-size: 13px
        margin-left: 65px
        color: $black-color
        text-transform: uppercase
      .place
        font-size: 12px
        color: $dark-text-color
        margin-left: 65px
        position: relative
        padding-left: 10px
        img
          position: absolute
          height: 13px
          left: 0
          width: 9px

      .first-letter
        position: absolute
        left: 8px
        top: 12px
        color: $muted-text-color
      .is-trip
        width: 20px
        height: 20px
        position: absolute
        right: 20px
        top: 23px
        cursor: pointer
        border: 1px solid $light-grey-color
        border-radius: 3px

        box-sizing: border-box
        .marker
          position: absolute
          left: 3px
          top: 3px
          background-color: $primary-color
          &.checked
            width: 12px
            height: 12px
.new-passenger
  flex-grow: 1 0 auto
  display: flex
  flex-flow: column wrap
  // padding-top: 4px
  .empty-btn
    margin-top: 34px
  .header
    padding: 22px 18px

    box-sizing: padding-box
    p
      margin: 0
      font-size: 14px
      color: $grey-color
      text-transform: uppercase
  ul
    margin: 0
    padding: 0 14px


    li
      position: relative
      width: 100%
      margin: 0 2px 4px 2px
      height: 46px
      padding: 4px 0
      border-radius: 3px
      border: 1px solid $text-color
      font-size: 24px
      transition: all 0.5s
      background-color: #E5E6E9;
      color: #000000;
      text-align: left
      &.selected
        color: white
        background-color: $dark-text-color
        .circle
          background-color: $green-color
      &:hover
        background-color: #E5E6E9


      .text
        font-size: 15px
        margin-left: 42px
      .plus
        position: absolute
        top: 6px
        right: 14px
        cursor: pointer
      .minus
        position: absolute
        top: 6px
        left: 14px
        cursor: pointer
      .count
        position: absolute
        right: 34px
        top: 14px
        font-size: 15px
      &.psng
        .minus
          right: 70px
          left: auto
        .count
          width: 30px
          right: 34px
          text-align: center
        .text
          margin-left: 20px
      .circle
        position: absolute
        top: 18px
        left: 18px
        width: 6px
        background-color: $muted-text-color
        height: 6px
        border-radius: 50%
.passanger-picker-wrap
    max-height: 400px
    overflow: hidden