@import "colors.sass"
@import "choice-panel.sass"
@import "city-picker.sass"
@import "mini-calendar.sass"
@import "passenger-picker.sass"
.informational-panel
  flex: 1 0 auto
  display: flex
  flex-flow: column wrap

  .passengers-list
    margin: 0 auto 0
    ul
      list-style-type: none
      margin: 0
      padding: 0
      li
        margin: 0 4px 4px 4px
        position: relative
        padding: 5px
        box-sizing: border-box
        height: 50px
        width: 260px
        border-radius: 4px
        background-color: $grey-color
        .warning
          position: absolute
          left: 104%
          z-index: 10
          width: 465px
          background: #fff
          padding: 40px 45px 75px 45px
          color: #000
          box-shadow: 0 8px 14px 0 rgba(0,0,0,0.5)
          border-radius: 5px;
          color:#868C9A
          @media(max-width: 840px)
            left: 50%
            transform: translateX(-50%)
            top: 105%
          @media(max-width: 567px)
            width: calc(100% + 60px)
            padding: 30px 35px 55px 35px
          &:before
            position: absolute
            width: 0
            height: 0
            border: 8px solid transparent
            border-right-color: #fff;
            top: 25px
            left: -16px
            content: ''
            @media(max-width: 840px)
              top: -16px
              left: 50%
              margin-left: -8px
              border-right-color: transparent;
              border-bottom-color: #fff;
          .closeWarning
            position: absolute
            top: 15px
            right: 21px
            img
              width: 10px
              height: 10px
          .ttl
            color: #FC4955
            font-size: 21px
            font-weight: 600
            margin-bottom: 30px
            img
              margin-right: 10px
              margin-bottom: -3px
              width: 27px
              height: 24px
        .avatar
          width: 24px
          height: 24px
          position: absolute
          top: 10px
          left: 12px
          border-radius: 50%
          background-color: white
          text-align: center
          span
            display: block
            font-size: 11px
            margin-top: 6px
            color: $dark-color
        .place
          display: block
          position: relative
          color: $dark-text-color
          font-size: 12px
          margin-left: 58px
          margin-top: 6px
          img
            position: absolute
            height: 13px
            width: 9px
            left: -16px
            top: -1px
        .close
          position: absolute
          width: 8px
          height: 8px
          right: 14px
          top: 11px
        .full-name
          display: block

          color: white
          margin-left: 40px
          margin-top: 9px
          font-size: 13px
        .dropdown
          width: 250px
          margin: 0
          position: absolute
          bottom: 5px
          display: block
          .dropbtn
            padding-left: 32px
          .class-logo
            position: absolute
            top: 4px
            left: 4px
            width: 21px
            height: 21px
          .icon
            border: none
          .dropdown-content
            left: 0
            right: 0
            font-size: 15px

.infopanel-tablet
  display: flex
  flex-flow: row nowrap
  justify-content: space-between
  padding: 30px 30px 5px
  align-items: center;
  @media(max-width: 991px)
    padding-top: 70px
    @media(max-width: 767px)
      display: none
  .col1,
  .col2,
  .col3
    height: 50px
  .col1
    flex-basis: 360px
    max-width: 360px;
    @media(max-width: 991px)
      flex-basis: 340px
      max-width: 340px;
    .city
      color: #E1E2E4
      font-size: 18px
      font-weight: 500
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    .passengers
      color: #8B8F9B;
      font-size: 14px;
  .col2
    flex-basis: calc(100% - 410px)
    border-left: 1px solid #787C8B;
    display: flex
    flex-flow: row nowrap
    justify-content: space-around
    align-items: center;
    @media(max-width: 991px)
      flex-basis: calc(100% - 390px)
    .results
      color: #8B8F9B
      font-size: 15px
      font-weight: 500
      @media(max-width: 991px)
        display: none
    .caledar
      width: 24px
      height: 30px
    .direction
      .date
        display: inline-block
        width: 130px
        text-align: center
        color: #FFFFFF
        font-size: 15px
        font-weight: 500
      a
        display: inline-block
        width: 10px
        height: 10px
        img
          width: 100%
          height: 100%
  .col3
    width: 50px
    border-left: 1px solid #787C8B;
    display: flex
    align-items: center
    justify-content: center
    .find
      width: 24px
      height: 24px
      img
        width: 100%
        height: 100%


.searchbar-panel
  flex: 0 0 320px
  display: flex
  flex-flow: row wrap
  box-shadow: 0 0 10px rgba(0,0,0,0.5)
  z-index: 50
  @media(max-width: 768px)
      flex: 0 0 100%
      width: 100%
  &.tablet
    flex-basis: 100%;
    background-color: #303647;
    display: block
    @media(max-width: 768px)
      display: none
  .searchbar
    flex: 1 0
    display: flex
    flex-flow: column wrap
    width: 100%
    .direction-panel
      position: relative
      padding: 0
      display: block
      text-align: center
      @media(max-width: 768px)
        width: 100%;
      &:before
        position: absolute
        content: ''
        top: 0
        left: 0
        right: 0
        height: 200px
        background-color: $grey-color


      .dates-panel
        position: relative
        width: 290px
        height: 64px
        margin: 60px auto 5px
        background-color: white
        border: 7px solid linear-gradient(to bottom, rgba(#1a1f2b, 0.6) 0%, transparent 100%)
        border-radius: 7px
        padding-top: 3px


        &::after
          position: absolute
          content: ''
          top: -7px
          left: -7px
          width: 304px
          height: 110%
          border-radius: 7px
          bottom: 0
          padding: 0
          background: linear-gradient(to bottom, rgba(#000, 0.6) 0%, transparent 100%)
        &::before
          position: absolute
          content: ''
          top: -10px
          left: 125px
          width: 0
          height: 0
          border-left: 20px solid transparent
          border-right: 20px solid transparent
          border-top: 20px solid $grey-color
          z-index: 999
        span.title
            display: block
            text-align: center
            margin-top: 11px
            text-transform: uppercase
            font-size: 13px
            font-weight: 500
            margin-left: 0
            color: $muted-text-color
        .dates
          position: relative
          margin-top: 8px
          z-index: 9
          color: black
          text-align: center
          span
            font-size: 15px
            font-weight: 500

            &.separator
              font-size: 20px
              font-weight: 200
              margin-left: 35px
              margin-right: 35px

            &.date
              cursor: pointer
      .passenger-btn
        position: relative
        width: calc(100% - 30px)
        height: 64px
        margin: 0 auto
        background-color: $grey-color
        border-radius: 7px
        text-align: center

        span
          display: block
          font-size: 13px
          padding-top: 24px
          color: $muted-text-color
          text-transform: uppercase





      .header
        position: relative
        flex: 0
        height: 120px
        width: 290px
        margin: 0 auto
        color: $muted-text-color
        padding: 0


        .direction
          display: inline-block
          width: 120px
          height: 120px
          margin-top: 21px
          position: relative
          vertical-align: top
          text-align: center
          span
            display: block
            font-size: 11px
            font-weight: 500
            line-height: 12px
            margin-top: 23px
            &.abbr
              color: white
              cursor: pointer
              font-weight: 300
              font-size: 36px
            &.city
              color: white
              font-size: 13px



        .icons
          vertical-align: top
          display: inline-block
          position: relative
          width: 50px
          height: 120px
          text-align: center
          img
            width: 28px
            &:first-child
              margin-top: 46px
            &:last-child
              transform: rotate(180deg)
    .search-btn-panel
      display: block
      margin: 0 auto
      width: 100%;
      text-align: center
      &.mrgoff
          padding: 0
          margin: 0
      .empty-btn

        margin: 10px auto
        width: 70%
        height: 60px
        align-content: center
        text-transform: uppercase
        border-radius: 50px
        padding: 12px 0
        box-sizing: border-box
        &.formated
          height: 45px
          padding-top: 5px
          text-transform: uppercase
          font-size: 13px
          border-radius: 5px

        span
          font-size: 14px
