<template>
	<li >
		<img src="../../assets/icons/down-arrow-red.svg" alt="" class="ico-chek" v-show="val && !change"/>
		<div class="name">{{ttl}}</div>
		<span class="value" v-show="!change" v-click-outside='close' @click="open">
			<span class="mobile-name">{{ttl}}</span>
			<span v-if="!displayName" class='plchldr'>__</span>
			<span>{{displayName}}</span>
		</span>
		<div class="change" v-show="change">
			<input  type="text" readonly ref='dropdown' class="small-input" v-model='displayName' :placeholder="placeholder" @keyup.up="up" @keyup.down="down" />
			<input type="hidden" :value='val'/>
			<div class="dopdown"  v-show="change" >
				<div v-bar='{useScrollbarPseudo: true}' >
					<ul class="list-wr">
						<li v-for="(item, index) in names" :key="index" v-show='val !== item.id' @click.prevent.stop='save(item)' :class='{active: index == active}'>
							<template v-if='currentLang.code == "ru"'> {{item.name}}</template>
							<template v-if='currentLang.code == "en"'> {{item.nameEn}}</template>
						</li>
					</ul>
				</div><!-- .list-wr -->
			</div>
			<button href="#" class="save" @click.prevent.stop="close" :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isSaving"></spiner>
				<img src="../../assets/icons/save.svg" alt="" v-if="!isSaving" />
			</button>
			<button href="#" class="remove" @click.prevent.stop="remove" :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isRemoving"></spiner>
				<img src="../../assets/icons/rubbish.svg" alt="" v-if="!isRemoving"  />
			</button>
		</div>
	</li>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner.vue";
export default {
	name: "citizenship-select",
	props: ["value", "names", "ttl", "placeholder", "dataRef", "param", "id"],
	components: {
		spiner: Spinner
	},
	data() {
		return {
			isSaving: false,
			isRemoving: false,
			change: false,
			val: "",
			active: 0,
			displayName: ""
		};
	},
	created() {
		if (this.value != "" || this.value != undefined) {
			this.names.forEach(element => {
				if (element.id == this.value) {
					if (this.currentLang.code == "ru") {
						this.displayName = element.name;
					}
					if (this.currentLang.code == "en") {
						this.displayName = element.nameEn;
					}
					this.val = element.id;
				}
			});
		}
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		up() {
			event.preventDefault();
			if (this.active > 0) {
				this.active--;
			}
		},
		down() {
			event.preventDefault();
			if (this.active < this.names.length - 1) {
				this.active++;
			}
		},
		close() {
			this.change = false;
		},
		ajax() {
			self = this;

			var travelerData = {};
			travelerData[this.param] = this.val;
			if (this.id == "" || this.id == undefined) {
				self.close();
				self.isSaving = false;
				self.isRemoving = false;
				this.val = "";
				this.displayName = "";
				VueNotifications.error({ message: this.$t("validation.fullNameField", this.currentLangCode) });
			} else {
				var travelerData = {};
				travelerData.travelerId = this.id;
				travelerData[this.param] = this.val;
				API.setTrevelerCitizenship(travelerData)
					.then(response => {
						self.isSaving = false;
						self.isRemoving = false;
						if (response.data.status == "success") {
							this.$emit("input", this.val);
							self.close();
							self.$emit("save");
						} else {
							console.log("error" + data);
						}
					})
					.catch(e => {
						self.isSaving = false;
						self.isRemoving = false;
						if (e.response) {
							if (e.response.data.data) {
								e.response.data.data.forEach(function(el) {
									VueNotifications.error({ message: el.message });
								});
							} else {
								VueNotifications.error({ message: e.response.data.error });
							}
						} else {
							console.log(e.response);
						}
					});
			}
		},
		save(val) {
			this.isSaving = true;
			this.val = val.id;
			if (this.currentLang.code == "ru") {
				this.displayName = val.name;
			}
			if (this.currentLang.code == "en") {
				this.displayName = val.nameEn;
			}
			this.ajax();
		},
		open() {
			this.change = true;
			self = this;
			setTimeout(function() {
				self.$refs.dropdown.focus();
			}, 50);
			this.$emit("setActive", this.dataRef);
		},
		remove() {
			this.isRemoving = true;
			this.val = "";
			this.displayName = "";
			this.ajax();
		}
	}
};
</script>
