<template>
	<li>
		<img src="../../assets/icons/down-arrow-red.svg" alt="" class="ico-chek" v-show="!!value && !change"/>
		<div class="name">{{ttl}}</div>
		<span v-click-outside="close" @click="open" >
			<span class="value" v-show="!change">
				<span class="mobile-name">{{ttl}}</span>
				<span v-if="!value" class='plchldr'>________</span>
				<span>{{value}}</span>
			</span>
			<form class="change" v-show="change" @submit.prevent.stop>
				<!-- <input ref="inp" type="text" class="small-input" v-model="tempVal" @keyup.enter='save' :placeholder="placeholder" /> -->
                <masked-input 
                    ref="inp"
					type="text"
                    class="small-input"
                    v-model="tempVal"
                    @keyup.enter='save'
                    :placeholder="placeholder"
					:mask="[/\d/, /\d/, '-', /\d/, /\d/, '-', /\d/, /\d/, /\d/, /\d/]"/>
				</masked-input>
				<button href="#" class="save" @click.prevent.stop="save" :disabled='(isSaving || isRemoving)'>
					<spiner v-if="isSaving"></spiner>
					<img src="../../assets/icons/save.svg" alt="" v-if="!isSaving" />
				</button>
				<button href="#" class="remove" @click.prevent.stop="remove" :disabled='isSaving || isRemoving'>
					<spiner v-if="isRemoving"></spiner>
					<img src="../../assets/icons/rubbish.svg" alt="" v-if="!isRemoving" />
				</button>
			</form>
		</span>
	</li>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner.vue";
export default {
	name: "date-input",
	props: ["value", "ttl", "placeholder", "dataRef", "param", "id"],
	components: {
		spiner: Spinner
	},
	data() {
		return {
			isSaving: false,
			isRemoving: false,
			change: false,
			tempVal: this.value
		};
	},
	computed: {},
	methods: {
		focus() {
			this.$refs.inp.$el.focus();
		},
		close() {
			this.change = false;
		},
		ajax() {
			self = this;
			// тут отправка на сервер
			// и если валидация прошла - сохраняем значение и закрывем
			if (self.id == "" || self.id == undefined) {
				var travelerData = {};
				travelerData[self.param] = self.tempVal;
				API.travelerCreate(travelerData)
					.then(response => {
						self.isSaving = false;
						self.isRemoving = false;
						if (response.data.status == "success") {
							self.close();
							self.$emit("setTravelerId", response.data.data.travelerId);
							self.$emit("input", self.tempVal);
							self.$emit("save");
						} else {
							console.log("error" + data);
						}
					})
					.catch(e => {
						self.isSaving = false;
						self.isRemoving = false;
						if (e.response) {
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						} else {
							console.log(e.response);
						}
					});
			} else {
				var travelerData = { travelerId: self.id };
				travelerData[self.param] = self.tempVal;
				API.travelerUpdate(travelerData)
					.then(response => {
						self.isSaving = false;
						self.isRemoving = false;
						if (response.data.status == "success") {
							self.close();
							self.$emit("input", self.tempVal);
							self.$emit("save");
						} else {
							console.log("error" + data);
						}
					})
					.catch(e => {
						self.isSaving = false;
						self.isRemoving = false;
						if (e.response) {
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						} else {
							console.log(e.response);
						}
					});
			}
		},
		open() {
			this.change = true;
			self = this;
			setTimeout(function() {
				self.focus();
			}, 50);

			this.$emit("setActive", this.dataRef);
		},
		save() {
			this.isSaving = true;
			this.ajax();
		},
		remove() {
			this.tempVal = "";
			this.isRemoving = true;
			this.ajax();
		}
	}
};
</script>