<template>
	<div class="card" v-click-outside='close'>
		<div v-show="!card.isEdit">
			<div class="checker">
				<input type="checkbox" class="checkbox" :id="card.id" v-model="card.status" />
				<label :for="card.id"></label>
			</div><!-- .checker -->
			<div class="name pointer" @click='edit'>{{card.name}}</div>
			<div class="number pointer" @click='edit'>{{card.number}}</div>
			<div class="edit pointer" @click='edit'><img src="../../assets/icons/ellipsis.svg" alt="" /></div>
		</div>
		<form class="editing" v-show="card.isEdit" @submit.prevent>
			<input type="text"  ref='inp' class="card-number" :placeholder='$t("profile.cardNumber", currentLang.code)' v-model='card.number'/>
			<input type="text" class="card-name" :placeholder='$t("profile.cardName", currentLang.code)' v-model='card.name'/>
			<button class="save-btn pointer" @click.prevent.stop='save' :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isSaving"></spiner>
				<img src="../../assets/icons/save.svg" alt="" v-if="!isSaving"/>
			</button>
			<button class="remove-btn pointer" @click.prevent.stop='remove' :disabled='(isSaving || isRemoving)'>
				<spiner v-if="isRemoving"></spiner>
				<img src="../../assets/icons/rubbish.svg" alt="" v-if="!isRemoving"  />
			</button>
		</form><!-- .editing -->
	</div><!-- .card -->
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner.vue";
export default {
	name: "preferencecard",
	props: ["card", "id"],
	components: {
		spiner: Spinner
	},
	data() {
		return {
			// isEdit: false,
			isSaving: false,
			isRemoving: false
		};
	},
	mounted() {
		if (this.card.id == null) {
			self = this;
			setTimeout(() => {
				self.$refs.inp.focus();
			}, 50);
		}
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		open() {
			if (!this.card.isEdit) {
				this.card.isEdit = true;
			}
		},
		close(e) {
			if (this.card.id == undefined) {
				this.$emit("removeCard", null);
			}
			if (this.card.isEdit) {
				this.card.isEdit = false;
			}
		},
		edit() {
			this.card.isEdit = true;
		},
		save() {
			self = this;
			//тут запрос на сервер о изменении данных или сохранение новой карты
			if (this.card.number.trim() == "" || this.card.name.trim() == "") {
				if (this.card.number.trim() == "") {
					VueNotifications.error({ message: "Номер карты обязательное поле" });
				}
				if (this.card.name.trim() == "") {
					VueNotifications.error({ message: "Имя карты обязательное поле" });
				}
			} else {
				this.isSaving = true;
				if (this.card.id == undefined || this.card.id == "") {
					//создание новой карты
					var cardData = {
						travelerId: this.id,
						name: this.card.name,
						number: this.card.number
					};
					API.createPreferenceCard(cardData)
						.then(response => {
							self.isSaving = false;
							if ((response.data.status = "success")) {
								this.card.id = response.data.data.preferenceCardId;
								self.card.isEdit = false;
							} else {
								VueNotifications.error({ message: this.$t("errors.unknownError", this.currentLangCode) });
							}
						})
						.catch(e => {
							self.isSaving = false;
							if (e.response) {
								e.response.data.data.forEach(function(el) {
									VueNotifications.error({ message: el.message });
								});
							} else {
								console.log(e.response);
								VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
							}
						});
				} else {
					//изменение текущей
					var cardData = {
						preferenceCardId: this.card.id,
						travelerId: this.id,
						name: this.card.name,
						number: this.card.number
					};
					API.updatePreferenceCard(cardData)
						.then(response => {
							self.isSaving = false;
							if ((response.data.status = "success")) {
								self.card.isEdit = false;
							} else {
								VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
							}
						})
						.catch(e => {
							self.isSaving = false;
							if (e.response) {
								e.response.data.data.forEach(function(el) {
									VueNotifications.error({ message: el.message });
								});
							} else {
								console.log(e.response);
								VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
							}
						});
				}
			}
		},
		remove() {
			self = this;
			self.isRemoving = true;

			var cardData = {
				preferenceCardId: this.card.id,
				travelerId: this.id
			};
			API.deletePreferenceCard(cardData)
				.then(response => {
					self.isRemoving = false;
					if ((response.data.status = "success")) {
						self.card.isEdit = false;
						self.$emit("removeCard", self.card.id);
					} else {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					self.isRemoving = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				});
		}
	}
};
</script>
