.hotels-workplace
  .hotels-map
    flex: 1 0 auto
    display: flex
    position: relative
    min-height: calc(100vh - 128px)
    .close-icon
      position: absolute
      z-index: 9999
      width: 10px
      height: 10px
      top: 18px
      right: 18px
      cursor: pointer

    .selected-hotel
      z-index: 999
      top: 8px
      left: 8px
      width: 250px
      height: 360px
      position: absolute

    .vue-map-container
      flex: 1 0 auto
      margin: 0 7px 0 7px
