.hotel
  flex: 1 0
  display: flex
  flex-flow: row nowrap
  position: relative
  .hotel-dashboard
    display: inline-block
    vertical-align: top
    margin: 7px 7px 0 0
    width: calc(100% - 321px);
    @media (max-width: 930px)
      display: block
      width: 100%
    .recomendation-block
      text-align: center
      padding: 20px 0
      @media(max-width: 767px)
        display: none
      h3
        font-size: 21px
        color: $light-grey-color
        font-weight: 600
      .hotels-list
        margin-top: 60px
        display: flex
        flex-flow: row nowrap
        justify-content: center
        .hotel-card
          margin: 0 4px
          width: 250px
          height: 360px
    .place-title
      padding: 12px 0 16px 21px
      font-size: 15px
      color: $light-grey-color
      font-weight: 500
    .vue-map-container
      height: 470px
      border-radius: 4px

    .filter-bar
      height: 40px
      background-color: $grey-color
      margin-bottom: 6px
      z-index: 1
      font-size: 0px
      @media (max-width: 1110px)
          height: 80px
      .children-age
        .vue-slider-dot
          border-color: #fff
      .item
        width: 25%
        border-right: 2px solid $dark-color
        display: inline-flex
        height: 40px
        font-size: 14px;
        vertical-align: top
        padding: 0 17px 0 21px
        align-items: center
        @media (max-width: 1110px)
          width: 50%
          &:nth-child(1),
          &:nth-child(2)
              border-bottom: 2px solid $dark-color
        @media (max-width: 360px)
          padding: 0 3px
        &.btn
          background: #FFB63D;
          text-align: center
          cursor: pointer
          justify-content: center
        .text
          p
            color: $light-grey-color
            font-size: 10px
            font-weight: 500
            text-transform: uppercase
            &.content
              margin-top: 3px
              text-transform: capitalize
              color: white
              font-weight: normal
              font-size: 15px

        img
          margin-left: auto
          width: 6px
          height: 10px
