.hotel
  display: block
  @media(max-width: 1200px)
    width: calc(100% - 60px)
  @media(max-width: 767px)
    width: 100%
.informational-sidebar
  display: inline-block
  vertical-align: top
  width: 300px
  margin: 7px
  margin-bottom: 0
  border-radius: 4px
  background-color: $black-color
  @media(max-width: 930px)
    display: block
    width: 100%
  .link
    height: 60px
    display: flex
    flex: row nowrap
    align-items: center
    cursor: pointer
    padding-left: 22px
    color: #fff;
    img
      height: 13px
      width: 7px
    span
      text-transform: uppercase
      font-size: 12px
      font-weight: 600
      margin-left: 10px
  .title
    display: flex
    flex-flow: column nowrap
    height: 240px
    padding: 16px 9px 0px 22px
    background-color: #303647
    h3
      font-size: 23px
      font-weight: 400
    .redirect
      display: flex
      flex-flow: row nowrap
      align-items: center
      margin-top: 12px
      color: #4A90E2
      font-size: 12px
      font-weight: 600
      text-decoration: underline
      &:hover
        text-decoration: none
      img
        width: 12px
        height: 16px
      span
        margin-left: 6px
    .title-footer
      margin-top: auto
      margin-bottom: 15px
      display: flex
      align-items: center
      .rate
        display: flex
        align-items: center
        .box
          width: 40px
          height: 40px
          background: #FFB63D;
          border-radius: 6px;
          line-height: 40px
          text-align: center
          color: #4A4A4A;
          font-size: 17px;
          font-weight: 700
          margin-right: 8px

        span
          font-size: 12px;
          color: #ADADAD;
          letter-spacing: 0;
          font-weight: 600

      .star
        display: flex
        align-items: center
        margin-right: 15px
        padding-top: 8px
        img
          float: left
          width: 13px
          height: 13px
        span
          margin-left: 4px
          font-size: 13px
    .place
      font-size: 12px
      font-weight: 600
      color: #A9ABB2
  .photo
    margin: 10px auto;
    position: relative
    height: 280px
    width: 280px
    display: flex
    flex-flow: column nowrap
    border-radius: 6px

    .label
      margin-top: auto
      position: relative
      height: 50px
      display: flex
      flex: row nowrap
      align-items: center
      padding: 14px
      box-sizing: border-box
      color: white
      background-color: rgba(35,40,54,0.8)
      cursor: pointer
      img
        margin-top: -2px
        width: 16px
        height: 13px
      span
        font-size: 13px
        color: $light-grey-color
        font-weight: 500
        &.photos-count
          margin-left: auto
          margin-right: 5px
          color: $orange-color
          font-size: 14px
          font-weight: bold
  .description
    padding: 39px 18px 18px 18px
    color: $light-grey-color
    font-size: 13px
    font-weight: 500
    .best-rate
      height: 40px
      display: flex
      align-items: center
      align-content: center
      flex-wrap: wrap
      position: relative
      padding-left: 33px
      font-size: 12px
      font-weight: 600
      &:last-of-type
        margin-bottom: 30px
      .img-wr
        position: absolute
        left: -10px
        top: 50%
        transform: translateY(-50%)
        display: flex
        align-items: center
        justify-content: center
        width: 40px
      span
        color: #A9ABB2
        width: 100%
      .ttl
        color: #FFB63D;
        width: 100%
        text-transform: uppercase


    ul
      margin-bottom: 10px
      &.bank-cards
        li
          display: inline-block
          width: 37px
          height: 27px

          border-radius: 3px
          margin: 7px
          list-style-type: none

          background-color: #d3d3d3
      li
        margin: 8px
        margin-left: 32px
        color: #fff
        font-size: 14px
        font-weight: 300
        list-style-type: disc


        .time
          color: $orange-color
          font-size: 15px
          font-style: normal
    h3
      color: #fff
      font-size: 18px
      font-weight: 400
      margin-top: 20px
    .more
      cursor: pointer
      color: $orange-color
      text-decoration: underline
  .other-variant
    .ttl
      line-height: 60px
      font-size: 14px
      color: #fff
      font-weight: 600
      padding-left: 15px
    .list
      display: flex
      flex-wrap: wrap
      .variant
        background: #fff
        border-radius: 6px
        padding: 9px 8px 10px
        margin-bottom: 6px
        display: block
        width: 100%
        &.active
          order: -1
        .top
          display: flex
          .small-photo
            width: 70px
            height: 60px
            background-size: cover
            background-position: center center
            background-repeat: no-repeat
            position: relative
            .open-gallery
              position: absolute
              z-index: 1
              top: 0
              right: 0
              bottom: 0
              left: 0
              cursor: pointer
              img
                position: absolute
                right: 4px
                bottom: 4px
          .desc
            font-size: 14px
            color: #000
            font-weight: 400
            align-self: center
            padding-left: 8px
            width: calc(100% - 70px)
        .bottom
          display: flex
          align-items: center
          align-content: center
          padding-top: 5px
          .price
              width: calc(100% - 106px)
              color: #FC4955
              font-size: 16px
              font-weight: 500
              span
                display: block
                font-size: 12px
                font-weight: 500
                color: #6E727F
          .selected
            width: 106px
            height: 40px
            border: 1px solid #4FC99E
            border-radius: 100px
            text-align: center
            font-size: 14px
            color: #4FC99E
            background: #fff
            &.active
              color: #FC4955
              border-color: #FC4955
