.hotels-filter
  float: left
  width: 240px
  margin: 6px
  background-color: $black-color
  @media (max-width: 960px)
    position: absolute
    min-height: 100%
    left: 60px
    top: 50px
    z-index: 99
    box-shadow: 0 -4px 16px 0 rgba(25,31,42,0.88);
  @media (max-width: 560px)
    box-shadow: none;
    left: 0
    right: 0
    width: auto;
  &.minimized
    max-width: 60px
    @media (max-width: 960px)
      display: none
    span
      display: none
    ul
      display: none
    .accordion
      display: none
  .lg-toggle
    position: relative
    .option
      position: relative
      display: inline-block
      padding: 16px 3px
      box-sizing: border-box
      width: 50%
      height: 50px
      text-align: center

      &.disabled
        span
          color: $black-text-color
        .marker
          background-color: $dark-color
          border-color: $dark-color
      span
        font-size: 15px
        font-weight: 600
        transition: all 1s
        color: white
      .marker
        position: absolute
        bottom: -2px
        left: 18px
        height: 1px
        transition: all 1s
        background-color: $orange-color
        border: 2px solid $orange-color
        border-radius: 3px
        width: 60%


  .accordion
    &.toggle-accordion
      &.hide
        .btn
          .toggle
            background-color: $dark-color
            .circle
              background-color: $black-text-color
              top: 1px
              right: 18px
      .btn
        background-color: $grey-color
        border-radius: 4px
        height: 40px
        box-sizing: border-box
        .counter
          font-size: 15px
          position: absolute
          right: 60px
          color: $black-text-color
          top: 11px
        p
          font-size: 12px
          margin: 0
          color: $black-text-color
        .toggle-checkbox:not(checked) + label
          position: absolute
          right: 0
          top: 12px
      .body
        .more-filters
          color: #F5A623;
          font-size: 15px;
          font-weight: 400
          display: block
          position: relative
          img
            width: 14px
            position: absolute
            right: 0
            top: 5px
            &.rotate
              transform: rotate(180deg)
        .parameter
          font-size: 14px
          i
            font-style: normal
            position: absolute
            color: #ADADAD
            right: 0
            top: 50%
            transform: translateY(-50%)
          .checkbox
            &:checked
              & + label
                position: relative
                padding-right: 15px
                &::before
                  background-color: $orange-color
                &::after
                  border-color: $orange-color

            &:not(checked)
              & + label
                position: relative
                padding-right: 15px
                display: block
                margin-left: 8px
                color: #fff
                font-size: 14px;
                &::after
                  border-color: $black-text-color
                  top: 50%
                  margin-top: -11px
                &::before
                  top: 50%
                  margin-top: -10px
                  left: 2px
                  width: 18px
                  height: 18px
                  background-color: transparent
          span
            color: $black-text-color
            margin-left: 40px
            font-weight: normal
            &.text
              font-weight: 500
              margin-left: 18px
            &.center-text
              margin-left: 60px
          .checkbox
            left: 8px

      p

        text-transform: uppercase
      .text
        margin-left: 10px
    .body
      .cost-range
        text-align: center
        p
          padding: 15px 0
          font-size: 15px
          color: white
      .parameter
        padding: 0 5px
    .range-slider
      .scale
        background-color: $orange-color
        .point
          background-color: $orange-color
    .btn


      .indicator
        background-color: $orange-color
        border: 1px solid $orange-color
    .round-switcher
      .from, .to
        &.active
          background-color: $orange-color
      .line
        background-color: $orange-color
    .status-bar

  .header
    height: 58px
    position: relative
    padding: 24px 9px
    box-sizing: border-box
    span
      color: white
      font-size: 13px
      text-transform: uppercase
    img.switcher
      position: absolute
      top: 21px
      right: 18px
      width: 22px
      height: 22px
      @media (max-width: 960px )
        display: none
    img.close
      display: none
      @media (max-width: 960px )
        position: absolute
        display: block
        top: 21px
        right: 18px
        width: 22px
        height: 22px

.hotels-filter
  .toggle-checkbox
    &:checked
      & + label
        &::before
          background-color: $orange-color
