.hotels-dashboard
  .hotels-workplace
    .hotels-list
      display: flex
      flex-flow: row wrap
      list-style-type: none
      justify-content: flex-start
      align-content: flex-start
      margin: 7px 0 0 0
      padding: 0
      .hotel-card
        margin: 0 10px 10px 0
        min-width: 280px
        width: calc(100% / 5 - 10px)
        @media screen
          @media (max-width: 767px)
            width: calc(100% / 2 - 10px)
            min-width: auto
          @media (max-width: 450px)
            width: 100%
            margin-left: 0

.hotel-card
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  position: relative
  display: flex
  flex-flow: column wrap
  border-radius: 4px
  box-sizing: border-box
  // flex: 0 0 240px
  width:calc(25% - 10px)
  height: 360px
  padding: 4px 10px 10px 10px;
  background-color: $bright-color
  box-shadow: 5px 5px 14px rgba(0, 0, 0, 0.4)
  &.single
    width: 100%
  @media (max-width: 1300px)
    width:calc(33% - 10px)
  @media (max-width: 840px)
    width:calc(50% - 10px)
  @media (max-width: 560px)
    width: 100%
    margin-right: 0
  &::after
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-color: rgba(0, 0, 0, 0.4)
  .title
    z-index: 10
    display: flex
    align-content: center
    border-bottom: 1px solid #8B8F9B;
    height: 30px
    align-items: center
    padding-top: 3px
    img
      width: 11px
      height: 11px
    span
      color: white
      margin-left: 2px
      font-size: 13px;
      &.rate
        font-size: 12px
        margin-left: auto
        background: #FFB63D;
        border-radius: 11px;
        height: 20px
        padding: 0 5px;
        font-weight: 600
        display: flex
        align-items: center
        justify-content: center
  .hotel-title
    z-index: 10
    display: flex
    flex-flow: column
    max-width: 80%
    color: white
    margin-top: 2px
    h3
      // margin-top: 5px
      font-size: 21px;
      line-height: 25px
      font-weight: 300
    .check-in
      margin-top: 5px
      font-size: 13px;
      font-weight: 300;
      color: white
      .nights
        color: #FFB63D
        font-weight: 400
    .place
      font-size: 0px;
      margin-top: 2px
      .ico-place
        display: inline-block
        vertical-align: top
        width: 10px
        margin-right: 5px
      span
        width: calc(100% - 15px)
        display: inline-block
        vertical-align: top
        font-size: 12px;
        font-weight: 400
  hr
    margin: 2px auto
    width: 90%
    height: 0
    border: 1px solid #8B8F9B
    box-sizing: border-box
  .hotel-footer
    z-index: 10
    display: flex
    flex-flow: row
    justify-content: flex-end
    margin-top: auto
    padding: 0 20px 20px 0
    .elements
      display: flex
      flex-flow: column
      text-align: right
      span
        font-weight: normal
      .periode
        color: white
        font-size: 13px
        font-weight: 500
        margin-bottom: 10px
      .actual-cost
        font-size: 24px
        color: $orange-color
      .previous-cost
        font-size: 15px
        color: $primary-color
        text-decoration: line-through
