.searchbar
  .hotel-searchbar
    display: flex
    flex-flow: column wrap
    flex: 1 0
    &.bgt
      background-color: transparent
    .direction
      height: 50px
      background-color: $dark-color
      position: relative
      padding: 18px 15px 8px
      box-sizing: border-box
      &.hotels
        border-left: 5px solid #FFB534;
        span
          color: #FFFFFF
          font-size: 15px

    .passengers-list
      margin: 15px auto 0
      ul
        list-style-type: none
        margin: 0
        padding: 0
        li
          margin: 4px
          position: relative
          padding: 5px
          box-sizing: border-box
          height: 50px
          width: 260px
          margin-left: auto
          margin-right: auto
          text-align: left
          border-radius: 4px
          background-color: $grey-color
          .avatar
            width: 24px
            height: 24px
            position: absolute
            top: 10px
            left: 12px
            border-radius: 50%
            background-color: white
            text-align: center
            span
              display: block
              font-size: 11px
              margin-top: 6px
              color: $dark-color
          .place
            display: block
            position: relative
            color: $dark-text-color
            font-size: 12px
            margin-left: 58px
            margin-top: 6px
            img
              position: absolute
              height: 13px
              width: 9px
              left: -16px
              top: -1px
          .close
            position: absolute
            width: 8px
            height: 8px
            right: 14px
            top: 11px
          .full-name
            display: block

            color: white
            margin-left: 40px
            margin-top: 9px
            font-size: 13px
          .dropdown
            width: 250px
            margin: 0
            position: absolute
            bottom: 5px
            display: block
            .dropbtn
              padding-left: 32px
            .class-logo
              position: absolute
              top: 4px
              left: 4px
              width: 21px
              height: 21px
            .icon
              border: none
            .dropdown-content
              left: 0
              right: 0
              font-size: 15px
    .passenger-picker
      background-color: white
    .date-picker
      .mini-calendar
        .calendar
          .content
            .days
              .drawed
                color: $orange-color
              .marked
                border-color: $orange-color
    .city-picker
      flex: 1 0
      background-color: #fff
      .input
        input
          border-left: 5px solid $orange-color
    .direction-panel
      .primary
        font-size: 13px
        color: $orange-color
      .dates-panel
        .dates
          span
            &.text
              text-transform: uppercase
              color: $muted-text-color
              font-size: 13px


      .header
        padding-top: 30px
        span
          font-size: 14px
          text-transform: uppercase
          margin: 0 26px
          &.right
            margin: 0
            float: right

        .destination
          margin-top: 30px
          position: relative
          border: 2px solid $orange-color
          height: 60px
          border-radius: 5px
          box-sizing: border-box
          background-color: white
          font-size: 28px
          padding-top: 18px
          padding-left: 10px
          text-align: left
          span
            margin: 0
            &.text
              text-transform: capitalize
              font-size: 15px
              font-weight: 500
              color: #6E7789
            &.label
              position: absolute
              top: 12px
              left: 11px
              font-size: 11px
