.rooms-list
  .room-card
    border-radius: 4px;
    .main-info
      height: 200px
      background-color: #EFEFF1;
      border-radius: 4px 4px 0 0;
      display: flex
      flex-flow: row nowrap
      @media(max-width: 767px)
        display: block
        width: 100%
        height: auto;
      .room-photo
        width: 240px
        display: flex
        flex-flow: column nowrap
        padding: 15px
        background-size: cover
        background-position: center;
        background-repeat: no-repeat
        border-top-left-radius: 4px;
        @media(max-width: 767px)
          display: block
          width: 100%
          height: 300px
        .round-btn
          margin-top: auto
          margin-left: auto
          position: relative
          border-radius: 50%
          width: 44px
          height: 44px
          background-color: #fff
          text-align: center
          vertical-align: middle
          transition: all 0.5s
          cursor: pointer
          svg
            width: 19px
            height: 18px
            margin-top: 13px
            transition: all 0.5s
          &:hover
            background-color: $orange-color
          &:hover #wide-svg
            fill: white
      .description
        display: flex
        flex-flow: column nowrap
        padding: 13px
        @media(max-width: 767px)
          display: block
          width: 100%
          background: #fff;
        h3
          color: black
        .features-list
          margin-top: 20px
          .item
            margin-bottom: 6px
            color: black
            font-size: 13px
            img
              display: inline-block
              height: 100%
              vertical-align: middle
              width: 18px
              height: 13px
            span
              margin-left: 11px

    
    .variations  
      font-size: 0px;
      background: #fff;
      padding: 20px;
      border-bottom: 1px solid #EBEBEB;
      &:last-child
        margin-bottom: 8px
        border-radius: 0 0 4px 4px
        border-bottom: none
      .col1,
      .col2,
      .col3
        display: inline-block
        vertical-align: top
        @media(max-width: 767px)
          display: block
          width: 100%
      .col1
        width: 50%
        @media(max-width: 767px)
          width: 100%
        ul
          margin-left: 30px
          @media(max-width: 767px)
            margin-left: 10px
          li
            color: #6E727F;
            font-size: 14px;
            margin-bottom: 5px
            position: relative
            &.big
              display: inline-block
              font-size: 14px;
              font-weight: 600
              border-bottom: 1px dashed #6E727F;
            &.green
              color: #5CAB00;
              border-bottom-color: #5CAB00;
            &:before
              position: absolute
              content: '';
              left: -10px
              top: 6px
              width: 5px
              height: 5px
              background: #6E727F;
              border-radius: 50%;
      .col2
        font-size: 13px;
        width: 25%
        padding-left: 40px
        @media(max-width: 767px)
          width: 100%
        .guest
          color: #8B8F9B;
          font-weight: 500
          margin-bottom: 10px
        .best-price
          color: #5CAB00;
          margin-bottom: 5px

      .col3
        width: 25%
        @media(max-width: 767px)
          width: 100%
        .price-info
          text-align: right
          margin-bottom: 5px
          @media(max-width: 767px)
            text-align: center
          .period
            display: inline-block
            vertical-align: middle
            color: #6E727F;
            font-size: 14px;
            font-weight: 500;
            margin-right: 20px
          .price
            display: inline-block
            vertical-align: middle
            font-size: 22px;
            font-weight: 500;
            color: #FC4955;
            text-align: right
        .cashback-info
          margin-bottom: 5px
          font-size: 13px;
          color: #5CAB00;
          text-align: right
          @media(max-width: 767px)
            text-align: center
        .btn-info
          text-align: right
          @media(max-width: 767px)
            text-align: center
          .btn
            height: 40px;
            width: 160px;
            text-align: center
            border-radius: 100px;
            color: #FFFFFF;
            font-size: 15px;
            font-weight: 600;
            background-color: #FFB63D;
            border: none;
            