<template lang="pug">
	.children-age
		.age {{currentAge}}
		vue-slider(
			:value="value"
			@input='changeAge'
			:real-time="true"
			:min='minAge'
			:max='maxAge'
			:dot-size='sliderConf.dotSize'
			:sliderStyle='sliderConf.sliderStyle'
			:height='sliderConf.height'
			:bgStyle='sliderConf.bgStyle'
			:processStyle='sliderConf.processStyle'
			:tooltip="false")
</template>

<script>
// TODO: translate component
import vueSlider from "vue-slider-component";
export default {
	name: "ChildreAge",
	components: {
		"vue-slider": vueSlider
	},
	props: ["value"],
	data() {
		return {
			sliderConf: {
				value: 0,
				bgStyle: {
					backgroundColor: "transparent"
				},
				height: 5,
				dotSize: 28,
				sliderStyle: [
					{
						backgroundColor: "#ffb63d"
					}
				],
				processStyle: {
					backgroundColor: "transparent"
				}
			},
			minAge: 0,
			maxAge: 17
		};
	},
	computed: {
		currentAge() {
			if (this.value == 0) {
				return "Меньше года";
			} else if (this.value == 1) {
				return this.value + " год";
			} else if (this.value == 2 || this.value == 3 || this.value == 4) {
				return this.value + " года";
			} else if (
				this.value == 5 ||
				this.value == 6 ||
				this.value == 7 ||
				this.value == 8 ||
				this.value == 9 ||
				this.value == 10 ||
				this.value == 11 ||
				this.value == 12 ||
				this.value == 13 ||
				this.value == 14 ||
				this.value == 15 ||
				this.value == 16 ||
				this.value == 17
			) {
				return this.value + " лет";
			}
		}
	},
	methods: {
		changeAge(age) {
			this.$emit("input", age);
		}
	}
};
</script>

<style lang="scss">
.children-age {
	margin: 0 20px;
	.vue-slider-piecewise {
		height: 0;
		border-bottom: 5px dashed #ffb63d;
	}
	.vue-slider-dot {
		background: #ffb63d;
		border: 5px solid #1b1f2b;
		box-shadow: none;
	}
	.age {
		text-align: right;
		color: #a0a0a2;
		font-size: 14px;
		margin-bottom: 5px;
		margin-right: 4px;
	}
}
</style>


