<template lang="pug">
  .choice-panel(:class='{ bgt:isDatePicker}' v-click-outside="hideChoicePanel")
    template(v-if='isFrom || isTo')
      .direction(class='from pointer' v-if='isTo' @click.stop="editCityFrom")
        span(class='city') {{ from.city }},
        span(class='country')  {{ from.country }}
        span(class='abbr') {{ from.abbr }}
      city-picker(:isFrom='isFrom' :isHotel='false' :isTo='isTo' :to='to' :from="from" :currentLang='currentLang' @changeDirection='changeDirection' ref='cityPicker' @closeCityPicker='closeCityPicker')
    template(v-else-if='isDatePicker')
      .direction(class='from selected')
        .direct(class="pointer" @click.stop="editCityFrom")
          span(class='city width') {{ from.city }}
          span(class='abbr') {{ from.abbr }}
        .direct(class="pointer" @click.stop="editCityTo")
          span(class='city width to') {{ to.city }}
          span(class='abbr' class='to') {{ to.abbr }}
          span(class='date') {{ formatedFromDate }}

      template(v-if='isRoundTrip')
        .direction(class='to selected')
          .direct(class="pointer" @click.stop="editCityFrom")
            span(class='city width' class='to') {{ to.city }}
            span(class='abbr' class='to') {{ to.abbr }}
          .direct(class="pointer" @click.stop="editCityTo")
            span(class='city width') {{ from.city }}
            span(class='abbr') {{ from.abbr }}
          span(class='date') {{ formatedToDate }}

      date-picker(@changeRoundTrip='changeRoundTrip'  :changeDate='changeDate' :isHotelSearch='false' :currentLang='currentLang' :isRoundTrip='isRoundTrip' @closeDatePicker='closeDatePicker' @changeDateRange='changeDateRange'  :isAutonomus='false')
    template(v-else)
      .direction(class='from selected')
        .direct(class="pointer" @click.stop="editCityFrom")
          span(class='city width') {{ from.city }}
          span(class='abbr') {{ from.abbr }}
        .direct(class="pointer" @click.stop="editCityTo")
          span(class='city width to') {{ to.city }}
          span(class='abbr to') {{ to.abbr }}
        span(class='date') {{ formatedFromDate }}

      template(v-if='isRoundTrip')
        .direction(class='to selected')
          .direct(class="pointer" @click.stop="editCityFrom")
            span(class='city width' class='to') {{ to.city }}
            span(class='abbr' class='to') {{ to.abbr }}
          .direct(class="pointer" @click.stop="editCityTo")
            span(class='city width') {{ from.city }}
            span(class='abbr') {{ from.abbr }}
          span(class='date') {{ formatedToDate }}

      passenger-picker(:currentLang='currentLang' isHotel='false' :passengers='passengers' :classes='classes' @confirmInformation='confirmInformation')




</template>

<script>
import CityPicker from "./CityPicker.vue";
import DatePicker from "./DatePicker.vue";
import PassengerPicker from "./PassengerPicker.vue";

export default {
	name: "choice-panel",
	props: ["passengers", "changeDate", "currentLang", "classes"],
	components: {
		cityPicker: CityPicker,
		datePicker: DatePicker,
		passengerPicker: PassengerPicker
	},
	data() {
		return {};
	},
	methods: {
		closeCityPicker() {
			this.$emit("showPanel");
		},
		editCityFrom() {
			this.isFrom = true;
			self = this;
			setTimeout(function() {
				self.$refs.cityPicker.focus();
			}, 100);
		},
		editCityTo() {
			this.isTo = true;
			self = this;
			setTimeout(function() {
				self.$refs.cityPicker.focus();
			}, 100);
		},
		hideChoicePanel() {
			this.$store.commit("hideAll");
			this.$emit("showPanel");
		},
		getNewPassengers(type) {
			return this.$store.state.searchparameters.newPassengers[type];
		},
		confirmInformation() {
			this.isPassengerPicker = false;
			this.isFrom = true;
			this.$emit("showPanel");
		},
		changeDirection() {
			if (this.isFrom && !this.isTo) {
				this.isFrom = false;
				if (!!this.to.city) {
					this.$emit("showPanel");
				} else {
					this.isTo = true;
				}
			} else {
				this.isTo = false;
				if (!!this.from.date) {
					this.$emit("showPanel");
				} else {
					this.isDatePicker = true;
				}
			}
		},
		changeRoundTrip(flag) {
			this.isRoundTrip = flag;
			this.$store.commit("changeRoundTrip", flag);
		},
		closeDatePicker() {
			this.isDatePicker = false;
			if (this.totalPassangersCount) {
				this.$emit("showPanel");
			} else {
				this.isPassengerPicker = true;
			}
		},
		changeDateRange(fromDate, toDate) {
			this.$emit("changeDateRange", fromDate, toDate);
		}
	},
	computed: {
		totalPassangersCount() {
			return (
				this.$store.state.searchparameters.selectedPassengers.length +
				this.getNewPassengers("adults") +
				this.getNewPassengers("children") +
				this.getNewPassengers("infants")
			);
		},
		isFrom: {
			get() {
				return this.$store.state.steps.isFrom;
			},
			set(flag) {
				this.$store.commit("setIsFrom", flag);
			}
		},
		isTo: {
			get() {
				return this.$store.state.steps.isTo;
			},
			set(flag) {
				this.$store.commit("setIsTo", flag);
			}
		},
		isDatePicker: {
			get() {
				return this.$store.state.steps.isDatePicker;
			},
			set(flag) {
				this.$store.commit("setIsDatePicker", flag);
			}
		},
		isPassengerPicker: {
			get() {
				return this.$store.state.steps.isPassengerPicker;
			},
			set(flag) {
				this.$store.commit("setIsPassengerPicker", flag);
			}
		},
		isRoundTrip: {
			get() {
				return this.$store.state.steps.isRoundTrip;
			},
			set(flag) {
				this.$store.commit("setIsRoundTrip", flag);
			}
		},
		shortMonthsLabels() {
			return this.$t("main.shortMonthsLabels", this.currentLangCode)
		},
		from() {
			return this.$store.state.searchparameters.from;
		},
		to() {
			return this.$store.state.searchparameters.to;
		},
		fromDate() {
			return this.$store.state.searchparameters.from.date;
		},
		toDate() {
			return this.$store.state.searchparameters.to.date;
		},
		formatedFromDate() {
			if (+this.fromDate == 0) {
				return;
			}
			var date = new Date(this.fromDate),
				day = date.getDate(),
				month = this.shortMonthsLabels[date.getMonth()];
			return "" + day + " " + month;
		},
		formatedToDate() {
			if (+this.toDate == 0) {
				return;
			}
			var date = new Date(this.toDate),
				day = date.getDate(),
				month = this.shortMonthsLabels[date.getMonth()];
			return "" + day + " " + month;
		}
	}
};
</script>

<style lang='sass'>

</style>
