<template lang="pug">
  .city-picker
    .input
      input(:class='{from:isFrom, to:!isFrom}' ref='searchCity' autofocus type='text' v-model.trim='currentCity' @keyup.delete='getCities' @keyup.enter='send' @input='getCities' :placeholder="placeholder")
      img(class='clear-icon'   @click.stop='closeCityPicker' src='../../assets/icons/clear.svg')
      span(class='abbr' ) {{currentAbbr}}
      span(class='country') {{ currentCountry }}
    div(class="ul-wr")
      div(class="floatingBarsG" v-show='showLoader')
        div(class="blockG rotateG_01")
        div(class="blockG rotateG_02")
        div(class="blockG rotateG_03")
        div(class="blockG rotateG_04")
        div(class="blockG rotateG_05")
        div(class="blockG rotateG_06")
        div(class="blockG rotateG_07")
        div(class="blockG rotateG_08")
      ul
        li(v-for='city in cities' @click.stop='selectCity(city.label, city.cityCode, city.country)' )
          span(class='city') {{ city.label }}
          span(class='country') {{ city.country }}
          span(class='abbr') {{ city.cityCode }}
    .empty-btn(:class='{disabled: !currentAbbr}'   @click.stop='send')
      template(v-if='closeAfterSelect')
        span {{ $t("cityPicker.change", currentLang.code) }}
      template(v-else-if='isHotel')
        span {{ $t("cityPicker.when", currentLang.code) }}
      template(v-else-if='isFrom')
        span {{ $t("cityPicker.where", currentLang.code) }}
      template(v-else)
        span {{ $t("cityPicker.when", currentLang.code) }}
</template>

<script>
import { API } from "../../api.js";
import axios from 'axios';
const isRequestCancelled = axios.isCancel;
const CancelToken = axios.CancelToken;

export default {
	name: "city-picker",
	props: ["isFrom", "isTo", "to", "from", "currentLang", "isHotel"],
	data() {
		return {
			showLoader: false,
			currentCity: "",
			currentAbbr: "",
			currentCountry: "",
			selectedCity: "",
			cities: [],
			closeAfterSelect: false,
			chosenFrom: false,
			chosenTo: false,
			timeout: null,
			cancelToken: null
		};
	},
	created() {
		this.chosenFrom = false;
		this.chosenTo = false;
	},
	mounted() {
		this.focus();
		if (this.isHotel) {
			if (!!this.to.date) {
				this.closeAfterSelect = true;
			}
		} else {
			if (this.isFrom && !!this.to.city) {
				this.closeAfterSelect = true;
			} else if (this.isTo && !!this.from.date) {
				this.closeAfterSelect = true;
			}
		}
	},
	computed: {
		placeholder() {
			if (this.isFrom) {
				return this.$t("direction.departureCity", this.currentLangCode);
			} else {
				return this.$t("direction.arrivalCity", this.currentLangCode);
			}
		}
	},
	methods: {
		closeCityPicker() {
			this.$emit("closeCityPicker");
		},
		focus() {
			this.$refs.searchCity.focus();
		},
		getCities() {
			this.showLoader = true;
			clearTimeout(self.timeout);
			this.timeout = setTimeout(() => {
				this.timeout = null;
				if (this.currentCity.length > 2) {
					this.getCitiesAjax();
				} else this.cities = [];
			}, 400);
		},
		clearInput() {
			this.currentCity = "";
			this.currentAbbr = "";
			this.currentCountry = "";
			this.selectedCity = "";
		},
		selectCity(city, abbr, country) {
			if (this.isFrom) {
				this.chosenFrom = true;
			} else if (this.isTo) {
				this.chosenTo = true;
			}
			this.currentAbbr = abbr;
			this.currentCountry = country;
			this.currentCity = city;
			this.selectedCity = city;
			this.cities = [];
		},
		getCitiesAjax() {
			this.showLoader = true;
			if (this.cancelToken) this.cancelToken.cancel('New search executed');
			const cancelToken = this.cancelToken = CancelToken.source();
			API.getCities({
				city: this.currentCity.toLowerCase(),
				lang: this.currentLang.code
			}, {cancelToken: cancelToken.token})
				.then(response => {
					const data = response.data;
					if (data.status === "success") {
						this.cancelToken = null;
						this.showLoader = false;
						if (data.data.length >= 2) this.cities = data.data;
						else {
							if (!this.chosenFrom && this.isFrom) this.chosenFrom = true;
							else if (!this.chosenTo && this.isTo) this.chosenTo = true;
							this.selectCity(
								data.data[0].label,
								data.data[0].cityCode,
								data.data[0].country
							);
							this.send();
						}
					} else return Promise.reject({response})
				})
				.catch(e => {
					if (!isRequestCancelled(e)) this.cancelToken = null;
					if (e.response && e.response.data) console.log(e.response.data);
				});
		},
		send() {
			var payload = {};
			if (this.selectedCity) {
				payload.city = this.selectedCity;
				payload.abbr = this.currentAbbr;
				payload.country = this.currentCountry;
				if (this.isHotel) {
					this.$store.commit("setFromCity", payload);
				} else if (this.isFrom) {
					this.$store.commit("setFromCity", payload);
				} else {
					this.$store.commit("setToCity", payload);
				}
				this.$emit("changeDirection", this.closeAfterSelect);
				this.cities = [];
				this.currentCity = "";
				this.currentAbbr = "";
				this.currentCountry = "";
				this.selectedCity = "";
				// this.focus();
			}
		}
	}
};
</script>

<style lang='sass'>

</style>
