<template lang="pug">
  .date-picker
    mini-calendar(:changeDate='changeDate' :isAutonomus='isAutonomus' :isHotelSearch='isHotelSearch' :currentLang='currentLang' :isNext='false' :isRoundTrip='isRoundTrip' @setTempToDate='setTempToDate' :tempToDate='tempToDate' ref='prev' @changeMonth='previousMonth' @nextMonth='nextMonth' @changeRoundTrip='changeRoundTrip' @closeDatePicker='closeDatePicker')
    mini-calendar(:changeDate='changeDate' :isAutonomus='isAutonomus' :isHotelSearch='isHotelSearch' :currentLang='currentLang' :isNext='true' :isRoundTrip='isRoundTrip' @setTempToDate='setTempToDate' :tempToDate='tempToDate' ref='next' @changeMonth='nextMonth' @nextMonth='nextMonth'  @changeRoundTrip='changeRoundTrip' @closeDatePicker='closeDatePicker')


</template>

<script>
import MiniCalendar from "./MiniCalendar.vue";
export default {
	name: "date-picker",
	props: [
		"changeDate",
		"isRoundTrip",
		"currentLang",
		"hotelsSearchInformation",
		"monthsLabels",
		"isAutonomus",
		"isHotelSearch"
	],
	components: {
		miniCalendar: MiniCalendar
	},
	data() {
		return {
			tempToDate: ""
		};
	},
	mounted() {
		if (this.changeDate == "from") {
			if (
				this.$store.state.searchparameters.from.date != 0 &&
				this.isRoundTrip
			) {
				this.tempToDate = new Date(
					this.$store.state.searchparameters.from.date
				);
			}
		} else {
			if (this.$store.state.searchparameters.to.date != 0 && this.isRoundTrip) {
				this.tempToDate = new Date(this.$store.state.searchparameters.to.date);
			}
		}
	},
	beforeDestroy() {
		//если не выбрали дату - ставик какая была до этого
		if (this.$store.state.searchparameters.from.date === 0) {
			this.$store.commit("setFromDate", this.oldValueFrom);
		}
		if (this.$store.state.searchparameters.to.date === 0 && this.isRoundTrip) {
			this.$store.commit("setToDate", this.oldValueTo);
		}
	},
	methods: {
		nextMonth() {
			this.$refs.prev.nextMonth();
			this.$refs.next.nextMonth();
		},
		previousMonth() {
			this.$refs.prev.prevMonth();
			this.$refs.next.prevMonth();
		},
		setFromDate(date) {
			this.fromDate = date;
		},
		setToDate(date) {
			this.toDate = date;
		},
		changeRoundTrip(flag) {
			this.$emit("changeRoundTrip", flag);
		},
		closeDatePicker() {
			this.$emit("changeDateRange", this.fromDate, this.toDate);
			this.$emit("closeDatePicker");
			if (this.hotelsSearchInformation) {
				this.hotelsSearchInformation.fromDate = this.fromDate;
				this.hotelsSearchInformation.toDate = this.toDate;
			}
		},
		setTempToDate(date) {
			if (this.fromDate != 0) {
				this.tempToDate = date;
			}
		}
	}
};
</script>

<style lang='sass'>

</style>
