<template lang="pug">
  .informational-panel(v-if='!tabletView')
    .direction-panel
      .header
        .direction
          span {{ $t("direction.from", currentLang.code) }}
          span(class='abbr' v-if='from.abbr' @click='selectCityFrom') {{from.abbr}}
          span(class='abbr' v-else @click='selectCityFrom') _ _ _
          span(:class="{ city: from.city }")
            template(v-if='from.city') {{ from.city }}
            template(v-else) {{ $t("direction.selectCity", currentLang.code) }}
        .icons
          template(v-if='from.city && to.city')
            img(src='../../assets/icons/jet.svg' class='pointer' @click='changeFromTo')
            img(src='../../assets/icons/jet.svg' class='pointer' @click='changeFromTo')
          template(v-else)
            img(src='../../assets/icons/disabled-jet.svg')
            img(src='../../assets/icons/disabled-jet.svg')

        .direction
          span {{ $t("direction.to", currentLang.code) }}
          span(class='abbr' v-if='to.abbr' @click='selectCityTo') {{to.abbr}}
          span(class='abbr' v-else @click='selectCityFrom') _ _ _
          span(:class="{ city: to.city }")
            template(v-if='to.city') {{ to.city }}
            template(v-else) {{ $t("direction.selectCity", currentLang.code) }}
      .dates-panel
        span(class='title') {{ $t("direction.depatureDate", currentLang.code) }}
        .dates
          span(class='date' @click='selectDateFrom') {{ formatedFromDate }}
          span(class='separator') |
          span(class='date' @click='selectDateTo') {{ formatedToDate }}
      .passenger-btn(v-if='totalPassangersCount==0')
        span {{ $t("direction.passengers", currentLang.code) }}

    .new-passengers-list(v-if="newPassengersCount")
      .passenger-class-picker
        .new-passenger
          ul
            li( class='pointer')
              .circle
              span(class='text') {{ getClass(getNewPassengersClassId) }}
                span(class='count') {{newPassengersCount}} {{ $t("passengers.suit", currentLang.code) }}
          ul
            li(v-for='type in passagerTypes' v-if="getNewPassengers(type.name) > 0" class='psng')
              span(class='minus' @click='removePassengerType(type)') –
              span(class='text') {{ type.title }}
              span(class='count') {{ getNewPassengers(type.name) + ' ' }}
              span(class='plus' @click='addPassengerType(type)') +

    .passengers-list(v-if='passengers')
      ul
        passenger( v-for='(passenger, index) in selectedPassengers' :key='index' :classes="classes" :passenger="passenger")

    template(v-if='!!this.to.abbr && !!this.from.abbr && fromDate')
      .search-btn-panel(class='mrgoff')
        .empty-btn(class='formated' @click='openPassengerPicker')
            span {{ $t("direction.addPassenger", currentLang.code) }}
        .empty-btn(@click='search')
          span {{ $t("direction.search", currentLang.code) }}
    template(v-else)
      .search-btn-panel
        .empty-btn(@click='search')
          span {{ $t("direction.search", currentLang.code) }}
  .infopanel-tablet(v-else)
    .col1
      .city
        template {{from.city}}  →  {{to.city}}
        template(v-if="isRoundTrip") →  {{from.city}}
      .passengers 1 взрослый  |  Бизнес класс
    .col2
      img(class='caledar' src='../../assets/icons/calendar-dark.svg')
      .date
        .from.direction


          .date {{getDateForTable(from.date)}}
        .to.direction(v-if='isRoundTrip')


          .date {{getDateForTable(to.date)}}
      .results Результатов: 24 из 591
    .col3
      a(href='' class="find")
        img(src="../../assets/icons/search.svg")

</template>
<script>
import formateDate from "../../utils/formateDateFromValue2";
import passenger from "./Passenger";
import { API } from "../../api.js";
import _ from "lodash";

export default {
	name: "informational-panel",
	props: ["currentLang", "passengers"],
	components: {
		passenger: passenger
	},
	mounted() {
		window.vue = this;
	},
	watch: {
		"$store.state.currencies.selectedCurrency": {
			handler () {
				this.search()
			},
			deep: true
		}
	},
	computed: {
		monthName () {
			return this.$t("main.shortMonthsLabels", this.currentLangCode)
		},
		dateName () {
			let clone = _.clone(this.$t("main.daysLabels", this.currentLangCode));
			clone.unshift(clone.pop());
			return clone;
		},
		isFrom: {
			get() {
				return this.$store.state.steps.isFrom;
			},
			set(flag) {
				this.$store.commit("setIsFrom", flag);
			}
		},
		isTo: {
			get() {
				return this.$store.state.steps.isTo;
			},
			set(flag) {
				this.$store.commit("setIsTo", flag);
			}
		},
		isDatePicker: {
			get() {
				return this.$store.state.steps.isDatePicker;
			},
			set(flag) {
				this.$store.commit("setIsDatePicker", flag);
			}
		},
		isPassengerPicker: {
			get() {
				return this.$store.state.steps.isPassengerPicker;
			},
			set(flag) {
				this.$store.commit("setIsPassengerPicker", flag);
			}
		},
		isRoundTrip: {
			get() {
				return this.$store.state.steps.isRoundTrip;
			},
			set(flag) {
				this.$store.commit("setIsRoundTrip", flag);
			}
		},
		tabletView() {
			return this.$store.state.params.tabletView;
		},
		// isRoundTrip() {
		// 	return this.$store.getters.getIsRound();
		// },
		passagerTypes() {
			let passengers =  _.cloneDeep(this.$store.state.params.passagerTypes);
			return passengers.map((passenger, index) => {
				passenger.title = this.$t("passengerTypes", this.currentLangCode)[index];
				return passenger;
			})
		},
		totalPassangersCount() {
			return this.selectedPassengers.length + this.newPassengersCount;
		},
		classes() {
			let classes = _.cloneDeep(this.$store.state.params.classes);
			return classes.map(flightClass => {
				flightClass.title = this.$t("flightClasses", this.currentLangCode)[flightClass.id];
				return flightClass;
			})
		},
		from() {
			return this.$store.state.searchparameters.from;
		},
		to() {
			return this.$store.state.searchparameters.to;
		},
		fromDate() {
			return this.$store.state.searchparameters.from.date;
		},
		toDate() {
			return this.$store.state.searchparameters.to.date;
		},
		newPassengersCount() {
			return (
				this.getNewPassengers("adults") +
				this.getNewPassengers("children") +
				this.getNewPassengers("infants")
			);
		},
		getNewPassengersClassId() {
			return this.$store.state.searchparameters.newPassengers.class;
		},
		selectedPassengers() {
			return this.$store.state.searchparameters.selectedPassengers;
		},
		formatedFromDate() {
			if (this.fromDate == 0) {
				return "__.__.____";
			}
			var date = new Date(this.fromDate),
				day = date.getDate(),
				month = date.getMonth() + 1,
				year = date.getFullYear();
			if (day < 10) {
				day = "0" + day;
			}
			if (month < 10) {
				month = "0" + month;
			}

			return day + "." + month + "." + year;
		},
		filteredPassengers() {
			var index = this.passengers.length,
				result = [],
				classIndex = this.classes.length,
				isClassSelect = false;

			while (classIndex--) {
				if (this.classes[classIndex]["count"] > 0) {
					isClassSelect = this.classes[classIndex]["id"];
				}
			}

			while (index--) {
				if (this.passengers[index]["isTrip"] && isClassSelect) {
					this.passengers[index]["classID"] = isClassSelect;
					result.push(this.passengers[index]);
				}
			}
			return result;
		},
		formatedToDate() {
			if (this.toDate == 0) {
				return "__.__.____";
			}
			var date = new Date(this.toDate),
				day = date.getDate(),
				month = date.getMonth() + 1,
				year = date.getFullYear();
			if (day < 10) {
				day = "0" + day;
			}
			if (month < 10) {
				month = "0" + month;
			}

			return day + "." + month + "." + year;
		}
	},
	methods: {
		getDateForTable(d) {
			var date = new Date(d);
			var day = this.dateName[date.getDay()];
			var month = this.monthName[date.getMonth()];
			var date = date.getDate();
			return day + "., " + date + " " + month + ".";
		},
		changeFromTo() {
			this.$store.commit("changeFrom2To");
		},
		addPassengerType(type) {
			this.$store.commit("increaseNewPassengersCount", type.name); //---
		},
		removePassengerType(type) {
			this.$store.commit("descreaseNewPassengersCount", type.name); //---
		},
		getNewPassengers(type) {
			return this.$store.state.searchparameters.newPassengers[type];
		},
		search() {
			var self = this;

			if (!this.from.abbr) {
				//если не выбран город ИЗ - покажем
				this.selectCityFrom();
			} else if (!this.to.abbr) {
				//если не выбран город В - покажем
				this.isTo = true;
				this.$emit("hideInformationalPanel");
			} else if (!this.fromDate) {
				//не выбрана дата - покажем
				this.isDatePicker = true;
				this.$emit("hideInformationalPanel");
			} else if (
				this.newPassengersCount == 0 &&
				this.selectedPassengers.length == 0
			) {
				//не выбран пассажир - покажем
				this.openPassengerPicker();
			} else {
				//если все выбрано - делаем поиск
				this.$Progress.setColor("#FC4955");
				this.$store.commit("setIsTicket");
				this.$store.commit("runPreloader");
				this.$Progress.start();

				var dateFrom = formateDate(this.from.date);
				var dateTo = "";
				if (this.isRoundTrip && this.to.date != 0) {
					dateTo = formateDate(this.to.date);
				}

				var travelers = [];
				var travelersClass = [];
				var adults = 0;
				var childs = 0;
				var infants = 0;
				var travelerClass = +this.selectedPassengers.every(passenger => passenger.classID === 1);
				var today = new Date();
				today.setHours(0, 0, 0, 0);
				this.selectedPassengers.forEach(function(element) {
					travelers.push(element.travelerId);
					travelersClass.push(element.classID);
					var d = parseInt(element.birthday.slice(0, 2));
					var m = parseInt(element.birthday.slice(3, 5));
					var y = parseInt(element.birthday.slice(6, 10));
					var years =
						today.getFullYear() -
						y -
						((today.getMonth() - --m || today.getDate() - d) < 0);
					if (years < 2) {
						infants++;
					} else if (years < 12) {
						childs++;
					} else {
						adults++;
					}
				});

				if (self.getNewPassengersClassId === 0) {
					travelerClass = 0;
				}
				var search = {
					startDate: dateFrom,
					cityTo: this.to.abbr,
					cityFrom: this.from.abbr,
					adults: parseInt(this.getNewPassengers("adults")) + adults,
					children: parseInt(this.getNewPassengers("children")) + childs,
					infants: parseInt(this.getNewPassengers("infants")) + infants,
					class: travelerClass,
					travelers: travelers,
					travelersClass: travelersClass,
					lang: this.currentLang.code,
          			currency: this.$store.state.currencies.selectedCurrency.code
				};
				if (this.isRoundTrip && this.to.date != 0) {
					search.endDate = dateTo;
					this.$store.commit("changeRoundTripSearch", true);
				} else {
					this.$store.commit("changeRoundTripSearch", false);
				}
				this.$store.commit("setClassId", travelerClass);
				this.$store.commit(
					"setPassengersForFlight",
					this.$store.state.searchparameters.selectedPassengers
				);

				API.getFlights(search)
					.then(response => {
						var data = response.data;
						if (data.status === "success") {
							this.$store.commit("loadFlight", data.data.trips || []);
							this.$store.commit("loadAirlines", data.data.airlines || {});
							this.$store.commit("loadAirports", data.data.airports || {});
							this.$store.commit("loadAlliances", data.data.alliances);
							this.$store.commit("setSearchId", data.data.searchId);
							console.log(data);

							// self.$Progress.finish();
							var tempTransition = {
								speed: "0.2s",
								opacity: "0.6s",
								termination: 300
							};
							// self.$Progress.tempTransition(temp)
							self.$Progress.set(10000);
							setTimeout(function() {
								self.$store.commit("stopPreloader");
								self.$router.push("/ticket-selection");
								self.$Progress.set(0);
								// self.$Progress.revertTransition()
							}, 500);
						} else {
							return Promise.reject({response});
						}
					})
					.catch(e => {
						console.log(e);
						setTimeout(function() {
							self.$store.commit("stopPreloader");
							self.$router.push("/");
							self.$Progress.set(0);
							// self.$Progress.revertTransition()
						}, 500);
					});
			}
		},
		changeClass(passenger, classID) {
			passenger["classID"] = classID;
			this.$forceUpdate();
		},
		removePassenger(passenger) {
			passenger["isTrip"] = false;
			passenger["classID"] = 0;
		},
		openPassengerPicker() {
			this.isPassengerPicker = true;
			this.$emit("hideInformationalPanel");
		},
		selectCityFrom() {
			this.isFrom = true;
			this.$emit("hideInformationalPanel");
		},
		selectCityTo() {
			if (!!this.from.abbr) {
				//если выбран город ИЗ
				this.isTo = true;
			} else {
				this.isFrom = true;
			}
			this.$emit("hideInformationalPanel");
		},
		selectDateFrom() {
			if (!this.from.abbr) {
				//если не выбран город ИЗ - покажем
				this.isFrom = true;
			} else if (!this.to.abbr) {
				//если не выбран город В - покажем
				this.isTo = true;
			} else {
				//если города выгбраны - покажем календарь
				this.$emit("setChangeDate", "from");
				this.isDatePicker = true;
			}
			this.$emit("hideInformationalPanel");
		},
		selectDateTo() {
			if (!this.from.abbr) {
				//если не выбран город ИЗ - покажем
				this.isFrom = true;
			} else if (!this.to.abbr) {
				//если не выбран город В - покажем
				this.isTo = true;
			} else if (this.from.date) {
				//если выбрана дата Туда и Обратно - откроем календарь
				this.isRoundTrip = !!this.to.date;
				this.$emit("setChangeDate", "to");
				this.isDatePicker = true;
			} else {
				//не выбрана дата Туда - просто откроем календарь
				this.$emit("setChangeDate", "from");
				this.isDatePicker = true;
			}
			this.$emit("hideInformationalPanel");
		},
		selectPassengers() {
			this.isPassengerPicker = true;
			this.$emit("hideInformationalPanel");
		},
		getClass(classID) {
			var index = this.classes.length;
			while (index--) {
				if (this.classes[index]["id"] === classID) {
					return this.classes[index]["title"];
				}
			}
		}
	}
};
</script>

<style lang='sass'>

</style>
