<template lang="pug">
  .mini-calendar
    template {{ localeLabels($t("main.monthsLabels", currentLang.code)) }}
    .calendar(:class='{nextcalendar:isNext}')
      .mobile-header(v-if='!isHotelSearch')
        .col(@click.stop='changeRoundTrip(false)')
          .bar(class='prev' :class='{disabled:isRoundTrip}')
            img(src="../../assets/icons/jet.svg" class="ico")

          span(class='prev' :class='{disabled:isRoundTrip}' @click.stop='changeRoundTrip(false)') {{ $t("calendar.oneWayTrip", currentLang.code) }}
        .col(@click.stop='changeRoundTrip(true)')
          .bar(class='next' :class='{disabled:!isRoundTrip}')
            img(src="../../assets/icons/jet.svg" class="ico")
            img(src="../../assets/icons/jet-blue.svg" class="ico")
          span(class='next' :class='{disabled:!isRoundTrip}'  @click.stop='changeRoundTrip(true)') {{ $t("calendar.roundTrip", currentLang.code) }}

      template(v-if='!isHotelSearch')
        template(v-if='!isAutonomus')
          .header(v-if='!isNext'  @click.stop='changeRoundTrip(true)' class="pointer")
            .bar(class='next' )
              img(src="../../assets/icons/jet.svg" class="ico")
              img(src="../../assets/icons/jet-blue.svg" class="ico")
            span(class='next' :class='{disabled:!isRoundTrip}'  @click.stop='changeRoundTrip(true)') {{ $t("calendar.roundTrip", currentLang.code) }}
          .header(v-else class="next" @click.stop='changeRoundTrip(false)' class="pointer ")
            .bar(class='prev')
              img(src="../../assets/icons/jet.svg" class="ico")
            span(class='prev' :class='{disabled:isRoundTrip}' @click.stop='changeRoundTrip(false)') {{ $t("calendar.oneWayTrip", currentLang.code) }}
      .content
        .month
          span {{currentMonthLabel}} {{currentYear}}
          .switch(@click.stop='changeMonth' v-if="showBtnSwitchMonth")
            img(:class='{next: isNext, prev: !isNext}' src='../../assets/icons/triangle.svg')
            span(:class='{next: isNext, prev: !isNext}') {{switchLabel}}
          .switch.mobile(@click.stop='changeMonthNext')
            img(class='next' src='../../assets/icons/triangle.svg')
            span(class='next') {{unSwitchLabel}}
        ul(class='week')
          li(v-for='label in $t("main.slicedDaysLabels", currentLang.code)') {{ label }}
        ul(class='days')
          template(v-for='(day, index) in days')
            li(v-if='day' class='day pointer' @click.stop='pickDate(day, index)' @mouseover='addTempToDate(day, index)' :class='{ past:((+new Date() > days[index+1]) || (moreThan21Night(day) && isHotelSearch) || (isHotelSearch && moreThan329Night(day) && (fromDate == "" || fromDate == "from")) ), today:( +currentDate == +day) }')
              span(v-if='inRange(day)' class='drawed') {{ formatDate(day) }}
              span(v-else) {{ formatDate(day) }}
              div(v-if='isMarked(day)' class='marked')
              div(v-else)
            li(v-else class='day') &#160;


</template>

<script>
function Calendar(month, year) {
	var daysInMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
	this.currentDate = new Date();
	this.month =
		isNaN(month) || month === null ? this.currentDate.getMonth() : month;
	this.year =
		isNaN(year) || year === null ? this.currentDate.getFullYear() : year;

	this.firstDay = new Date(this.year, this.month, 1);
	this.startingDay = this.firstDay.getDay();
	this.monthLength = daysInMonth[this.month];
	if (this.month === 1) {
		if (
			(this.year % 4 === 0 && this.year % 100 !== 0) ||
			this.year % 400 === 0
		) {
			this.monthLength = 29;
		}
	}
}
Calendar.prototype.calculate = function(self) {
	var monthBeginDay =
			this.firstDay.getDay() == 0 ? 6 : this.firstDay.getDay() - 1,
		index = this.monthLength,
		month = this.month + 1,
		day = "";
	self.currentMonthLabel = self.monthsLabels[this.month];
	self.days = [];
	while (index--) {
		day = new Date(this.year, this.month, index + 1).getDate();
		self.days[index + monthBeginDay] = new Date(
			this.year,
			month - 1,
			day,
			0,
			0,
			0
		);
		//day + '.' + month + '.' + this.year;
	}
};

export default {
	name: "mini-calendar",
	props: [
		"changeDate",
		"currentLang",
		"isNext",
		"isRoundTrip",
		"tempToDate",
		"daysLabels",
		"isAutonomus",
		"isHotelSearch"
	],
	data() {
		return {
			currentMonthLabel: "",
			// switchLabel: "",
			// unSwitchLabel: "",
			days: [],
			monthsLabels: [],
			currentMonth: 0,
			currentYear: 0,
			oldValueFrom: "",
			oldValueTo: ""
		};
	},
	created() {
		var self = this;
		this.currentDate = new Date();
		this.currentDate.setHours(0, 0, 0, 0);

		//переключим календарь на месяц где выбрана дата
		if (
			this.$store.state.searchparameters.from.date != 0 &&
			!this.isHotelSearch
		) {
			var curentDate = new Date(this.$store.state.searchparameters.from.date);
			this.currentMonth = curentDate.getMonth();
		} else if (
			this.$store.state.searchparameters.hotelParams.fromDate != 0 &&
			this.isHotelSearch
		) {
			var curentDate = new Date(
				this.$store.state.searchparameters.hotelParams.fromDate
			);
			this.currentMonth = curentDate.getMonth();
		} else {
			this.currentMonth = this.currentDate.getMonth();
		}
		if (this.isNext) {
			this.currentMonth =
				this.currentMonth + 1 > 11 ? 0 : this.currentMonth + 1;
			this.currentDay = this.currentDate.getDate();
			this.currentYear =
				this.currentMonth == 0
					? this.currentDate.getFullYear() + 1
					: this.currentDate.getFullYear();
		} else {
			this.currentDay = this.currentDate.getDate();
			this.currentYear = this.currentDate.getFullYear();
		}

		new Calendar(this.currentMonth, this.currentYear).calculate(self);
	},
	computed: {
		showBtnSwitchMonth() {
			var today = this.currentDate;
			var currentMonth = today.getMonth();
			var currentYear = today.getFullYear();

			if (currentYear < this.currentYear || currentMonth < this.currentMonth) {
				return true;
			} else {
				return false;
			}
		},
		fromDate() {
			if (this.isHotelSearch) {
				return this.$store.state.searchparameters.hotelParams.fromDate;
			} else {
				return this.$store.state.searchparameters.from.date;
			}
		},
		toDate() {
			if (this.isHotelSearch) {
				return this.$store.state.searchparameters.hotelParams.toDate;
			} else {
				return this.$store.state.searchparameters.to.date;
			}
		},
		unSwitchLabel() {
			var unSwitchLabel = "";
			if (this.isNext) {
				unSwitchLabel =
					this.currentMonth - 1 > 0
						? this.monthsLabels[this.currentMonth - 1]
						: this.monthsLabels[11];
			} else {
				unSwitchLabel =
					Number(this.currentMonth) + 1 < 12
						? this.monthsLabels[this.currentMonth + 1]
						: this.monthsLabels[0];
			}
			return unSwitchLabel;
		},
		switchLabel() {
			var switchLabel = "";
			if (this.isNext) {
				switchLabel =
					this.currentMonth + 1 < 12
						? this.monthsLabels[this.currentMonth + 1]
						: this.monthsLabels[0];
			} else {
				switchLabel =
					this.currentMonth - 1 > -1
						? this.monthsLabels[this.currentMonth - 1]
						: this.monthsLabels[11];
			}
			return switchLabel;
		}
	},
	methods: {
		moreThan21Night(date) {
			return (
				(date.getTime() - new Date(this.fromDate).getTime()) /
					(1000 * 60 * 60 * 24) >
				21
			);
		},
		moreThan329Night(date) {
			return (
				(date.getTime() - this.currentDate.getTime()) / (1000 * 60 * 60 * 24) >
				329
			);
		},
		localeLabels(labels) {
			this.monthsLabels = labels;
			this.currentMonthLabel = this.monthsLabels[this.currentMonth];
		},
		inRange(date) {
			if (this.changeDate == "" || this.changeDate == "to") {
				if (
					+date >= this.fromDate &&
					+date <= +this.tempToDate &&
					this.fromDate > 0
				) {
					return true;
				}
			} else if (this.changeDate == "from") {
				if (
					+date <= this.toDate &&
					+date >= +this.tempToDate &&
					+date >= +this.currentDate
				) {
					return true;
				}
			}
		},
		changeRoundTrip(isRoundTrip) {
			this.$emit("changeRoundTrip", isRoundTrip);
			if (!isRoundTrip) {
				this.$store.commit("setToDate", 0);
				this.$emit("setTempToDate", "");
			}
		},
		addTempToDate(date, index) {
			if (this.isRoundTrip) {
				this.$emit("setTempToDate", date);
			}
			//ios fixed bug with click
			var device = navigator.userAgent.toLowerCase();
			var ios = device.match(/(iphone|ipod|ipad)/);

			if (ios) {
				this.pickDate(date, index);
			}
		},
		isMarked(date) {
			if (+date == this.fromDate || +date == this.toDate) {
				return true;
			}
		},
		changeMonth() {
			this.$emit("changeMonth");
		},
		changeMonthNext() {
			this.$emit("nextMonth");
		},
		pickDate(date, index) {
			//незя прошедшие дни кликать
			if (+this.days[index + 1] < +new Date()) {
				return;
			}
			if (this.changeDate == "") {
				//самое первое открытие календаря
				if (this.isRoundTrip) {
					//если у нас поездка туда и обратно
					if (this.fromDate == "") {
						if (this.moreThan329Night(date) && this.isHotelSearch) {
							//check in < 329 night
							return;
						} else {
							this.$emit("setFromDate", +date);
							if (this.isHotelSearch) {
								this.$store.commit("setHotelFromDate", +date);
							} else {
								this.$store.commit("setFromDate", +date);
							}
						}
					} else {
						if (this.fromDate > +date) {
							//если выбрали дату меньше текущей - то ничего не делае
							return;
						} else if (this.isHotelSearch && this.fromDate == +date) {
							return;
						} else if (this.isHotelSearch && this.moreThan21Night(date)) {
							//reservation <= 21night
							return;
						} else {
							if (this.isHotelSearch) {
								this.$store.commit("setHotelToDate", +date);
							} else {
								this.$store.commit("setToDate", +date);
							}
							this.$emit("setToDate", +date);
							this.$emit("closeDatePicker");
						}
					}
				} else {
					//если только Туда
					this.$emit("setFromDate", +date);
					if (this.isHotelSearch) {
						this.$store.commit("setHotelFromDate", +date);
					} else {
						this.$store.commit("setFromDate", +date);
					}
					this.$emit("closeDatePicker");
				}
			} else if (this.changeDate == "from") {
				//редактирование даты Туда
				if (this.isRoundTrip) {
					//если у нас поездка туда и обратно
					if (this.toDate >= +date) {
						if (this.isHotelSearch && this.toDate == +date) {
							return;
						} else if (this.moreThan329Night(date) && this.isHotelSearch) {
							//check in < 329 night
							return;
						} else {
							this.$emit("setFromDate", +date);
							if (this.isHotelSearch) {
								this.$store.commit("setHotelFromDate", +date);
							} else {
								this.$store.commit("setFromDate", +date);
							}
							this.$emit("closeDatePicker");
						}
					} else {
						return;
					}
				} else {
					//если только Туда
					this.$emit("setFromDate", +date);
					if (this.isHotelSearch) {
						this.$store.commit("setHotelFromDate", +date);
					} else {
						this.$store.commit("setFromDate", +date);
					}
					this.$emit("closeDatePicker");
				}
			} else if (this.changeDate == "to") {
				//редактирование даты Обратно
				if (this.fromDate <= +date) {
					if (this.isHotelSearch && this.fromDate == +date) {
						return;
					} else if (this.isHotelSearch && this.moreThan21Night(date)) {
						//reservation <= 21night
						return;
					} else {
						if (this.isHotelSearch) {
							this.$store.commit("setHotelToDate", +date);
						} else {
							this.$store.commit("setToDate", +date);
						}
					}

					this.$emit("setToDate", +date);
					this.$emit("closeDatePicker");
				} else {
					return;
				}
			}
		},
		formatDate(date) {
			return date.getDate();
		},
		nextMonth() {
			var self = this;
			this.currentDay = 0;
			this.currentMonth = +this.currentMonth + 1;

			if (this.currentMonth === 12) {
				this.currentMonth = 0;
				this.currentYear = +this.currentYear + 1;
			}
			new Calendar(this.currentMonth, this.currentYear).calculate(self);
		},
		prevMonth() {
			var self = this;
			this.currentDay = 0;
			this.currentMonth = +this.currentMonth - 1;

			if (this.currentMonth === -1) {
				this.currentMonth = 11;
				this.currentYear = +this.currentYear - 1;
			}
			new Calendar(this.currentMonth, this.currentYear).calculate(self);
		}
	}
};
</script>

<style >

</style>
