<template>
	<li>
		<div class="avatar">
			<span>{{ passenger.firstname.toUpperCase()[0] }}{{ passenger.lastname.toUpperCase()[0] }}</span>
		</div><!-- .avatar -->
		<div class="close pointer" @click='removePassenger(passenger)'>
			<img src="../../assets/icons/empty-close.svg" alt="" />
		</div>
		<span class="full-name">{{ passenger.firstname}} {{ passenger.lastname }}</span>
		<!-- <div class="place">
			<img src="../../assets/icons/marker.svg" alt="" />
			<span>{{ passenger.country}}, {{ passenger.city}}</span> -->
		<!--</div>--><!-- .place -->
		<div class="warning" v-if="showWarning" v-click-outside="closeWarning">
			<a href="#" @click.prevent="closeWarning" class="closeWarning"><img src="../../assets/icons/empty-close.svg" alt="" /></a>
			<div class="ttl"> <img src="../../assets/icons/dangerous.svg" alt="" />Внимание!</div>
			В случае комбинации в билете тарифов с различными правилами, наиболее строгие ограничения распространяются на весь маршрут.
		</div><!-- .warning -->
	</li>
</template>
<script>
	// TODO: translate parts with flightInfo
export default {
	name: "passenger",
	props: ["classes", "passenger", "isHotel"],
	data() {
		return {
			openDropdown: false,
			showWarning: false
		};
	},
	computed: {
		selectedPassengers() {
			return this.$store.state.searchparameters.selectedPassengers;
		}
	},
	methods: {
		closeWarning() {
			this.showWarning = false;
		},
		removePassenger(passenger) {
			passenger.isTrip = false;
			this.$store.commit("removeSelectedPassengers", passenger);
		},
		changeClass(passenger, cls) {
			passenger.classID = cls;
			//класс надо поменять и в searchparamets
			console.log({
				class: passenger.classID,
				id: passenger.travelerId
			});
			this.$store.commit("changeClass", {
				class: passenger.classID,
				id: passenger.travelerId
			});

			this.closeDropdown();
			if (this.selectedPassengers.length > 1) {
				for (var i = this.selectedPassengers.length - 1; i >= 0; i--) {
					if (
						this.selectedPassengers[i].travelerId != passenger.travelerId &&
						this.selectedPassengers[i].classID != cls
					) {
						this.showWarning = true;
						break;
					}
				}
			}
		},
		closeDropdown() {
			this.openDropdown = false;
		},
		toggleDropdown() {
			this.openDropdown = !this.openDropdown;
		},
		getClass(classID) {
			var index = this.classes.length;
			while (index--) {
				if (this.classes[index]["id"] == classID) {
					return this.classes[index]["title"];
				}
			}
		}
	}
};
</script>
