<template lang="pug">
	.passenger-picker
		template(v-if='!isNewPassenger')
			.search-panel(@click='showSearchInput')
				span(:class='{hide:isSearchInputShow}') {{ $t("passengers.passengers", currentLang.code) }}
				input(type='text' v-model='currentSearchText' :class='{hide:!isSearchInputShow}')
				img(src='../../assets/icons/search.svg')
			div(class='passanger-picker-wrap' v-bar='{useScrollbarPseudo: true}')
				ul(v-if="passengers && passengers.length")
					li(v-for='passenger in filteredPassengers')
						span(class='first-letter') {{ showFirstLetter(passenger.firstname)}}
						.icon
							span {{ NameUpperCase(passenger.firstname)}}{{ NameUpperCase(passenger.lastname)}}
						span(class='full-name') {{ passenger.firstname}} {{ passenger.lastname}}
						//- .place
							img(src='../../assets/icons/marker.svg')
							span {{ passenger.country }},{{ passenger.city }}
						.is-trip(@click='checkItem(passenger)')
							.marker(:class='{checked:passenger.isTrip}')
				.empty(v-else) {{ $t("passengers.nothingToShow", currentLangCode) }}
			.total-count
				span(class='text') {{ $t("passengers.selectedPassengers", currentLang.code) }}
				span(class='count') {{ totalCount }}
			.empty-btn(@click='addPassengers')
				span {{ $t("main.add", currentLang.code) }}
			a( @click.stop='addNewPassengers' class='btn') {{ $t("passengers.newPassenger", currentLang.code) }}
		template(v-else-if='isGuestPicker')
			travelers-paramter-picker(:classes='classes' @showList='showList' :currentLang='currentLang' :passengers='passengers' :passagerTypes='travelerTypes' :passengerTripCount='totalCount' @confirmInformation='confirmInformation')
		template(v-else)
			passenger-class-picker(:classes='classes' @showList='showList' :currentLang='currentLang' :passengers='passengers' :passagerTypes='passagerTypes' :passengerTripCount='totalCount' @confirmInformation='confirmInformation')




</template>

<script>
import PassengerClassPicker from "./PassengerClassPicker.vue";
import TravelersParamterPicker from "./TravelersParameterPicker.vue";
import _ from "lodash";

var prevFirstLetter = "";
export default {
	name: "passenger-picker",
	props: [
		"passengers",
		"currentLang",
		"hotelsSearchInformation",
		"isGuestPicker",
		"isHotel"
	],
	components: {
		"passenger-class-picker": PassengerClassPicker,
		"travelers-paramter-picker": TravelersParamterPicker
	},
	data() {
		return {
			isSearchInputShow: false,
			currentSearchText: "",
			isNewPassenger: true,
			selectedClass: 0,
			selectedType: 0
		};
	},
	mounted() {
		//reset all counters
		// var index = this.passengers.length;
		//      while(index--){
		//        if( this.passengers[index]['isTrip'] == true){
		//          this.$store.commit('increaseTotalCount');
		//        }
		//      }
		// if(!this.isGuestPicker){
		//   var typeIndex = this.passagerTypes.length;
		//   while(typeIndex--){
		//     this.passagerTypes[typeIndex]['count'] = 0;
		//   }
		// }
		//what is it?
	},
	methods: {
		NameUpperCase(name) {
			if (name == undefined || name == "") {
				return "";
			} else {
				return name.toUpperCase()[0];
			}
		},
		showSearchInput() {
			this.isSearchInputShow = true;
		},
		checkItem(passenger) {
			passenger.isTrip = !passenger.isTrip;
			if (!passenger.isTrip) {
				this.$store.commit("removeSelectedPassengers", passenger);
			} else {
				passenger.classID = 0;
				this.$store.commit("addSelectedPassengers", passenger);
			}
		},
		addPassengers() {
			this.$emit("confirmInformation");
		},
		addNewPassengers() {
			this.isNewPassenger = true;
		},
		showList() {
			this.isNewPassenger = false;
		},
		confirmInformation() {
			this.$emit("confirmInformation");
		},
		showFirstLetter(name) {
			if (name == "" || name == undefined) {
				return "";
			}
			var firstLetter = name.toUpperCase()[0];
			if (prevFirstLetter == firstLetter) {
				return "";
			}
			prevFirstLetter = firstLetter;
			return firstLetter + ".";
		}
	},
	computed: {
		totalCount() {
			return this.$store.state.searchparameters.selectedPassengers.length;
		},
		passagerTypes() {
			let clone =  _.cloneDeep(this.$store.state.params.passagerTypes);
			return clone.map((passengerType, index) => {
				passengerType.title = this.$t("passengerTypes", this.currentLangCode)[index];
				return passengerType;
			});
		},
		travelerTypes() {
			return this.$store.state.params.travelerTypes;
		},
		classes() {
			let clone = _.cloneDeep(this.$store.state.params.classes);
			return clone.map(cls => {
				cls.title = this.$t("flightClasses", this.currentLangCode)[cls.id];
				return cls;
			});
		},
		alphabetizingPassengers() {
			return this.passengers.slice().sort(function(a, b) {
				var firstnameA = a.firstname == undefined ? "" : a.firstname;
				var firstnameB = b.firstname == undefined ? "" : b.firstname;
				if (firstnameA < firstnameB) {
					return -1;
				}
				if (firstnameA > firstnameB) {
					return 1;
				}
				return 0;
			});
		},
		filteredPassengers() {
			var self = this;
			return this.alphabetizingPassengers.filter(function(passenger) {
				var fullname =
					passenger.firstname == undefined
						? ""
						: passenger.firstname.toLowerCase();
				fullname =
					passenger.lastname == undefined
						? fullname
						: fullname + " " + passenger.lastname.toLowerCase();
				var currentText = self.currentSearchText.toLowerCase();
				prevFirstLetter = "";
				return fullname.indexOf(currentText) > -1;
			});
		}
	}
};
</script>

<style lang='sass' scoped>
	@import "../../styles/sass/colors"
	.empty
		color: $dark-text-color
		text-align: center
</style>
