<template lang="pug">
  .passenger-class-picker
    .new-passenger
        .header
          p {{ $t("passengers.newPassengers", currentLangCode) }}
        ul
          li(v-for='type in passagerTypes' :class='{selected:isPickedType(type.name)}' class="psng")
            span(class='minus' @click='removePassengerType(type)') –
            span(class='text') {{ type.title }}
            span(class='count') {{ getNewPassengersCount(type.name) + ' ' }}
            span(class='plus' @click='addPassengerType(type)') +
        .header
          p {{ $t("main.cls", currentLangCode) }}
        ul
          li(v-for='cls in classes' class='pointer' :class='{selected:isPickedClass(cls.id)}' @click='pickClass(cls.id)')
            .circle
            span(class='text') {{ cls.title }}
            template(v-if='isPickedClass(cls.id)')
              span(class='count') {{newPassengersCount}} {{ $t("passengers.suit", currentLangCode) }}
            template(v-else)
              span(class='count') 0 {{ $t("passengers.suit", currentLangCode) }}
        .empty-btn(@click='confirmInformation')
          span {{ $t("main.add", currentLangCode) }}
        a( @click.stop='selectTravelers' class='btn') {{ $t("passengers.selectedTravelers", currentLangCode) }}
</template>

<script>
var prevFirstLetter = "";
export default {
	name: "passenger-class-picker",
	props: ["passengers", "classes", "passagerTypes", ],
	data() {
		return {
			isSearchInputShow: false,
			currentSearchText: "",
			isNewPassenger: false,
			selectedClass: 0
		};
	},
	methods: {
		selectTravelers() {
			this.$emit("showList");
		},
		getNewPassengersCount(type) {
			return this.$store.getters.getNewPassengersCount(type);
		},
		pickClass(classID) {
			var index = this.classes.length,
				selectedClass = false;
			while (index--) {
				if (this.classes[index]["id"] == this.selectedClass) {
					this.classes[index]["count"] = 0;
				}
				if (this.classes[index]["id"] == classID) {
					this.classes[index]["count"] = this.newPassengersCount;
				}
			}
			this.selectedClass = classID;
			this.$store.commit("changeNewPassengersClass", this.selectedClass);
		},
		addPassengerType(type) {
			this.$store.commit("increaseNewPassengersCount", type.name); //---
		},
		removePassengerType(type) {
			this.$store.commit("descreaseNewPassengersCount", type.name); //---
		},
		isPickedClass(classID) {
			if (classID == this.selectedClass) {
				return true;
			}
		},
		isPickedType(typeName) {
			if (this.getNewPassengersCount(typeName)) {
				return true;
			} else {
				return false;
			}
		},
		confirmInformation() {
			this.$emit("confirmInformation");
		},
		showFirstLetter(name) {
			if (name == "") {
				return "";
			}

			var firstLetter = name.toUpperCase()[0];
			if (prevFirstLetter == firstLetter) {
				return "";
			}
			prevFirstLetter = firstLetter;
			return firstLetter + ".";
		}
	},
	computed: {
		newPassengersCount() {
			return (
				this.$store.state.searchparameters.newPassengers.adults +
				this.$store.state.searchparameters.newPassengers.children +
				this.$store.state.searchparameters.newPassengers.infants
			);
		},
		filteredPassengers() {
			var self = this;

			return this.passengers.filter(function(passenger) {
				var fullname =
						passenger.firstName.toLowerCase() +
						" " +
						passenger.lastName.toLowerCase(),
					currentText = self.currentSearchText.toLowerCase();
				prevFirstLetter = "";
				return fullname.indexOf(currentText) > -1;
			});
		}
	}
};
</script>

<style lang='sass'>

</style>
