<template lang="pug">
  .passenger-class-picker
    .search-panel
      span {{ $t("travelers.travelers", currentLang.code) }}
      img(src='../../assets/icons/search.svg')
    .new-passenger
      ul
        li(v-for='type in passagerTypes' :class='{selected:isPickedType(type.name)}')
          span(class='minus' @click='removePassengerType(type)') –
          span(class='text') {{ type.title[currentLang.code] }}
          span(class='count') {{ getNewPassengersCount(type.name) + ' ' }}
          span(class='plus' @click='addPassengerType(type)') +

      .empty-btn(@click='confirmInformation')
        span {{ $t("hotels.search2", currentLang.code) }}
      a( @click.stop='selectTravelers' class='btn') {{ $t("passengers.selectedTravelers", currentLang.code) }}


</template>

<script>
var prevFirstLetter = "";
export default {
	name: "traveler-class-picker",
	props: ["passengers", "currentLang", "classes", "passagerTypes"],
	data() {
		return {
			adults: 0,
			childs: 0,
			rooms: 0
		};
	},
	methods: {
		selectTravelers() {
			this.$emit("showList");
		},
		getNewPassengersCount(type) {
			return this.$store.getters.getNewHotelPassengersCount(type);
		},
		addPassengerType(type) {
			this.$store.commit("increaseNewHotelPassengersCount", type.name); //---
			if (type.id == 2) {
				this.$store.commit("addChildren");
			}
		},
		removePassengerType(type) {
			this.$store.commit("descreaseNewHotelPassengersCount", type.name); //---
			if (type.id == 2) {
				this.$store.commit("removeChildren");
			}
		},
		isPickedType(typeName) {
			if (this.getNewPassengersCount(typeName)) {
				return true;
			} else {
				return false;
			}
		},
		confirmInformation() {
			this.$emit("confirmInformation");
		}
	}
};
</script>

<style lang='sass'>

</style>
