<template lang="pug">
  .calendar
    .month
      template {{ localeLabels($t("main.monthsLabels", currentLangCode)) }}
      ul
        li(class='prev arrow' @click='prevMonth') &#10094;
        li {{currentMonthLabel}} {{currentYear}}
        li(class='next arrow' @click='nextMonth ') &#10095;
    .calendar-body
      ul(class='weekdays')
        li(v-for='(item, key, index) in $t("main.daysLabels", currentLangCode)')
          div(:class='{dayoff :key>4}') {{ item }}.

      ul(class='days')
        template(v-for='n in days' )
          template(v-if='n')

            li(v-if='isToday(n)' class='currentDay' @click='showTime(n)')
              template(v-if=' ( getEventFlight(n).length + getEventHotel(n).length )>3')
                p(class='date') {{ formatDate(n) }}
                div(class='many')
                  div.flight-sub
                    img(src='../assets/icons/jet.svg')
                    template {{ localTodatFlights(getEventFlight(n).length) }}
                  div.hotel-sub
                    img(src='../assets/icons/hotel-icon.svg')
                    template {{ localTodayHotels(getEventHotel(n).length) }}

              template(v-else-if='getEventFlight(n) || getEventHotel(n)')
                img(class='hotel-img calendar-ico' src='../assets/icons/hotel-icon.svg' v-if='getEventHotel(n).length')
                img(class='jet-img calendar-ico' src='../assets/icons/jet.svg' v-if='getEventFlight(n).length')
                p(class='date') {{ formatDate(n) }}
                div(class='flights')
                  template(v-for='flight in getEventFlight(n)')
                    span {{flight.fromCode}} → {{flight.toCode}}
              template(v-else)
                p(class='date') {{ formatDate(n) }}

            li(v-else @click='showTime(n)')
              template(v-if='isPast(n)')
                div(class='past')

                  template(v-if=' ( getEventFlight(n).length + getEventHotel(n).length )>3')
                    p(class='date') {{ formatDate(n) }}
                    div(class='many disabled')
                      div.flight-sub
                        img(src='../assets/icons/disabled-jet.svg')
                        template {{ localTodatFlights(getEventFlight(n).length) }}
                      div.hotel-sub
                        img(src='../assets/icons/disabled-hotel-icon.svg')
                        template {{ localTodayHotels(getEventHotel(n).length) }}

                  template(v-else-if='getEventFlight(n).length || getEventHotel(n).length')
                    img(class='hotel-img calendar-ico' src='../assets/icons/disabled-hotel-icon.svg' v-if='getEventHotel(n).length')
                    img(class='jet-img calendar-ico' src='../assets/icons/disabled-jet.svg' v-if='getEventFlight(n).length')
                    p(class='date') {{ formatDate(n) }}
                    div(class='flights')
                      template(v-for='flight in getEventFlight(n)')
                        span {{flight.fromCode}} → {{flight.toCode}}

                  template(v-else)
                    p(class='date') {{ formatDate(n) }}

              template(v-else)
                div(class='future')
                  template(v-if=' ( getEventFlight(n).length + getEventHotel(n).length )>3')
                    p(class='date') {{ formatDate(n) }}
                    div(class='many')
                      div.flight-sub
                        img(src='../assets/icons/jet.svg')
                        template {{ localTodatFlights(getEventFlight(n).length) }}
                      div.hotel-sub
                        img(src='../assets/icons/hotel-icon.svg')
                        template {{ localTodayHotels(getEventHotel(n).length) }}
                  template(v-else-if='getEventFlight(n).length || getEventHotel(n).length')
                    img(class='hotel-img calendar-ico' src='../assets/icons/future-hotel-icon.svg' v-if='getEventHotel(n).length')
                    img(class='jet-img calendar-ico' src='../assets/icons/future-jet.svg' v-if='getEventFlight(n).length')
                    p(class='date') {{ formatDate(n) }}
                    div(class='flights')
                      template(v-for='flight in getEventFlight(n)')
                        span(class='future') {{flight.fromCode}} → {{flight.toCode}}

                  template(v-else)
                    p(class='date') {{ formatDate(n) }}
          li(v-else class='empty' @click='prevMonth' class='disable-day')
      .calendar-footer
        .info-bar
          .today-trip {{localeTodayTrips(todayTrip)}}
        span(class='badget')
          img(class='img plane' src='../assets/icons/jet.svg')
          span {{ $t("dashboard.flights", currentLangCode) }}
        span(class='badget')
          img(class='img hotel' src='../assets/hotel-icon.svg')
          span {{ $t("dashboard.hotels", currentLangCode) }}

</template>

<script>
import Decliner from "../utils/decliner";

function Calendar(month, year) {
	var daysInMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31];
	this.currentDate = new Date();
	this.month =
		isNaN(month) || month === null ? this.currentDate.getMonth() : month;
	this.year =
		isNaN(year) || year === null ? this.currentDate.getFullYear() : year;

	this.firstDay = new Date(this.year, this.month, 1);
	(this.startingDay = this.firstDay.getDay() == 0 ? 7 : this.firstDay.getDay()),
		(this.monthLength = daysInMonth[this.month]);
	if (this.month === 1) {
		if (
			(this.year % 4 === 0 && this.year % 100 !== 0) ||
			this.year % 400 === 0
		) {
			this.monthLength = 29;
		}
	}
}
Calendar.prototype.calculate = function(self) {
	var monthBeginDay = this.firstDay.getDay() == 0 ? 7 : this.firstDay.getDay(),
		index = this.monthLength,
		month = this.month + 1,
		day = "";

	self.currentMonthLabel = self.monthsLabels[this.month];

	self.days = [];
	while (index--) {
		day = new Date(this.year, this.month, index + 1).getDate();

		self.days[index + monthBeginDay - 1] = new Date(this.year, month - 1, day);
		//day + '.' + month + '.' + this.year;
	}
};

export default {
	name: "calendar",
	props: ["initialTrips"],
	data() {
		return {
			currentMonthLabel: "",
			days: [],
			currentMonth: 0,
			currentYear: 0,
			monthsLabels: [],
			currentDate: new Date(),
			trips: this.initialTrips.slice(),
			flights: []
		};
	},
	created() {
		var self = this;
		this.currentDate = new Date();
		this.currentDate.setHours(0, 0, 0, 0);

		this.currentMonth = this.currentDate.getMonth();
		this.currentDay = this.currentDate.getDate();
		this.currentYear = this.currentDate.getFullYear();

		new Calendar().calculate(self);
	},
	computed: {
		todayTrip() {
			var today = this.dateToString(this.currentDate);
			var arr = this.$store.getters.getEventsByDate(today);
			if (arr == undefined) {
				return 0;
			} else {
				return (
					(arr.hotels == undefined ? 0 : arr.hotels.length) +
					(arr.flight == undefined ? 0 : arr.flight.lenth)
				);
			}
		},
		allEvents() {
			return this.$store.getters.getEvents();
		}
	},
	methods: {
		dateToString(date) {
			var date = new Date(date);
			var day = date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
			var month =
				date.getMonth() > 9
					? Number(date.getMonth()) + 1
					: "0" + (Number(date.getMonth()) + 1);
			var year = date.getFullYear();
			var select = day + "." + month + "." + year;
			return select;
		},
		getEventFlight(day) {
			var date = this.dateToString(day).replace(/\./g, "-");
			return this.allEvents[date] === undefined
				? []
				: this.allEvents[date]["flights"];
		},
		getEventHotel(day) {
			var date = this.dateToString(day).replace(/\./g, "-");
			return this.allEvents[date] === undefined
				? []
				: this.allEvents[date]["hotels"];
		},
		localeLabels(labels) {
			this.monthsLabels = labels;
			this.currentMonthLabel = this.monthsLabels[this.currentMonth];
		},
		localTodayHotels(days) {
			let declinerHotel = this.$t("decliner.hotels", this.currentLangCode);
			return `${days} ${Decliner(days, declinerHotel, this.currentLangCode)}`;
		},
		localTodatFlights(days) {
			let declinerFlights = this.$t("decliner.flights", this.currentLangCode);
			return `${days} ${Decliner(days, declinerFlights, this.currentLangCode)}`;
		},
		localeTodayTrips(days) {
			let beginText = this.$t("dashboard.today", this.currentLangCode);
			let declinerEvents = this.$t("decliner.events", this.currentLangCode);
			return `${beginText} ${days} ${Decliner(days, declinerEvents, this.currentLangCode)}`;
		},
		showTime(date) {
			this.$emit("showSelectTime", date);
		},
		isPast(date) {
			if (date.getTime() < this.currentDate.getTime()) {
				return true;
			}
		},
		isToday(date) {
			if (date.getTime() == this.currentDate.getTime()) {
				return true;
			}
		},
		isTrip(date) {
			var index = this.trips.length,
				result = [],
				count = 0;
			while (index--) {
				var fullDate = this.trips[index]["time"].split("T")[0].split("-");
				if (fullDate[2] < 10) {
					fullDate[2] = "0" + fullDate[2];
				}
				fullDate = fullDate.join("-");
				var tempTime = new Date(fullDate);
				tempTime.setHours(0, 0, 0, 0);
				if (+date == +tempTime) {
					result.push({
						from: this.trips[index]["from"],
						to: this.trips[index]["to"]
					});
					if (+tempTime == +this.currentDate) {
						count += 1;
					}
				}
			}
			if (result.length <= 0) {
				return false;
			}
			if (count > 0) {
				this.todayTrip = count;
			}
			return result;
		},
		formatDate(date) {
			return date.getDate();
		},
		nextMonth() {
			var self = this;
			this.currentDay = 0;
			this.currentMonth = +this.currentMonth + 1;
			if (this.currentMonth === 12) {
				this.currentMonth = 0;
				this.currentYear = this.currentYear + 1;
			}
			new Calendar(this.currentMonth, this.currentYear).calculate(self);

			//нужно взять новые данные в сторе либо через АПИ

			//для начала проверил, может есть в сторе
			var lastDay = new Date(this.currentYear, this.currentMonth + 1, 0);
			console.log(lastDay);
		},
		prevMonth() {
			var self = this;
			this.currentDay = 0;
			this.currentMonth = +this.currentMonth - 1;
			if (this.currentMonth === -1) {
				this.currentMonth = 11;
				this.currentYear = +this.currentYear - 1;
			}
			new Calendar(this.currentMonth, this.currentYear).calculate(self);

			var firstDay = new Date(this.currentYear, this.currentMonth, 1);
			console.log(firstDay);
		}
	}
};
</script>

<style >

</style>
