<template>
	<div class="traveler-card-wr" v-bar='{useScrollbarPseudo: true, preventParentScroll: true}'>
		<div class="traveler-card" v-click-outside='closeCompanyCard'>
			<div class="traveler-card__header"  v-if='!mobileTravels && !mobileHotels'>
				Карточка компании
				<a href="#" @click.prevent="closeCompanyCard" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
			</div><!-- .traveler-card__heade -->
			<template  v-if='!loading'>
				<div class="traveler-card__body"  v-if='!mobileTravels && !mobileHotels'>

						<div class="traveler-card__item">
							<div class="traveler-name">
								<span class="ico :style='{dark: ava != ''}'">{{ava}}</span>
									<span class="name">
										<span class="real-name">{{company.name}}</span>
									</span>
							</div><!-- .traveler-name -->
						</div><!-- .traveler-card__item -->

						<div class="traveler-card__item">
							<div class="traveler-card__item-ttl pointer" @click="toggleParam('showRequisites')">
								<div class="info-ico" :class="{ rotate: !showRequisites }">
									<img src="../assets/icons/angle-arrow-down.svg" alt="">
								</div>
								<div class="info">
									<img src="../assets/icons/info.svg" alt="" />
									<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
								</div><!-- .info -->
								Реквизиты компании
							</div>

							<div class="traveler-card__item-body" v-show="showRequisites">
								<ul class="traveler-card__presonal-list">
								<custop-input-company
									ref='inp1'
									dataRef='inp1'
									v-model="company.name"
									ttl="Наименование организации:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='name'
									:id='companyId'>
								</custop-input-company>

								<custop-input-company
									ref='inp2'
									dataRef='inp2'
									v-model="company.email"
									ttl="Электронный адрес:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='email'
									:id='companyId'>
								</custop-input-company>

								<custop-input-company
									ref='inp2'
									dataRef='inp2'
									v-model="company.inn"
									ttl="ИНН:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='inn'
									:id='companyId'>
								</custop-input-company>

								<custop-input-company
									ref='inp2'
									dataRef='inp2'
									v-model="company.kpp"
									ttl="КПП:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='kpp'
									:id='companyId'>
								</custop-input-company>

								<custop-input-company
									ref='inp1'
									dataRef='inp1'
									v-model="company.bank_name"
									ttl="Банк:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='bank_name'
									:id='companyId'>
								</custop-input-company>

								<custop-input-company
									ref='inp2'
									dataRef='inp2'
									v-model="company.bik"
									ttl="БИК:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='bik'
									:id='companyId'>
								</custop-input-company>

								<custop-input-company
									ref='inp2'
									dataRef='inp2'
									v-model="company.payment_account"
									ttl="Расчетный счет:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='payment_account'
									:id='companyId'>
								</custop-input-company>

								<custop-input-company
									ref='inp2'
									dataRef='inp2'
									v-model="company.kor_account"
									ttl="КОР счет:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='kor_account'
									:id='companyId'>
								</custop-input-company>

								<custop-input-company
									ref='inp2'
									dataRef='inp2'
									v-model="company.ceo"
									ttl="Генеральный директор:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='ceo'
									:id='companyId'>
								</custop-input-company>

								<!-- <custom-input-adress
									ref='inp2'
									dataRef='inp2'
									v-model="company.ceo"
									ttl="Юридический адресс:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='ceo'
									:id='company.id'>
								</custom-input-adress> -->

								</ul>
							</div><!-- .traveler-card__item-body -->
						</div><!-- .traveler-card__item -->

						<div class="traveler-card__item">
							<div class="traveler-card__item-ttl pointer" @click="toggleParam('showDeposit')">
								<div class="info-ico" :class="{ rotate: !showDeposit }">
									<img src="../assets/icons/angle-arrow-down.svg" alt="">
								</div>
								<div class="info">
									<img src="../assets/icons/info.svg" alt="" />
									<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
								</div><!-- .info -->
								<span class="deposit-info" v-show='!showDeposit'>{{transformPrice(company.deposits.amount)}} &#8381;</span>
								Депозит
							</div>

							<div class="traveler-card__item-body" v-show="showDeposit">
								<div class="deposit">
									<div class="count">
										<div class="now">
											<span class="money">{{transformPrice(company.deposits.amount)}} &#8381;</span>
											Остаток:
										</div><!-- .now -->
										<div class="pay">
											Пополнить
											<div class="info">
												<img src="../assets/icons/info.svg" alt="" />
												<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
											</div>
											<div class="right">
												<input type="text" placeholder="В ведите сумму" :value='incrDeposit' @input="checkNumber($event)"/>
												<button @click.prevent='payDeposit'>Отправить</button>
											</div><!-- .right -->
										</div><!-- .pay -->
									</div><!-- .count -->
									<div class="deposit-history-ttl">Список операций</div>
									<ul class="deposit-history">
										<li v-for="operation in company.history">
											<span class="ico"><img src="../assets/icons/down-arrow-red.svg" alt="" /></span>
											<span class="name">{{operation.name}}</span>
											<span class="date">{{operation.date}} <span>{{operation.time}}</span></span>
											<span class="price">{{formatePrice(operation.price)}} &#8381;</span>
											<span class="link"><a href=""><img src="../assets/icons/pdf.svg" alt="" /></a></span>
										</li>
									</ul><!-- .deposit-history -->
									<!-- <div class="more-history">Показать еще</div> -->
								</div><!-- .deposit -->
							</div><!-- .traveler-card__item-body -->
						</div><!-- .traveler-card__item -->


						<div class="traveler-card__item">
							<div class="traveler-card__item-ttl pointer"  @click="toggleParam('showHistory')">
								<div class="info-ico" :class="{ rotate: !showHistory }">
									<img src="../assets/icons/angle-arrow-down.svg" alt="">
								</div>
								<div class="info">
									<img src="../assets/icons/info.svg" alt="" />
									<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
								</div><!-- .info -->
								История покупок
							</div>
							<div class="traveler-card__item-body" v-show="showHistory">
								<div class="table desktop">
									<div class="table-header">
										<div class="col">№ заказа:</div><!-- .col -->
										<div class="col">Направление и статус</div><!-- .col -->
										<div class="col">Цена</div><!-- .col -->
									</div><!-- .table-header -->
									<div class="table-body">
									<div class="row" v-for='(order, index) in someOrders' :key='index' >
										<div class="col">
											{{order.number}}
											<span class="date">{{order.date}}</span>
										</div><!-- .col -->
										<div class="col" v-if='order.isFlight === 1'>
											<template>✈</template>
											<template v-for='(city, index) in order.directions'>
												<template v-if="index !== 0">→</template>
												<template>{{city}}</template>
											</template>
										</div>
										<div class="col" v-else>
											<img src="../assets/icons/hotel-black-ico.svg" alt="" class="hotel-icon">
											<template>{{order.directions[0]}}</template>
										</div>
										<div class="col">
											<span class="ico-pay"><img src="../assets/icons/card-pay.svg" alt=""></span>
											<span class="ico-status green"></span>
											{{ transformPrice(order.price)}} ₽
										</div><!-- .col -->
									</div><!-- .row -->
									<!-- grey yellow green -->

								</div><!-- .table-body -->
								<!-- <div class="table-footer pointer" v-show="showMoreHistoryBtn" @click='showMoreHistory'>Показать еще</div> -->
								</div><!-- .table -->
								<div class="mobile">
									<div class="btn-press" @click.stop="openMobileTravels">
										Оформлено: {{orderFlight.length}} поездка
									</div><!-- .btn-press -->
									<div class="btn-press" @click.stop="openMobileHotels">
										Оформлено: {{orderHotel.length}} мест проживания
									</div><!-- .btn-press -->
								</div><!-- .mobile -->
							</div><!-- .traveler-card__item-body -->
						</div><!-- .traveler-card__item -->

						<div class="traveler-card__item">
							<div class="traveler-card__item-ttl pointer" @click="toggleParam('showTravelers')">
								<div class="info-ico" :class="{ rotate: !showTravelers }">
									<img src="../assets/icons/angle-arrow-down.svg" alt="">
								</div>
								<div class="info">
									<img src="../assets/icons/info.svg" alt="" />
									<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
								</div><!-- .info -->
								Путешествиники
							</div><!-- .traveler-card__item-ttl -->
							<div class="traveler-card__item-body" v-show="showTravelers">
								<div class="company-travelers">
									<div class="search">
										<input type="text" placeholder="Поиск" v-model.trim="search"/>
									</div><!-- .search -->
									<div class="add" @click.stop='openTravelerCard("")'><img src="../assets/icons/add.svg" alt="" />Добавить нового пассажира</div>

									<ul class="traveler-list">
										<template v-for="traveler in filteredTravelers" >
											<traveler-in-list :traveler="traveler" :key="traveler.travelerId" :firstLetter='showFirstLetter(traveler.firstname)' @removeTraveler='removeTraveler' @openTravelerCard='openTravelerCard(traveler.travelerId)'></traveler-in-list>
										</template>
									</ul><!-- .traveler-list -->
								</div><!-- .company-travelers -->

							</div><!-- .traveler-card__item-body -->
						</div><!-- .traveler-card__item -->

					</div><!-- .traveler-card__body -->

				<div class="mobile-travel" v-if='mobileTravels'>
					<div class="header">
						<div class="ttl" @click.stop='closeMobileTravels'>&larr; Перелеты (история поездок)</div><!-- .ttl -->
						<a href="#" @click.prevent.stop="closeCompanyCard" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
					</div><!-- .header -->
					<div class="body">
						<div class="item" v-for="(flight, index) in orderFlight" :key='index'>
							<div class="top">
								<div class="date">({{flight.date}}) </div>
								<div class="number">№ {{flight.number}}</div>
							</div><!-- .top -->
							<div class="middle">
								<template>✈</template>
								<template v-for="(city, index) in flight.directions">
									<template v-if='index !== 0'>→</template>
									<template>{{city}}</template>
								</template>
							</div><!-- .middle -->
							<div class="bottom">

								<div class="right">
									<span class="price">{{transformPrice(flight.price)}} ₽</span>
									<!-- <span class="btn" @click='openDetails'>Подробней</span> -->
								</div><!-- .right -->
								<div class="left grey">
									<div>
										<div class="ico-pay">
											<img src="../assets/icons/card-pay.svg" alt="">
											<template v-if="flight.status === 'paid'">Оплачен</template>
											<template v-else>Не оплачен</template>
										</div>
										<div class="ico-status">
											Состоится
										</div><!-- .ico-status -->
									</div>
								</div><!-- .left -->
							</div><!-- .bottom -->
						</div><!-- .item -->
					</div><!-- .body -->
					<!-- <div class="footer-btn">
						Показать еще
					</div>.footer -->
				</div><!-- .mobile-travel -->
				<div class="mobile-travel" v-if='mobileHotels'>
					<div class="header">
						<div class="ttl" @click.stop='closeMobileHotels'>&larr; Проживание (история поездок)</div><!-- .ttl -->
						<a href="#" @click.prevent.stop="closeCompanyCard" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
					</div><!-- .header -->
					<div class="body">

						<div class="item" v-for="(hotel, index) in orderHotel" :key="index">
							<div class="top">
								<div class="date">({{hotel.date}}) </div>
								<div class="number">№ {{hotel.number}}</div>
							</div><!-- .top -->
							<div class="middle">
								<img src="../assets/icons/hotel-black-ico.svg" alt="" class="ico-hotel">
								<template>{{hotel.direction[0]}}</template>
							</div><!-- .middle -->
							<div class="bottom">

								<div class="right">
									<span class="price">{{transformPrice(hotel.price)}} ₽</span>
									<!-- <span class="btn" @click='openDetails'>Подробней</span> -->
								</div><!-- .right -->
								<div class="left grey">
									<div>
										<div class="ico-pay">
											<img src="../assets/icons/card-pay.svg" alt="">
											<template v-if="hotel.status === 'paid'">Оплачен</template>
											<template v-else>Не оплачен</template>
										</div>
										<div class="ico-status">
											Состоится
										</div><!-- .ico-status -->
									</div>
								</div><!-- .left -->
							</div><!-- .bottom -->
						</div><!-- .item -->

					</div><!-- .body -->
					<!-- <div class="footer-btn">
						Показать еще
					</div> -->
				</div><!-- .mobile-travel -->
				<div class="popup-pay" v-if="showPopupPay">
				<div class="form" :style="{top:topPosition}">
					<a href="" class="close" @click.prevent.stop='closePopup'><img src="../assets/icons/empty-close.svg" alt="" /></a>
					<div class="ttl">Счёт для ООО Vasechkin сформерован</div>
					<ul>
						<li><span class="name">Номер счёта:</span> {{depositRes.number}} </li>
						<li><span class="name">Сумма к оплате:</span> {{transformPrice(depositRes.sum)}} ₽ </li>
						<li><span class="name">В т. ч. НДС:</span> {{transformPrice(depositRes.nds)}} ₽ </li>
					</ul>
					<!-- <button class="download">СКАЧАТЬ СЧЕТ</button> -->
					<!-- <div class="send">
						<input type="text" placeholder="Введите адрес" />
						<button>Введите адрес</button>
					</div> -->
				</div><!-- .form -->
			</div><!-- .popup-pay -->
			</template>
			<div v-else class="loading">
				<spinner color='red'></spinner>
			</div>

		</div><!-- .traveler-card -->
	</div>
</template>
<script>
import VueNotifications from "vue-notifications";
import { API } from "../api.js";
import Input from "./company-card-components/input.vue";
import InputAdress from "./company-card-components/input-adress.vue";
import formatePrice from "../utils/formatePrice";
import travelerInList from "./travels-card-components/travelerInList";
import Spinner from "./small-spinner";
var prevFirstLetter = "";
export default {
	name: "Companycard",
	props: ["showBlock"],
	components: {
		"custop-input-company": Input,
		"custom-input-adress": InputAdress,
		"traveler-in-list": travelerInList,
		spinner: Spinner
	},
	mounted() {
		if (this.showBlock != "") {
			this[this.showBlock] = true;
		}
		//сортировка по алфавиту
		// console.log(this.travelersNoSort);
	},
	beforeDestroy() {
		//отправим изменения в стор
		this.$store.commit("updateCompanyInfo", this.user);
	},
	data() {
		return {
			loading: false,
			depositRes: {
				sum: 0,
				nds: 0,
				number: 1
			},
			AmountOfOrders: 5,
			showMoreHistoryBtn: false,
			incrDeposit: "",
			active: "",
			search: "",
			// travelers: [
			// 	{
			// 		birthday: "01-01-1970",
			// 		firstname: "Роман",
			// 		lastname: "Хворостенко",
			// 		travelerId: 3
			// 	},
			// 	{
			// 		birthday: "18-12-1994",
			// 		firstname: "Евгений",
			// 		lastname: "Балабай",
			// 		travelerId: 4
			// 	}
			// ],
			showTravelers: false,
			showHistory: false,
			showRequisites: false,
			showDeposit: false,
			mobileTravels: false,
			mobileHotels: false,
			showPopupPay: false,
			topPosition: "220px", //default
			company: {
				bank_name: "",
				payment_account: "",
				kor_account: "",
				name: "",
				email: "",
				inn: "",
				bik: "",
				kpp: "",
				ceo: "",
				deposits: {
					amount: ""
				},
				orders: [],
				history: [
					{
						name: "Пополнение депозита",
						date: "10.03.2017",
						time: "(12:43)",
						price: "100000",
						link: ""
					},
					{
						name: "Списание",
						date: "10.03.2017",
						time: "(12:43)",
						price: "650000",
						link: ""
					},
					{
						name: "Списание",
						date: "10.03.2017",
						time: "(12:43)",
						price: "123000",
						link: ""
					},
					{
						name: "Пополнение депозита",
						date: "10.03.2017",
						time: "(12:43)",
						price: "3000",
						link: ""
					},
					{
						name: "Пополнение депозита",
						date: "10.03.2017",
						time: "(12:43)",
						price: "40000",
						link: ""
					}
				]
			}
		};
	},
	created() {
		self = this;
		Object.assign(this.company, this.getCompanyInfo);
		if (!this.company.dataLoaded) {
			//нужно загрузить данные пассажира
			this.loading = true;
			this.showLoader = true;
			self = this;
			API.getCompanyInfo({ company_id: this.companyId })
				.then(response => {
					self.loading = false;
					if (response.data.status == "success") {
						//мы получили все данные пассажира

						//персональные данные
						Object.assign(self.company, response.data.data.data);
						//карты предпочтений
						self.company.deposits.amount = response.data.data.deposit.amount;

						//заказы
						response.data.data.orders.forEach(element => {
							self.company.orders.push(element);
						});

						self.$store.commit(
							"setNewBalance",
							response.data.data.deposit.amount
						);

						self.company.dataLoaded = true;
						if (self.company.orders.length > 5) {
							self.showMoreHistoryBtn = true;
						}
						self.showLoader = false;
					} else {
						self.showLoader = false;
						VueNotifications.error({ message: "Ошибка при загрузке данных" });
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						self.showLoader = false;
						VueNotifications.error({ message: "Ошибка при загрузке данных" });
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						self.showLoader = false;
						console.log(e.response);
						VueNotifications.error({ message: "Ошибка при загрузке данных" });
					}
				});
		} else {
			if (this.company.orders.length > 5) {
				this.showMoreHistoryBtn = true;
			}
		}
	},
	computed: {
		travelers() {
			return this.$store.state.passengers.passengers;
		},
		someOrders() {
			var arr = this.company.orders.slice();
			if (arr.length > 4) {
				arr.length = this.AmountOfOrders;
			}
			return arr;
		},
		orderHotel() {
			return this.company.orders.filter(el => el.isFlight == 0);
		},
		orderFlight() {
			return this.company.orders.filter(el => el.isFlight == 1);
		},
		getCompanyInfo() {
			return this.$store.getters.getUserFullInfo();
		},

		travelersNoSort() {
			return this.$store.state.passengers.passengers;
		},
		filteredTravelers() {
			var self = this;
			return this.travelers.filter(function(traveler) {
				var fullname = "";
				if (traveler.firstname) {
					fullname = traveler.firstname.toLowerCase() + " ";
				}
				if (traveler.lastname) {
					fullname = fullname + traveler.lastname.toLowerCase();
				}
				fullname = fullname.trim();
				var currentText = self.search.toLowerCase();
				prevFirstLetter = "";
				return fullname.indexOf(currentText) != -1;
			});
		},
		ava() {
			if (!!this.company.name) {
				if (this.company.name.split(" ")[0][0] != undefined) {
					var name = this.company.name.split(" ")[0][0];
					if (this.company.name.split(" ")[1] != undefined) {
						name = name + this.company.name.split(" ")[1][0];
					} else {
						name = name + this.company.name.split(" ")[0][1];
					}
					return name;
				} else {
					return "NC";
				}
			}
		},
		companyId () {
			return this.$store.state.params.companyId
		}
	},
	methods: {
		toggleParam(param) {
			this[param] = !this[param];
		},
		checkNumber(e) {
			var val = e.target.value;
			this.incrDeposit = val;
			val = val
				.toString()
				.replace(/[^\d.]*/g, "")
				.replace(/([.])[.]+/g, "$1")
				.replace(/^[^\d]*(\d+([.]\d{0,2})?).*$/g, "$1");
			this.incrDeposit = val;
		},
		showMoreHistory() {
			var num = this.company.orders.length - this.AmountOfOrders;
			if (Math.floor(num / 5) != 0) {
				num = 5;
			} else {
				this.showMoreHistoryBtn = false;
			}
			this.AmountOfOrders = this.AmountOfOrders + num;
		},
		transformPrice(price) {
			var newPrice = price
				.toString()
				.split(".")[0]
				.replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
			return newPrice;
		},
		setActive(inp) {
			this.active = inp;
		},
		saveInput() {
			// self = this;
			// if (this.active == "") {
			// 	//такого не должно быть теоретически
			// 	//но на всяк случай
			// 	this.active = this.inputs[0];
			// } else {
			// 	var index = this.inputs.indexOf(this.active);
			// 	if (index + 1 < this.inputs.length) {
			// 		this.active = this.inputs[index + 1];
			// 		//если след поле пустое  - фокусим его
			// 		if (this.$refs[this.active].value === "") {
			// 			this.$refs[this.active].open();
			// 		}
			// 	}
			// }
		},
		openTravelerCard(id) {
			this.$emit("showTravelerCard", id);
			this.$emit("hideCompanyCard");
		},
		removeTraveler(id) {
			this.$store.commit("removePassenger", id);
			//запрос на сервер о удалении пассажира
			API.removeTraveler({ travelerId: id })
				.then(response => {
					if (response.data.status == "success") {
					} else {
					}
				})
				.catch(e => {});
		},
		showFirstLetter(name) {
			if (name == "" || name == undefined) {
				return "";
			}

			var firstLetter = name.toUpperCase()[0];
			if (prevFirstLetter == firstLetter) {
				return "";
			}
			prevFirstLetter = firstLetter;
			return firstLetter + ".";
		},
		closePopup() {
			this.showPopupPay = false;
		},
		payDeposit() {
			self = this;
			if (Number(this.incrDeposit) > 0) {
				var depositData = {
					company_id: this.companyId,
					sum: this.incrDeposit
				};
				API.incDeposit(depositData)
					.then(response => {
						if (response.data.status == "success") {
							self.depositRes.sum = response.data.data.sum;
							self.depositRes.nds = response.data.data.nds;
							self.depositRes.number = response.data.data.number;
							self.openPopup();
						} else {
							self.showLoader = false;
							VueNotifications.error({ message: "Ошибка при загрузке данных" });
						}
						//тут что то будет
						//и затем откроем попап
					})
					.catch(e => {
						if (e.response) {
							self.showLoader = false;
							VueNotifications.error({ message: "Ошибка при загрузке данных" });
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						} else {
							self.showLoader = false;
							console.log(e.response);
							VueNotifications.error({ message: "Ошибка при загрузке данных" });
						}
					});
			} else {
				VueNotifications.error({ message: "Введите число отличное от нуля" });
			}
		},
		openPopup() {
			var top = document.querySelector(".traveler-card__item-body .pay")
				.offsetTop;
			this.topPosition = top - 200 + "px";
			this.showPopupPay = true;
		},
		formatePrice(price) {
			return price;
		},
		openDetails() {
			//open detail of order
		},
		openMobileTravels() {
			this.mobileTravels = true;
		},
		closeMobileTravels() {
			this.mobileTravels = false;
		},
		closeMobileHotels() {
			this.mobileHotels = false;
		},
		openMobileHotels() {
			this.mobileHotels = true;
		},
		closeCompanyCard() {
			this.$emit("hideCompanyCard");
		},
		openName() {
			this.isChangeName = true;
		},
		saveName() {
			if (this.isChangeName) {
				this.isChangeName = false;
			}
		}
	}
};
</script>
