<template lang="pug">
  .dashboard
    .mobile-timetable
      .header
        .inner
          .events
            img(src='../assets/icons/bells.svg')
            template 2
          template {{ $t("dashboard.schedule", currentLangCode) }}
      .body
        .item(v-for="(date, index) in datesOfMonthFromToday" v-if='getEventHotel(date).length>0 || getEventFlight(date).length>0')
          .date
            template(v-if='index === 0') {{ $t("dashboard.today", currentLangCode) }}
            template(v-else-if='index === 1') {{ $t("dashboard.tomorrow", currentLangCode) }}
            template(v-else) {{ dateToString(date) }}
          ul
            li(v-for="flight in getEventFlight(date)")
              img(src='../assets/icons/jet.svg' width="20")
              .name
                template(v-for='(pass, index) in flight.passengers')
                  span(v-if='index !== 0') ,
                  template {{pass}}
              .info {{flight.from}} {{flight.fromCode}} → {{flight.to}} {{flight.toCode}}
          ul
            li(v-for="hotel in getEventHotel(date)")
              img(src='../assets/icons/hotel-icon.svg' width="18")
              .name
                template(v-for='(pass, index) in hotel.guest')
                  span(v-if='index != 0') ,
                  template {{pass}}
              .info {{hotel.desc}}
    .datetime
      .calendare-switcher
        a(:class='{active:showCalendar}' @click='showCalendar=true' class="pointer")
          img(src='../assets/icons/calendar-white.svg' v-if='showCalendar')
          img(src='../assets/icons/calendar-dark.svg' v-else)
        a(:class='{active:!showCalendar}' @click='showTimeToday' class="pointer")
          img(src='../assets/icons/list-white.svg' v-if='!showCalendar')
          img(src='../assets/icons/list-dark.svg' v-else)

      calendar(:initialTrips='trips' :currentLang='currentLang' @showSelectTime='showTime' v-if='showCalendar')
      timetable(:initialTrips='trips' v-else :selectedDate='selectedDate')
    .lower-panel
      travelers(:travelers='travelers' :currentLang='currentLang' @showTravelerCard='showTravelerCard' @showTravelersList='showTravelersList')
      reservations(:reservations='reservations' :currentCurrency='currentCurrency' :currentLang='currentLang' @showCompanyHistory='showCompanyHistory' @openOrderInfo='openOrderInfo')
    footer(class='footer')
      p {{ $t("main.copyright", currentLangCode) }}
      router-link(to='agreements') {{ $t("dashboard.termsOfUse", currentLangCode) }}
      span(class="separator") |
      router-link(to='agreements') {{ $t("dashboard.privacyPolicy", currentLangCode) }}
</template>

<script>
import trips from "../gags/trips";
// import travelers from "../gags/travelers";
import passengers from "../gags/passengers";
import currencies from "../gags/currencies";

import Calendar from "./Calendar.vue";
import Timetable from "./Timetable.vue";
import Travelers from "./Travelers.vue";
import Reservations from "./Reservations.vue";
import TellInput from "./inputs/TelInput.vue";

import { API } from "../api.js";
import VueNotifications from "vue-notifications";

import getDecimal from "../utils/getdecimal";

export default {
	name: "dashboard",
	props: ["currentCurrency", "currentLang"],
	components: {
		calendar: Calendar,
		timetable: Timetable,
		travelers: Travelers,
		reservations: Reservations,
		"tel-input": TellInput
	},
	data() {
		return {
			showCalendar: window.innerWidth <= 767 ? false : true,
			val: "",
			trips: trips,
			passengers: passengers,
			currencies: currencies,
			selectedDate: +new Date().setHours(0, 0, 0, 0),
			datesOfMonthFromToday: []
		};
	},
	beforeMount() {
		this.$store.commit("changeTabletView", false);
		//при загрузке компонента делаем запрос для календаря
		self = this;
		//сначала проверим, может уже события у нас есть
		if (this.trips.length === 0) {
			//нам нужнно взять числа текущего месяца + числа для timetable(они могут отличаться)
			var startDate;
			var endDate;

			//текущий месяц
			var date = new Date(new Date().setHours(0, 0, 0, 0));
			var lastDay = new Date(date.getFullYear(), date.getMonth() + 1, 0);
			var firstDay = new Date(date.getFullYear(), date.getMonth(), 1);

			//для timetable
			var dayOfWeek = date.getDay();
			var dayNum = date.getDay() == 0 ? 7 : date.getDay();

			var firstTimeTable = new Date(
				date.getFullYear(),
				date.getMonth(),
				date.getDate()
			);
			firstTimeTable.setDate(firstTimeTable.getDate() - (10 + dayNum));

			var lastTimeTable = new Date(
				date.getFullYear(),
				date.getMonth(),
				date.getDate()
			);
			lastTimeTable.setDate(lastTimeTable.getDate() - (10 + dayNum) + 29);

			if (+firstDay < +firstTimeTable) {
				startDate = firstDay;
			} else {
				startDate = firstTimeTable;
			}
			if (+lastDay > +lastTimeTable) {
				endDate = lastDay;
			} else {
				endDate = lastTimeTable;
			}

			//теперь отправляем запрос

			//fix mme
			//в каком формате отправлять дату?????
			//
			var info = {
				startDate: startDate,
				endDate: endDate
			};
			/*API.getOrder(info).then(response => {
        var data = response.data
        if (data.status == 'success') {
            //тут нам приходят данные
            // запишем их в this.trips
            //дока поменяется, надо будет проверить
            self.trips = data.data
        }else{
          VueNotifications.error({message: 'error'+data});
        }
      })
      .catch(e => {
        if (e.response) {
          e.response.data.data.forEach(function(el){
            VueNotifications.error({message: el.message});
          })
        }
      })
*/
		}
		//нам надо массив дас ссегоддняншего дня до конца месяца
		var date = new Date(new Date().setHours(0, 0, 0, 0));
		var currentMonth = date.getMonth();

		while (currentMonth == date.getMonth()) {
			this.datesOfMonthFromToday.push(+date);
			date.setDate(date.getDate() + 1);
		}
	},
	computed: {
		reservations() {
			return this.$store.state.params.reservations;
		},
		travelers() {
			return this.$store.state.passengers.passengersForMainPage;
		},
		allEvents() {
			return this.$store.getters.getEvents();
		}
	},
	methods: {
		openOrderInfo() {
			this.$emit("openOrderInfo");
		},
		getEventFlight(day) {
			var date = this.dateToString(day);
			return this.allEvents[date] === undefined
				? []
				: this.allEvents[date]["flight"];
		},
		getEventHotel(day) {
			var date = this.dateToString(day);
			return this.allEvents[date] === undefined
				? []
				: this.allEvents[date]["hotels"];
		},
		dateToString(date) {
			var date = new Date(date);
			var day = date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
			var month =
				date.getMonth() > 9
					? Number(date.getMonth()) + 1
					: "0" + (Number(date.getMonth()) + 1);
			var year = date.getFullYear();
			var select = day + "." + month + "." + year;
			return select;
		},
		showTimeToday() {
			this.selectedDate = +new Date().setHours(0, 0, 0, 0);
			this.showCalendar = false;
		},
		showTime(date) {
			this.selectedDate = +date;
			this.showCalendar = false;
		},
		formatCost(cost, currency) {
			var residue = getDecimal(cost),
				cost = ("" + Math.floor(cost)).split(""),
				index = cost.length,
				result = [];

			while (index--) {
				if ((index + 1) % 3 == 0) {
					result.unshift(" " + cost[index]);
				} else {
					result.unshift("" + cost[index]);
				}
			}
			if (residue !== 0) {
				result[result.length - 1] = +result[result.length - 1] + residue;
			}
			return result.join("") + " " + this.currentCurrency.symbol;
		},
		formatDateTime(date) {
			var time = date.split("T")[1].split(":"),
				fullDate = date.split("T")[0].split("-");
			if (fullDate[2] < 10) {
				fullDate[2] = "0" + fullDate[2];
			}
			fullDate.join(".");

			var date = new Date(date.split("T")[0]),
				day = date.getDate(),
				month = date.getMonth() + 1,
				year = date.getFullYear(),
				hour = time[0],
				minutes = time[1];
			if (day < 10) {
				day = "0" + day;
			}
			if (month < 10) {
				month = "0" + month;
			}
			return "" + day + "." + month + "." + year + " " + hour + ":" + minutes;
		},
		showTravelerCard(id) {
			this.$emit("showTravelerCard", id);
		},
		showTravelersList() {
			this.$emit("showTravelersList");
		},
		showCompanyHistory() {
			this.$emit("showCompanyHistory");
		}
	}
};
</script>

