<template>
	<div class="flight-info-panel-wr" v-bar='{useScrollbarPseudo: true, preventParentScroll: true}'>
		<div class="flight-info-panel" v-click-outside='closePopUp'>
			<div class="inner">
				<div class="ttl">{{ $t("flightInfo.tariffConditions", currentLangCode) }}</div>
				<a href="#" class="close-popup" @click.prevent='closePopUp'><img src="../assets/icons/ico-close.svg" alt=""></a>
				<div class="direction" v-if='!loading && !badData' v-for="(rule, index) in flightOfFlightInfo.routes" :key='rule.flightNumber'>
					<div class="city">
						{{rule.from}} <img src="../assets/icons/jet.svg" class='jet' alt=""> {{rule.to}}
						<a href="#" class="close" @click.prevent='toggleSection(index)'>
							<template v-if='showBlock[index]'>{{ $t("main.close", currentLangCode) }} <img src="../assets/icons/ico-sort-arrow.svg" alt=""></template>
							<template v-else>{{ $t("main.open", currentLangCode) }} <img class='down' src="../assets/icons/ico-sort-arrow.svg" alt=""></template>
						</a>
					</div>
					<div class="details" v-show="showBlock[index]">
						<p class="attention">Внимание! Возврат билета производится строго по правилам авиакомпании.</p>
						<p>В случае комбинации в билете тарифов с различными правилами, наиболее строгие ограничения распространяются на весь маршрут.</p>
						<div class="action">
							<div class="head">
								<div class="name"><img src="../assets/icons/ico-refunds.svg" alt="">{{ $t("flightInfo.refund", currentLangCode) }}:</div>
								<div class="before-flight">{{ $t("flightInfo.beforeFlight", currentLangCode) }}
									<span class="red" v-if='!rule.refund.before'>З{{ $t("flightInfo.notAllowed", currentLangCode) }}</span>
									<span class="green" v-else>{{ $t("flightInfo.allowed", currentLangCode) }}</span>
								</div>
								<div class="after-flight">{{ $t("flightInfo.afterFlight", currentLangCode) }}
									<span class="red" v-if='!rule.refund.after'>{{ $t("flightInfo.notAllowed", currentLangCode) }}</span>
									<span class="green" v-else>{{ $t("flightInfo.allowed", currentLangCode) }}</span>
								</div>
							</div>
						</div>
						<div class="action">
							<div class="head">
								<div class="name"><img src="../assets/icons/ico-change.svg" alt="">{{ $t("flightInfo.exchange", currentLangCode) }}:</div>
								<div class="before-flight">{{ $t("flightInfo.beforeFlight", currentLangCode) }}
									<span class="red" v-if='!rule.change.before'>{{ $t("flightInfo.notAllowed", currentLangCode) }}</span>
									<span class="green" v-else>{{ $t("flightInfo.allowed", currentLangCode) }}</span>
								</div>
								<div class="after-flight">{{ $t("flightInfo.afterFlight", currentLangCode) }}
									<span class="red" v-if='!rule.change.after'>З{{ $t("flightInfo.notAllowed", currentLangCode) }}</span>
									<span class="green" v-else>{{ $t("flightInfo.allowed", currentLangCode) }}</span>
								</div>
							</div>
							<p>{{rule.rules}}</p>
						</div>
					</div>
				</div>
				<div v-if='badData' class="error">
					{{ $t("errors.dataFetch", currentLangCode) }}
				</div>
				<div class="loading" v-if='loading'>
					<div class="loader"></div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import { API } from "../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "flight-info",
	props: ["flightOfFlightInfo"],
	data() {
		return {
			badData: false,
			loading: false,
			showBlock: []
		};
	},
	created() {
		if (this.flightOfFlightInfo.loadedInfo) {
			//инфа есть
			this.flightOfFlightInfo.routes.forEach((element, index) => {
				if (index) {
					this.$set(this.showBlock, index, false);
				} else {
					this.$set(this.showBlock, index, true);
				}
			});
		} else {
			//будем загружать
			this.loading = true;
			this.loadInfo();
		}

		//добавим поле
	},
	methods: {
		toggleSection(index) {
			// this.showBlock[index] = !this.showBlock[index];
			this.$set(this.showBlock, index, !this.showBlock[index]);
			console.log(this.showBlock);
		},
		formatText(text) {
			text.replace("\n", "<br>");
		},
		closePopUp() {
			this.$emit("closeFlightInfo");
		},
		loadInfo() {
			var recData = {
				search_id: this.$store.state.flights.searchId,
				fare_id: this.flightOfFlightInfo.frId || this.flightOfFlightInfo[0].frId
			};
			// var policy = {
			// 	id: this.flightOfFlightInfo.frId,
			// 	policy: this.resp.data
			// };
			// this.$store.commit("updateFlight", policy);
			// this.loading = false;
			API.getFlightInfo(recData)
				.then(response => {
					this.loading = false;
					if (response.data.status == "success") {
						if (response.data.data.routes) {
							var policy = {
								id: this.flightOfFlightInfo.frId,
								policy: response.data.data
							};
							this.$store.commit("updateFlight", policy);
							this.flightOfFlightInfo.routes.forEach((element, index) => {
								if (index) {
									this.$set(this.showBlock, index, false);
								} else {
									this.$set(this.showBlock, index, true);
								}
							});
						} else {
							this.badData = true;
						}
					} else {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					this.loading = false;
					VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
				});
		}
	},
	computed: {
		resp() {
			return {
				status: "success",
				data: {
					routes: [
						{
							from: "MSQ",
							to: "VKO",
							startDate: "2018-03-13T00:00:00",
							reservClass: "L",
							serviceClass: "E",
							airCompany: "UT",
							flightNumber: "836",
							rules:
								"0.  APPLICATION AND OTHER CONDITIONS\nRULE - 021/STOW\nUNLESS OTHERWISE SPECIFIED\nPEX FARES BETWEEN AREA 2 AND AREA 3\n APPLICATION\n   AREA\n     THESE FARES APPLY\n     WITHIN AREA 2.\n   CLASS OF SERVICE\n     THESE FARES APPLY FOR ECONOMY CLASS SERVICE.\n   TYPES OF TRANSPORTATION\n     THIS RULE GOVERNS ROUND-TRIP FARES.\n     FARES GOVERNED BY THIS RULE CAN BE USED TO CREATE\n     ROUND-TRIP/OPEN-JAW JOURNEYS.\n RULES NOT APPLICABLE\n   CHECK MANDATORY THE TIMATIC RULES OF CROSSING\n   THE BORDERS OF FOREIGN COUNTRIES FOR ALL\n   PASSENGERS.\n4.  FLIGHT APPLICATION\nUNLESS OTHERWISE SPECIFIED\n  THE FARE COMPONENT MUST BE ON\n      ONE OR MORE OF THE FOLLOWING\n        ANY UT FLIGHT.\n5.  ADVANCE RES/TICKETING\nFOR L- TYPE FARES\n  RESERVATIONS FOR ALL SECTORS ARE REQUIRED AT LEAST 100\n  DAYS BEFORE DEPARTURE.\n  TICKETING MUST BE COMPLETED WITHIN 9 DAYS AFTER\n  RESERVATIONS ARE MADE.\n  OR - RESERVATIONS FOR ALL SECTORS ARE REQUIRED AT LEAST 14\n       DAYS BEFORE DEPARTURE.\n       TICKETING MUST BE COMPLETED WITHIN 72 HOURS AFTER\n       RESERVATIONS ARE MADE.\n  OR - RESERVATIONS FOR ALL SECTORS ARE REQUIRED AT LEAST 3\n       DAYS BEFORE DEPARTURE.\n       TICKETING MUST BE COMPLETED WITHIN 24 HOURS AFTER\n       RESERVATIONS ARE MADE.\n  OR - RESERVATIONS FOR ALL SECTORS ARE REQUIRED AT LEAST 24\n       HOURS BEFORE DEPARTURE.\n       TICKETING MUST BE COMPLETED WITHIN 3 HOURS AFTER\n       RESERVATIONS ARE MADE.\n  OR - RESERVATIONS ARE REQUIRED FOR ALL SECTORS.\n       TICKETING MUST BE COMPLETED WITHIN 1 HOUR AFTER\n       RESERVATIONS ARE MADE.\n         NOTE -\n          FARE IS NOT GUARANTEED UNTIL TICKETED\n8.  STOPOVERS\nUNLESS OTHERWISE SPECIFIED\n  UNLIMITED STOPOVERS PERMITTED ON THE PRICING UNIT.\n10. PERMITTED COMBINATIONS\nUNLESS OTHERWISE SPECIFIED\n   APPLICABLE ADD-ON CONSTRUCTION IS ADDRESSED IN\n   MISCELLANEOUS PROVISIONS - CATEGORY 23.\n  END-ON-END\n    END-ON-END COMBINATIONS PERMITTED WITH FARES FROM/TO VKO\n    AIRPORT. VALIDATE ALL FARE COMPONENTS. SIDE TRIPS\n    PERMITTED.\n   PROVIDED -\n     COMBINATIONS ARE FOR CARRIER SU IN RULE EPR1/ESR1/ES01\n      IN ANY TARIFF.\n  END-ON-END\n    END-ON-END COMBINATIONS PERMITTED. VALIDATE ALL FARE\n    COMPONENTS. SIDE TRIPS PERMITTED.\n   PROVIDED -\n     COMBINATIONS ARE WITH ANY ONE WAY U-/M-/L-/K-/H-/B-/A-/\n     Y-/S-/E-/W- TYPE FARES FOR CARRIER 5F.\n  OPEN JAWS/ROUND TRIPS/CIRCLE TRIPS/END-ON-END\n    FARES MAY BE COMBINED ON A HALF ROUND TRIP BASIS\n    -TO FORM SINGLE OR DOUBLE OPEN JAWS/ROUND TRIPS/CIRCLE\n    TRIPS.\n    END-ON-END COMBINATIONS PERMITTED. VALIDATE ALL FARE\n    COMPONENTS. SIDE TRIPS PERMITTED.\n   PROVIDED -\n     COMBINATIONS ARE WITH ANY FARE FOR CARRIER UT/PS/B2/BT/\n     LH IN ANY RULE AND TARIFF.\n15. SALES RESTRICTIONS\nUNLESS OTHERWISE SPECIFIED\n  TICKETS MUST BE ISSUED ON UT OR HR.\n  OR - TICKETS MUST BE ISSUED ON UT OR TK.\n  OR - TICKETS MUST BE ISSUED ON UT OR LH.\n  OR - TICKETS MUST BE ISSUED ON UT OR B2.\n  OR - TICKETS MUST BE ISSUED ON UT OR SU.\n  OR - TICKETS MUST BE ISSUED ON UT OR 9B.\n  OR - TICKETS MUST BE ISSUED ON UT OR PS.\n  OR - TICKETS MUST BE ISSUED ON UT OR BT.\n  OR - TICKETS MUST BE ISSUED ON UT OR DV.\n  OR - TICKETS MUST BE ISSUED ON UT OR A9.\n16. PENALTIES\nUNLESS OTHERWISE SPECIFIED\n  CANCELLATIONS\n    TICKET IS NON-REFUNDABLE IN CASE OF CANCEL/NO-SHOW/\n      REFUND.\n         NOTE -\n          FARE IS NON-REFUNDABLE.\n          YR TAX IS NON-REFUNDABLE.\n          YQ TAX IS NON-REFUNDABLE.\n          REFUND OF OTHER UNUSED FEES AND TAXES PERMITTED.\n          -----\n          IN CASE OF FARES COMBINATION WITH DIFFERENT\n          REFUND CONDITIONS THE CONDITIONS FOR EACH SEGMENT\n          APPLY.\n          ---------------\n          INVOLUNTARY REFUND IS PERMITTED\n          -BY REASON OF PAX ILLNESS/DEATH IF SEATS ON THE\n          REFUNDED FLIGHT SEGMENTS ARE CANCELLED BEFORE\n          CHECK-IN CLOSE TIME\n          -BY REASON OF FLIGHT DELAY/CANCEL IN ANY CASE.\n          -----\n          FOR FULLY UNUSED TKT- FULL REFUND.\n          FOR PARTIALLY USED TKT- AMOUNT SHOWN IN UNUSED\n          FLIGHT COUPON/S/ SHOULD BE REFUNDED.\n          ---------------\n          REFUND/VOLUNTARY AND INVOLUNTARY/ PERMITTED\n          WITHIN ONE YEAR\n          -FROM THE DATE OF ORIGINAL TKT ISSUE FOR FULLY\n          UNUSED TKT.\n          -FROM THE DATE OF DEPARTURE ON THE FIRST FLIGHT\n          SEGMENT FOR PARTIALLY USED TKT.\n  CHANGES\n    PER COUPON CHARGE EUR 15.00 FOR REISSUE/REVALIDATION.\n         NOTE -\n          IF TKT IS PRESENTED FOR CHANGE MORE THAN 24 HRS\n          BEFORE DEPARTURE TIME SHOWN ON THE CHANGED FLIGHT\n          COUPON CHARGE 15 EUR APPLIES PER EACH CHANGED\n          FLIGHT SEGMENT.\n          -----\n          IF TKT IS PRESENTED FOR CHANGE LESS THAN 24 HRS\n          BEFORE DEPARTURE TIME OR AFTER DEPARTURE TIME\n          SHOWN ON THE CHANGED FLIGHT COUPON CHARGE 30 EUR\n          APPLIES PER EACH CHANGED FLIGHT SEGMENT.\n          -----\n          CHARGE FOR CHANGE PROCEDURE APPLIES PER EACH\n          CHANGED FLIGHT SEGMENT.\n          CHILDREN DISCOUNTS ARE NOT APPLIED.\n          INFANTS WITHOUT A SEAT - WITHOUT CHARGE.\n          ------\n          IN CASE OF FARES COMBINATION WITH DIFFERENT\n          CHANGE CONDITIONS THE CONDITIONS FOR EACH SEGMENT\n          APPLY.\n          -----\n          FARE MUST BE RECALCULATED FROM THE POINT OF\n          ORIGIN USING -STANDARD- OR -FLEXIBLE- FARES.\n          ANY DIFFERENCE BETWEEN THE FARE PAID AND\n          THE CURRENT FARE MUST BE COLLECTED.\n          -----\n          DOWNGRADING TO THE LOWER FARE IS NOT PERMITTED ON\n          ANY CHANGED SEGMENT.\n          -----\n          YR TAX SHOULD BE ADDITIONALLY COLLECTED FOR\n          CHANGED SEGMENT/S/ EVERY TIME IN CASE OF\n          CHANGES.\n          -------------------\n          TKT IS VALID FOR CHANGE /VOLUNTARY AND\n          INVOLUNTARY/ WITHIN ONE YEAR\n          -FROM THE DATE OF ORIGINAL TKT ISSUE FOR FULLY\n          UNUSED TKT.\n          -FROM THE DATE OF DEPARTURE ON THE FIRST FLIGHT\n          SEGMENT FOR PARTIALLY USED TKT.\n17. HIP/MILEAGE EXCEPTIONS\nUNLESS OTHERWISE SPECIFIED\n         NOTE -\n          HIGHER INTERMEDIATE RULE APPLIES.\n18. TICKET ENDORSEMENT\nUNLESS OTHERWISE SPECIFIED   NOTE - GENERAL RULE DOES NOT\nAPPLY\n  THE ORIGINAL AND THE REISSUED TICKET MUST BE ANNOTATED -\n  NONREFUNDABLE - AND - NO FREE MEAL - IN THE ENDORSEMENT\n  BOX.\n19. CHILDREN DISCOUNTS\nUNLESS OTHERWISE SPECIFIED\n  ACCOMPANIED CHILD 2-11 - CHARGE 75 PERCENT OF THE FARE.\n        TICKET DESIGNATOR - CH AND PERCENT OF DISCOUNT.\n         NOTE -\n          DISCOUNT APPLIES IF THE NUMBER OF CHILDREN IS 4\n          OR LESS\n          -----------------------------------------------\n          UNACCOMPANIED CHILDREN NOT PERMITTED\n  OR - 1ST AND EACH ADDITIONAL GROUP CHILD 2-11 - CHARGE 95\n         PERCENT OF THE FARE.\n             TICKET DESIGNATOR - CH AND PERCENT OF DISCOUNT.\n         NOTE -\n          DISCOUNT APPLIES IF THE NUMBER OF CHILDREN IN THE\n          GROUP IS MORE THAN 4. GROUP REQUIRED TO TRAVEL\n          TOGETHER FOR THE ENTIRE PRICING UNIT.\n          --------------------\n          UNACCOMPANIED CHILDREN NOT PERMITTED\n  OR - 1ST INFANT UNDER 2 WITHOUT A SEAT - CHARGE 10 PERCENT\n         OF THE FARE.\n             TICKET DESIGNATOR - IN AND PERCENT OF DISCOUNT\n  OR - 2ND AND EACH ADDITIONAL INFANT UNDER 2 WITHOUT A\n         SEAT- CHARGE 75 PERCENT OF THE FARE.\n             TICKET DESIGNATOR - IN AND PERCENT OF DISCOUNT\n  OR - INFANT UNDER 2 WITH A SEAT - CHARGE 75 PERCENT OF THE\n         FARE.\n             TICKET DESIGNATOR - IN AND PERCENT OF DISCOUNT.\n         NOTE -\n          UNACCOMPANIED INFANTS NOT PERMITTED\nUNLESS OTHERWISE SPECIFIED\n  ACCOMPANIED CHILD 2-11 - CHARGE 75 PERCENT OF THE FARE.\n        TICKET DESIGNATOR - CH AND PERCENT OF DISCOUNT.\n         NOTE -\n          DISCOUNT APPLIES IF THE NUMBER OF CHILDREN IS 4\n          OR LESS\n          -----------------------------------------------\n          UNACCOMPANIED CHILDREN NOT PERMITTED\n  OR - 1ST AND EACH ADDITIONAL GROUP CHILD 2-11 - CHARGE 95\n         PERCENT OF THE FARE.\n             TICKET DESIGNATOR - CH AND PERCENT OF DISCOUNT.\n         NOTE -\n          DISCOUNT APPLIES IF THE NUMBER OF CHILDREN IN THE\n          GROUP IS MORE THAN 4. GROUP REQUIRED TO TRAVEL\n          TOGETHER FOR THE ENTIRE PRICING UNIT.\n          --------------------\n          UNACCOMPANIED CHILDREN NOT PERMITTED\n  OR - 1ST INFANT UNDER 2 WITHOUT A SEAT - CHARGE 10 PERCENT\n         OF THE FARE.\n             TICKET DESIGNATOR - IN AND PERCENT OF DISCOUNT\n  OR - 2ND AND EACH ADDITIONAL INFANT UNDER 2 WITHOUT A\n         SEAT- CHARGE 75 PERCENT OF THE FARE.\n             TICKET DESIGNATOR - IN AND PERCENT OF DISCOUNT\n  OR - INFANT UNDER 2 WITH A SEAT - CHARGE 75 PERCENT OF THE\n         FARE.\n             TICKET DESIGNATOR - IN AND PERCENT OF DISCOUNT.\n         NOTE -\n          UNACCOMPANIED INFANTS NOT PERMITTED\n20. TOUR CONDUCTOR DISCOUNTS\nUNLESS OTHERWISE SPECIFIED\n         NOTE -\n          TOUR CONDUCTOR DISCOUNTS NOT PERMITTED.\n21. AGENT DISCOUNTS\nUNLESS OTHERWISE SPECIFIED\n         NOTE -\n          AGENT DISCOUNTS NOT PERMITTED.\n22. ALL OTHER DISCOUNTS\nFOR L- TYPE FARES\n         NOTE -\n          NOT PERMITTED.\n",
							refund: {
								before: false,
								after: false
							},
							change: {
								before: true,
								after: true
							},
							returnTaxes: true,
							language: "en"
						},
						{
							from: "SVO",
							to: "RIX",
							startDate: "2018-03-13T00:00:00",
							reservClass: "P",
							serviceClass: "E",
							airCompany: "BT",
							flightNumber: "423",
							rules:
								"0.  APPLICATION AND OTHER CONDITIONS\nRULE - 021/5502\nFOR -SALE TYPE FARES\nAIR BALTIC BASIC CLASS FARES FOR SALES CAMPAIGN\n APPLICATION\n   AREA\n     THESE FARES APPLY\n     WITHIN EUROPE.\n   CLASS OF SERVICE\n     THESE FARES APPLY FOR ECONOMY CLASS SERVICE.\n   TYPES OF TRANSPORTATION\n     FARES GOVERNED BY THIS RULE CAN BE USED TO CREATE\n     ONE-WAY/ROUND-TRIP/OPEN-JAW JOURNEYS.\n CAPACITY LIMITATIONS\n   THE CARRIER SHALL LIMIT THE NUMBER OF PASSENGERS CARRIED\n   ON ANY ONE FLIGHT AT FARES GOVERNED BY THIS RULE AND SUCH\n   FARES WILL NOT NECESSARILY BE AVAILABLE ON ALL FLIGHTS.\n   THE NUMBER OF SEATS WHICH THE CARRIER SHALL MAKE\n   AVAILABLE ON A GIVEN FLIGHT WILL BE DETERMINED BY THE\n   CARRIERS BEST JUDGMENT\n4.  FLIGHT APPLICATION\nUNLESS OTHERWISE SPECIFIED\n  THE FARE COMPONENT MUST BE ON\n      ONE OR MORE OF THE FOLLOWING\n        ANY BT FLIGHT OPERATED BY BT.\n5.  ADVANCE RES/TICKETING\nBETWEEN MOW AND PAR FOR PRUOSALE FARES\n  RESERVATIONS FOR ALL SECTORS ARE REQUIRED AT LEAST 14 DAYS\n  BEFORE DEPARTURE.\n  TICKETING MUST BE COMPLETED WITHIN 24 HOURS AFTER\n  RESERVATIONS ARE MADE OR AT LEAST 14 DAYS BEFORE DEPARTURE\n  WHICHEVER IS EARLIER.\n         NOTE -\n          WARNING-\n          ALL RESERVATIONS MADE WITHOUT TICKET NUMBER WILL\n          BE CANCELLED AFTER TICKETING DEADLINE AT ANY TIME\n          BY BT.\n8.  STOPOVERS\nUNLESS OTHERWISE SPECIFIED\n  UNLIMITED STOPOVERS PERMITTED ON THE PRICING UNIT AT\n      EUR 50.00 EACH.\n     A STOPOVER MAY NOT EXCEED 48 HOURS.\n10. PERMITTED COMBINATIONS\nUNLESS OTHERWISE SPECIFIED\n   APPLICABLE ADD-ON CONSTRUCTION IS ADDRESSED IN\n   MISCELLANEOUS PROVISIONS - CATEGORY 23.\n  OPEN JAWS/ROUND TRIPS/CIRCLE TRIPS/END-ON-END\n    FARES MAY BE COMBINED ON A HALF ROUND TRIP BASIS\n    -TO FORM SINGLE OR DOUBLE OPEN JAWS/ROUND TRIPS/CIRCLE\n    TRIPS.\n    END-ON-END COMBINATIONS PERMITTED WITH DOMESTIC/\n    INTERNATIONAL FARES. VALIDATE ALL FARE COMPONENTS. SIDE\n    TRIPS PERMITTED.\n   PROVIDED -\n     COMBINATIONS ARE NOT WITH ANY O-/T- TYPE FARES FOR\n     CARRIER SK IN ANY RULE AND TARIFF.\n  OPEN JAWS/ROUND TRIPS/CIRCLE TRIPS/END-ON-END\n    FARES MAY BE COMBINED ON A HALF ROUND TRIP BASIS\n    -TO FORM SINGLE OR DOUBLE OPEN JAWS/ROUND TRIPS/CIRCLE\n    TRIPS.\n    END-ON-END COMBINATIONS PERMITTED WITH DOMESTIC/\n    INTERNATIONAL FARES. VALIDATE ALL FARE COMPONENTS. SIDE\n    TRIPS PERMITTED.\n   PROVIDED -\n     COMBINATIONS ARE WITH ANY FARE FOR ANY CARRIER WITH ANY\n      RULE IN ANY PUBLIC TARIFF.\n11. BLACKOUT DATES\n UNLESS OTHERWISE SPECIFIED\n  TRAVEL IS NOT PERMITTED 26APR 18 THROUGH 02MAY 18.\n14. TRAVEL RESTRICTIONS\n UNLESS OTHERWISE SPECIFIED\n  VALID FOR TRAVEL COMMENCING ON EACH FARE COMPONENT ON/\n  AFTER 10FEB 18. TRAVEL ON THIS FARE COMPONENT MUST\n  COMMENCE BY MIDNIGHT ON 31MAY 18.\n15. SALES RESTRICTIONS\n UNLESS OTHERWISE SPECIFIED\n  RESERVATIONS MUST BE MADE AND TICKETS ISSUED ON/BEFORE\n  15FEB 18.\nUNLESS OTHERWISE SPECIFIED\n  TICKETS MUST BE ISSUED ON BT.\n  EXTENSION OF TICKET VALIDITY IS NOT PERMITTED.\n16. PENALTIES\nFOR -SALE TYPE FARES\n  CHANGES/CANCELLATIONS\n    ANY TIME\n      TICKET IS NON-REFUNDABLE. CHANGES NOT PERMITTED.\n         NOTE -\n          WHEN COMBINING ON A HALF ROUNDTRIP BASIS THE\n          PENALTY CONDITIONS FOR EACH FARE COMPONENT APPLY\n          --------------------------------------------------\n          YQ/YR CHARGES ARE NON-REFUNDABLE\n          IF OB FEE IS USED AS PART OF FORM OF PAYMENT THEN\n          ALSO OB FEES ARE NON-REFUNDABLE\n          REFUND OF UNUSED TAXES PERMITTED FOR FULLY UNUSED\n          FARE COMPONENT.IF PART OF FARE COMPONENT IS USED -\n          IN THIS CASE NO TAX REFUND WILL BE PERMITTED.\n          --------------------------------------------------\n          NAME CHANGE NOT PERMITTED\n          --------------------------------------------------\n          A TICKET/ELECTRONIC TICKET IS NOT DEEMED VALID IF\n          THE FIRST COUPON FROM FARE COMPONENT IS UNUSED\n          AND WILL NOT BE HONORED IF ALL COUPONS ARE NOT\n          USED IN THE SEQUENCE PROVIDED FOR IN THE TICKET/\n          ELECTRONIC TICKET FARE COMPONENT\n          IF THE FIGHT SEGMENTS FOR OUTBOUND TRAVEL FROM\n          FARE COMPONENT ARE UNUSED THE FLIGHT SEGMENTS FOR\n          INBOUND TRAVEL COULD BE USED FOR FLIGHTS/DATES\n          AS PER PURCHASED TICKET/ELECTRONIC TICKET\n17. HIP/MILEAGE EXCEPTIONS\nUNLESS OTHERWISE SPECIFIED\n  THE HIGHER INTERMEDIATE POINT RULE DOES NOT APPLY FOR\n  STOPOVERS.\n  THE HIGHER INTERMEDIATE POINT RULE DOES NOT APPLY FOR\n  CONNECTIONS.\n18. TICKET ENDORSEMENT\nUNLESS OTHERWISE SPECIFIED\n  THE ORIGINAL TICKET MUST BE ANNOTATED - RESTRICTIONS\n  APPLY- AND - PER FARE COMPONENT. - AND - BAGGAGE CHECK-IN\n  FEE - AND - APPLIES - IN THE ENDORSEMENT BOX.\n19. CHILDREN DISCOUNTS\nUNLESS OTHERWISE SPECIFIED\n  ACCOMPANIED CHILD 2-11 - CHARGE 75 PERCENT OF THE FARE.\n        TICKET DESIGNATOR - CH\n  OR - 1ST INFANT UNDER 2 WITHOUT A SEAT - CHARGE 10 PERCENT\n         OF THE FARE.\n             TICKET DESIGNATOR - IN.\n         MUST BE ACCOMPANIED BY ADULT 12 OR OLDER\n  OR - INFANT UNDER 2 WITH A SEAT - CHARGE 75 PERCENT OF THE\n         FARE.\n             TICKET DESIGNATOR - IN\n  OR - UNACCOMPANIED CHILD 5-11 - CHARGE 75 PERCENT OF THE\n         FARE.\n             TICKET DESIGNATOR - UNN.\n         NOTE -\n          UNACCOMPANIED MINORS UNDER 5 YEARS OF AGE WILL\n          NOT BE ACCEPTED FOR CARRIAGE.\n21. AGENT DISCOUNTS\nNONE UNLESS OTHERWISE SPECIFIED\n23. MISCELLANEOUS PROVISIONS\nUNLESS OTHERWISE SPECIFIED\n  THIS FARE MUST NOT BE USED AS THE HIGH OR THE LOW FARE\n  WHEN CALCULATING A DIFFERENTIAL. THIS FARE MUST NOT BE\n  USED AS THE THROUGH FARE WHEN PRICING A FARE COMPONENT\n  WITH A DIFFERENTIAL.\n         NOTE -\n          DO NOT APPLY DIFFERENTIAL CALCULATION ON THIS FARE\n31. VOLUNTARY CHANGES\nDO A CATEGORY 31 SPECIFIC TEXT ENTRY TO VIEW CONTENTS\nALSO REFERENCE 16 PENALTIES - FOR ADDITIONAL CHANGE INFORMATION\n",
							refund: {
								before: false,
								after: false
							},
							change: {
								before: true,
								after: true
							},
							returnTaxes: false,
							language: "en"
						},
						{
							from: "RIX",
							to: "CDG",
							startDate: "2018-03-13T00:00:00",
							reservClass: "P",
							serviceClass: "E",
							airCompany: "BT",
							flightNumber: "691",
							rules:
								"0.  APPLICATION AND OTHER CONDITIONS\nRULE - 021/5502\nFOR -SALE TYPE FARES\nAIR BALTIC BASIC CLASS FARES FOR SALES CAMPAIGN\n APPLICATION\n   AREA\n     THESE FARES APPLY\n     WITHIN EUROPE.\n   CLASS OF SERVICE\n     THESE FARES APPLY FOR ECONOMY CLASS SERVICE.\n   TYPES OF TRANSPORTATION\n     FARES GOVERNED BY THIS RULE CAN BE USED TO CREATE\n     ONE-WAY/ROUND-TRIP/OPEN-JAW JOURNEYS.\n CAPACITY LIMITATIONS\n   THE CARRIER SHALL LIMIT THE NUMBER OF PASSENGERS CARRIED\n   ON ANY ONE FLIGHT AT FARES GOVERNED BY THIS RULE AND SUCH\n   FARES WILL NOT NECESSARILY BE AVAILABLE ON ALL FLIGHTS.\n   THE NUMBER OF SEATS WHICH THE CARRIER SHALL MAKE\n   AVAILABLE ON A GIVEN FLIGHT WILL BE DETERMINED BY THE\n   CARRIERS BEST JUDGMENT\n4.  FLIGHT APPLICATION\nUNLESS OTHERWISE SPECIFIED\n  THE FARE COMPONENT MUST BE ON\n      ONE OR MORE OF THE FOLLOWING\n        ANY BT FLIGHT OPERATED BY BT.\n5.  ADVANCE RES/TICKETING\nBETWEEN MOW AND PAR FOR PRUOSALE FARES\n  RESERVATIONS FOR ALL SECTORS ARE REQUIRED AT LEAST 14 DAYS\n  BEFORE DEPARTURE.\n  TICKETING MUST BE COMPLETED WITHIN 24 HOURS AFTER\n  RESERVATIONS ARE MADE OR AT LEAST 14 DAYS BEFORE DEPARTURE\n  WHICHEVER IS EARLIER.\n         NOTE -\n          WARNING-\n          ALL RESERVATIONS MADE WITHOUT TICKET NUMBER WILL\n          BE CANCELLED AFTER TICKETING DEADLINE AT ANY TIME\n          BY BT.\n8.  STOPOVERS\nUNLESS OTHERWISE SPECIFIED\n  UNLIMITED STOPOVERS PERMITTED ON THE PRICING UNIT AT\n      EUR 50.00 EACH.\n     A STOPOVER MAY NOT EXCEED 48 HOURS.\n10. PERMITTED COMBINATIONS\nUNLESS OTHERWISE SPECIFIED\n   APPLICABLE ADD-ON CONSTRUCTION IS ADDRESSED IN\n   MISCELLANEOUS PROVISIONS - CATEGORY 23.\n  OPEN JAWS/ROUND TRIPS/CIRCLE TRIPS/END-ON-END\n    FARES MAY BE COMBINED ON A HALF ROUND TRIP BASIS\n    -TO FORM SINGLE OR DOUBLE OPEN JAWS/ROUND TRIPS/CIRCLE\n    TRIPS.\n    END-ON-END COMBINATIONS PERMITTED WITH DOMESTIC/\n    INTERNATIONAL FARES. VALIDATE ALL FARE COMPONENTS. SIDE\n    TRIPS PERMITTED.\n   PROVIDED -\n     COMBINATIONS ARE NOT WITH ANY O-/T- TYPE FARES FOR\n     CARRIER SK IN ANY RULE AND TARIFF.\n  OPEN JAWS/ROUND TRIPS/CIRCLE TRIPS/END-ON-END\n    FARES MAY BE COMBINED ON A HALF ROUND TRIP BASIS\n    -TO FORM SINGLE OR DOUBLE OPEN JAWS/ROUND TRIPS/CIRCLE\n    TRIPS.\n    END-ON-END COMBINATIONS PERMITTED WITH DOMESTIC/\n    INTERNATIONAL FARES. VALIDATE ALL FARE COMPONENTS. SIDE\n    TRIPS PERMITTED.\n   PROVIDED -\n     COMBINATIONS ARE WITH ANY FARE FOR ANY CARRIER WITH ANY\n      RULE IN ANY PUBLIC TARIFF.\n11. BLACKOUT DATES\n UNLESS OTHERWISE SPECIFIED\n  TRAVEL IS NOT PERMITTED 26APR 18 THROUGH 02MAY 18.\n14. TRAVEL RESTRICTIONS\n UNLESS OTHERWISE SPECIFIED\n  VALID FOR TRAVEL COMMENCING ON EACH FARE COMPONENT ON/\n  AFTER 10FEB 18. TRAVEL ON THIS FARE COMPONENT MUST\n  COMMENCE BY MIDNIGHT ON 31MAY 18.\n15. SALES RESTRICTIONS\n UNLESS OTHERWISE SPECIFIED\n  RESERVATIONS MUST BE MADE AND TICKETS ISSUED ON/BEFORE\n  15FEB 18.\nUNLESS OTHERWISE SPECIFIED\n  TICKETS MUST BE ISSUED ON BT.\n  EXTENSION OF TICKET VALIDITY IS NOT PERMITTED.\n16. PENALTIES\nFOR -SALE TYPE FARES\n  CHANGES/CANCELLATIONS\n    ANY TIME\n      TICKET IS NON-REFUNDABLE. CHANGES NOT PERMITTED.\n         NOTE -\n          WHEN COMBINING ON A HALF ROUNDTRIP BASIS THE\n          PENALTY CONDITIONS FOR EACH FARE COMPONENT APPLY\n          --------------------------------------------------\n          YQ/YR CHARGES ARE NON-REFUNDABLE\n          IF OB FEE IS USED AS PART OF FORM OF PAYMENT THEN\n          ALSO OB FEES ARE NON-REFUNDABLE\n          REFUND OF UNUSED TAXES PERMITTED FOR FULLY UNUSED\n          FARE COMPONENT.IF PART OF FARE COMPONENT IS USED -\n          IN THIS CASE NO TAX REFUND WILL BE PERMITTED.\n          --------------------------------------------------\n          NAME CHANGE NOT PERMITTED\n          --------------------------------------------------\n          A TICKET/ELECTRONIC TICKET IS NOT DEEMED VALID IF\n          THE FIRST COUPON FROM FARE COMPONENT IS UNUSED\n          AND WILL NOT BE HONORED IF ALL COUPONS ARE NOT\n          USED IN THE SEQUENCE PROVIDED FOR IN THE TICKET/\n          ELECTRONIC TICKET FARE COMPONENT\n          IF THE FIGHT SEGMENTS FOR OUTBOUND TRAVEL FROM\n          FARE COMPONENT ARE UNUSED THE FLIGHT SEGMENTS FOR\n          INBOUND TRAVEL COULD BE USED FOR FLIGHTS/DATES\n          AS PER PURCHASED TICKET/ELECTRONIC TICKET\n17. HIP/MILEAGE EXCEPTIONS\nUNLESS OTHERWISE SPECIFIED\n  THE HIGHER INTERMEDIATE POINT RULE DOES NOT APPLY FOR\n  STOPOVERS.\n  THE HIGHER INTERMEDIATE POINT RULE DOES NOT APPLY FOR\n  CONNECTIONS.\n18. TICKET ENDORSEMENT\nUNLESS OTHERWISE SPECIFIED\n  THE ORIGINAL TICKET MUST BE ANNOTATED - RESTRICTIONS\n  APPLY- AND - PER FARE COMPONENT. - AND - BAGGAGE CHECK-IN\n  FEE - AND - APPLIES - IN THE ENDORSEMENT BOX.\n19. CHILDREN DISCOUNTS\nUNLESS OTHERWISE SPECIFIED\n  ACCOMPANIED CHILD 2-11 - CHARGE 75 PERCENT OF THE FARE.\n        TICKET DESIGNATOR - CH\n  OR - 1ST INFANT UNDER 2 WITHOUT A SEAT - CHARGE 10 PERCENT\n         OF THE FARE.\n             TICKET DESIGNATOR - IN.\n         MUST BE ACCOMPANIED BY ADULT 12 OR OLDER\n  OR - INFANT UNDER 2 WITH A SEAT - CHARGE 75 PERCENT OF THE\n         FARE.\n             TICKET DESIGNATOR - IN\n  OR - UNACCOMPANIED CHILD 5-11 - CHARGE 75 PERCENT OF THE\n         FARE.\n             TICKET DESIGNATOR - UNN.\n         NOTE -\n          UNACCOMPANIED MINORS UNDER 5 YEARS OF AGE WILL\n          NOT BE ACCEPTED FOR CARRIAGE.\n21. AGENT DISCOUNTS\nNONE UNLESS OTHERWISE SPECIFIED\n23. MISCELLANEOUS PROVISIONS\nUNLESS OTHERWISE SPECIFIED\n  THIS FARE MUST NOT BE USED AS THE HIGH OR THE LOW FARE\n  WHEN CALCULATING A DIFFERENTIAL. THIS FARE MUST NOT BE\n  USED AS THE THROUGH FARE WHEN PRICING A FARE COMPONENT\n  WITH A DIFFERENTIAL.\n         NOTE -\n          DO NOT APPLY DIFFERENTIAL CALCULATION ON THIS FARE\n31. VOLUNTARY CHANGES\nDO A CATEGORY 31 SPECIFIC TEXT ENTRY TO VIEW CONTENTS\nALSO REFERENCE 16 PENALTIES - FOR ADDITIONAL CHANGE INFORMATION\n",
							refund: {
								before: false,
								after: false
							},
							change: {
								before: true,
								after: true
							},
							returnTaxes: false,
							language: "en"
						}
					],
					changeFeeAmount: 1500,
					changeFeeCurrency: "RUB",
					returnFeeAmount: 900,
					returnFeeCurrency: "RUB"
				}
			};
		}
	}
};
</script>
