<template lang="pug">
	li.flights-list(:data-frid='flight.frId')
		.flights-list__direction
			.flights-list__img
				img(:src="imgurl(flight.directions.forward[0].airlineCode)" :srcset="`${imgurl2x(flight.directions.forward[0].airlineCode)} 2x`")
			.flights-list__from
				.time {{ startTimeForward }}
				.airport {{airportFromForward}}
				.date {{formateDate(startDateForward)}}
			.flights-list__info
				.duration  {{flightDurationForward}}
				.line(class="red" :class="{ one: (flight.directions.forward.length == 2), two: (flight.directions.forward.length == 3) }")
					img(src="../assets/icons/jet.svg" class='ico')
				.info(v-if='flight.directions.forward.length === 1') {{ $t("purchase.directFlight", currentLangCode) }}
				.info.red(v-else) {{ flight.directions.forward.length - 1 }} {{ Decliner(flight.directions.forward.length - 1, $t("decliner.transfer", currentLangCode), currentLangCode) }}

			.flights-list__to
				.time {{  entTimeForward }}
				.airport {{airportToForward}}
				.date {{formateDate(entDateForward)}}
			.flights-list__arrow
				a(class="btn" href="" @click.prevent="toggleForvardDetail()")
					img(src="../assets/icons/down-arrow.svg")
			.flight-list__airlines(v-if="subAirlinesForward.length") Выполняется совместно с
				template(v-if="currentLangCode === 'ru'")
					template(v-if='subAirlinesForward.length === 1')  {{ $t("manyDecliner.airline5". currentLangCode)[0] }} {{ subAirlinesForward[0] }}
					template(v-else)  {{ $t("manyDecliner.airline5". currentLangCode)[1] }} {{ subAirlinesForward.join(", ") }}
				template(v-else)
					template(v-if='subAirlinesForward.length === 1')  {{ subAirlinesForward[0] }} {{ $t("manyDecliner.airline5". currentLangCode)[0] }}
					template(v-else)  {{ subAirlinesForward.join(", ") }} {{ $t("manyDecliner.airline5". currentLangCode)[1] }}
			.flights-list__more-details(v-show="isDetailForward")
				template(v-for="(item, index) in flight.directions.forward")
					.top
						span.company {{item.plane}} |
							template(v-if="currentLangCode === 'ru'")  {{ $t("purchase.airline", currentLangCode) }} «{{ getAirline(item.airlineCode).name}}»
							template(v-else)  «{{ getAirline(item.airlineCode).name}}» {{ $t("purchase.airline", currentLangCode) }}
						a(class="tariff" href='' @click.prevent.stop='openFlightInfo(flight)') {{ $t("purchase.policy", currentLangCode) }}
						span.class {{flightClass}}
					.flight
						.line
						.from
							span.time {{item.startTime}}
							span.place {{ getAirpotAndCityFrom(item) }}
						.time-flight
							img(src='../assets/icons/clock-grey.svg')
							template {{ formateJrTime(item.jrnTm)}}
						.to
							span.time {{item.endTime}}
							span.place {{ getAirpotAndCityTo( item ) }}
					.transfer-duration(v-if="(item.transferTime || item.cityFromName) && !isLastIndex('forward', index)")
						img(src='../assets/icons/clock-red.svg')
						template {{formateJrTime(item.transferTime)}}
							template(v-if="currentLangCode === 'ru'")  Пересадка в г. {{ item.cityToName }}
							template(v-else)  Transfer in {{ item.cityToName }} city
		.flights-list__direction(v-if="isRoundTrip")
			.flights-list__img
				img(:src="imgurl(flight.directions.backward[0].airlineCode)" :srcset="`${imgurl2x(flight.directions.backward[0].airlineCode)} 2x`")
			.flights-list__from
				.time {{startTimeBackward}}
				.airport {{airportFromBackward}}
				.date {{formateDate(startDateBackward)}}
			.flights-list__info
				.duration  {{flightDurationBackward}}
				.line(class="blue" :class="{ one: (flight.directions.backward.length == 2), two: (flight.directions.backward.length == 3) }")
					img(src="../assets/icons/jet-blue.svg" class='ico')
				.info(v-if='flight.directions.backward.length === 1') {{ $t("purchase.directFlight", currentLangCode) }}
				.info.red(v-else) {{ flight.directions.backward.length - 1 }} {{ Decliner(flight.directions.backward.length - 1, $t("decliner.transfer", currentLangCode), currentLangCode) }}
			.flights-list__to
				.time {{ entTimeBackward }}
				.airport {{airportToBackward}}
				.date {{formateDate(entDateBackward)}}
			.flights-list__arrow
				a(class="btn" href="" @click.prevent="toggleBackwardDetail")
					img(src="../assets/icons/down-arrow.svg")
			.flight-list__airlines(v-if="subAirlinesBackward.length") Выполняется совместно с
				template(v-if="currentLangCode === 'ru'")
					template(v-if='subAirlinesForward.length === 1')  {{ $t("manyDecliner.airline5". currentLangCode)[0] }} {{ subAirlinesBackward[0] }}
					template(v-else)  {{ $t("manyDecliner.airline5". currentLangCode)[1] }} {{ subAirlinesBackward.join(", ") }}
				template(v-else)
					template(v-if='subAirlinesForward.length === 1')  {{ subAirlinesForward[0] }} {{ $t("manyDecliner.airline5". currentLangCode)[0] }}
					template(v-else)  {{ subAirlinesForward.join(", ") }} {{ $t("manyDecliner.airline5". currentLangCode)[1] }}
			.flights-list__more-details(v-show="isDetailBackward")
				template(v-for="(item, index) in flight.directions.backward")
					.top
						span.company {{item.plane}} |
							template(v-if="currentLangCode === 'ru'")  {{ $t("purchase.airline", currentLangCode) }} «{{ getAirline(item.airlineCode).name}}»
							template(v-else)  «{{ getAirline(item.airlineCode).name}}» {{ $t("purchase.airline", currentLangCode) }}
						a(class="tariff" href='' @click.prevent.stop='openFlightInfo(flight)') {{ $t("purchase.policy", currentLangCode) }}
						span.class {{flightClass}}
					.flight
						.line
						.from
							span.time {{item.startTime}}
							span.place {{ getAirpotAndCityFrom( item ) }}
						.time-flight
							img(src='../assets/icons/clock-grey.svg')
							template {{ formateJrTime(item.jrnTm)}}
						.to
							span.time {{item.endTime}}
							span.place {{ getAirpotAndCityTo( item ) }}
					.transfer-duration(v-if="(item.transferTime || item.cityFromName) && !isLastIndex('backward', index)")
						img(src='../assets/icons/clock-red.svg')
						template {{formateJrTime(item.transferTime)}}
							template(v-if="currentLangCode === 'ru'")  Пересадка в г. {{ item.cityToName }}
							template(v-else)  Transfer in {{ item.cityToName }} city
		.flights-list__footer
			.right
				span.price(v-html='`${getPrice(flight.priceInfo.displayTotalFare)} ${currentCurrency.symbol}`')
				span.btn.pointer(@click='openGate' v-if="flight.is_gate") {{ $t("gate.partnerBtn", currentLangCode) }}
				span.btn.pointer(@click='selectTicket' v-else) {{ $t("hotels.select", currentLangCode) }}
			.left
				.mobile-price(v-html='`${getPrice(flight.priceInfo.displayTotalFare)} ${currentCurrency.symbol}`')
				template CashBack  - {{getPrice(flight.priceInfo.cashback)}}
					span(v-html='` ${currentCurrency.symbol}`')
				.info {{ $t("flight.cashBack", currentLangCode) }}
			.clr

</template>

<script>
import Decliner from "../utils/decliner";

function subAirlines (direction) {
	if (!direction || direction.length < 2) return [];
	let usedCodes = [
		direction[0].airlineCode
	];
	return direction.slice(1)
		.filter(flight => {
			const code = flight.airlineCode;
			const condition = !usedCodes.includes(code);
			if (condition) usedCodes.push(code);
			return condition;
		})
		.map(flight => flight.airlineName)
}

export default {
	name: "flights-list",
	props: ["flight", "isRoundTrip"],
	data() {
		return {
			isDetailForward: false,
			isDetailBackward: false
		};
	},
	computed: {
		flightClass() {
			let id = this.$store.state.flights.classId;
			return `${this.$t("flightClasses", this.currentLangCode)[id]} ${_.toLower(this.$t("main.cls", this.currentLangCode))}`;
		},
		startTimeForward() {
			return this.flight.directions.forward[0].startTime;
		},
		entTimeForward() {
			return this.flight.directions.forward[
				this.flight.directions.forward.length - 1
			].endTime;
		},
		startDateForward() {
			return this.flight.directions.forward[0].startDate;
		},
		entDateForward() {
			return this.flight.directions.forward[
				this.flight.directions.forward.length - 1
			].endDate;
		},
		airportFromForward() {
			return this.flight.directions.forward[0].airportFromCode;
		},
		airportToForward() {
			return this.flight.directions.forward[
				this.flight.directions.forward.length - 1
			].airportToCode;
		},
		flightDurationForward() {
			var hour = 0;
			var min = 0;
			for (let element of this.flight.directions.forward) {
				let time = element.jrnTm.split(":");
				hour = Number(hour) + Number(time[1]) + Number(time[0]) * 60;
				min = Number(min) + Number(time[2]);
				if (element.transferTime) {
					hour = Number(hour) + Number(element.transferTime.slice(0, 2));
					min = Number(min) + Number(element.transferTime.slice(2, 4));
				}
			}
			if (min > 59) {
				var newHour = Math.floor(min / 60);
				hour = Number(hour) + Number(newHour);
				min = min - 60 * newHour;
			}
			var result = hour + "" + min;
			let hourLetter = this.$t("datetime.short.hour", this.currentLangCode);
			let minuteLetter = this.$t("datetime.short.minute", this.currentLangCode);
			if (hour > 0) {
				result = hour + hourLetter + ".";
			}
			if (min > 0) {
				result += min + minuteLetter + ".";
			}
			return result;
		},
		startTimeBackward(direction) {
			return this.flight.directions.backward[0].startTime;
		},
		entTimeBackward(direction) {
			return this.flight.directions.backward[
				this.flight.directions.backward.length - 1
			].endTime;
		},
		startDateBackward(direction) {
			return this.flight.directions.backward[0].startDate;
		},
		entDateBackward(direction) {
			return this.flight.directions.backward[
				this.flight.directions.backward.length - 1
			].endDate;
		},
		airportFromBackward() {
			return this.flight.directions.backward[0].airportFromCode;
		},
		airportToBackward() {
			return this.flight.directions.backward[
				this.flight.directions.backward.length - 1
			].airportToCode;
		},
		flightDurationBackward() {
			var hour = 0;
			var min = 0;
			for (let element of this.flight.directions.backward) {
				let time = element.jrnTm.split(":");
				hour = Number(hour) + Number(time[1]) + Number(time[0]) * 60;
				min = Number(min) + Number(time[2]);
				if (element.transferTime) {
					let transfer = element.transferTime.split(":");
					hour = Number(hour) + Number(transfer[1]) + Number(transfer[0]) * 60;
					min = Number(min) + Number(transfer[2]);
				}
			}
			if (min > 59) {
				var newHour = Math.floor(min / 60);
				hour = Number(hour) + Number(newHour);
				min = min - 60 * newHour;
			}
			var result = hour + "" + min;
			let hourLetter = this.$t("datetime.short.hour", this.currentLangCode);
			let minuteLetter = this.$t("datetime.short.minute", this.currentLangCode);
			if (hour > 0) {
				result = hour + hourLetter + ".";
			}
			if (min > 0) {
				result += min + minuteLetter + ".";
			}
			return result;
		},

		currentCurrency() {
			return this.$store.state.currencies.selectedCurrency;
		},
		classes() {
			return this.$store.state.params.classes;
		},
		subAirlinesForward () {
			return subAirlines(this.flight.directions.forward);
		},
		subAirlinesBackward () {
			return subAirlines(this.flight.directions.backward);
		}
	},
	methods: {
		openGate () {
			window.gate = {
				from: {
					city: this.$store.state.searchparameters.from.city,
					abbr: this.$store.state.searchparameters.from.abbr,
					date: this.$store.state.searchparameters.from.date
				},
				to: {
					city: this.$store.state.searchparameters.to.city,
					abbr: this.$store.state.searchparameters.to.abbr,
					date: this.$store.state.searchparameters.to.date
				},
				passengers: (
					this.$store.getters.getNewPassengersCount("adults") +
					this.$store.getters.getNewPassengersCount("children") +
					this.$store.getters.getNewPassengersCount("infants") +
					this.$store.state.searchparameters.selectedPassengers.length
				),
				searchId: this.$store.state.flights.searchId,
				tripHash: this.flight.tripHash,
				airline: this.flight.directions.forward[0].airlineCode
			};
			window.open("/#/gate", "_blank");
		},
		openFlightInfo(flight) {
			this.$emit("openFlightInfo", flight);
		},
		Decliner,
		notOneAirlines(flights) {
			var tempArralinesArray = [];
			if (flights.length == 1) {
				return tempArralinesArray;
			} else {
				for (let index = 0; index < flights.length; index++) {
					const element = flights[index].airlineCode;
					if (tempArralinesArray.indexOf(element)) {
						tempArralinesArray.push(element);
					}
				}
				return tempArralinesArray;
			}
		},
		imgurl(code) {
			return (
				"//beta.president.travel/images/airlogos/simple/" + code + ".png"
			);
		},
		imgurl2x(code) {
			return (
				"//beta.president.travel/images/airlogos/retina/" + code + ".png"
			);
		},
		getPrice(price) {
			let priceParts = price.toString().split(".");
			let firstPart = priceParts[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
			let secondPart = priceParts[1] ? priceParts[1].slice(0, 2) : "00";
			return `${firstPart}.${secondPart}`;
		},
		getAirportNameByCode(code) {
			return this.$store.getters.getAirportNameByCode(code);
		},
		selectTicket() {
            this.$store.commit("addFlight", this.flight);
            this.$router.push("purchase");
        },
		getCityName(code) {
			let airport = this.getAirport(code);
			let city = this.getCity(airport.cityCode).cityName;
			return city;
		},
		getAirpotAndCityFrom(item) {
			let airport = item.airportFromName;
			let city = item.cityFromName;
			if (city == airport) {
				return item.airportFromCode + " " + city;
			} else {
				return item.airportFromCode + " " + city + " " + airport;
			}
		},
		getAirpotAndCityTo(item) {
			let airport = item.airportToName;
			let city = item.cityToName;
			if (city == airport) {
				return item.airportToCode + " " + city;
			} else {
				return item.airportToCode + " " + city + " " + airport;
			}
		},
		/*    getAirpotAndCity(code){
			let airport = this.getAirport(code);
			let city = this.getCity(airport.cityCode).cityName;
			if (city == airport.airportName) {
				return code+' '+city
			}else{
				return code+' '+city+' '+airport.airportName
			}

		},*/
		toggleForvardDetail() {
			this.isDetailForward = !this.isDetailForward;
		},
		toggleBackwardDetail() {
			this.isDetailBackward = !this.isDetailBackward;
		},
		getAirport(code) {
			return this.$store.getters.getAirportByCode(code) == undefined
				? ""
				: this.$store.getters.getAirportByCode(code);
		},
		getAirline(code) {
			return this.$store.getters.getAirlineByCode(code) == undefined
				? ""
				: this.$store.getters.getAirlineByCode(code);
		},
		getCity(code) {
			return this.$store.getters.getCityByCode(code) == undefined
				? ""
				: this.$store.getters.getCityByCode(code);
		},
		formateDate(date) {
			return date.split("-").reverse().join(".")
		},
		formateTime(time) {
			return time[0] + time[1] + ":" + time[2] + time[3];
		},
		formateJrTime(time) {
			if (!time) return "";
			time = time.split(":");
			let dayLetter = this.$t("datetime.short.day", this.currentLangCode);
			let hourLetter = this.$t("datetime.short.hour", this.currentLangCode);
			let minuteLetter = this.$t("datetime.short.minute", this.currentLangCode);
			let output = `${time[1]}${hourLetter}. ${time[2]}${minuteLetter}.`;
			if (time[0] !== "00") output = `${time[0]}${dayLetter}. ${output}`;
			return output;
		},
		isLastIndex (direction, index) {
			return this.flight.directions[direction].length - 1 === index
		}
	}
};
</script>

<style lang='sass'>

</style>
