<template lang="pug">
	.hotels-dashboard(v-if='!needReq')
		.hotels-filter(:class='{minimized: isFilterPanelsMinimized}' v-click-outside='closeTableFilter')
			.header
				span {{ $t("hotels.filterSearch", currentLangCode) }}
				img(src='../assets/icons/filter.svg' class='pointer switcher' @click='toggleParam("isFilterPanelsMinimized")')
				img(src='../assets/icons/cancel.svg' class='close'  @click='toggleParam("isFilterPanelsMinimized")')
			.accordion( class='toggle-accordion')
				.btn
					p {{ $t("hotels.cost", currentLangCode) }}
				.body
					.cost-range
						p(v-html=" ''+costRange[0].toFixed(2)+currentCurrency.symbol+'—'+costRange[1].toFixed(2)+currentCurrency.symbol")
					.parameter
						vue-slider(v-model="costRange"
							v-if="!isFilterPanelsMinimized"
							@drag-end='filterAjax("price")'
							ref='rangeSlider'
							:min='parseFloat(filterParam.price.min_price)'
							:max='parseFloat(filterParam.price.max_price)'
							:dot-size='sliderConf.dotSize'
							:sliderStyle='sliderConf.sliderStyle'
							:height='sliderConf.height'
							:bgStyle='sliderConf.bgStyle'
							:processStyle='sliderConf.processStyle'
							:tooltip="false")
			.accordion.toggle-accordion
				.btn
					p {{ $t("main.hotels", currentLangCode) }}
				.body

					.parameter

						span(class='text') {{ $t("hotels.hotelsStars", currentLangCode) }}

					.parameter(v-for='star in sortedStars')
						input(type="checkbox" class="checkbox" :id="`stars-${star.id}`" :value="`stars-${star.id}`" v-model="hotelsStars" @change='filterAjax("stars")')
						label(:for="`stars-${star.id}`")  {{star.title}}
							i {{star.count}}

			.accordion( class='toggle-accordion')
				.btn()
					p {{ $t("hotels.services", currentLangCode) }}
				.body
					.parameter(v-for='(item, index) in filterParam.amenities' v-if="index < showAmenities")
						input(type="checkbox" class="checkbox" :id="item.id" :value="item.id" v-model="HotelAmenities" @change='filterAjax("amenities")')
						label(:for="item.id")  {{item.title}}
							i {{item.count}}
					a.more-filters(@click.prevent='showMoreAmenities' class='pointer')
						template(v-if='showAmenities == Infinity') {{ $t("hotels.hide", currentLangCode) }}
							img(src='../assets/icons/angle-arrow-down-yellow.svg')
						template(v-else) {{ $t("hotels.showAllAmenities", currentLangCode) }}
							img(src='../assets/icons/angle-arrow-down-yellow.svg' class='rotate')


			.accordion( class='toggle-accordion')
				.btn()
					p {{ $t("hotels.network", currentLangCode) }}
				.body
					.parameter(v-for='(item, index) in filterParam.hotel_chains' v-if="index < showChains")
						input(type="checkbox" class="checkbox" :id="item.id" :value="item.id" v-model="hotelChains" @change='filterAjax("hotel_chains")')
						label(:for="item.id")  {{item.title}}
							i {{item.count}}
					a.more-filters(@click.prevent='showMoreChains' class='pointer')
						template(v-if='showChains == Infinity') {{ $t("hotels.hide", currentLangCode) }}
							img(src='../assets/icons/angle-arrow-down-yellow.svg')
						template(v-else) {{ $t("hotels.showAllNetwork", currentLangCode) }}
							img(src='../assets/icons/angle-arrow-down-yellow.svg' class='rotate')

			.accordion( class='toggle-accordion')
				.btn()
					p {{ $t("hotels.neighborhood", currentLangCode) }}
				.body
					.parameter(v-for='(item, index) in filterParam.neighborhood' v-if="index < showNeighborhood")
						input(type="checkbox" class="checkbox" :id="item.id" :value="item.id" v-model="neighborhood" @change='filterAjax("neighborhood")')
						label(:for="item.id")  {{item.title}}
							i {{item.count}}
					a.more-filters(@click.prevent='showMoreNeighborhood' class='pointer')
						template(v-if='showNeighborhood == Infinity') {{ $t("hotels.hide", currentLangCode) }}
							img(src='../assets/icons/angle-arrow-down-yellow.svg')
						template(v-else) {{ $t("hotels.showAllNetwork", currentLangCode) }}
							img(src='../assets/icons/angle-arrow-down-yellow.svg' class='rotate')
		.hotels-workplace
				.mobile-filter-btn(@click.stop='toggleParam("isFilterPanelsMinimized")')
					template {{ $t("hotels.filterSearch", currentLangCode) }}
					img(src='../assets/icons/filter.svg')
				.header
					router-link(class='label' to='/') {{ $t("hotels.search", currentLangCode) }}
					span(class='date-range') {{ $t("hotels.citiHotels", currentLangCode) }} {{destination.city}}, {{formateDateRangeText()}}
						template , {{formateGuestText}}
					.toggle( class='pointer' @click='toggleMode')
						.img(:class='{active:isMapShow}')
							template(v-if='isMapShow')
								img(src='../assets/icons/dark-map.svg')
							template(v-else)
								img(src='../assets/icons/map.svg')
						.img(:class='{active:!isMapShow}')
							template(v-if='isMapShow')
								img(src='../assets/icons/list.svg')
							template(v-else)
								img(src='../assets/icons/dark-list.svg')
				keep-alive
					component(:is="currentView"  :maxCost='costRange[1]' :minCost='costRange[0]' :hotels='filteredHotels' :currentCurrency='currentCurrency' :days='currentDays')
	.load(v-else) loading...
</template>

<script>
import HotelsList from "./hotels/HotelsList.vue";
import HotelsMap from "./hotels/HotelsMap.vue";
import HotelPage from "./hotels/HotelPage.vue";
import formateDate from "../utils/formateDateFromValue2.js";
import vueSlider from "vue-slider-component";

import formateDateLabel from "../utils/formateDateLabel";
import { API } from "../api.js";
import Decliner from "../utils/decliner"

export default {
	name: "hotels-dashboard",
	components: {
		"hotels-list": HotelsList,
		"hotel-page": HotelPage,
		"vue-slider": vueSlider
	},
	props: ["currentCurrency", "servicesFullList"],
	data() {
		return {
			isMapShow: false,
			isFilterPanelShow: true,
			currentView: HotelsList,
			hotel: false,
			currentDays: 1,
			reviewsRate: 0,
			maxRate: 10,
			sliderConf: {
				value: 15,
				bgStyle: {
					backgroundColor: "#323647"
				},
				height: 5,
				dotSize: 18,
				sliderStyle: [
					{
						backgroundColor: "#FFB63D"
						//"height": "24px",
						//"width": "24px"
					},
					{
						backgroundColor: "#FFB63D"
					}
				],
				processStyle: {
					backgroundColor: "#FFB63D"
				}
			},
			isFilterPanelsMinimized: window.innerWidth <= 960,
			minCost: 0,
			maxCost: 100000,
			costRange: [0, 0],
			isPeriodReservation: true,
			hotelsCount: 0,
			rateCount: 0,
			showedBlocks: [],

			showAmenities: 2,
			showChains: 5,
			showNeighborhood: 2,
			hotelsStars: [],
			neighborhood: [],
			hotelChains: [],
			HotelAmenities: [],
			tempMax: 0,

			needReq: false,
			filteredIDs: []
		};
	},
	beforeCreate() {
		if (localStorage.getItem("President_Travel_token") == null) {
			this.$router.push("login-user");
		}
	},
	created() {
		this.currentDays = this.days;
		this.costRange = [
			parseFloat(this.filterParam.price.min_price),
			parseFloat(this.filterParam.price.max_price)
		];

		//сравним старый запрос с текущими параметрами поиска (даты и гостей)
		// if (Object.keys(this.searchRequest).length != 0) {
		this.checkNeedReload();
		// }

		this.hotels.forEach(element => {
			this.filteredIDs.push(element.id);
		});
	},
	computed: {
		formateGuestText() {
			let guest = this.$store.state.hotels.searchInfo.travelers;
			return `${guest} ${Decliner(guest, this.$t("decliner.guest", this.currentLangCode), this.currentLangCode)}`;
		},
		shortMonthsLabels2() {
			return this.$t("main.shortMonthsLabels", this.currentLangCode);
		},
		filteredHotels() {
			var arr = this.hotels.filter(el => {
				if (this.filteredIDs.indexOf(el.id) >= 0) {
					return true;
				}
			});
			return arr;
		},
		selectedCurrency() {
			return this.$store.state.currencies.selectedCurrency;
		},
		searchRequest() {
			return this.$store.state.hotels.searchRequest;
		},
		filterParam() {
			return this.$store.state.hotels.filters;
		},
		sortedStars () {
			if (!this.filterParam.stars) return [];
			else {
				let stars = Object.values(this.filterParam.stars);
				return stars.sort((a, b) => parseInt(b.title) - parseInt(a.title)).map(star => {
					star.id = parseInt(star.title);
					return star;
				})
			}
		},
		selectedPassengers() {
			return this.$store.state.searchparameters.selectedPassengers;
		},
		totalPassangersCount() {
			return (
				this.selectedPassengers.length +
				this.getNewPassengers("adults") +
				this.getNewPassengers("children")
			);
		},
		hotels() {
			return this.$store.state.hotels.hotels;
		},
		guests() {
			return this.$store.state.searchparameters.guests;
		},
		destination() {
			return this.$store.state.searchparameters.hotelParams.city;
		},
		fromDate() {
			return this.$store.state.searchparameters.hotelParams.fromDate;
		},
		toDate() {
			return this.$store.state.searchparameters.hotelParams.toDate;
		},
		days() {
			var from = this.$store.state.hotels.searchInfo.from;
			var to = this.$store.state.hotels.searchInfo.to;
			var res = (Number(to) - Number(from)) / (24 * 60 * 60 * 1000);
			return Math.round(res);
		},
		filteredServices() {
			var hotelIndex = this.hotels.length;
			var self = this;
			var result = {};
			// while (hotelIndex--) {
			// 	var services = this.hotels[hotelIndex]["services"],
			// 		index = services.length;
			// 	while (index--) {
			// 		if (this.servicesFullList[services[index]]) {
			// 			result[services[index]] = this.servicesFullList[services[index]];
			// 		}
			// 	}
			// }
			return result;
		},
		selectedPassengers() {
			return this.$store.state.searchparameters.selectedPassengers;
		}
	},
	mounted() {
		this.$emit("hideSearchbar");
	},
	beforeDestroy() {
		this.$emit("showSearchbar");
	},
	methods: {
		search() {
			self = this;
			this.$Progress.setColor("#FFB63D");
			this.$Progress.start();
			this.$store.commit("setIsHotel");
			this.$store.commit("runPreloader");

			// this.$emit("search");
			// self = this;
			var dateFrom = formateDate(new Date(this.fromDate));
			var dateTo = formateDate(new Date(this.toDate));
			var travelers = [];
			var adults = 0;
			var childs = 0;
			var today = new Date();
			today.setHours(0, 0, 0, 0);
			this.selectedPassengers.forEach(function(element, index) {
				travelers.push(element.travelerId);
				var d = parseInt(element.birthday.slice(0, 2));
				var m = parseInt(element.birthday.slice(3, 5));
				var y = parseInt(element.birthday.slice(6, 10));
				var years =
					today.getFullYear() -
					y -
					((today.getMonth() - --m || today.getDate() - d) < 0);
				if (years < 12) {
					childs++;
				} else {
					adults++;
				}
			});

			var search = {
				startDate: dateFrom,
				endDate: dateTo,
				city: this.destination.abbr,
				adults: parseInt(this.getNewPassengers("adults")) + adults,
				childs: parseInt(this.getNewPassengers("children")) + childs,
				childrenAges: this.$store.state.searchparameters.hotelParams
					.childrenAge,
				rooms: this.$store.state.searchparameters.hotelParams.room
			};

			API.searchHotel(search)
				.then(response => {
					var data = response.data;
					if (data.status == "success") {
						self.$store.commit("setHotel", data.data);
						self.$store.commit("setFilters", data.filter);
						self.$store.commit("setHistoryId", data.history_id);
						var searchInfo = {
							from: self.fromDate,
							to: self.toDate,
							city: self.destination.city,
							country: self.destination.country,
							travelers: self.totalPassangersCount,
							rooms: self.$store.state.searchparameters.hotelParams.room,
							selectedPassengers: travelers
						};
						search.from = self.fromDate;
						search.to = self.toDate;
						search.lang = self.currentLangCode;
						search.currency = self.selectedCurrency.code;
						self.$store.commit("setSearchInfo", searchInfo);
						self.$store.commit("setSearchRequest", search);

						self.needReq = false;
						self.$Progress.set(10000);
						setTimeout(function() {
							self.$store.commit("stopPreloader");
							self.$router.push("/hotels");
							self.$Progress.set(0);
							// self.$Progress.revertTransition()
						}, 500);
					} else {
						console.log("Error: " + data.error);
						window.e = response;
						console.log(response);
						console.log(response.data);
						self.$store.commit("stopPreloader");
						self.$router.push("/hotels");
					}
				})
				.catch(e => {
					console.log(e);
					self.$store.commit("stopPreloader");
					self.$router.push("/");
				});
		},
		checkNeedReload () {
			let adults = this.$store.state.searchparameters.hotelParams.newPassengers.adults;
			let childrens = this.$store.state.searchparameters.hotelParams.newPassengers.children;
			// Counting known passengers
			let today = new Date();
			today.setHours(0, 0, 0, 0);
			for (let passenger of this.selectedPassengers) {
				let day = parseInt(passenger.birthday.slice(0, 2));
				let month = parseInt(passenger.birthday.slice(3, 5));
				let year = parseInt(passenger.birthday.slice(6, 10));
				let years =
					today.getFullYear() - year -
					((today.getMonth() - --month || today.getDate() - day) < 0);
				if (years < 12) childrens++;
				else adults++;
			}
			if (this.searchRequest.lang !== this.currentLangCode) {
				this.needReq = true;
			}
			if (this.searchRequest.currency !== this.selectedCurrency.code) {
				this.needReq = true;
			}
			if (this.searchRequest.from !== this.fromDate) {
				this.needReq = true;
			}
			if (this.searchRequest.to !== this.toDate) {
				this.needReq = true;
			}
			if (
				this.searchRequest.adults !== adults) {
				this.needReq = true;
			}
			if (
				this.searchRequest.childs !== childrens) {
				this.needReq = true;
			}
			if (
				this.searchRequest.rooms !==
				this.$store.state.searchparameters.hotelParams.room
			) {
				this.needReq = true;
			}
			this.searchRequest.childrenAges.forEach((element, index) => {
				if (
					element !==
					this.$store.state.searchparameters.hotelParams.childrenAge[index]
				) {
					this.needReq = true;
				}
			});
			if (this.needReq) {
				this.search();
			}
		},
		toggleParam(param) {
			this[param] = !this[param];
		},
		formateDate(date) {
			return formateDate(date);
		},
		filterAjax(lastFilter) {
			var filterData = {
				last_selected: lastFilter,
				history_id: this.$store.state.hotels.history_id,
				filters: []
			};
			if (lastFilter === 'price') filterData.filters.push({
				type: "price",
				min_price: this.costRange[0],
				max_price: this.costRange[1]
			});
			if (this.neighborhood.length > 0) filterData.filters.push({
				type: "neighborhood",
				values: this.neighborhood
			});
			if (this.hotelsStars.length > 0) filterData.filters.push({
				type: "stars",
				values: this.hotelsStars
			});
			if (this.hotelChains.length > 0) filterData.filters.push({
				type: "hotel_chains",
				values: this.hotelChains
			});
			if (this.HotelAmenities.length > 0) filterData.filters.push({
				type: "amenities",
				values: this.HotelAmenities
			});
			console.log(filterData);
			API.hotelFilter(filterData)
				.then(response => {
					if ((response.status = "success")) {
						self.$store.commit("updateFilters", response.data.filter);
						this.filteredIDs = response.data.data;
					} else {
						console.log("Error: " + data.error);
						window.e = response;
						console.log(response);
						console.log(response.data);
					}
				})
				.catch(e => {
					window.e = e;
					console.log(e);
				});
		},
		showMoreNeighborhood() {
			if (this.showNeighborhood == 2) {
				this.showNeighborhood = Infinity;
			} else {
				this.showNeighborhood = 2;
			}
		},
		showMoreAmenities() {
			if (this.showAmenities == 2) {
				this.showAmenities = Infinity;
			} else {
				this.showAmenities = 2;
			}
		},
		showMoreChains() {
			if (this.showChains == 5) {
				this.showChains = Infinity;
			} else {
				this.showChains = 5;
			}
		},
		getNewPassengers(type) {
			return this.$store.state.searchparameters.hotelParams.newPassengers[type];
		},
		closeTableFilter() {
			if (window.innerWidth < 960 && !this.isFilterPanelsMinimized) {
				this.isFilterPanelsMinimized = true;
			}
		},
		toggleMode() {
			this.isMapShow = !this.isMapShow;
			if (this.isMapShow) {
				this.currentView = HotelsMap;
			} else {
				this.currentView = HotelsList;
			}
		},
		formateDateRangeText() {
			var fromDate = formateDateLabel(this.fromDate, this.currentLangCode),
				toDate = formateDateLabel(this.toDate, this.currentLangCode);
			return fromDate + " - " + toDate;
		}
	},
	watch: {
		selectedCurrency: function(newCurrency) {
			API.config.data.currency = newCurrency.code;
			this.search();
		},
		currentLang: function(newLang) {
			API.config.data.lang = newLang.code;
			this.search();
		}
	}
};
</script>

<style lang='sass'>

</style>
