<template lang="pug">
div.oreder-info-wr(v-bar='{useScrollbarPseudo: true, preventParentScroll: true}')
	div.oreder-info(v-click-outside='closeOrderInfo')
		div.ttl Заказ(0234124234234)
			a.close(href='#' class='close' @click.prevent='closeOrderInfo')
				img(src="../assets/icons/cancel.svg")
		ul.main-info
			li
				div.head Направление:
				div.info Москва → Лондон → Москва
			li
				div.head Дата вылета:
				div.info 22.03.2017 (18:35)
			li
				div.head Заказ:
				div.info № 5300895681 от 12.03.2017 (12:34)
			li
				div.head Ответственный:
				div.info Иванов Иван
			li
				div.head Тип оплаты:
				div.info Депозит
			li
				div.head Пассажир:
				ul.info
					li VASY VASECHKIN (Бизнес)
					li VASY VASECHKIN (Бизнес)
			li
				div.head Статус:
				div.info Ожидание вылета
		//- div.download
			a(href="#" @click.prevent='') Скачать маршрутный лист
		ul.purchase-tickets.order-info
			li.flights-list.purchase-list
					.flights-list__direction
						.flights-list__img
							img(:src="imgurl(info.directions.forward[0].airlineCode)" :srcset="`${imgurl2x(info.directions.forward[0].airlineCode)} 2x`")
						.flights-list__from
							.time {{ formateTime(startTimeForward) }}
							.airport {{airportFromForward}}
							.date {{formateDate(startDateForward)}}
						.flights-list__info
							.duration  {{flightDurationForward}}
							.line(class="red" :class="{ one: (info.directions.forward.length == 2), two: (info.directions.forward.length == 3) }")
								img(src="../assets/icons/jet.svg" class='ico')
							.info(v-if='info.directions.forward.length == 1') Прямой рейс
							.info(class="red" v-else-if='info.directions.forward.length == 2') 1 пересадка
							.info(class="red" v-else) {{info.directions.forward.length-1}} пересадки

						.flights-list__to
							.time {{  formateTime(entTimeForward) }}
							.airport {{airportToForward}}
							.date {{formateDate(entDateForward)}}
						.flights-list__arrow
							a(class="btn" href="" @click.prevent="toggleForvardDetail()")
								img(src="../assets/icons/down-arrow.svg")
						.flight-list__airlines(v-if="notOneAirlines(info.directions.forward).length > 1")
							template Выполняется совместно с
								template(v-if='notOneAirlines(info.directions.forward).length == 2') авиакомпанией
								template(v-else) авиакомпаниями
							template(v-for="(company, index) in notOneAirlines(info.directions.forward)")
								span(v-if='index > 1') ,
								span(v-if='index !== 0')  {{getAirline(company).name}}
						.flights-list__more-details(v-show="isDetailForward")
							template(v-for="(item, index) in info.directions.forward")
								.transfer-duration(v-if="index!=0")
									img(src='../assets/icons/clock-red.svg')
									template Пересадка в аэропорту {{item.cityFromNameCase}}
									//- template {{formateJrTime(item.transferTime)}} Пересадка в аэропорту {{item.cityFromNameCase}}
								.top
									span.company {{item.plane}} | Авиакомпания «{{ item.airlineName}}»
									a(class="tariff" href='' @click.prevent.stop='openFlightInfo(flight)') Условия тарифа
									//- span.class {{flightClass}} класс
								.flight
									.line
									.from
										span.time {{formateTime(item.startTime)}}
										span.place {{ getAirpotAndCityFrom( item ) }}
									.time-flight
										img(src='../assets/icons/clock-grey.svg')
										template {{ formateJrTime(item.jrnTm)}}
									.to
										span.time {{formateTime(item.endTime)}}
										span.place {{ getAirpotAndCityTo( item ) }}

					.flights-list__direction(v-if="isRoundTrip")
						.flights-list__img
							img(:src="imgurl(info.directions.backward[0].airlineCode)" :srcset="`${imgurl2x(info.directions.backward[0].airlineCode)} 2x`")
						.flights-list__from
							.time {{formateTime(startTimeBackward)}}
							.airport {{airportFromBackward}}
							.date {{formateDate(startDateBackward)}}
						.flights-list__info
							.duration  {{flightDurationBackward}}
							.line(class="blue" :class="{ one: (info.directions.backward.length == 2), two: (info.directions.backward.length == 3) }")
								img(src="../assets/icons/jet-blue.svg" class='ico')
							.info(v-if='info.directions.backward.length == 1') Прямой рейс
							.info(class="red" v-else-if='info.directions.backward.length == 2') 1 пересадка
							.info(class="red" v-else) {{info.directions.backward.length-1}} пересадки
						.flights-list__to
							.time {{  formateTime(entTimeBackward) }}
							.airport {{airportToBackward}}
							.date {{formateDate(entDateBackward)}}
						.flights-list__arrow
							a(class="btn" href="" @click.prevent="toggleBackwardDetail")
								img(src="../assets/icons/down-arrow.svg")
						.flight-list__airlines(v-if="notOneAirlines(info.directions.backward).length > 1")
							template Выполняется совместно с
								template(v-if='notOneAirlines(info.directions.backward).length == 2') авиакомпанией
								template(v-else) авиакомпаниями
							template(v-for="(company, index) in notOneAirlines(info.directions.backward)")
								span(v-if='index > 1') ,
								span(v-if='index !== 0')  {{getAirline(company).name}}
						.flights-list__more-details(v-show="isDetailBackward")
							template(v-for="(item, index) in info.directions.backward")
								.transfer-duration(v-if="index!=0")
									img(src='../assets/icons/clock-red.svg')
									//- template {{formateJrTime(item.transferTime)}} Пересадка в аэропорту {{item.cityFromNameCase}}
									template  Пересадка в аэропорту {{item.cityFromNameCase}}
								.top
									span.company {{item.plane}} | Авиакомпания «{{item.airlineName}}»
									a(class="tariff" href='' @click.prevent.stop='openFlightInfo(flight)') Условия тарифа
									//- span.class {{flightClass}} класс
								.flight
									.line
									.from
										span.time {{formateTime(item.startTime)}}
										span.place {{ getAirpotAndCityFrom( item ) }}
									.time-flight
										img(src='../assets/icons/clock-grey.svg')
										template {{ formateJrTime(item.jrnTm)}}
									.to
										span.time {{formateTime(item.endTime)}}
										span.place {{ getAirpotAndCityTo( item ) }}
					.flights-list__footer
						.right
							span.price {{getPrice(info.priceInfo.price)}} &#8381;
							//- span.btn(class="pointer" @click='selectTicket(flight)' ) Выбрать
						.left
							.mobile-price {{getPrice(info.priceInfo.price)}} &#8381;
							template CashBack  - {{getPrice(info.priceInfo.cashback)}}  &#8381;
							.info Кэшбэк начисляеться после полета
						.clr

</template>
<script>
export default {
	name: "order-info",
	data() {
		return {
			isDetailForward: true,
			isDetailBackward: true,
			info: {
				orderId: "4",
				orderStatus: "Ожидание вылета",
				manager: "Balabai Eugene ",
				paymentType: "Картой",
				travelers: ["qqwee qqwewe"],
				directions: {
					forward: [
						{
							airlineCode: "S7",
							fltNm: "69",
							airportFromCode: "DME",
							airportToCode: "KZN",
							startDate: "20180215",
							startTime: "2355",
							endDate: "20180216",
							endTime: "0125",
							jrnTm: "0130",
							cityFromCode: "MOW",
							cityFromName: "Москва",
							cityToCode: "KZN",
							cityToName: "Казань",
							airlineName: "S7 Airlines",
							airportFromName: "Домодедово",
							airportToName: "Казань"
						},
						{
							airlineCode: "S7",
							fltNm: "64",
							airportFromCode: "KZN",
							airportToCode: "DME",
							startDate: "20180228",
							startTime: "2155",
							endDate: "20180228",
							endTime: "2330",
							jrnTm: "0135",
							cityFromCode: "KZN",
							cityFromName: "Казань",
							cityToCode: "MOW",
							cityToName: "Москва",
							airlineName: "S7 Airlines",
							airportFromName: "Казань",
							airportToName: "Домодедово"
						}
					],
					backward: [
						{
							airlineCode: "S7",
							fltNm: "69",
							airportFromCode: "DME",
							airportToCode: "KZN",
							startDate: "20180215",
							startTime: "2355",
							endDate: "20180216",
							endTime: "0125",
							jrnTm: "0130",
							cityFromCode: "MOW",
							cityFromName: "Москва",
							cityToCode: "KZN",
							cityToName: "Казань",
							airlineName: "S7 Airlines",
							airportFromName: "Домодедово",
							airportToName: "Казань"
						},
						{
							airlineCode: "S7",
							fltNm: "64",
							airportFromCode: "KZN",
							airportToCode: "DME",
							startDate: "20180228",
							startTime: "2155",
							endDate: "20180228",
							endTime: "2330",
							jrnTm: "0135",
							cityFromCode: "KZN",
							cityFromName: "Казань",
							cityToCode: "MOW",
							cityToName: "Москва",
							airlineName: "S7 Airlines",
							airportFromName: "Казань",
							airportToName: "Домодедово"
						}
					]
				},
				priceInfo: {
					price: 4050,
					cashback: 40.5,
					currency: "RUB"
				}
			}
		};
	},
	beforeDestroy() {
		document.body.style.overflowY = "auto";
	},
	created() {
		document.body.style.overflowY = "hidden";
	},
	methods: {
		getPrice(price) {
			var newPrice = price
				.toString()
				.split(".")[0]
				.replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
			return newPrice;
		},
		flightClass() {
			return "Эконом";
		},
		openFlightInfo(flight) {
			// this.$emit("openFlightInfo", flight);
		},
		notOneAirlines(flights) {
			var tempArralinesArray = [];
			if (flights.length == 1) {
				return tempArralinesArray;
			} else {
				for (let index = 0; index < flights.length; index++) {
					const element = flights[index].airlineCode;
					if (tempArralinesArray.indexOf(element)) {
						tempArralinesArray.push(element);
					}
				}
				return tempArralinesArray;
			}
		},
		imgurl(code) {
			return (
				"//beta.president.travel/images/airlogos/simple/" + code + ".png"
			);
		},
		imgurl2x(code) {
			return (
				"//beta.president.travel/images/airlogos/retina/" + code + ".png"
			);
		},
		closeOrderInfo() {
			this.$emit("closeOrderInfo");
		},
		getCityName(code) {
			let airport = this.getAirport(code);
			let city = this.getCity(airport.cityCode).cityName;
			return city;
		},
		getAirpotAndCityFrom(item) {
			let airport = item.airportFromName;
			let city = item.cityFromName;
			if (city == airport) {
				return item.airportFromCode + " " + city;
			} else {
				return item.airportFromCode + " " + city + " " + airport;
			}
		},
		getAirpotAndCityTo(item) {
			let airport = item.airportToName;
			let city = item.cityToName;
			if (city == airport) {
				return item.airportToCode + " " + city;
			} else {
				return item.airportToCode + " " + city + " " + airport;
			}
		},
		toggleForvardDetail() {
			this.isDetailForward = !this.isDetailForward;
		},
		toggleBackwardDetail() {
			this.isDetailBackward = !this.isDetailBackward;
		},
		getAirport(code) {
			return this.$store.getters.getAirportByCode(code);
		},
		getAirline(code) {
			return this.$store.getters.getAirlineByCode(code);
		},
		getCity(code) {
			return this.$store.getters.getCityByCode(code);
		},
		formateDate(date) {
			return (
				date.substring(6, 8) +
				"." +
				date.substring(4, 6) +
				"." +
				date.substring(0, 4)
			);
		},
		formateTime(time) {
			return time[0] + time[1] + ":" + time[2] + time[3];
		},
		formateJrTime(time) {
			return (
				(time[0] == 0 ? "" : time[0]) +
				time[1] +
				" ч. " +
				time[2] +
				time[3] +
				" мин."
			);
		}
	},
	computed: {
		startTimeForward() {
			return this.info.directions.forward[0].startTime;
		},
		entTimeForward() {
			return this.info.directions.forward[
				this.info.directions.forward.length - 1
			].endTime;
		},
		startDateForward() {
			return this.info.directions.forward[0].startDate;
		},
		entDateForward() {
			return this.info.directions.forward[
				this.info.directions.forward.length - 1
			].endDate;
		},
		airportFromForward() {
			return this.info.directions.forward[0].airportFromCode;
		},
		airportToForward() {
			return this.info.directions.forward[
				this.info.directions.forward.length - 1
			].airportToCode;
		},
		flightDurationForward() {
			let beginDate = new Date(
				this.startDateForward.substring(0, 4),
				this.startDateForward.substring(4, 6),
				this.startDateForward.substring(6, 8),
				this.startTimeForward.substring(0, 2),
				this.startTimeForward.substring(2, 4)
			);
			let endDate = new Date(
				this.entDateForward.substring(0, 4),
				this.entDateForward.substring(4, 6),
				this.entDateForward.substring(6, 8),
				this.entTimeForward.substring(0, 2),
				this.entTimeForward.substring(2, 4)
			);
			let difference = new Date(endDate - beginDate);
			let result = "";
			if (difference.getDate() > 1) {
				result += difference.getDate() - 1 + " д.";
			}
			result +=
				difference.getHours() - 2 + " ч." + difference.getMinutes() + " м.";

			return result;
		},
		startTimeBackward(direction) {
			return this.info.directions.backward[0].startTime;
		},
		entTimeBackward(direction) {
			return this.info.directions.backward[
				this.info.directions.backward.length - 1
			].endTime;
		},
		startDateBackward(direction) {
			return this.info.directions.backward[0].startDate;
		},
		entDateBackward(direction) {
			return this.info.directions.backward[
				this.info.directions.backward.length - 1
			].endDate;
		},
		airportFromBackward() {
			return this.info.directions.backward[0].airportFromCode;
		},
		airportToBackward() {
			return this.info.directions.backward[
				this.info.directions.backward.length - 1
			].airportToCode;
		},
		flightDurationBackward() {
			let beginDate = new Date(
				this.startDateBackward.substring(0, 4),
				this.startDateBackward.substring(4, 6),
				this.startDateBackward.substring(6, 8),
				this.startTimeBackward.substring(0, 2),
				this.startTimeBackward.substring(2, 4)
			);
			let endDate = new Date(
				this.entDateBackward.substring(0, 4),
				this.entDateBackward.substring(4, 6),
				this.entDateBackward.substring(6, 8),
				this.entTimeBackward.substring(0, 2),
				this.entTimeBackward.substring(2, 4)
			);
			let difference = new Date(endDate - beginDate);
			let result = "";
			if (difference.getDate() > 1) {
				result += difference.getDate() - 1 + " д.";
			}
			result +=
				difference.getHours() - 2 + " ч." + difference.getMinutes() + " м.";

			return result;
		},
		currentCurrency() {
			return this.$store.state.currencies.selectedCurrency;
		},
		classes() {
			return this.$store.state.params.classes;
		},
		isRoundTrip() {
			return true;
		}
	}
};
</script>
<style>

</style>

