<template lang="pug">
  .preloader
    .preloader-block
      img(src='../assets/hotel-icon.svg' v-if='isHotel')
      img(src='../assets/preloader.svg' v-else)
      .header
        h3(v-if='isHotel') {{ $t("preloader.hotelSearch", currentLang.code) }}
        h3(v-else-if='to.abbr') {{ $t("preloader.ticketSearch", currentLang.code) }}
        h3(v-else) {{ $t("preloader.loading", currentLang.code) }}
        .direction(v-if='isHotel')
          .city-hotel {{ destination.city }}, {{destination.country}}
          .hotels-dates {{ formatedDate(fromDate) }} - {{ formatedDate(toDate) }}
        .direction(v-if='!isHotel')
          span(class='city') {{ from.city }},
          span(class='city') {{ to.city }},
          span(class='abbr') {{ from.abbr }}
          span(class='abbr') {{ to.abbr }}
          template(v-if='from.date && to.date')
            span(class='time') {{ formatedDate(from.date) }}
            span(class='time') {{ formatedDate(to.date) }}
          template(v-else)
            span(class='time') {{ formatedDate(from.date) }}




</template>

<script>
import Vue from "vue";

export default {
	name: "preloader",
	props: ["currentLang"],
	data() {
		return {};
	},
	beforeCreate() {
		// this.$Progress.start()
	},
	mounted() {
		var self = this,
			redirectURL = "";
		if (this.isHotel) {
			redirectURL = "/hotels";
		} else {
			redirectURL = "/ticket-selection";
		}
	},
	computed: {
		toDate() {
			return this.$store.state.searchparameters.hotelParams.toDate;
		},
		fromDate() {
			return this.$store.state.searchparameters.hotelParams.fromDate;
		},
		isHotel() {
			return this.$store.state.preloader.isHotel;
		},
		from() {
			return this.$store.state.searchparameters.from;
		},
		to() {
			return this.$store.state.searchparameters.to;
		},
		destination() {
			return this.$store.state.searchparameters.hotelParams.city;
		},
		shortMonthsLabels() {
			return this.$i18n.t("main.shortMonthsLabels", this.currentLang.code);
		}
	},
	methods: {
		formatedDate(date) {
			var date = new Date(date);
			return date.getDate() + " " + this.shortMonthsLabels[date.getMonth()];
		}
	}
};
</script>

<style lang='scss'>
.city-hotel {
	font-size: 19px;
	font-weight: 500;
	width: 100%;
	text-align: center;
}
.hotels-dates {
	color: #ffb63d;
	text-align: center;
	width: 100%;
}
</style>
