<template lang="pug">
	.travelers-wr.reservation-col
		.travelers
			.title
				h3 {{ $t("reservations.myReservations", currentLang.code) }}

			div(class='list-wr' v-bar='{useScrollbarPseudo: true}')
				ul(class='list')
					li(v-for='reservation in reservations')
						router-link(:to="reservation.isFlight ? `/ticket/${reservation.id}` : `/hotel/${reservation.id}`")
							.header
								.header-text(v-if='reservation.isFlight')
									div(class='is-checked' :class='{disabled: (reservation.status!=1 && reservation.status!=3), warning: reservation.status == 3}')
									span(class='route' :class='{disabled: (reservation.status!=1 && reservation.status!=3), warning: reservation.status == 3}')
										.mini-icon
											include ../assets/icons/jet.svg
										template(v-for='(value, index) in reservation.directions')
											span
												template(v-if="index != 0") →
												template {{value}}
								.header-text(v-else)
									div(class='is-checked' :class='{disabled: (reservation.status!=1 && reservation.status!=3), warning: reservation.status == 3}')
									span(class='hotel' :class='{disabled: (reservation.status!=1 && reservation.status!=3), warning: reservation.status == 3}')
										.mini-icon
											include ../assets/icons/hotel-icon.svg
										span {{reservation.hotelName}}
							.content
								span(class='cost' v-html='formatCost(reservation.amount, reservation.currency)')
								img(class='oclock' src='../assets/icons/oclock.svg')
								p.reserv-status {{ $t("reservations.reserved", currentLang.code) }} {{ formatDate(reservation.date) }} ({{ reservation.status }})
			div.bottom
				span(class='count') {{ reservationsCount }}
				a.shaw-all-btn( href='' @click.prevent.stop='showAll')
					span {{ $t("main.showAll", currentLang.code) }}

</template>

<script>
	import Decliner from "../utils/decliner"

	export default {
		name: "reservation",
		props: ["reservations", "currentCurrency", "currentLang"],
		data() {
			return {
				msg: "&#8364;"
			};
		},
		computed: {
			reservationsCount () {
				let count = this.reservations.length;
				return `${count} ${Decliner(count, this.$t("decliner.entry", this.currentLangCode), this.currentLangCode)}`
			}
		},
		methods: {
			openOrderInfo() {
				this.$emit("openOrderInfo");
			},
			formatDate(date) {
				var day = date.slice(0, 2);
				var month = date.slice(3, 5);
				var year = date.slice(6, 10);

				return "" + day + "." + month + "." + year;
			},
			showAll() {
				this.$emit("showCompanyHistory");
			},
			isLast(leng, index) {
				if (+index == +leng.length - 1) {
					return true;
				}
			},
			formatCost(cost, currency) {
				var newPrice = cost
					.toString()
					.split(".")[0]
					.replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
				return newPrice + " " + currency;
			}
		}
	};
</script>

<style lang='sass'>

</style>
