<template lang="pug">
  .searchbar
    template(v-if='isHotelsSearch')
      hotels-search-panel(:currentLang='currentLang'  :shortMonthsLabels='shortMonthsLabels' :hotelsSearchInformation='hotelsSearchInformation'  :passengers='acceptedPassengers' @search='search')
    template(v-else-if='isInformationalPanelShow')
      keep-alive
        informational-panel( :currentLang='currentLang' :classes='classes' :passengers='acceptedPassengers' :fromDate='fromDate' @setChangeDate='setChangeDate' @hideInformationalPanel='hideInformationalPanel' @openPassengerPicker='openPassengerPicker')
    template(v-else)
      choice-panel(:currentLang='currentLang' :changeDate='changeDate' :classes='classes'  :passengers='acceptedPassengers' @showPanel='showInformationalPanel' @changeDateRange='changeDateRange' )

</template>

<script>
import InformationalPanel from "./search-parameters/InformationalPanel.vue";
import ChoicePanel from "./search-parameters/ChoicePanel.vue";
import HotelsSearchPanel from "./hotels/HotelsSearchPanel.vue";

export default {
	name: "searchbar",
	props: [
		"currentLang",
		"shortMonthsLabels",
		"hotelsSearchInformation",
		"passengers",
		"isHotelsSearch"
	],
	components: {
		informationalPanel: InformationalPanel,
		choicePanel: ChoicePanel,
		hotelsSearchPanel: HotelsSearchPanel
	},
	data() {
		return {
			currentView: InformationalPanel,
			isInformationalPanelShow: true,
			changeDate: ""
		};
	},

	methods: {
		setChangeDate(flag) {
			this.changeDate = flag;
		},
		search() {
			this.$emit("hideSearchbar");
		},
		showInformationalPanel() {
			this.isInformationalPanelShow = true;
		},
		openPassengerPicker() {},
		hideInformationalPanel() {
			this.isInformationalPanelShow = false;
		},
		changeDateRange(fromDate, toDate) {
			this.$emit("changeDateRange", fromDate, toDate);
		}
	},
	computed: {
		classes() {
			return this.$store.state.params.classes;
		},
		fromDate() {
			return this.$store.state.searchparameters.from.date;
		},
		toDate() {
			return this.$store.state.searchparameters.to.date;
		},
		acceptedPassengers () {
			return this.passengers.filter(passenger => passenger.for_search) || [];
		},
		filteredPassengers() {
			var index = this.passengers.length,
				result = [],
				calssIndex = this.classes.length,
				isClassSelect = false;
			while (calssIndex--) {
				if (this.classes[calssIndex]["count"] > 0) {
					isClassSelect = this.classes[calssIndex]["id"];
				}
			}
			while (index--) {
				if (this.passengers[index]["isTrip"] && isClassSelect) {
					// this.passengers[index]["classID"] = isClassSelect;
					result.push(this.passengers[index]);
				}
			}
			return result;
		}
	}
};
</script>

<style lang='sass'>

</style>
