<template lang="pug">
	.container
		small-inner-spinner.loader(v-if="loading")
		.book-error(v-else-if="isDataEmpty")
			template(v-if="responseErrorMessage") {{ responseErrorMessage }}
			template(v-else) {{ defaultErrorMessage }}
		.hotel-confirm-result(v-else)
			h1 {{ $t("confirm.thank", currentLangCode) }}
			ul.list
				li
					.ttl {{ $t("confirm.status", currentLangCode) }}:
					.text {{ data.status }}
				li
					.ttl {{ $t("direction.passengers", currentLangCode) }}:
					.text.passengers-list
						p.passengers-list__item(v-for="passenger in data.passengers") {{ passenger.firstname }} {{passenger.fathersname}} {{passenger.lastname}}
				li
					.ttl {{ $t("flightFilters.departure", currentLangCode) }}:
					.text {{ formatDateTime(data.directions.forward[0].startTime, data.directions.forward[0].startDate) }}
				li
					.ttl {{ $t("confirm.confirmNum", currentLangCode) }}:
					.text {{ data.confirmationCode }}
			//<div class="info-block">
				<div class="ttl">{{ $t("confirm.info", currentLangCode) }}</div>
				</div>
			h2 {{ $t("sidebar.tickets", currentLangCode) }}
			template(v-for="(flights, direction) in sortedDirections")
				.ticket(v-for="flight in flights")
					p.ticket__text {{ $t("purchase.airline", currentLangCode) }}:
						span.ticket__text.ticket__text--big  {{ flight.airlineName }}
					h3.ticket__head(:class="direction === 'backward' ? 'ticket__head--blue': 'ticket__head--red'") {{ flight.cityFromName }} {{ flight.airportFromCode }} → {{ flight.cityToName }} {{ flight.airportToCode }}
					.ticket__row
						.ticket__row-cell
							.ticket__row-city
								span.ticket__text.ticket__text--bold {{ flight.cityFromName }}
								.ticket__flight(:class="direction === 'backward' ? 'ticket__flight--blue' : 'ticket__flight--red'")
									.ticket__flight-line
									.ticket__flight-plane
										include ../assets/icons/jet-CC.svg
							p.ticket__text {{ flight.airportFromName }}
						.ticket__row-cell
							p.ticket__row-city
								span.ticket__text.ticket__text--bold {{ flight.cityToName }}
							p.ticket__text {{ flight.airportToName }}
					.ticket__row
						.ticket__row-cell
							p.ticket__text {{ $t("flightFilters.departure", currentLangCode) }}:
								span.ticket__text--bold {{ flight.startTime }}
							p.ticket__text {{ formatDate(flight.startDate) }}
						.ticket__row-cell
							p.ticket__text {{ $t("flightFilters.arrival", currentLangCode) }}:
								span.ticket__text--bold {{ flight.endTime }}
							p.ticket__text {{ formatDate(flight.endDate) }}
					.ticket__row
						.ticket__row-cell
							p.ticket__text {{ $t("main.flight") }}:
							p.ticket__text.ticket__text--big {{ flight.fltNm }}
							p.ticket__text.ticket__text--big {{ flight.plane }}
						.ticket__row-cell
							p.ticket__text {{ $t("main.travelTime", currentLangCode) }}:
							p.ticket__text.ticket__text--big {{ formatJourneyTime(flight.jrnTm) }}
			h2 {{ $t("confirm.clientInfo", currentLangCode) }}
			ul.list
				li
					.ttl {{ $t("confirm.name", currentLangCode) }}:
					.text {{ data.customer.name }}
				li
					.ttl {{ $t("confirm.phone", currentLangCode) }}:
					.text {{ data.customer.phone }}
				li
					.ttl {{ $t("confirm.adress", currentLangCode) }}:
					.text {{ data.customer.address }}
				li
					.ttl {{ $t("confirm.city", currentLangCode) }}:
					.text {{ data.customer.city }}
				li
					.ttl email:
					.text {{ data.customer.email }}
				li(v-if="data.customer.card_type")
					.ttl {{ $t("confirm.paymentType", currentLangCode) }}:
					.text {{ data.customer.card_type }}
				li(v-if="data.customer.card_last_four")
					.ttl {{ $t("confirm.card", currentLangCode) }}:
					.text ХХХХ-ХХХХ-ХХХХ-{{ data.customer.card_last_four }}
			h2 {{ $t("confirm.paymentInfo", currentLangCode) }}
			ul.list
				//li
					Add translate for passengers amount
					.ttl {{ $t("confirm.guests", currentLangCode) }}:
					.text Passengers amount
				li
					.ttl 1 {{ $t("tickets.declineTickets", currentLangCode)[0]}}:
					.text {{ formatPrice(data.prices.display_price_per_ticket) }}
				li(v-if="data.passengers && data.passengers.length")
					.ttl {{ data.passengers.length }} {{ Decliner(data.passengers.length, $t("tickets.declineTickets", currentLangCode), currentLangCode) }}:
					.text {{ formatPrice(Number(data.prices.display_price_per_ticket) * data.passengers.length) }}
				li
					.ttl {{ $t("confirm.taxes", currentLangCode) }}:
					.text
						template(v-if="data.passengers && data.passengers.length") {{ formatPrice(Number(data.prices.display_taxes_per_ticket) * data.passengers.length) }}
						template(v-else) {{ formatPrice(data.prices.display_taxes_per_ticket) }}
				li
					.ttl {{ $t("confirm.totalCost", currentLangCode) }}:
					.text {{ formatPrice(data.prices.display_total) }}
</template>

<script>
    import SmallInnerSpinner from "./small-spinner";
    import { API } from "../api";
    import BookMixin from "../utils/bookMixin";
    import VueNotifications from "vue-notifications";
    import _ from "lodash";
    import Decliner from "../utils/decliner";
	export default {
        name: "TicketResult",
		components: {SmallInnerSpinner},
		mixins: [BookMixin],
		computed: {
        	sortedDirections () {
        		if (!_.isEmpty(this.data)) {
					let sorted = {};
					function sortFunction (a, b) {
						if (a === b) return 0;
						else if (a === "forward") return -1;
						else return 1;
					}
					for (let direction of Object.keys(this.data.directions).sort(sortFunction)) {
						if (this.data.directions.hasOwnProperty(direction)) {
							sorted[direction] = this.data.directions[direction];
						}
					}
					return sorted
				} else return {}

			}
		},
		methods: {
        	Decliner,
			formatJourneyTime (time) {
				if (!time) return "";
				time = time.split(":");
				let dayLetter = this.$t("datetime.short.day", this.currentLangCode);
				let hourLetter = this.$t("datetime.short.hour", this.currentLangCode);
				let minuteLetter = this.$t("datetime.short.minute", this.currentLangCode);
				let output = `${time[1]}${hourLetter}. ${time[2]}${minuteLetter}.`;
				if (time[0] !== "00") output = `${time[0]}${dayLetter}. ${output}`;
				return output;
			}
		}
    }
</script>

<style lang="sass" scoped>
	@import "../styles/sass/book"
	@import "../styles/sass/colors"
	.ticket
		margin-left: 30px
		margin-top: 15px

		&__text
			color: $dark-color
			font-size: 13px

			&--big
				font-size: 15px

			&--bold
				font-size: 17px
				font-weight: 600

		&__head
			border: 2px solid $white-gray-color
			border-left: 0
			border-right: 0
			font-weight: 400
			margin: 5px 0 10px
			padding: 10px 0

			&--red
				color: $primary-color

			&--blue
				color: $future-text-color

		&__row
			align-items: center
			display: flex
			margin-bottom: 25px

			&-city
				display: flex
				flex: 0 0 auto

			&-cell
				width: 65%
				&:nth-child(2)
					width: 35%

		&__flight
			flex-grow: 1
			flex-shrink: 1
			margin: 0 30px
			position: relative

			&--blue
				color: $future-text-color

			&--red
				color: $primary-color

			&-line
				background-color: currentColor
				left: 0
				position: absolute
				top: 50%
				transform: translateY(-50%)
				height: 1px
				width: 100%

				&::before, &::after
					border: 1px solid
					border-radius: 100%
					content: ''
					height: 10px
					position: absolute
					top: 50%
					transform: translateY(-50%)
					width: 10px

				&::before
					right: 100%

				&::after
					left: 100%

			&-plane
				background-color: white
				height: 30px
				left: 50%
				padding: 5px
				position: absolute
				top: 50%
				transform: translate(-50%, -50%)
				width: 30px

				> svg
					height: 20px
					width: 20px
</style>
