<template lang="pug">
	.ticket-selection
		.mobile-filter-panel
			span(class='to-search' @click='toMain') &#60; {{ $t("main.search", currentLangCode) }}
			.ttl.upper {{ $t("dashboard.flights", currentLangCode) }}
			img(src='../assets/icons/filter.svg' @click='toggleFilterPanel' class='btn')

		.tablet-filter-panel(@click='toggleFilterPanel' class='pointer' ) {{ $t("hotels.filterSearch", currentLangCode) }}
			img(src='../assets/icons/filter.svg')

		.filter-panel(:class='{minimized: isFilterPanelsMinimized}')
			.filter-panel__close(@click="isFilterPanelsMinimized = true")

			.header
				span {{ $t("hotels.filterSearch", currentLangCode) }}
				img(src='../assets/icons/filter.svg' class='pointer' @click='toggleFilterPanel')
			.accordion(:class='{hide: accordionShow != "isTransfersPanelShow"}')

				.btn(@click='togleStatus("isTransfersPanelShow")' class='pointer' )
					.indicator
					p {{ $t("decliner.transfer", currentLangCode)[1] }}
				.body
					.parameter(class='pointer')
						input(type="checkbox" class="checkbox" id="without-checkbox" value="true" v-model="transerParameters.withoutTransfer.val" @change="transferTimeFilter")
						label(for="without-checkbox") {{ $t("flightFilters.woTransfer", currentLangCode) }}

					.parameter(class='pointer')
						input(type="checkbox" class="checkbox" id="one-checkbox" value="true" v-model="transerParameters.max1Transfer.val" @change="transferTimeFilter")
						label(for="one-checkbox") {{ $t("flightFilters.oneTransfer", currentLangCode) }}

					.parameter(class='pointer')
						input(type="checkbox" class="checkbox" id="night-checkbox" value="true" v-model="transerParameters.withoutNightTransfer.val" @change="transferTimeFilter")
						label(for="night-checkbox") {{ $t("flightFilters.noNightTransfer", currentLangCode) }}

					.parameter(class='pointer')
						input(type="checkbox" class="checkbox" id="uniqair-checkbox" value="true" v-model="transerParameters.withoutChangeAiport.val" @change="transferTimeFilter")
						label(for="uniqair-checkbox") {{ $t("flightFilters.noAirportChange", currentLangCode) }}
					.range-slider
						p(class='title') {{ $t("flightFilters.transferLength", currentLangCode) }}
						vue-slider(v-model="timeRange" :real-time="true" :min='fromTime' :max='toTime' :dot-size='sliderConf.dotSize' :sliderStyle='sliderConf.sliderStyle' :height='sliderConf.height' @drag-end='transferTimeFilter' :bgStyle='sliderConf.bgStyle' :processStyle='sliderConf.processStyle' :tooltip="false")

						p {{ formatTime(timeRange[0]) }} — {{ formatTime(timeRange[1]) }}
			.accordion(:class='{hide: accordionShow != "isDepatuePanelShow"}')
				.btn(@click='togleStatus("isDepatuePanelShow")' class='pointer' )
					.indicator
					p {{ $t("flightFilters.startEndTime", currentLangCode) }}
				.body
					.round-switcher
						template(v-if='isRoundTrip')
							.from(class="pointer" :class='{active:filterTimeForward}' @click="changeTimeFilter(true)") {{ $t("flightFilters.forward", currentLangCode) }}
							.to(class="pointer" :class='{active:!filterTimeForward}' @click="changeTimeFilter(false)" ) {{ $t("flightFilters.backward", currentLangCode) }}
					template(v-if='filterTimeForward')
						.status-bar
							span {{ $t("flightFilters.departure", currentLangCode) }}
						ul
							li.pointer.time-filter(v-for='time in timeArray' :class='{active: selectedTime.forwardFrom.includes(time.code)}'  @click='timeFilter("forwardFrom",time.code,"0","0")')
								span {{time.text}}
								span(class='time') {{ formatedTime(time) }}
						.status-bar
							span {{ $t("flightFilters.arrival", currentLangCode) }}
						ul
							li.pointer.time-filter(v-for='time in timeArray' :class='{active: selectedTime.forwardTo.includes(time.code)}'  @click='timeFilter("forwardTo",time.code,"0","1")')
								span {{time.text}}
								span(class='time') {{ formatedTime(time) }}
					template(v-if='!filterTimeForward')
						.status-bar
							span {{ $t("flightFilters.departure", currentLangCode) }}
						ul
							li.pointer.time-filter(v-for='time in timeArray' :class='{active: selectedTime.backwardFrom.includes(time.code)}'  @click='timeFilter("backwardFrom",time.code,"1","0")')
								span {{time.text}}
								span(class='time') {{ formatedTime(time) }}
						.status-bar
							span {{ $t("flightFilters.arrival", currentLangCode) }}
						ul
							li.pointer.time-filter(v-for='time in timeArray' :class='{active: selectedTime.backwardTo.includes(time.code)}'  @click='timeFilter("backwardTo",time.code,"1","1")')
								span {{time.text}}
								span(class='time') {{ formatedTime(time) }}
			.accordion(:class='{hide: accordionShow != "isAirportsPanelShow"}')
				.btn(@click='togleStatus("isAirportsPanelShow")' class='pointer' )
					.indicator
					p {{ $t("profile.airports", currentLangCode) }}
				.body
					.round-switcher
						template(v-if='isRoundTrip')
							.from(class="pointer" :class='{active:filterAirportForward}' @click='changeAirportFilter(true)') {{ $t("flightFilters.forward", currentLangCode) }}
							.to(class="pointer" :class='{active:!filterAirportForward}' @click='changeAirportFilter(false)') {{ $t("flightFilters.backward", currentLangCode) }}
					template(v-if='filterAirportForward')
						.text
							h3 {{ $t("flightFilters.departure", currentLangCode) }}
						ul
							li.pointer.airport-filter(v-for='airport in airportsForwardForm' :class='{active: selectedAirports.forwardFrom.includes(airport.airportCode)}' @click='airportFilter("forwardFrom",airport.airportCode)')
								span.airport-filter__name {{ airport.airportName }}
								span.abbr.airport-filter__code {{ airport.airportCode }}
						.text
							h3 {{ $t("flightFilters.arrival", currentLangCode) }}
						ul
							li.pointer.airport-filter(v-for='airport in airportsForwardTo' :class='{active: selectedAirports.forwardTo.includes(airport.airportCode)}' @click='airportFilter("forwardTo",airport.airportCode)')
								span.airport-filter__name {{ airport.airportName }}
								span.abbr.airport-filter__code {{ airport.airportCode }}
					template(v-if='!filterAirportForward')
						.text
							h3 {{ $t("flightFilters.departure", currentLangCode) }}
						ul
							li.pointer.airport-filter(v-for='airport in airportsBackwardForm' :class='{active: selectedAirports.backwardFrom.includes(airport.airportCode)}' @click='airportFilter("backwardFrom",airport.airportCode)')
								span.airport-filter__name {{ airport.airportName }}
								span.abbr.airport-filter__code {{ airport.airportCode }}
						.text
							h3 {{ $t("flightFilters.arrival", currentLangCode) }}
						ul
							li.pointer.airport-filter(v-for='airport in airportsBackwardTo' :class='{active: selectedAirports.backwardTo.includes(airport.airportCode)}' @click='airportFilter("backwardTo",airport.airportCode)')
								span.airport-filter__name {{ airport.airportName }}
								span.abbr.airport-filter__code {{ airport.airportCode }}
			.accordion(:class='{hide: accordionShow != "isAirlinesPanelShow"}')
				.btn(@click='togleStatus("isAirlinesPanelShow")' class='pointer' )
					.indicator
					p {{ $t("profile.airlines", currentLangCode) }}
				.body
					ul
						li(class='pointer' @click="setAllAlliances" :class='{active: selectedAlliances.all}')
							span {{ $t("flightFilters.allAlliances", currentLangCode) }}
						li(class='pointer'
							v-for='(alliance, title) in alliances'
							:class='{active: (selectedAlliances[title])}'
							@click='$set(selectedAlliances, title, !selectedAlliances[title])')
							template(v-if="title === 'empty'")
								span {{ $t("flightFilters.noAlliances", currentLangCode) }}
							template(v-else)
								span {{ title }}
					.text(v-if="!isEmpty(airlinesWithoutTransfer)")
						h3 {{ $t("flightFilters.directFlight", currentLangCode) }}
						ul.airlines
							li.pointer.airlines__block(v-for='airline in airlinesWithoutTransfer'
								@click='selectAirlines(airline.code, "forward")'
								:class='{active: (activeAirlines.forward.includes(airline.code))}'
							)
								img(:src="imgurl(airline.code)" :srcset="`${imgurl2x(airline.code)} 2x`")
								div.airlines__block-name
									span {{ airline.name }}
									span(v-html="`от ${airline.price}${currentCurrencySymbol}`")
					.text(v-if="!isEmpty(airlinesWithTransfer)")
						h3 {{ $t("flightFilters.transferFlight", currentLangCode) }}
						ul.airlines
							li.pointer.airlines__block(v-for='airline in airlinesWithTransfer'
								@click='selectAirlines(airline.code, "transfer")'
								:class='{active: (activeAirlines.transfer.includes(airline.code))}'
							)
								img(:src="imgurl(airline.code)" :srcset="`${imgurl2x(airline.code)} 2x`")
								div.airlines__block-name
									span {{ airline.name }}
									span(v-html="`от ${airline.price}${currentCurrencySymbol}`")
			.accordion(:class='{hide: accordionShow != "isGatePanelShow"}')
				.btn.pointer(@click='togleStatus("isGatePanelShow")')
					.indicator
					p {{ $t("profile.airlines", currentLangCode) }}
				.body
					ul
						li(class='pointer' @click="setAllAlliances" :class='{active: selectedAlliances.all}')
							span {{ $t("flightFilters.allAlliances", currentLangCode) }}
		.content
			.total-count
				//.sort(class="pointer" @click='toggleSortDropdown' v-click-outside='closeSortDropdown')
					span Оптимальный
					ul( v-show="sortDropdown" )
						li Оптимальный
						li Дешевый
						li Дорогой
				span.count {{ $t("flightFilters.count", currentLangCode) }} {{ searchAmount }}
				.priorities
					input(type='checkbox' class='check' id='priorities' @change="setPassengerPriorities($event.target.checked)")
					label(for='priorities') {{ $t("flightFilters.myPriority", currentLangCode) }}


			ul(class="fligth-variant" v-if="results.length > 0")
				template( v-for="flight in results" v-if='isShowFlight(flight)')
					flights-list(:flight='flight' :isRoundTrip='isRoundTrip' @openFlightInfo='openFlightInfo')
			div.empty-list(v-else-if="results.length === 0 || filteredId.length === 0 && filterStatus") {{ $t("flightFilters.emptySearch", currentLangCode) }}
		flight-info(
			v-if='isFlightInfo'
			:flightOfFlightInfo='flightOfFlightInfo'
			@closeFlightInfo='closeFlightInfo')
</template>

<script>
import { API } from "../api.js";
import VueNotifications from "vue-notifications";
import vueSlider from "vue-slider-component";
import getDecimal from "../utils/getdecimal";
import FlightsList from "./FlightsList.vue";
import FlightInfo from "./FlightInfo";
import _ from "lodash";
import TicketGateLoader from "./ticketGateLoader";

export default {
	name: "ticket-selection",
	components: {
		TicketGateLoader,
		"flights-list": FlightsList,
		"vue-slider": vueSlider,
		"flight-info": FlightInfo
	},
	data() {
		return {
			flightOfFlightInfo: "",
			isFlightInfo: false,
			filteredId: [],
			filterStatus: false,
			sortDropdown: false,
			isFilterPanelsMinimized: false,
			timeRange: [30, 1435],
			sliderConf: {
				value: 15,
				bgStyle: {
					backgroundColor: "#323647"
				},
				height: 5,
				dotSize: 18,
				sliderStyle: [
					{
						backgroundColor: "#FC4955"
					},
					{
						backgroundColor: "#FC4955"
					}
				],
				processStyle: {
					backgroundColor: "#FC4955"
				}
			},
			transerParameters: {
				withoutTransfer: {
					val: false,
					code: 1
				},
				max1Transfer: {
					val: false,
					code: 2
				},
				withoutNightTransfer: {
					val: false,
					code: 3
				},
				withoutChangeAiport: {
					val: false,
					code: 4
				}
			},
			accordionShow: "isTransfersPanelShow",
			// isRoundTrip: true,
			selectedTime: {
				forwardFrom: [],
				forwardTo: [],
				backwardTo: [],
				backwardFrom: []
			},
			filterTimeForward: true,
			filterAirportForward: true,
			selectedAirports: {
				forwardFrom: [],
				forwardTo: [],
				backwardTo: [],
				backwardFrom: []
			},
			fromTime: 30,
			toTime: 1435,
			activeAlliance: "all",
			activeAirlines: {
				forward: [],
				transfer: []
			},
			filterRequest: {
				searchId: this.searchId,
				filters: []
			},
			selectedAlliances: {
				all: true
			}
		};
	},
	beforeCreate() {
		if (localStorage.getItem("President_Travel_token") == null) {
			this.$router.push("login-user");
		}
	},
	beforeMount() {
		this.resize();
		window.addEventListener('resize', this.resize)
	},
	beforeDestroy () {
		window.removeEventListener('resize', this.resize)
	},
	computed: {
		timeArray () {
			return [
				{
					id: 1,
					code: "night",
					text: this.$t("dayTime.night", this.currentLangCode),
					from: 0,
					to: 6
				},
				{
					id: 2,
					code: "morning",
					text: this.$t("dayTime.morning", this.currentLangCode),
					from: 6,
					to: 12
				},
				{
					id: 3,
					code: "day",
					text: this.$t("dayTime.day", this.currentLangCode),
					from: 12,
					to: 18
				},
				{
					id: 4,
					code: "evening",
					text: this.$t("dayTime.evening", this.currentLangCode),
					from: 18,
					to: 24
				}
			]
		},
		currentCurrencySymbol () {
			return this.$store.state.currencies.selectedCurrency.symbol;
		},
		isAlliacncesWithoutTransfer() {
			for (let index = 0; index < this.alliances.length; index++) {
				const element = this.alliances[index];
				if (element.withoutTransfer) {
					return true;
					break;
				}
			}
			return false;
		},
		isAlliacncesWithTransfer() {
			for (let index = 0; index < this.alliances.length; index++) {
				const element = this.alliances[index];
				if (element.withTransfer) {
					return true;
					break;
				}
			}
			return false;
		},
		alliances() {
			return this.$store.state.airports.alliances;
		},
		airlines () {
			return this.$store.state.airports.airlines;
		},
		airportsForwardForm() {
			return this.$store.state.airports.airports.airportsForwardFrom;
		},
		airportsForwardTo() {
			return this.$store.state.airports.airports.airportsForwardTo;
		},
		airportsBackwardForm() {
			return this.$store.state.airports.airports.airportsBackwardFrom;
		},
		airportsBackwardTo() {
			return this.$store.state.airports.airports.airportsBackwardTo;
		},
		isRoundTrip() {
			return this.$store.state.searchparameters.isRoundTripSearch;
		},
		searchId() {
			return this.$store.state.flights.searchId;
		},
		from() {
			return this.$store.state.searchparameters.from;
		},
		to() {
			return this.$store.state.searchparameters.to;
		},
		results() {
			return this.$store.state.flights.flightsList || []
		},
		searchAmount() {
			if (!this.filterStatus) {
				return this.results.length;
			} else {
				return this.filteredId.length;
			}
		},
		airlinesWithoutTransfer () {
			return this.mapAirlines("withoutTransfer");
		},
		airlinesWithTransfer () {
			return this.mapAirlines("withTransfer");
		}
	},
	methods: {
		isEmpty: _.isEmpty,
		setPassengerPriorities (enabled) {
			if (enabled) {

			} else {

			}
		},
		resize () {
			this.isFilterPanelsMinimized = window.innerWidth < 992;
			this.$store.commit("changeTabletView", window.innerWidth < 1199);
			this.filterResizeHandler(this.isFilterPanelsMinimized)
		},
		filterResizeHandler (isFilterMinimized) {
			let overflow = 'auto';
			if (window.innerWidth <= 767 && !isFilterMinimized) overflow = 'hidden';
			document.body.style.overflow = overflow;
		},
		setAllAlliances () {
			if (this.selectedAlliances.all) return true;
			for (let alliance in this.selectedAlliances) {
				if (alliance !== "all" && this.selectedAlliances.hasOwnProperty(alliance)) {
					this.$set(this.selectedAlliances, alliance, false);
				}
			}
			this.$set(this.selectedAlliances, "all", true);
		},
		mapAirlines (transfer) {
			let airlines = {};
			for (let alliance in this.alliances) {
				if (this.alliances.hasOwnProperty(alliance) &&
					this.alliances[alliance].hasOwnProperty(transfer) &&
					(this.selectedAlliances[alliance] || this.selectedAlliances.all)
				// Preventing child mutations by deep cloning
				) Object.assign(airlines, _.cloneDeep(this.alliances[alliance][transfer]));
			}
			for (let airline in airlines) {
				if (airlines.hasOwnProperty(airline) && this.airlines.hasOwnProperty(airline)) {
					airlines[airline].name = this.airlines[airline].name;
				}
			}
			return airlines;
		},
		closeFlightInfo() {
			if (this.isFlightInfo) {
				this.isFlightInfo = false;
				//надо вернуть скролл
				document.body.style.overflowY = "auto";
			}
		},
		openFlightInfo(flight) {
			if (!this.isFlightInfo) {
				this.isFlightInfo = true;
				//уберем скролл основного экрана
				document.body.style.overflowY = "hidden";
			}
			this.flightOfFlightInfo = flight;
		},
		imgurl(code) {
			return (
				"//beta.president.travel/images/airlogos/simple/" + code + ".png"
			);
		},
		imgurl2x(code) {
			return (
				"//beta.president.travel/images/airlogos/retina/" + code + ".png"
			);
		},
		isShowFlight(flight) {
			if (!this.filterStatus) {
				//если еще ниразу не использовался фильт
				return true;
			} else {
				for (let index = 0; index < this.filteredId.length; index++) {
					const element = this.filteredId[index];
					if (element == flight.frId) {
						return true;
					}
				}
				return false;
			}
		},
		toggleSortDropdown() {
			this.sortDropdown = !this.sortDropdown;
		},
		closeSortDropdown() {
			if (this.sortDropdown) {
				this.sortDropdown = false;
			}
		},
		selectAirlines(alliance, type) {
			var index = this.activeAirlines[type].indexOf(alliance);
			if (index === -1) this.activeAirlines[type].push(alliance);
			else this.activeAirlines[type].splice(index, 1);
			this.filter();
		},
		selectAlliance(alliance) {
			this.activeAlliance = alliance;
			this.activeAirlines = {
				forward: [],
				transfer: []
			};
		},
		filter(filterParam) {
			self = this;

			let filterParam2 = {
				searchId: this.searchId,
				filters: []
			};

			//для фильтра пересадок
			var transferCode = [];
			for (var key in this.transerParameters) {
				if (this.transerParameters[key].val) {
					transferCode.push(this.transerParameters[key].code);
				}
			}
			if (
				transferCode.length > 0 ||
				this.timeRange[0] != 30 ||
				this.timeRange[1] != 1435
			) {
				filterParam2.filters.push({
					type: "transfer",
					transferCode: transferCode,
					transferTime: [this.timeRange[0] * 60, this.timeRange[1] * 60]
				});
			}
			//для фильтра по времени вылета
			if (
				this.selectedTime.forwardFrom.length > 0 ||
				this.selectedTime.forwardTo.length > 0 ||
				this.selectedTime.backwardTo.length > 0 ||
				this.selectedTime.backwardFrom.length > 0
			) {
				var timeFilterData = {
					type: "time"
				};
				if (this.selectedTime.forwardFrom.length > 0) {
					timeFilterData.forwardDepart = this.selectedTime.forwardFrom;
				}
				if (this.selectedTime.forwardTo.length > 0) {
					timeFilterData.forwardArrival = this.selectedTime.forwardTo;
				}
				if (this.selectedTime.backwardTo.length > 0) {
					timeFilterData.backwardArrival = this.selectedTime.backwardTo;
				}
				if (this.selectedTime.backwardFrom.length > 0) {
					timeFilterData.backwardDepart = this.selectedTime.backwardFrom;
				}
				filterParam2.filters.push(timeFilterData);
			}

			//для фильтра по аэропортам
			if (
				this.selectedAirports.forwardFrom.length > 0 ||
				this.selectedAirports.forwardTo.length > 0 ||
				this.selectedAirports.backwardTo.length > 0 ||
				this.selectedAirports.backwardFrom.length > 0
			) {
				var airportFilterData = {
					type: "airport"
				};
				if (this.selectedAirports.forwardFrom.length > 0) {
					airportFilterData.forwardDepart = this.selectedAirports.forwardFrom;
				}
				if (this.selectedAirports.forwardTo.length > 0) {
					airportFilterData.forwardArrival = this.selectedAirports.forwardTo;
				}
				if (this.selectedAirports.backwardTo.length > 0) {
					airportFilterData.backwardArrival = this.selectedAirports.backwardTo;
				}
				if (this.selectedAirports.backwardFrom.length > 0) {
					airportFilterData.backwardDepart = this.selectedAirports.backwardFrom;
				}
				filterParam2.filters.push(airportFilterData);
			}

			//для фильтра по авиакомпаниям
			if (
				this.activeAirlines.forward.length > 0 ||
				this.activeAirlines.transfer.length > 0
			) {
				var airlinesFilterData = {
					type: "airline"
				};
				if (this.activeAirlines.forward.length > 0) {
					airlinesFilterData.forward = this.activeAirlines.forward;
				}
				if (this.activeAirlines.transfer.length > 0) {
					airlinesFilterData.transfer = this.activeAirlines.transfer;
				}
				filterParam2.filters.push(airlinesFilterData);
			}
			//для фильтров по авиакомпаниям
			// console.log(filterParam2);
			//fix me !!!!
			// если был отправлен запрос до того как пришле ответ на предыдущий,
			// то нужно его игнорить
			// и дальше показывать лоадер вместо результатов  и ждать последний запрос
			// think about this
			if (filterParam2.filters.length == 0) {
				this.filterStatus = false;
				//показываем все результат
			} else {
				API.filterTickets(filterParam2)
					.then(response => {
						var data = response.data;
						if (data.status === "success") {
							self.filteredId = data.data;
							self.filterStatus = true;
						} else {
							VueNotifications.error({ message: "error" + data });
						}
					})
					.catch(e => {
						if (e.response) {
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						}
					});
			}
		},
		transferTimeFilter() {
			this.filter();
		},
		timeFilter(param, code, direction, city) {
			var index = this.selectedTime[param].indexOf(code);
			if (index > -1) {
				this.selectedTime[param].splice(index, 1);
			} else {
				this.selectedTime[param].push(code);
			}
			this.filter();
		},
		airportFilter(direction, airportCode) {
			var index = this.selectedAirports[direction].indexOf(airportCode);
			if (index > -1) {
				this.selectedAirports[direction].splice(index, 1);
			} else {
				this.selectedAirports[direction].push(airportCode);
			}
			this.filter();
		},
		toMain() {
			this.$router.push("/");
		},
		changeTimeFilter(val) {
			this.filterTimeForward = val;
		},
		changeAirportFilter(val) {
			this.filterAirportForward = val;
		},
		formatTime(time) {
			var hours = Math.floor(time / 60),
				minutes = time - hours * 60;
			let minLetter = this.$t("datetime.semi.minute", this.currentLangCode);
			let hourLetter = this.$t("datetime.short.hour", this.currentLangCode);
			if (hours === 0 && minutes === 0) {
				return "";
			} else if (hours === 0) {
				return minutes + minLetter;
			} else {
				return `${hours}${hourLetter} ${minutes}${minLetter}`;
			}
		},
		toggleFilterPanel() {
			this.isFilterPanelsMinimized = !this.isFilterPanelsMinimized;
		},
		togleStatus(parameter) {
			if (this.accordionShow == parameter) {
				this.accordionShow = "";
			} else {
				this.accordionShow = parameter;
			}
		},
		formatedTime(time) {
			var from = time.from,
				to = time.to;
			if (from < 10) {
				from = "0" + from;
			}
			if (to < 10) {
				to = "0" + to;
			}
			return from + ":00 - " + to + ":00";
		},
		formatCost(cost, currencyID) {
			var residue = getDecimal(cost),
				cost = ("" + Math.floor(cost)).split(""),
				index = cost.length,
				result = [];

			while (index--) {
				if ((index + 1) % 3 == 0) {
					result.unshift(" " + cost[index]);
				} else {
					result.unshift("" + cost[index]);
				}
			}

			if (residue !== 0) {
				result[result.length - 1] = +result[result.length - 1] + residue;
			}
			return (
				result.join("") +
				" " +
				this.$store.state.currencies.selectedCurrency.symbol
			);
		}
	},
	watch: {
		selectedAlliances: {
			deep: true,
			handler (newList) {
				let clone = _.clone(newList);
				delete clone.all;
				this.$set(newList, "all", !Object.values(clone).some(value => value));
				this.activeAirlines = {
					forward: [],
					transfer: []
				};
			}
		},
		isFilterPanelsMinimized (newValue) {
			this.filterResizeHandler(newValue)
		}
	}
};
</script>

<style lang="sass" scoped>
.upper
	text-transform: uppercase
.empty-list
	align-items: center
	display: flex
	justify-content: center
	height: 100px

.time-filter
	display: flex
	justify-content: space-between

.airport-filter
	display: flex
	justify-content: space-between

	&__name
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap

	&__code
		margin-left: 10px

.airlines

	&__block
		display: flex
		justify-content: space-between

		&-name
			display: flex
			flex-direction: column
			justify-content: space-around
			text-align: right
</style>
