<template lang="pug">
	.gate
		img#pixel(v-if="isPOST"
			width="0"
			height="0"
			:src="`//yasen.aviasales.ru/adaptors/pixel_click.png?click_id=${POSTData.click}&gate_id=${POSTData.gate}`")
		form.gate__form(method="POST" :action="POSTData.url" v-if="isPOST" ref="POSTForm")
			input(type="hidden" v-for="(value, name) in POSTData.params" :name="name" :value="value")
		.gate__loader
			canvas.gate__loader-canvas(:width="canvasRect.width" :height="canvasRect.height" ref="canvas")
		.gate__content
			h2.gate__content-head {{ $t("gate.redirect", currentLangCode) }}
			div
				.gate__content-row
					.gate__content-text--bold
						p.gate__content-text {{ from.city }},
						p.gate__content-text.gate__content-text--big {{ from.abbr }}
					.gate__content-text--bold
						p.gate__content-text {{ to.city }},
						p.gate__content-text.gate__content-text--big {{ to.abbr }}
				.gate__content-row
					div
						p.gate__content-text.gate__content-text--dark {{ $t("direction.depatureDate", currentLangCode) }}
						p.gate__content-text.gate__content-text--bold {{ departureDate }}
					div(v-if="to.date")
						p.gate__content-text.gate__content-text--dark {{ $t("direction.arrivalDate", currentLangCode) }}
						p.gate__content-text.gate__content-text--bold {{ arrivalDate }}
					div
						p.gate__content-text.gate__content-text--dark {{ $t("direction.passengers", currentLangCode) }}
						p.gate__content-text.gate__content-text--bold {{ passengers }} {{ passengersLabel }}
			img.gate__content-airline(:src="`//pics.avs.io/200/200/${airline}.png`")
</template>

<script>
	import Decliner from "../utils/decliner";
	import { HTTP, API } from "../api";
	import _ from "lodash";
	let easeInOutQuad = t => t<.5 ? 2*t*t : -1+(4-2*t)*t;
    export default {
        name: "ticketGateLoader",
		created () {
        	const config = {
				onUploadProgress: progressEvent => this.loadPercent = progressEvent.loaded / progressEvent.total
			};
        	HTTP.post("/partner/get-link", {
        		searchId: this.searchId,
				tripHash: this.tripHash
			}, _.assign(config, API.config))
				.then(response => {
					if (response.data.status === "success") {
						this.loaderColor = this.colors.success;
						if (response.data.data.method === "GET") this.$nextTick(() => window.location = response.data.data.url);
						else if (response.data.data.method === "POST") {
							let data = response.data.data;
							this.POSTData.click = data.click_id;
							this.POSTData.gate = data.gate_id;
							this.POSTData.params = data.params;
							this.POSTData.url = data.url;
							this.isPOST = true;
							this.$nextTick(() => this.$refs.POSTForm.submit());
						} else return Promise.reject(response)
					} else return Promise.reject(response)
				})
				.catch(e => {
					this.loaderColor = this.colors.error;
					console.log(e);
				})
				.finally(() => this.redrawPercentage(this.loadPercent = 1))
		},
		mounted () {
        	document.documentElement.style.overflow = "hidden";
        	this.redrawPercentage(this.loadPercent);
		},
		data () {
        	let gate = {};
        	if (window.opener && window.opener.gate && !_.isEmpty(window.opener.gate)) gate = window.opener.gate;
			else this.$router.replace("/");
			window.opener = null;
			const canvasRect = this.getBestCanvasRect();
        	return {
        		loadPercent: 0,
				loaderColor: '#FC4955',
				colors: {
        			primary: '#FC4955',
					success: "#1bc1a0",
					error: "#ffb63d"
				},
				isPOST: false,
				POSTData: {
        			url: "",
					gate: "",
					click: "",
					params: {},
				},
				canvasRect,
				...gate
			}
		},
		methods: {
        	formatDate (timestamp) {
				let date = new Date(timestamp);
				let d = date.getDate();
				let m = date.getMonth();
				let y = date.getFullYear();
				let monthLabel = this.$t("main.monthsLabels", this.currentLangCode);
				if (this.currentLangCode === "en") return `${monthLabel[m]} ${d}, ${y}`;
				else return `${d} ${monthLabel[m]}, ${y}`;
			},
			redrawPercentage (percent) {
        		this.canvasRect = this.getBestCanvasRect();
				let canvas = this.$refs.canvas.getContext("2d");
				let centerX = canvas.canvas.width / 2;
				let centerY = canvas.canvas.height / 2;
				let radius = Math.min(centerX, centerY) - 5;
				console.log(radius, canvas.canvas.width, canvas.canvas.height);
				canvas.clearRect(0, 0, canvas.canvas.width, canvas.canvas.height);
				canvas.beginPath();
				canvas.arc(centerX, centerY, radius, Math.PI / 2, Math.PI / 2 + Math.PI * 2 * Number(percent));
				canvas.lineWidth = 10;
				canvas.strokeStyle = this.loaderColor;
				canvas.stroke();
			},
			animatePercentage (startPercent, endPercent, speed) {
        		const path = Number(endPercent) - Number(startPercent);
        		const incrementStep = 1 / speed;
        		let increment = 0;
        		const interval = setInterval(() => {
        			this.redrawPercentage(Number(startPercent) + path * easeInOutQuad(increment));
					if (increment >= 1) clearInterval(interval);
        			else increment += incrementStep;
				})
			},
			getBestCanvasRect () {
				return {
					width: document.documentElement.offsetWidth,
					height: document.documentElement.offsetHeight
				}
			}
		},
		computed: {
			passengersLabel () {
        		return Decliner(this.passengers, this.$t("decliner.passenger", this.currentLangCode), this.currentLangCode)
			},
			departureDate () {
				return this.formatDate(this.from.date)
			},
			arrivalDate () {
				return this.formatDate(this.to.date)
			}
		},
		watch: {
        	loadPercent (newPercent, oldPercent) {
        		if (this.$refs.canvas) this.animatePercentage(oldPercent, newPercent, 150);
			}
		}
    }
</script>

<style lang="sass" scoped>
	@import "../styles/sass/colors"
	.gate
		align-items: center
		background-color: $dark-color
		bottom: 0
		display: flex
		justify-content: center
		left: 0
		position: fixed
		right: 0
		top: 0
		z-index: 1101

		&__loader
			left: 50%
			position: absolute
			top: 50%
			transform: translate(-50%, -50%)
			z-index: -1

		&__content
			height: 500px
			max-height: 100vh
			max-width: calc(100vw - 40px)
			width: 500px

			&-head
				font-size: 20px
				font-weight: 300
				line-height: 22px
				margin-bottom: 128px
				margin-top: 50px
				text-align: center

			&-row
				display: flex
				justify-content: space-between
				padding: 5px 2px

				&:not(:last-child)
					border-bottom: 1px solid $primary-color

				> *
					text-align: center

					&:first-child
						text-align: left

					&:last-child
						text-align: right

			&-airline
				display: block
				margin: 30px auto 0

			&-text
				color: white
				font-size: 14px
				line-height: 18px

				&--dark
					color: $bright-color

				&--bold
					font-weight: 600

				&--big
					font-size: 21px
					line-height: 23px
</style>
