<template>

	<div class="timetable-wr">

		<div class="timetable-top">
			<ul>
				<template v-for="(day, index) in visibleDates" >
					<template v-if="index == (10+dayNum)">
						<li class="current-week current-day" :class='{active: selectedDay == day}' @click.prevent='selectDay(day)'>
							<div class="day">{{days[index-11]}}</div>
							<div class="border">
								<div class="date">{{getDayDate(day)}}</div>
								<ul>
									<li class="red" v-for="item in getEventFlight(day)"></li>
									<li class="yellow" v-for="item in getEventHotel(day)"></li>
								</ul>
							</div>

						</li>
					</template>
					<template v-else-if="index <= 17 && index >= 11">
						<li class="current-week" :class='{active: selectedDay == day}' @click.prevent='selectDay(day)'>
							<div class="day">{{days[index-11]}}</div>
							<div class="border">
								<div class="date">{{getDayDate(day)}}</div>
								<ul>
									<li class="red" v-for="item in getEventFlight(day)"></li>
									<li class="yellow" v-for="item in getEventHotel(day)"></li>
								</ul>
							</div>
						</li>
					</template>
					<template v-else>
						<li @click.prevent='selectDay(day)' :class='{active: selectedDay == day}'>
							<span class="border">
								{{getDayDate(day)}}
							</span>
						</li>
					</template>
				</template>
			</ul>
		</div><!-- .timetable-top -->

		<div class="timetable" v-bar='{useScrollbarPseudo: true, preventParentScroll: true}'>
			<div class="timetable__hours" id='timetable__hours'>
				<div class="timetable__now" v-if="isToday" :style="{transform: `translate3d(0, ${topPosition}px, 0)`}">
					<span>{{currentTime}}</span>
				</div>
				<div class="timetable__event flight" v-for="item in events.flights" :style="{top:getPositionByTime(item.time)+'px'}">
					<img src="../assets/icons/jet.svg" class="ico" alt="" />
					<a href="#" class="btn">Пройти регистрацию</a>
					<div class="ttl">{{item.from}} {{item.fromCode}} → {{item.to}} {{item.toCode}}</div>
					<div class="desc">Рейс  {{item.flightNumber}}. {{currentDate}} ({{item.time}}), {{item.passengers.length}} пассажира</div>
				</div>
				<div class="timetable__event hotel" v-for="item in events.hotels" :style="{top:getPositionByTime(item.time)+'px'}">

					<img src="../assets/icons/hotel-icon.svg" class="ico" alt="" />
					<a href="#" class="btn">Трансфер</a>
					<div class="ttl">{{item.city}}</div>
					<div class="desc">{{item.hotelAddress}}</div>

				</div>

				<div class="timetable__hour">
					<div class="timetable__time">00:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">01:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">02:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">03:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">04:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">05:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">06:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">07:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">08:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">09:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">10:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">11:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">12:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">13:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">14:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">15:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">16:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">17:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">18:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">19:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">20:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">21:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">22:00</div>
				</div><!-- .timetable__hour -->
				<div class="timetable__hour">
					<div class="timetable__time">23:00</div>
				</div><!-- .timetable__hour -->
			</div><!-- .timetable__hours -->
		</div><!-- .timetable -->
	</div><!-- .timetable-wr -->
</template>

<script>
export default {
	name: "timetable",
	props: ["selectedDate"],
	data() {
		return {
			currentTime: "",
			topPosition: "",
			visibleDates: [],
			startWeek: "",
			endWeek: "",
			selectedDay: "",
			events: { flights: [], hotels: [] },
			currentDate: new Date(),
			timeUpdateInterval : null
		}
	},
	mounted() {
		const getTime = () => {
			this.currentDate = new Date;
			this.currentHours =
				this.currentDate.getHours() > 9
					? this.currentDate.getHours()
					: "0" + this.currentDate.getHours();
			this.currentMinutes =
				this.currentDate.getMinutes() > 9
					? this.currentDate.getMinutes()
					: "0" + this.currentDate.getMinutes();
			this.currentTime = this.currentHours + ":" + this.currentMinutes;
			this.topPosition = Number(this.currentHours) * 60 + Number(this.currentMinutes) + 20;// 20px это отступ сверху
		};
		getTime();
		this.timeUpdateInterval = setInterval(function() {
			getTime();
		}, 1000 * 60);

		let startDay = new Date(
			this.currentDate.getFullYear(),
			this.currentDate.getMonth(),
			this.currentDate.getDate()
		);
		startDay.setHours(0, 0, 0, 0);
		this.dayNum = startDay.getDay() === 0 ? 7 : startDay.getDay();

		startDay.setDate(startDay.getDate() - (10 + this.dayNum)); // Tue Sep 12 2017 00:00:00 GMT+0300 (EEST)

		for (let i = 0; i < 30; i++) {
			this.visibleDates.push(+startDay);
			startDay.setDate(startDay.getDate() + 1);
		}

		//получаем даныне
		// this.selectedDay = this.selectedDate;
		this.selectDay(this.selectedDate);
	},
	beforeDestroy () {
		clearInterval(this.timeUpdateInterval)
	},
	computed: {
		allEvents() {
			return this.$store.getters.getEvents();
		},
		days () {
			return this.$t("main.daysLabels", this.currentLangCode)
		},
		isToday () {
			return (new Date()).setHours(0, 0, 0, 0) === this.selectedDay
		}
	},
	methods: {
		scroll() {
			var topPos = Infinity;
			var tempPos = 0;
			if (this.events.flights.length > 0) {
				for (let index = 0; index < this.events.flights.length; index++) {
					const element = this.events.flights[index];
					var tempPos = this.getPositionByTime(element.time);
					if (tempPos < topPos) {
						topPos = tempPos;
					}
				}
			}
			if (this.events.hotels.length > 0) {
				for (let index = 0; index < this.events.hotels.length; index++) {
					const element = this.events.hotels[index];
					var tempPos = this.getPositionByTime(element.time);
					if (tempPos < topPos) {
						topPos = tempPos;
					}
				}
			}
			if (topPos == Infinity) {
				topPos = 0;
			} else {
				topPos -= 150;
			}

			document.getElementById("timetable__hours").scrollTo(0, topPos);
		},
		dateToString(dt) {
			var date = new Date(dt);
			var day = date.getDate() > 9 ? date.getDate() : "0" + date.getDate();
			var month =
				date.getMonth() > 9
					? Number(date.getMonth()) + 1
					: "0" + (Number(date.getMonth()) + 1);
			var year = date.getFullYear();
			var select = day + "." + month + "." + year;
			return select;
		},
		getEventFlight(day) {
			var date = this.dateToString(day).replace(/\./g, "-");
			return this.allEvents[date] === undefined
				? 0
				: this.allEvents[date]["flights"].length;
		},
		getEventHotel(day) {
			var date = this.dateToString(day).replace(/\./g, "-");
			return this.allEvents[date] === undefined
				? 0
				: this.allEvents[date]["hotels"].length;
		},
		eventsByDate(date) {
			return this.$store.getters.getEventsByDate(date);
		},
		selectDay(day) {
			this.selectedDay = day;
			var select = this.dateToString(day).replace(/\./g, "-");
			this.currentDate = select;
			this.eventsByDate(select) === undefined
				? (this.events = { flights: [], hotels: [] })
				: (this.events = this.eventsByDate(select));
			this.scroll();
		},
		getDayDate(day) {
			return new Date(day).getDate();
		},
		getPositionByTime(time) {
			var currentHours = time.split(":")[0];
			var currentMinutes = time.split(":")[1];
			var topPosition = Number(currentHours) * 60 + Number(currentMinutes) + 20;
			return topPosition;
		}
	}
};
</script>

<style>

</style>
