<template lang="pug">
.travelers-wr.travelers-col
  .travelers
    .title
      h3 {{ $t("travelers.travelers", currentLang.code) }}
      .right
        a.add(href="javascript:void(0)" @click="openTravelerCard('')")
          img(src='../assets/icons/add.svg')
          span {{ $t("reservations.add", currentLang.code) }}

    .list-wr(v-bar='{useScrollbarPseudo: true}')
      ul.list
        traveler.pointer(v-for='traveler in travelers' :key="traveler.travelerId" :traveler='traveler' @openTravelerCard='openTravelerCard')
    .bottom
      span.count {{ formateCounter(travelers.length) }}
      a.shaw-all-btn.pointer(href='javascript:void(0)' @click='showAll')
        span {{ $t("main.showAll", currentLang.code) }}


</template>

<script>
import parseDate from "../utils/parseDate";
import TraleverListItem from "./TravelerListItem";
export default {
	name: "travelers",
	props: ["travelers", "currentLang"],
	components: {
		traveler: TraleverListItem
	},
	data() {
		return {};
	},
	methods: {
		openTravelerCard(id) {
			this.$emit("showTravelerCard", id);
		},
		timeToNow(time) {
			var tripDate = parseDate(time),
				currentDate = new Date();
			var _second = 1000;
			var _minute = _second * 60;
			var _hour = _minute * 60;
			var _day = _hour * 24;
			var now = new Date();
			var distance = tripDate - currentDate;
			if (distance < 0) {
				return;
			}
			var days = Math.floor(distance / _day);
			var hours = Math.floor((distance % _day) / _hour);
			var minutes = Math.floor((distance % _hour) / _minute);

			var daysText = "";
			var hoursText = "";
			var minutesText = "";
			if (this.currentLang.code == "en") {
				daysText = days + " days ";
				hoursText = hours + " hours ";
				minutesText = minutes + " minutes ";
				if (days == 1) {
					daysText = days + " day ";
				}
				if (hours == 1) {
					hoursText = hours + " hour ";
				}
				if (minutes == 1) {
					minutesText = minutes + " minute ";
				}
			} else {
				daysText = days + " дней ";
				hoursText = hours + " часов";
				minutesText = minutes + " мину ";
				if (days % 10 == 1) {
					daysText = days + " день ";
				}
				if (
					days % 10 == 2 ||
					days % 10 == 3 ||
					days % 10 == 3 ||
					days % 10 == 4
				) {
					daysText = days + " дня ";
				}
				if (days >= 11 && days < 20) {
					daysText = days + " дней ";
				}
				if (hours % 10 == 1) {
					hoursText = hours + " час ";
				}
				if (hours % 10 == 2 || hours % 10 == 3 || hours % 10 == 4) {
					hoursText = hours + " часа ";
				}
				if (
					hours % 10 == 5 ||
					hours % 10 == 6 ||
					hours % 10 == 7 ||
					hours % 10 == 8 ||
					hours % 10 == 9 ||
					hours % 10 == 0
				) {
					hoursText = hours + " часов ";
				}
				if (hours >= 11 && hours <= 20) {
					hoursText = hours + " часов ";
				}
				if (minutes % 10 == 1) {
					minutesText = minutes + " минута ";
				}
				if (minutes % 10 == 2 || minutes % 10 == 3 || minutes % 10 == 4) {
					minutesText = minutes + " минуты ";
				}
				if (minutes >= 10 && minutes <= 20) {
					minutesText = minutes + " минут ";
				}
			}
			return daysText + hoursText + minutesText;
		},
		showAll() {
			this.$emit("showTravelersList");
		},
		formateCounter(count) {
			var additionText = "человек";
			if (this.currentLang.code == "en") {
				if (count > 1) {
					return count + " persons";
				} else {
					return count + " person";
				}
			}
			if (count % 10 == 2 || count % 10 == 3 || count % 10 == 4) {
				additionText = "человека";
			}

			return count + " " + additionText;
		}
	}
};
</script>

<style>

</style>
