<template lang='pug'>
	li(@click.prevent.stop='openTravelerCard()')
		.header
			.logo
				span {{ ava }}
			.header-text
				span.name {{traveler.travelerName}}
					//- p.place
						img(src='../assets/icons/marker.svg')
						|  {{ traveler.country }}, {{ traveler.city }}
		.content
			.status
				.indicator(:class="{_error: lastOrder.status === 'cancelled' || !hasOrders}")
				p.text(v-if="hasOrders") {{ $t("main.status", currentLangCode) }}: {{ lastOrder.status }}
					<!--template(v-if='lastOrder.status === 1')  {{ $t("travelers.waiting", currentLangCode) }}-->
					<!--template(v-else)  {{ $t("travelers.cancelled", currentLangCode) }}-->
					span(v-if='lastOrder.isFlight' :class='{disabled: lastOrder.status !== 1}')
						.mini-icon
							include ../assets/icons/jet.svg
						p.direction(:class='{disabled: lastOrder.status !== 1}' )
							template(v-for="(item, index) in lastOrder.directions")
								template(v-if="index !== 0") →
								template {{item}}
					span(v-else :class='{disabled: lastOrder.status !== 1}')
						.mini-icon
							include ../assets/icons/hotel-icon.svg
						p.hotel {{ lastOrder.directions }}
				p.text(v-else) {{ $t("profile.travelerNoTrips", currentLangCode) }}
			.time
				.icon
					include ../assets/icons/oclock.svg
				p.date {{ lastOrder.date }}
				//- p(class='countdown') {{timeToNow(traveler.time )}}

</template>
<script>
	import _ from "lodash";
	export default {
		name: "traveler-list-item",
		props: {
			traveler: {
				type: Object,
				required: true
			}
		},
		computed: {
			ava() {
				if (this.traveler && this.traveler.travelerName) {
					const name = this.traveler.travelerName.split(' ').slice(0, 2);
					let avatar = "";
					for (let str of name) avatar += str[0];
					return avatar.toUpperCase();
				}
			},
			lastOrder () {
				return this.hasOrders ? _.clone(this.traveler.orders).sort((a, b) => {
					const timestampA = new Date(a.date.split('.').reverse());
					const timestampB = new Date(b.date.split('.').reverse());
					if (timestampA > timestampB) return 1;
					else if (timestampA < timestampB) return -1;
					else return 0;
				}).pop() : {};
			},
			hasOrders () {
				return !_.isEmpty(this.traveler.orders)
			}
		},
		methods: {
			openTravelerCard() {
				this.$emit("openTravelerCard", this.order.travelerId);
			}
		}
	};
</script>
