<template>
	<div class="traveler-card-wr" v-bar='{useScrollbarPseudo: true, preventParentScroll: true}'>
		<div class="traveler-card" v-click-outside='closeTravelsersList'>
			<div class="traveler-card__header">
				{{ $t("travelers.travelers", currentLangCode) }}
				<a href="#" @click.prevent="closeTravelsersList" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
			</div><!-- .traveler-card__header -->
			<div class="traveler-card__body">
				<div class="travelers-card">
					<div class="search">
						<input type="text" placeholder="Найти" v-model='search'/>
						<a href="#" class="add" @click.prevent.stop='addTraveler'><img src="../assets/icons/add.svg" alt="" />{{ $t("main.add", currentLangCode) }}</a>
					</div><!-- .search -->
					<ul class="list">
						<li v-for="traveler in travelers" class="pointer" @click.stop="openTravelerCard(traveler.travelerId)" :key="traveler.travelerId">
							<span class="first-letter">{{ showFirstLetter(traveler.firstname) }}</span>
							<span class="ava">{{ getAva(traveler) }}</span>
							<span class="name">{{traveler.firstname}} {{traveler.lastname}}</span>
							<!-- <span class="place"><img src="../assets/icons/marker.svg" alt="" />{{ traveler.country }},{{ traveler.city }}</span> -->
							<span class="details" @click.stop="openTravelerCard(traveler.travelerId)"><img src="../assets/icons/right-arrow.svg" alt="" /></span>
						</li>
					</ul><!-- .list -->
				</div><!-- .travelers-card -->
			</div><!-- .traveler-card__body -->
		</div><!-- .traveler-card -->
	</div>
</template>
<script>
var prevFirstLetter = "";
import { API } from "../api";
export default {
	name: "travelerslist",
	data() {
		return {
			search: ""
		};
	},
	created() {
		document.body.style.overflowY = "hidden";
	},
	beforeDestroy() {
		document.body.style.overflowY = "auto";
	},
	mounted() {},
	computed: {
		travelers() {
			self = this;
			return this.$store.state.passengers.passengers
				.slice()
				.filter(function(passenger) {
					var fullname = "";
					if (!!passenger.firstname) {
						fullname = passenger.firstname.toLowerCase();
					}
					if (!!passenger.lastname) {
						fullname = fullname + " " + passenger.lastname.toLowerCase();
					}
					var currentText = self.search.toLowerCase();
					prevFirstLetter = "";
					return fullname.indexOf(currentText) > -1;
				})
				.sort(function(a, b) {
					var firstnameA = a.firstname === undefined ? "" : a.firstname;
					var firstnameB = b.firstname === undefined ? "" : b.firstname;
					if (firstnameA < firstnameB) return -1;
					else if (firstnameA > firstnameB) return 1;
					else return 0;
				});
		}
	},
	methods: {
		openTravelerCard(id) {
			this.$emit("showTravelerCard", id, true);
			this.$emit("hideTravelersList");
			// удалим;
			// API.removeTraveler({ travelerId: id })
			// 	.then(response => {})
			// 	.catch(e => {});
		},
		getAva(traveler) {
			var ava = "";
			if (!!traveler.firstname) {
				ava = traveler.firstname[0];
			}
			if (!!traveler.lastname) {
				ava = ava + traveler.lastname[0];
			}
			return ava;
		},
		showFirstLetter(name) {
			if (!name) {
				return "";
			}
			var firstLetter = name.toUpperCase()[0];
			if (prevFirstLetter === firstLetter) {
				return "";
			}
			prevFirstLetter = firstLetter;
			return firstLetter;
		},
		addTraveler() {
			this.$emit("showTravelerCard", "", true);
			this.$emit("hideTravelersList");
		},
		closeTravelsersList() {
			this.$emit("hideTravelersList");
		}
	}
};
</script>
