<template>
	<div class="traveler-card-wr" @click.self="closeTravelerCard" v-bar='{useScrollbarPseudo: true, preventParentScroll: true}'>
		<div class="traveler-card">
			<transition name="fade">
				<div class="confirmation" v-if="removing" @click.self="removing = false">
					<div class="confirmation__body">
						<h4 class="confirmation__body-header">{{ $t("main.confirmation", currentLangCode) }}</h4>
						<p class="confirmation__body-content">{{ $t("passengers.deletePassenger", currentLangCode) }}?</p>
						<div class="confirmation__body-footer">
							<a href="javascript:void(0)" class="button" @click="deleteTraveler">{{ $t("main.confirm", currentLangCode) }}</a>
							<a href="javascript:void(0)" class="button" @click="removing = false">{{ $t("main.cancel", currentLangCode) }}</a>
						</div>
					</div>
				</div>
			</transition>
			<transition name="fade">
				<div class="loader" v-if="removeAjax">
					<spinner class="loader__spinner"></spinner>
				</div>
			</transition>
			<div class="traveler-card__header" v-if='!mobileTravels && !mobileHotels'>
				{{ $t("profile.travelCard", currentLang.code)}}
				<a href="javascript:void(0)" @click="closeTravelerCard" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
			</div><!-- .traveler-card__heade -->
			<template v-if='!loading'>
				<div class="traveler-card__body" v-if='!mobileTravels && !mobileHotels'>
					<div class="traveler-card__item">
						<div class="traveler-name" @click.stop="openName">
							<span class="ico" :class="{dark: ava !== 'NW'}">{{ava}}</span>
							<span  class="name" v-show="!isChangeName">
								<span v-if="!fullName.trim()">{{$t("profile.name", currentLang.code)}} {{$t("profile.surname", currentLang.code)}} </span>
								<span v-else class="real-name">{{fullName}}</span>
							</span>
							<form class="edit" v-show="isChangeName" @submit.prevent.stop='saveName' v-click-outside="closeNameEditor" @click.stop>
								<div class="inpt-wr" >
									<input type="text" :placeholder='$t("profile.name", currentLang.code)' ref="firstname" v-model.trim="tempVal.firstname" @keyup.enter.stop.prevent="$refs.lastname.focus()"/>
									<input type="text" :placeholder='$t("profile.surname", currentLang.code)' ref="lastname" v-model.trim="tempVal.lastname" @keyup.enter.stop.prevent="$refs.fathersname.focus()"/>
									<input type="text" :placeholder='$t("profile.patronymic", currentLang.code)' ref="fathersname" v-model.trim="tempVal.fathersname" />
								</div><!-- .inpt-wr -->
								<button class="save" :disabled='nameIsSending'>
									<span class="desktop" v-if='!nameIsSending'>{{$t("profile.save", currentLang.code)}}</span>
									<span class="mobile" v-if='!nameIsSending'><img src="../assets/icons/save.svg" alt="" /></span>
									<spinner v-if='nameIsSending'></spinner>
								</button>
							</form><!-- .edit -->
						</div><!-- .traveler-name -->
					</div>
					<div class="traveler-card-item traveler-card__delete">
						<a href="javascript:void(0)" @click="removing = true">Удалить</a>
					</div>
					<div class="traveler-card__item">
						<div class="traveler-card__item-ttl pointer" @click="toggleParam('showPersonal')">
							<div class="info-ico" :class="{ rotate: !showPersonal }">
								<img src="../assets/icons/angle-arrow-down.svg" alt="">
							</div>
							<div class="info">
								<img src="../assets/icons/info.svg" alt="" />
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
							</div><!-- .info -->
							{{$t("profile.personalInfo", currentLang.code)}}
						</div>

						<div class="traveler-card__item-body" v-show="showPersonal">
							<ul class="traveler-card__presonal-list" v-if='!loadingPersonalInfo'>
								<date-custom-input
									ref='inp1'
									dataRef='inp1'
									v-model="traveler.birthday"
									:ttl='$t("profile.birthDate", currentLang.code)'
									:placeholder='$t("profile.dmy", currentLang.code)'
									@save='saveInput'
									@setActive='setActive'
									param='birthday'
									:id='traveler.travelerId'
									@setTravelerId='setTravelerId'>
								</date-custom-input>

								<custom-select
									ref="select1"
									dataRef='select1'
									v-model='traveler.sex'
									:names='sex'
									:ttl='$t("profile.sex", currentLang.code)'
									placeholder="---"
									@save='saveInput'
									@setActive='setActive'
									param='sex'
									:id='traveler.travelerId'
									@setTravelerId='setTravelerId'>
								</custom-select>

								<citizenship-custom-select
									ref="select2"
									dataRef='select2'
									v-model='traveler.citizenship.citizenshipCountryId'
									:names='citizenships'
									:ttl='$t("profile.citizenship", currentLang.code)'
									placeholder="---"
									@save='saveInput'
									@setActive='setActive'
									param='citizenshipCountryId'
									:id='traveler.travelerId'
									@setTravelerId='setTravelerId'>
								</citizenship-custom-select>

								<pasport-input
									ref='select-pasport1'
									dadaRef='select-pasport1'
									v-model='traveler.document[0]'
									:names='citizenships'
									ttl="паспорт:"
									placeholder="---"
									@save='saveInput'
									@setActive='setActive'
									:id='traveler.travelerId'
									@setTravelerId='setTravelerId'>
								</pasport-input>

								<pasport-input
									ref='select-pasport2'
									dadaRef='select-pasport1'
									v-model='traveler.document[1]'
									:names='citizenships'
									ttl="паспорт:"
									placeholder="---"
									@save='saveInput'
									@setActive='setActive'
									:id='traveler.travelerId'
									@setTravelerId='setTravelerId'>
								</pasport-input>


								<phone-custom-input
									ref='inp4'
									dataRef='inp4'
									v-model="traveler.phone"
									:ttl='$t("profile.phone", currentLang.code)'
									placeholder="+7 (___) ___ __ __"
									@save='saveInput'
									@setActive='setActive'
									param='phone'
									:id='traveler.travelerId'
									@setTravelerId='setTravelerId'>
								</phone-custom-input>

								<custop-input
									ref='inp5'
									dataRef='inp5'
									v-model="traveler.email"
									ttl="Email:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='email'
									:id='traveler.travelerId'
									@setTravelerId='setTravelerId'>
								</custop-input>

							</ul>
						</div><!-- .traveler-card__item-body -->

					</div><!-- .traveler-card__item -->

					<div class="traveler-card__item">
						<div class="traveler-card__item-ttl pointer" @click="toggleHistory">
							<div class="info-ico" :class="{ rotate: !showHistory }">
								<img src="../assets/icons/angle-arrow-down.svg" alt="">
							</div>
							<div class="info">
								<img src="../assets/icons/info.svg" alt="" />
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
							</div><!-- .info -->
							{{$t("profile.orderHistory", currentLang.code)}}
						</div>
						<div class="traveler-card__item-body" v-show="showHistory">
							<div class="spinner-wr" v-if="loadingHistory">
								<spinner color='red'></spinner>
							</div>
							<template v-else-if='!loadingHistory && traveler.orders.length>0'>
								<div class="table desktop">
									<div class="table-header">
										<div class="col">{{$t("profile.orderNum", currentLang.code)}}:</div><!-- .col -->
										<div class="col">{{$t("profile.directionStatus", currentLang.code)}}</div><!-- .col -->
										<div class="col">{{$t("profile.price", currentLang.code)}}</div><!-- .col -->
									</div><!-- .table-header -->
									<div class="table-body">

										<router-link class="row"
													 v-for='(order, index) in ordersSlice'
													 :key='index'
													 :to="order.isFlight ? `/ticket/${order.id}` : `/hotel/${order.id}`"
													 @click.native="closeTravelerCard"
										>
											<div class="col">
												<div class="number">№ {{order.id}}</div>
												<div class="date">{{order.date}}</div>
											</div><!-- .col -->
											<div class="col" v-if='order.directions.length > 1'>
												<template>✈</template>
												<template v-for='(city, index) in order.directions'>
													<template v-if="index !== 0">→</template>
													<template>{{city}}</template>
												</template>
											</div>
											<div class="col" v-else>
												<img src="../assets/icons/hotel-black-ico.svg" alt="" class="hotel-icon">
												<template>{{order.directions[0]}}</template>
											</div>
											<div class="col">
												<span class="ico-pay"><img src="../assets/icons/card-pay.svg" alt=""></span>
												<span class="ico-status green"></span>
												{{ transformPrice(order.amount)}} {{order.currency}}

											</div>
										</router-link><!-- .row -->

									</div><!-- .table-body -->
									<div class="table-footer pointer" v-show="showMoreOrders" @click='showMoreHistory'>Показать еще</div>
								</div><!-- .table -->
								<div class="mobile">
									<div class="btn-press"
										 @click.stop.prevent="openMobileTravels"
										 v-if="orderFlight.length > 0"
									>
										{{ $t("travelers.booked", currentLangCode) }}: {{ displayOrderFlight }}
									</div><!-- .btn-press -->
									<div class="btn-press"
										 @click.stop.prevent="openMobileHotels"
										 v-if="orderHotel.length > 0"
									>
										{{ $t("travelers.booked", currentLangCode) }}: {{ displayOrderHotel }}
									</div><!-- .btn-press -->
								</div><!-- .mobile -->
							</template>
							<div class="empty-history" v-else>{{ $t("profile.noTrips", currentLangCode) }}</div>
						</div><!-- .traveler-card__item-body -->
					</div><!-- .traveler-card__item -->

					<div class="traveler-card__item">
						<div class="traveler-card__item-ttl pointer" @click="togglePreferences">
							<div class="info-ico" :class="{ rotate: !showPreferences }">
								<img src="../assets/icons/angle-arrow-down.svg" alt="">
							</div>
							<div class="info">
								<img src="../assets/icons/info.svg" alt="" />
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
							</div><!-- .info -->
							{{$t("profile.preferences", currentLang.code)}}
						</div>
						<div class="traveler-card__item-body" v-show="showPreferences">
							<div class='spinner-wr' v-if="loadingPreferences">
								<spinner color='red'></spinner>
							</div>
							<template v-else>
								<div class="preferences">
									<div class="header">
										{{$t("profile.loyaltyCard", currentLang.code)}}:
										<span class="add pointer" @click.stop='addPreferenceCard'><img src="../assets/icons/add.svg" alt="" />{{ $t("main.add", currentLangCode) }}</span>
									</div><!-- .header -->
									<div class="body">
										<preference-card
											v-for='(card, index) in traveler.preferenceCards'
											:key="index"
											:card="card"
											@removeCard='removeCard'
											:id='traveler.travelerId'
											:currentLang='currentLang'>
										</preference-card>
									</div><!-- .body -->
								</div><!-- .preferences -->
								<div class="preferences">
									<div class="header">
										{{$t("profile.airports", currentLang.code)}}:
										<span class="add pointer" @click.stop='addPreferenceAirport'><img src="../assets/icons/add.svg" alt="" />{{ $t("main.add", currentLangCode) }}</span>
									</div><!-- .header -->
									<div class="body">
										<preference-airport
											v-for="(airport, index) in traveler.preferenceAirport"
											:key="index"
											:airport="airport"
											@removeAirport='removeAirport'
											:id='traveler.travelerId'
											:currentLang='currentLang'>
										</preference-airport>
									</div><!-- .body -->
								</div><!-- .preferences -->
								<div class="preferences">
									<div class="header">
										{{$t("profile.airlines", currentLang.code)}}:
										<span class="add pointer" @click.stop='addPreferenceAirline'><img src="../assets/icons/add.svg" alt="" />{{ $t("main.add", currentLangCode) }}</span>
									</div><!-- .header -->
									<div class="body">
										<preference-airline
											v-for="(airline, index) in traveler.preferenceAirlines"
											:key="index"
											:airline="airline"
											@removeAirline="removeAirline"
											:id='traveler.travelerId'
											:currentLang='currentLang'>
										</preference-airline>
									</div><!-- .body -->
								</div><!-- .preferences -->
							</template>
						</div><!-- .traveler-card__item-body -->
					</div><!-- .traveler-card__item -->


				</div><!-- .traveler-card__body -->
				<div class="mobile-travel" v-if='mobileTravels'>
					<div class="header">
						<div class="ttl" @click='closeMobileTravels'>&larr; {{ $t("travelers.flightsHistory", currentLangCode) }}</div><!-- .ttl -->
						<a href="#" @click.prevent="closeTravelerCard" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
					</div><!-- .header -->
					<div class="body">

					<router-link class="item"
								 v-for="(flight, index) in orderFlight"
								 :key='index'
								 :to="`/ticket/${flight.id}`"
								 @click.native="closeTravelerCard"
					>
					<div class="top">
						<div class="date">({{flight.date}}) </div>
						<div class="number">№ {{flight.id}}</div>
					</div><!-- .top -->
					<div class="middle">
						<template>✈</template>
						<template v-for="(city, index) in flight.directions">
							<template v-if='index'>→</template>
							<template>{{city}}</template>
						</template>
					</div><!-- .middle -->
					<div class="bottom">

						<div class="right">
							<span class="price">{{transformPrice(flight.price)}} ₽</span>
							<!-- <span class="btn" @click='openDetails'>Подробней</span> -->
						</div><!-- .right -->
						<div class="left grey">
							<div>
								<div class="ico-pay">
									<img src="../assets/icons/card-pay.svg" alt="">
									<template>{{flight.status}}</template>
								</div>
								<div class="ico-status">
									{{ $t("travelers.takesPlace", this.currentLangCode) }}
								</div><!-- .ico-status -->
							</div>
						</div><!-- .left -->
					</div><!-- .bottom -->
				</router-link><!-- .item -->


					</div><!-- .body -->
					<!-- <div class="footer-btn">
						Показать еще
					</div> -->
				</div><!-- .mobile-travel -->
				<div class="mobile-travel" v-if='mobileHotels'>
					<div class="header">
						<div class="ttl" @click='closeMobileHotels'>&larr; {{ $t("travelers.hotelsHistory", currentLangCode) }}</div><!-- .ttl -->
						<a href="#" @click.prevent="closeTravelerCard" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
					</div><!-- .header -->
					<div class="body">
						<router-link class="item"
									 v-for="(hotel, index) in orderHotel"
									 :key="index"
									 :to="`/hotel/${hotel.id}`"
									 @click.native="closeTravelerCard"
						>
							<div class="top">
								<div class="date">({{hotel.date}}) </div>
								<div class="number">№ {{hotel.id}}</div>
							</div><!-- .top -->
							<div class="middle">
								<img src="../assets/icons/hotel-black-ico.svg" alt="" class="ico-hotel">
								<template>{{hotel.directions[0]}}</template>
							</div><!-- .middle -->
							<div class="bottom">

								<div class="right">
									<span class="price">{{transformPrice(hotel.amount)}} {{hotel.currency}}</span>
									<!-- <span class="btn" @click='openDetails'>Подробней</span> -->
								</div><!-- .right -->
								<div class="left grey">
									<div>
										<div class="ico-pay">
											<img src="../assets/icons/card-pay.svg" alt="">
											<template>{{hotel.status}}</template>
										</div>
										<div class="ico-status">
											{{ $t("travelers.takesPlace", this.currentLangCode) }}
										</div><!-- .ico-status -->
									</div>
								</div><!-- .left -->
							</div><!-- .bottom -->
						</router-link><!-- .item -->
					</div><!-- .body -->
					<!-- <div class="footer-btn">
						Показать еще
					</div> -->
				</div><!-- .mobile-travel -->
			</template>
			<div class="loading" v-else>
				<spinner color='red'></spinner>
			</div>
		</div><!-- .traveler-card -->
	</div>
</template>
<script>
import PreferenceCard from "./user-card-components/PreferenceCard";
import PreferenceAirpot from "./user-card-components/PreferenceAirpot";
import preferenceAirline from "./user-card-components/PreferenceAirline";
import Input from "./travels-card-components/input";
import Pasportinput from "./travels-card-components/pasport-input";
import Dateinput from "./travels-card-components/date-input";
import Phoneinput from "./travels-card-components/phone-input";
import Select from "./travels-card-components/select";
import CitizenshipSelect from "./user-card-components/citizenships-select";
import VueNotifications from "vue-notifications";
import { API } from "../api.js";
import Spinner from "./small-spinner";
import Decliner from "../utils/decliner";
import _ from "lodash";

const historyChunkSize = 5;

export default {
	name: "travelercard",
	components: {
		"preference-card": PreferenceCard,
		"preference-airport": PreferenceAirpot,
		"preference-airline": preferenceAirline,
		"custop-input": Input,
		"pasport-input": Pasportinput,
		"custom-select": Select,
		"date-custom-input": Dateinput,
		"phone-custom-input": Phoneinput,
		"citizenship-custom-select": CitizenshipSelect,
		spinner: Spinner
	},
	props: ["TravelerCardPassanger", "currentLang"],
	data() {
		return {
			loading: false,
			nameIsSending: false,
			AmountOfOrders: 5,
			loadingPreferences: false,
			loadingPersonalInfo: false,
			loadingHistory: false,
			showHistory: false,
			showPreferences: false,
			showPersonal: true,
			mobileTravels: false,
			mobileHotels: false,
			historyChunkSize,
			inputs: ["inp1", "select1", "select2", "inp2", "inp3", "inp4", "inp5"],
			active: "",
			isChangeName: false,
			tempVal: {
				firstname: "",
				lastname: "",
				fathersname: ""
			},
			sex: [
				{
					name: "Женский",
					nameEn: "Female",
					id: 2
				},
				{
					name: "Мужской",
					nameEn: "Male",
					id: 1
				}
			],
			traveler: {
				travelerId: "",
				firstname: "",
				fathersname: "",
				lastname: "",
				birthday: "",
				email: "",
				phone: "",
				sex: "",
				citizenship: {
					citizenship_country_id: ""
				},
				document: [
					//загран
					{
						type: 1,
						number: ""
					},
					//внутр
					{
						type: 0,
						number: ""
					}
				],
				preferenceCards: [],
				preferenceAirport: [],
				preferenceAirlines: [],
				orders: []
			},
			removing: false,
			removeAjax: false
		};
	},
	beforeDestroy() {
		document.body.style.overflowY = "auto";
		if (this.TravelerCardPassanger) {
			//обновим данные пассажира в сторе
			let updateData = {
				id: this.TravelerCardPassanger,
				data: this.traveler
			};
			this.$store.commit("updateTravelerInfo", updateData);
		} else if (this.fullName.trim()) {
			//получается что наш пользователь только что был создан
			// и нам нужно его передать в стор
			this.$store.commit("addNewTraveler", this.traveler);
		}
	},
	created() {
		const position = 0;
		const duration = 150;
		const scroll = position - window.scrollY;
		const scrollStep = scroll / duration;
		let scrollInterval = setInterval(function() {
			if (window.scrollY !== 0) {
				window.scrollBy(0, scrollStep)
			} else clearInterval(scrollInterval)
		},1);
		window.tr = this.traveler;
		if (!this.TravelerCardPassanger) {
			console.log("это новый пассаж");
			this.isChangeName = true;
			setTimeout(() => {
				this.$refs.firstname.focus();
			}, 50);
		} else {
			this.isChangeName = false;
			console.log("это выбраный пассаж id=" + this.TravelerCardPassanger);
			Object.assign(this.traveler, this.getPassInfo);
			if (typeof this.traveler.loadedDetailInfo === "undefined") {
				//нужно обновить данные пассажира
				this.loading = true;
				this.loadingPersonalInfo = true;
				let reqData = {
					travelerId: this.TravelerCardPassanger
				};
				API.getTrevelersInfo(reqData)
					.then(response => {
						this.loadingPersonalInfo = false;
						this.loading = false;
						if (response.data.status === "success") {
							//мы получили все данные пассажира
							//запишем их в стор

							Object.assign(this.traveler, response.data.data);
							this.tempVal.firstname = this.traveler.firstname;
							this.tempVal.lastname = this.traveler.lastname;
							this.tempVal.fathersname = this.traveler.fathersname;

							// var updateData = {
							// 	id: self.TravelerCardPassanger,
							// 	data: self.traveler
							// };
							// console.log(self.traveler);
							// self.$store.commit("updateTravelerInfo", updateData);
						} else {
							VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
						}
					})
					.catch(e => {
						this.loadingPersonalInfo = false;
						this.loading = false;
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
						if (e.response) {
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						} else {
							console.log(e.response);
						}
					});
			}
		}
	},
	mounted () {
		document.body.style.overflowY = "hidden";
	},
	computed: {
		isFlight () {
			return !!this.orders.directions.length
		},
		ordersSlice () {
			return this.traveler.orders.slice(0, this.historyChunkSize)
		},
		showMoreOrders () {
			return this.traveler.orders.length > this.historyChunkSize
		},
		orderHotel() {
			return this.traveler.orders.filter(el => !el.isFlight);
		},
		orderFlight() {
			return this.traveler.orders.filter(el => el.isFlight);
		},
		displayOrderFlight () {
			let declinerFlight =  this.$t("decliner.flights", this.currentLangCode);
			return `${this.orderFlight.length} ${_.upperFirst(Decliner(this.orderFlight.length, declinerFlight, this.currentLangCode))}`;
		},
		displayOrderHotel () {
			let declinerHotels =  this.$t("decliner.hotels", this.currentLangCode);
			return `${this.orderHotel.length} ${_.upperFirst(Decliner(this.orderHotel.length, declinerHotels, this.currentLangCode))}`;
		},
		getPassInfo() {
			return this.$store.getters.getFullInfoAboutPassangers(
				this.TravelerCardPassanger
			);
		},
		citizenships() {
			return this.$store.state.params.citizenships;
		},
		ava() {
			if (this.traveler.firstname && this.traveler.lastname) {
				return this.traveler.firstname[0] + this.traveler.lastname[0];
			} else if (this.traveler.firstname) {
				return this.traveler.firstname[0] + this.traveler.firstname[1];
			} else {
				return "NW";
			}
		},
		fullName() {
			let firstname = typeof this.traveler.firstname === "undefined" ? "" : this.traveler.firstname;
			let fathersname = typeof this.traveler.fathersname === "undefined" ? "" : this.traveler.fathersname;
			let lastname = typeof this.traveler.lastname === "undefined" ? "" : this.traveler.lastname;
			return firstname + " " + fathersname + " " + lastname;
		}
	},
	methods: {
		deleteTraveler () {
			this.removing = false;
			this.removeAjax = true;
			API.removeTraveler({travelerId: this.traveler.travelerId})
				.then(response => {
					if (response.data.status === "success") {
						this.$emit("hideTravelerCard");
						this.$emit("travelerRemoved", this.traveler.travelerId);
					} else return Promise.reject({response})
				})
				.catch(e => {
					let message;
					if (e.response && e.response.data.error) message = e.response.data.error;
					else message = this.$t("errors.unknownError", this.currentLangCode);
					VueNotifications.error({message})
				})
				.finally(() => this.removeAjax = false)
		},
		toggleParam(param) {
			this[param] = !this[param];
		},
		transformPrice(price) {
			if (!price) return "";
			return price
				.toString()
				.split(".")[0]
				.replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
		},
		showMoreHistory() {
			this.historyChunkSize += historyChunkSize
		},
		toggleHistory() {
			if (!this.traveler.travelerId || typeof this.traveler.travelerId === "undefined") {
				//нужно создать пассажира
				VueNotifications.error({ message: this.$t("validation.passengerRequired", this.currentLangCode) });
			} else {
				if (this.showHistory) {
					// скрываем блок
					this.showHistory = false;
				} else {
					//показывем блок
					this.showHistory = true;
					//проверим есть ли у нас эти данные
					if (!this.traveler.orders.length) {
						//данных нет - будем загружать
						//показываем блок и лоадер
						this.loadingHistory = true;
						API.getAllHistory({ travelerId: this.traveler.travelerId })
							.then(response => {
								if (response.data.status === "success") {
									//обновим нашего пассажира
									let orders = this.traveler.orders.concat(response.data.data);
									this.$set(this.traveler, "orders", orders);
								} else {
									VueNotifications.error({
										message: this.$t("errors.dataFetch", this.currentLangCode)
									});
								}
							})
							.catch(e => {
								if (e.response) {
									VueNotifications.error({ message: e.response.data.error });
								} else {
									console.log(e.response);
									VueNotifications.error({
										message: this.$t("errors.dataFetch", this.currentLangCode)
									});
								}
							})
							.finally(() => this.loadingHistory = false)
					}
				}
			}
		},
		togglePreferences() {
			if (!this.traveler.travelerId || typeof this.traveler.travelerId === "undefined") {
				//нужно создать пассажира
				VueNotifications.error({ message: this.$t("validation.passengerRequired", this.currentLangCode) });
			} else {
				if (this.showPreferences) {
					// скрываем блок
					this.showPreferences = false;
				} else {
					//показывем блок
					//проверим есть ли у нас эти данные
					if (this.traveler.loadedPreference) {
						//данные есть - отобразим их
						this.showPreferences = true;
					} else {
						//данных нет - будем загружать
						//показываем блок и лоадер
						this.showPreferences = true;
						this.loadingPreferences = true;
						API.getAllPreferences({ travelerId: this.traveler.travelerId })
							.then(response => {
								if (response.data.status === "success") {
									//обновим нашего пассажира
									if (response.data.data.airlines) {
										response.data.data.airlines.forEach(element => {
											element.isEdit = false;
											element.preferenceAirlineId = element.id;
											this.traveler.preferenceAirlines.push(element);
										});
									}
									if (response.data.data.airports) {
										response.data.data.airports.forEach(element => {
											element.isEdit = false;
											element.preferenceAirportId = element.id;
											this.traveler.preferenceAirport.push(element);
										});
									}
									if (response.data.data.cards) {
										response.data.data.cards.forEach(element => {
											element.isEdit = false;

											this.traveler.preferenceCards.push(element);
										});
									}
									this.traveler.loadedPreference = true;
									this.loadingPreferences = false;
								} else {
									this.loadingPreferences = false;
									VueNotifications.error({
										message: this.$t("errors.dataFetch", this.currentLangCode)
									});
								}
							})
							.catch(e => {
								if (e.response) {
									this.loadingPreferences = false;
									VueNotifications.error({ message: e.response.data.error });
								} else {
									this.loadingPreferences = false;
									console.log(e.response);
									VueNotifications.error({
										message: this.$t("errors.dataFetch", this.currentLangCode)
									});
								}
							});
					}
				}
			}
		},
		setActive(inp) {
			this.active = inp;
		},
		saveInput() {
			// self = this;
			// if (this.active == "") {
			// 	//такого не должно быть теоретически
			// 	//но на всяк случай
			// 	this.active = this.inputs[0];
			// } else {
			// 	var index = this.inputs.indexOf(this.active);
			// 	if (index + 1 < this.inputs.length) {
			// 		this.active = this.inputs[index + 1];
			// 		//если след поле пустое  - фокусим его
			// 		if (this.$refs[this.active].value === "") {
			// 			this.$refs[this.active].open();
			// 		}
			// 	}
			// }
		},
		addPreferenceAirline() {
			let newAirline = {
				airlineName: "",
				isEdit: true,
				status: true,
				preferenceAirlineId: null
			};
			this.traveler.preferenceAirlines.push(newAirline);
		},
		removeAirline(AirlineId) {
			for (
				let j = 0, length = this.traveler.preferenceAirlines.length;
				j < length;
				j++
			) {
				if (this.traveler.preferenceAirlines[j].preferenceAirlineId === AirlineId) {
					this.traveler.preferenceAirlines.splice(j, 1);
					//запрос на сервер о удалении аэропорта
					break;
				}
			}
		},
		addPreferenceAirport() {
			let newAirport = {
				airportName: "",
				cityName: "",
				airportCode: "",
				isEdit: true,
				status: true,
				preferenceAirportId: null
			};
			this.traveler.preferenceAirport.push(newAirport);
		},
		removeAirport(AirportId) {
			for (
				let j = 0, length = this.traveler.preferenceAirport.length;
				j < length;
				j++
			) {
				if (this.traveler.preferenceAirport[j].preferenceAirportId === AirportId) {
					this.traveler.preferenceAirport.splice(j, 1);
					break;
				}
			}
		},
		addPreferenceCard() {
			let newCard = {
				name: "",
				number: "",
				isEdit: true,
				status: true,
				id: null
			};
			this.traveler.preferenceCards.push(newCard);
		},
		removeCard(CardId) {
			for (
				let j = 0, length = this.traveler.preferenceCards.length;
				j < length;
				j++
			) {
				if (this.traveler.preferenceCards[j].id === CardId) {
					this.traveler.preferenceCards.splice(j, 1);
					break;
				}
			}
		},
		openDetails() {
			//open detail of order
		},
		openMobileTravels() {
			this.mobileTravels = true;
		},
		closeMobileTravels() {
			this.mobileTravels = false;
		},
		closeMobileHotels() {
			this.mobileHotels = false;
		},
		openMobileHotels() {
			this.mobileHotels = true;
		},
		closeBirthdayChange() {
			this.isBirthdayChange = false;
		},
		openBlock(el) {
			this[el] = true;
		},
		closeTravelerCard() {
			this.$emit("hideTravelerCard");
		},
		setTravelerId(id) {
			this.traveler.travelerId = id;
		},
		openName() {
			this.isChangeName = true;
			setTimeout(() => {
				this.$refs.firstname.focus();
			}, 50);
		},
		closeNameEditor() {
			if (this.isChangeName && this.fullName.trim()) {
				this.isChangeName = false;
				this.tempVal.firstname = "";
				this.tempVal.lastname = "";
				this.tempVal.fathersname = "";
			}
		},
		saveName() {
			if (!this.tempVal.firstname || !this.tempVal.lastname || !this.tempVal.fathersname) {
				if (!this.tempVal.firstname) {
					VueNotifications.error({
						message: this.$t("validation.nameRequired", this.currentLangCode)
					});
				}
				if (!this.tempVal.fathersname) {
					VueNotifications.error({
						message: this.$t("validation.patronymicRequired", this.currentLangCode)
					});
				}
				if (!this.tempVal.lastname) {
					VueNotifications.error({
						message: this.$t("validation.lastRequired", this.currentLangCode)
					});
				}
			} else if (
					/[^a-z]/gi.test(this.tempVal.firstname) ||
					/[^a-z]/gi.test(this.tempVal.firstname) ||
					/[^a-z]/gi.test(this.tempVal.firstname)
				) {
					VueNotifications.error({
						message: this.$t("validation.latinRequired", this.currentLangCode)
					});
			} else {
				if (!this.traveler.travelerId || typeof this.traveler.travelerId === "undefined") {
					let dataTraveler = {
						firstname: this.tempVal.firstname,
						lastname: this.tempVal.firstname,
						fathersname: this.tempVal.fathersname
					};
					this.nameIsSending = true;
					API.travelerCreate(dataTraveler)
						.then(response => {
							this.nameIsSending = false;
							if (response.data.status === "success") {
								//создался новый пользователь
								this.traveler.travelerId = response.data.data.travelerId;
								this.isChangeName = false;
								//имя запишем
								this.traveler.firstname = this.tempVal.firstname;
								this.traveler.lastname = this.tempVal.lastname;
								this.traveler.fathersname = this.tempVal.fathersname;
							} else {
								this.nameIsSending = false;
								VueNotifications.error({ message: this.$t("error.unknownError", this.currentLangCode) });
							}
						})
						.catch(e => {
							this.nameIsSending = false;
							VueNotifications.error({ message: this.$t("error.unknownError", this.currentLangCode) });
						});
				} else {
					let dataTraveler = {
						travelerId: this.traveler.travelerId,
						firstname: this.tempVal.firstname,
						lastname: this.tempVal.firstname,
						fathersname: this.tempVal.fathersname
					};
					this.nameIsSending = true;
					API.travelerUpdate(dataTraveler)
						.then(response => {
							this.nameIsSending = false;
							if (response.data.status === "success") {
								this.isChangeName = false;
								this.traveler.firstname = this.tempVal.firstname;
								this.traveler.lastname = this.tempVal.lastname;
								this.traveler.fathersname = this.tempVal.fathersname;
							} else {
								VueNotifications.error({ message: this.$t("error.unknownError", this.currentLangCode) });
							}
						})
						.catch(e => {
							this.nameIsSending = false;
							VueNotifications.error({ message: this.$t("error.unknownError", this.currentLangCode) });
						});
				}
			}
		}
	}
};
</script>

<style lang="sass">
	.traveler-card
		&__delete
			margin-bottom: 10px
			margin-left: 35px

	.loader
		align-items: center
		background-color: rgba(black, .5)
		bottom: 0
		display: flex
		justify-content: center
		left: 0
		position: fixed
		right: 0
		top: 0
		z-index: 1100
</style>
