<template>
	<div class="traveler-card-wr" v-bar='{useScrollbarPseudo: true, preventParentScroll: true}'>
		<div class="traveler-card" v-click-outside="closeTravelerCard">
			<div class="traveler-card__header" v-if='!mobileTravels && !mobileHotels'>
				{{ $t("profile.myInfo", currentLang.code)}}
				<a href="#" @click.prevent="closeTravelerCard" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
			</div><!-- .traveler-card__heade -->
			<template  v-if='!loading'>
				<div class="traveler-card__body" v-if='!mobileTravels && !mobileHotels'>
					<div class="traveler-card__item">
						<div class="traveler-name" @click.stop="openName" >
							<span class="ico" :class="{dark:ava!=='NW'}">{{ava}}</span>
							<span  class="name" v-show="!isChangeName">
								<span v-if="!fullName.trim()">{{$t("profile.name", currentLang.code)}} {{$t("profile.surname", currentLang.code)}}</span>
								<span v-else class="real-name">{{fullName}}</span>
							</span>
							<form class="edit" v-show="isChangeName" @click.stop v-click-outside="closeNameEditor" @keyup.enter.prevent @submit.prevent>
								<div class="inpt-wr" >
									<input type="text" :placeholder='$t("profile.name", currentLang.code)' ref="firstname" v-model.trim="tempVal.firstname" @keyup.enter.stop.prevent="$refs.lastname.focus()"/>
									<input type="text" :placeholder='$t("profile.surname", currentLang.code)' ref="lastname" v-model.trim="tempVal.lastname" @keyup.enter.stop.prevent="$refs.fathersname.focus()"/>
									<input type="text" :placeholder='$t("profile.patronymic", currentLang.code)' ref="fathersname" v-model.trim="tempVal.fathersname" @keyup.enter.stop.prevent="saveName" />
								</div><!-- .inpt-wr -->
								<button @submit.prevent.stop='saveName' @click.prevent.stop='saveName' class="save" :disabled='nameIsSending'>
									<span class="desktop" v-if='!nameIsSending'>{{$t("profile.save", currentLang.code)}}</span>
									<span class="mobile" v-if='!nameIsSending'><img src="../assets/icons/save.svg" alt="" /></span>
									<spinner v-if='nameIsSending'></spinner>
								</button>
							</form><!-- .edit -->
						</div><!-- .traveler-name -->
					</div>

					<div class="traveler-card__item">
						<div class="traveler-card__item-ttl pointer" @click="toggleParam('showPersonal')">
							<div class="info-ico" :class="{ rotate: !showPersonal }">
								<img src="../assets/icons/angle-arrow-down.svg" alt="">
							</div>
							<div class="info">
								<img src="../assets/icons/info.svg" alt="" />
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
							</div><!-- .info -->
							{{$t("profile.personalInfo", currentLang.code)}}
						</div>


						<div class="traveler-card__item-body" v-show="showPersonal">

							<ul class="traveler-card__presonal-list">

								<date-custom-input
									ref='inp1'
									dataRef='inp1'
									v-model="user.birthday"
									:ttl='$t("profile.birthDate", currentLang.code)'
									:placeholder='$t("profile.dmy", currentLang.code)'
									@save='saveInput'
									@setActive='setActive'
									param='birthday'
								>
								</date-custom-input>

								<custom-select
									ref="select1"
									dataRef='select1'
									v-model='user.sex'
									:names='sex'
									:ttl='$t("profile.sex", currentLang.code)'
									placeholder="---"
									@save='saveInput'
									@setActive='setActive'
									param='sex'
								>
								</custom-select>

								<citizenship-custom-select
									ref="select2"
									dataRef='select2'
									v-model='user.citizenship'
									:names='citizenships'
									:ttl='$t("profile.citizenship", currentLang.code)'
									placeholder="---"
									@save='saveInput'
									@setActive='setActive'
									param='citizenshipCountryId'
									:id='user.travelerId'
								>
								</citizenship-custom-select>


								<pasport-input
									ref='select-pasport1'
									dadaRef='select-pasport1'
									v-model='user.foreignDocument'
									:names='citizenships'
									ttl="паспорт:"
									placeholder="---"
									@save='saveInput'
									@setActive='setActive'
									:id='user.travelerId'
								>
								</pasport-input>

								<pasport-input
									ref='select-pasport2'
									dadaRef='select-pasport1'
									v-model='user.innerDocument'
									:names='citizenships'
									ttl="паспорт:"
									placeholder="---"
									@save='saveInput'
									@setActive='setActive'
									:id='user.travelerId'
								>
								</pasport-input>


								<phone-custom-input
									ref='inp4'
									dataRef='inp4'
									v-model="user.phone"
									:ttl='$t("profile.phone", currentLang.code)'
									placeholder="+7 (___) ___ __ __"
									@save='saveInput'
									@setActive='setActive'
									param='phone'
								>
								</phone-custom-input>

								<custop-input
									ref='inp5'
									dataRef='inp5'
									v-model="user.email"
									ttl="Email:"
									placeholder="__"
									@save='saveInput'
									@setActive='setActive'
									param='email'
								>
								</custop-input>

								<password-input
									ref='inp6'
									dataRef='inp6'
									:ttl='$t("profile.password", currentLang.code)'
									@save='saveInput'
									@setActive='setActive'
								>
								</password-input>


							</ul>
						</div>
						<!-- .traveler-card__item-body -->

					</div><!-- .traveler-card__item -->



					<div class="traveler-card__item">
						<div class="traveler-card__item-ttl pointer" @click="toggleParam('showHistory')">
							<div class="info-ico" :class="{ rotate: !showHistory }">
								<img src="../assets/icons/angle-arrow-down.svg" alt="">
							</div>
							<div class="info">
								<img src="../assets/icons/info.svg" alt="" />
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
							</div><!-- .info -->
							Cashback
						</div>
						<div class="traveler-card__item-body" v-show="showHistory">
							<div class="cashback-info">
								<table>
									<tbody>
										<tr>
											<th>{{$t("profile.balance", currentLang.code)}}:</th>
											<th>{{transformPrice(cashBack)}} ₽</th>
											<th></th>
										</tr>
										<tr>
											<th>{{$t("profile.balanceWithdraw", currentLang.code)}}:</th>
											<th><input type="text" :value="cashbackOut" @input='inputCashback($event)' ref='cashback'></th>
											<th><button @click.prevent="exportCashback">{{$t("profile.withdraw", currentLang.code)}}</button></th>
										</tr>
									</tbody>
								</table>
							</div>

							<div class="table desktop user-table">
								<div class="table-ttl">{{$t("profile.orderHistory", currentLang.code)}}</div>
								<div class="table-header">
									<div class="col">{{$t("profile.orderNum", currentLang.code)}}:</div><!-- .col -->
									<div class="col">{{$t("profile.directionStatus", currentLang.code)}}</div><!-- .col -->
									<div class="col">{{$t("profile.price", currentLang.code)}}</div><!-- .col -->
									<div class="col">CashBack</div><!-- .col -->
								</div><!-- .table-header -->
								<div class="table-body">
								<div class="empty-history"  v-if='!user.orders || !user.orders.length'>
									{{$t("profile.noTrips", currentLang.code)}}
								</div>
								<template v-else>
									<router-link class="row"
												 v-for='(order, index) in someOrders'
												 :key='index'
												 :to="order.isFlight ? `/ticket/${order.id}` : `/hotel/${order.id}`"
												 @click.native="closeTravelerCard"
									>
										<div class="col">
											<div class="number">№ {{order.id}}</div>
											<div class="date">{{order.date}}</div>
										</div><!-- .col -->
										<div class="col" v-if='order.isFlight'>
											<template>✈</template>
											<template v-for='(city, index) in order.directions'>
												<template v-if="index > 0">→</template>
												<template>{{city}}</template>
											</template>
										</div>
										<div class="col" v-else>
											<img src="../assets/icons/hotel-black-ico.svg" alt="" class="hotel-icon">
											<template>{{order.hotelName}}</template>
										</div>
										<div class="col">
											<span class="ico-pay"><img src="../assets/icons/card-pay.svg" alt=""></span>

											{{ transformPrice(order.amount)}} {{order.currency}}
										</div><!-- .col -->
										<div class="col">
											<span class="ico-status green"></span>
											{{ transformPrice(order.cashback)}} {{order.cashbackCurrency}}
										</div>
									</router-link><!-- .row -->
								</template>
									<!-- grey yellow green -->

								</div><!-- .table-body -->
								<div class="table-footer pointer" v-show="showMoreOrders" @click='showMoreHistory'>Показать еще</div><!-- .table-footer -->
							</div><!-- .table -->

							<div class="mobile">
								<div class="btn-press" @click.stop.prevent="openMobileTravels">
									{{ $t("travelers.booked", currentLangCode) }}: {{ displayOrderFlight }}
								</div><!-- .btn-press -->
								<div class="btn-press" @click.stop.prevent="openMobileHotels">
									{{ $t("travelers.booked", currentLangCode) }}: {{ displayOrderHotel }}
								</div><!-- .btn-press -->
							</div><!-- .mobile -->
						</div><!-- .traveler-card__item-body -->
					</div><!-- .traveler-card__item -->

					<div class="traveler-card__item">
						<div class="traveler-card__item-ttl pointer" @click="toggleParam('showPreferences')">
							<div class="info-ico" :class="{ rotate: !showPreferences }">
								<img src="../assets/icons/angle-arrow-down.svg" alt="">
							</div>
							<div class="info">
								<img src="../assets/icons/info.svg" alt="" />
								<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium magni, praesentium qui commodi ad sed labore placeat doloribus, id sunt esse soluta error quibusdam saepe alias perferendis. Rem culpa, ut.</span>
							</div><!-- .info -->
							{{$t("profile.preferences", currentLang.code)}}
						</div>
						<div class="traveler-card__item-body" v-show="showPreferences">
							<div class="preferences">
								<div class="header">
									{{$t("profile.loyaltyCard", currentLang.code)}}:
									<span class="add pointer" @click.stop='addPreferenceCard'><img src="../assets/icons/add.svg" alt="" />{{$t("profile.toAdd", currentLang.code)}}</span>
								</div><!-- .header -->
								<div class="body">
									<preference-card
										v-for='(card, index) in user.preferences.cards'
										:key="index"
										:card="card"
										:id='user.travelerId'
										@removeCard='removeCard'
										:currentLang='currentLang'>
									</preference-card>
								</div><!-- .body -->
							</div><!-- .preferences -->
							<div class="preferences">
								<div class="header">
									{{$t("profile.airports", currentLang.code)}}:
									<span class="add pointer" @click.stop='addPreferenceAirport'><img src="../assets/icons/add.svg" alt="" />{{$t("profile.toAdd", currentLang.code)}}</span>
								</div><!-- .header -->
								<div class="body">
									<preference-airport
										v-for="(airport, index) in user.preferences.airports"
										:key="index"
										:airport="airport"
										:id='user.travelerId'
										@removeAirport='removeAirport'
										:currentLang='currentLang'>
									</preference-airport>
								</div><!-- .body -->
							</div><!-- .preferences -->
							<div class="preferences">
								<div class="header">
									{{$t("profile.airlines", currentLang.code)}}:
									<span class="add pointer" @click.stop='addPreferenceAirline'><img src="../assets/icons/add.svg" alt="" />{{$t("profile.toAdd", currentLang.code)}}</span>
								</div><!-- .header -->
								<div class="body">
									<preference-airline
										v-for="(airline, index) in user.preferences.airlines"
										:key="index"
										:airline="airline"
										:id='user.travelerId'
										@removeAirline="removeAirline"
										:currentLang='currentLang'>
									</preference-airline>
								</div><!-- .body -->
							</div><!-- .preferences -->
						</div><!-- .traveler-card__item-body -->
					</div><!-- .traveler-card__item -->


				</div><!-- .traveler-card__body -->
				<div class="mobile-travel" v-if='mobileTravels'>
					<div class="header">
						<div class="ttl" @click='closeMobileTravels'>&larr; {{ $t("travelers.flightsHistory", currentLangCode) }}</div><!-- .ttl -->
						<a href="#" @click.prevent="closeTravelerCard" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
					</div><!-- .header -->
					<div class="body">

						<router-link class="item"
									 v-for="(flight, index) in orderFlight"
									 :to="`/ticket/${flight.id}`"
									 :key='index'
									 @click.native="closeTravelerCard"
						>
							<div class="top">
								<div class="date">({{flight.date}}) </div>
								<div class="number">№ {{flight.id}}</div>
							</div><!-- .top -->
							<div class="middle">
								<template>✈</template>
								<template v-for="(city, index) in flight.directions">
									<template v-if='index'>→</template>
									<template>{{city}}</template>
								</template>
							</div><!-- .middle -->
							<div class="bottom">

								<div class="right">
									<span class="price">{{transformPrice(flight.amount)}} {{flight.currency}}</span>
									<!-- <span class="btn" @click='openDetails'>Подробней</span> -->
								</div><!-- .right -->
								<div class="left grey">
									<div>
										<div class="ico-pay">
											<img src="../assets/icons/card-pay.svg" alt="">
											<template>{{flight.status}}</template>
										</div>
										<div class="ico-status">
											{{ $t("travelers.takesPlace", this.currentLangCode) }}
										</div><!-- .ico-status -->
									</div>
								</div><!-- .left -->
							</div><!-- .bottom -->
						</router-link><!-- .item -->

					</div><!-- .body -->
					<!--<div class="footer-btn">-->
						<!--{{ $t("main.showMore", currentLangCode) }}-->
					<!--</div>&lt;!&ndash; .footer &ndash;&gt;-->
				</div><!-- .mobile-travel -->
				<div class="mobile-travel" v-if='mobileHotels'>
					<div class="header">
						<div class="ttl" @click='closeMobileHotels'>&larr; {{ $t("travelers.hotelsHistory", currentLangCode) }}</div><!-- .ttl -->
						<a href="#" @click.prevent="closeTravelerCard" class="close"><img src="../assets/icons/cancel.svg" alt="" /></a>
					</div><!-- .header -->
					<div class="body">
						<router-link class="item"
									 v-for="(hotel, index) in orderHotel"
									 :key="index"
									 :to="`/hotel/${hotel.id}`"
									 @click.native="closeTravelerCard"
						>
							<div class="top">
								<div class="date">({{hotel.date}}) </div>
								<div class="number">№ {{hotel.id}}</div>
							</div><!-- .top -->
							<div class="middle">
								<img src="../assets/icons/hotel-black-ico.svg" alt="" class="ico-hotel">
								<template>{{hotel.hotelName}}</template>
							</div><!-- .middle -->
							<div class="bottom">

								<div class="right">
									<span class="price">{{transformPrice(hotel.amount)}} {{hotel.currency}}</span>
									<!-- <span class="btn" @click='openDetails'>Подробней</span> -->
								</div><!-- .right -->
								<div class="left grey">
									<div>
										<div class="ico-pay">
											<img src="../assets/icons/card-pay.svg" alt="">
											<template>{{hotel.status}}</template>
										</div>
										<div class="ico-status">
											{{ $t("travelers.takesPlace", this.currentLangCode) }}
										</div><!-- .ico-status -->
									</div>
								</div><!-- .left -->
							</div><!-- .bottom -->
						</router-link><!-- .item -->

					</div><!-- .body -->
					<!--<div class="footer-btn">-->
						<!--{{ $t("main.showMore", currentLangCode) }}-->
					<!--</div>&lt;!&ndash; .footer &ndash;&gt;-->
				</div><!-- .mobile-travel -->
			</template>
			<div v-else class="loading">
				<spinner color='red'></spinner>
			</div>
		</div><!-- .traveler-card -->
	</div>
</template>
<script>
import PreferenceCard from "./user-card-components/PreferenceCard";
import PreferenceAirpot from "./user-card-components/PreferenceAirpot";
import preferenceAirline from "./user-card-components/PreferenceAirline";
import Input from "./user-card-components/input";
import Pasportinput from "./user-card-components/pasport-input";
import Dateinput from "./user-card-components/date-input";
import Phoneinput from "./user-card-components/phone-input";
import Select from "./user-card-components/select";
import CitizenshipSelect from "./user-card-components/citizenships-select";
import VueNotifications from "vue-notifications";
import { API } from "../api.js";
import Spinner from "./small-spinner";
import PasswordInput from "./user-card-components/password";
import Decliner from "../utils/decliner";

const ordersStep = 5;

export default {
	name: "UserCard",
	components: {
		"preference-card": PreferenceCard,
		"preference-airport": PreferenceAirpot,
		"preference-airline": preferenceAirline,
		"custop-input": Input,
		"pasport-input": Pasportinput,
		"custom-select": Select,
		"date-custom-input": Dateinput,
		"phone-custom-input": Phoneinput,
		"citizenship-custom-select": CitizenshipSelect,
		spinner: Spinner,
		"password-input": PasswordInput
	},
	props: ["showBlock", "currentLang"],
	data() {
		return {
			loading: false,
			nameIsSending: false,
			cashbackOut: "0",
			AmountOfOrders: ordersStep,
			showHistory: false,
			showPreferences: false,
			showPersonal: true,
			mobileTravels: false,
			mobileHotels: false,
			inputs: ["inp1", "select1", "select2", "inp2", "inp3", "inp4", "inp5"],
			active: "",
			isChangeName: false,
			tempVal: {
				firstname: "",
				lastname: "",
				fathersname: ""
			},
			sex: [
				{
					name: "Женский",
					nameEn: "Female",
					id: 2
				},
				{
					name: "Мужской",
					nameEn: "Male",
					id: 1
				}
			],
			user: {
				firstname: "",
				fathersname: "",
				lastname: "",
				birthday: "",
				email: "",
				phone: "",
				sex: "",
				foreignDocument: {
					type: 1
				},
				innerDocument: {
					type: 0
				},
				citizenship: "",

				orders: [],

				preferences: {
					airlines: [],
					airports: [],
					cards: []
				}
			}
		};
	},
	beforeDestroy() {
		document.body.style.overflowY = "auto";
		//отправим изменения в стор
		this.$store.commit("updateUserInfo", this.user);
	},
	mounted() {
		if (this.showBlock) {
			this.showPersonal = false;
			this[this.showBlock] = true;
		}
	},
	created() {
		document.body.style.overflowY = "hidden";
		self = this;
		Object.assign(this.user, this.getUserInfo);
		if (!this.user.dataLoaded) {
			//нужно загрузить данные пассажира
			this.loading = true;
			API.getUserInfo()
				.then(response => {
					this.loading = false;
					if (response.data.status === "success") {
						//мы получили все данные пассажира

						//персональные данные
						Object.assign(this.user, response.data.data);
						//карты предпочтений
						if (this.user.firstname) this.tempVal.firstname = this.user.firstname;
						if (this.user.lastname) this.tempVal.lastname = this.user.lastname;
						if (this.user.fathersname) this.tempVal.fathersname = this.user.fathersname;
						if (
							response.data.data.preferences &&
							response.data.data.preferences.airlines
						) {
							this.user.preferences.airlines.forEach(element => {
								element.preferenceAirlineId = element.id;
								this.$set(element, "isEdit", false);
							});
						} else {
							// self.user.preferences.airlines = [];
							this.$set(this.user.preferences, "airlines", []);
						}

						if (
							!!response.data.data.preferences &&
							!!response.data.data.preferences.airports
						) this.user.preferences.airports.forEach(element => this.$set(element, "isEdit", false));
						else this.$set(this.user.preferences, "airports", []);
						if (
							!!response.data.data.preferences &&
							!!response.data.data.preferences.cards
						) {
							this.user.preferences.cards.forEach(element => {
								this.$set(element, "isEdit", false);
								element.preferenceCardId = element.id;
							});
						} else {
							// self.user.preferences.cards = [];
							self.$set(self.user.preferences, "cards", []);
						}
						//заказы
						if (!!response.data.data.orders) {
							this.user.orders = response.data.data.orders;
						}

						this.user.dataLoaded = true;
					} else {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				});
		}
	},
	computed: {
		cashBack() {
			return this.$store.getters.getUserBalance();
		},
		displayOrderFlight () {
			let declinerFlight =  this.$t("decliner.flights", this.currentLangCode);
			return `${this.orderFlight.length} ${_.upperFirst(Decliner(this.orderFlight.length, declinerFlight, this.currentLangCode))}`;
		},
		displayOrderHotel () {
			let declinerHotels =  this.$t("decliner.hotels", this.currentLangCode);
			return `${this.orderHotel.length} ${_.upperFirst(Decliner(this.orderHotel.length, declinerHotels, this.currentLangCode))}`;
		},
		someOrders() {
			return this.user.orders.slice(0, this.AmountOfOrders);
		},
		showMoreOrders () {
			return this.user.orders.length > this.AmountOfOrders;
		},
		orderHotel() {
			return this.user.orders.filter(el => !el.isFlight);
		},
		orderFlight() {
			return this.user.orders.filter(el => el.isFlight);
		},
		getUserInfo() {
			return this.$store.getters.getUserFullInfo();
		},
		citizenships() {
			return this.$store.state.params.citizenships;
		},
		ava() {
			if (this.user.firstname && this.user.lastname) {
				return this.user.firstname[0] + this.user.lastname[0];
			} else {
				return "NW";
			}
		},
		fullName() {
			var firstname =
				this.user.firstname == undefined ? "" : this.user.firstname;
			var fathersname =
				this.user.fathersname == undefined ? "" : this.user.fathersname;
			var lastname = this.user.lastname == undefined ? "" : this.user.lastname;
			return firstname + " " + fathersname + " " + lastname;
		}
	},
	methods: {
		toggleParam(param) {
			this[param] = !this[param];
		},
		exportCashback() {
			self = this;
			if (Number(this.cashbackOut) > Number(this.cashBack)) {
				VueNotifications.error({
					// TODO: notification translation
					message: "Сумма вывода не должно превышать значение текущего кэшбэка"
				});
			} else {
				API.exportCashback({ sum: this.cashbackOut })
					.then(response => {
						if (response.data.status === "success") {
							self.$store.commit("setNewBalance", response.data.balance);
							VueNotifications.success({
								// TODO: notification translation
								message:
									"Запрос успешно отправлен. С Вами свяжется наш менеджер для вывода кэшбэка"
							});
						} else {
							VueNotifications.error({
								message: response.data.error
							});
						}
					})
					.catch(e => {
						VueNotifications.error({ message: this.$t("errors.unknownError", this.currentLangCode) });
					});
			}
		},
		inputCashback(e) {
			var val = e.target.value;
			if (val) this.cashbackOut = val;
			else {
				val = val
					.toString()
					.replace(/[^\d.]*/g, "")
					.replace(/([.])[.]+/g, "$1")
					.replace(/^[^\d]*(\d+([.]\d{0,2})?).*$/g, "$1");
				this.cashbackOut = val;
			}
		},
		showMoreHistory() {
			this.AmountOfOrders += ordersStep;
		},
		transformPrice(price) {
			if (!price) return "";
			let priceChunks = price.split(".");
			priceChunks[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
			return priceChunks.join(".");
		},
		setActive(inp) {
			this.active = inp;
		},
		saveInput() {
			// self = this;
			// if (this.active == "") {
			// 	//такого не должно быть теоретически
			// 	//но на всяк случай
			// 	this.active = this.inputs[0];
			// } else {
			// 	var index = this.inputs.indexOf(this.active);
			// 	if (index + 1 < this.inputs.length) {
			// 		this.active = this.inputs[index + 1];
			// 		//если след поле пустое  - фокусим его
			// 		if (this.$refs[this.active].value === "") {
			// 			this.$refs[this.active].open();
			// 		}
			// 	}
			// }
		},
		addPreferenceAirline() {
			var newAirline = { name: "", isEdit: true, status: true };
			this.user.preferences.airlines.push(newAirline);
		},
		removeAirline(AirlineId) {
			for (
				var j = 0, length = this.user.preferences.airlines.length;
				j < length;
				j++
			) {
				if (this.user.preferences.airlines[j].id === AirlineId) {
					this.user.preferences.airlines.splice(j, 1);
					//запрос на сервер о удалении аэропорта
					break;
				}
			}
		},
		addPreferenceAirport() {
			var newAirport = {
				airportName: "",
				cityName: "",
				isEdit: true,
				status: true
			};
			this.user.preferences.airports.push(newAirport);
		},
		removeAirport(AirportId) {
			self = this;
			for (
				var j = 0, length = self.user.preferences.airports.length;
				j < length;
				j++
			) {
				if (self.user.preferences.airports[j].airportId == AirportId) {
					self.user.preferences.airports.splice(j, 1);
					//запрос на сервер о удалении аэропорта
					break;
				}
			}
		},
		addPreferenceCard() {
			var newCard = { name: "", number: "", isEdit: true, status: true };
			this.user.preferences.cards.push(newCard);
		},
		removeCard(CardId) {
			self = this;
			for (
				var j = 0, length = self.user.preferences.cards.length;
				j < length;
				j++
			) {
				if (self.user.preferences.cards[j].preferenceCardId == CardId) {
					self.user.preferences.cards.splice(j, 1);
					//запрос на сервер о удалении карты
					break;
				}
			}
		},
		openDetails() {
			//open detail of order
		},
		openMobileTravels() {
			this.mobileTravels = true;
		},
		closeMobileTravels() {
			this.mobileTravels = false;
		},
		closeMobileHotels() {
			this.mobileHotels = false;
		},
		openMobileHotels() {
			this.mobileHotels = true;
		},
		closeBirthdayChange() {
			this.isBirthdayChange = false;
		},
		openBlock(el) {
			this[el] = true;
		},
		closeTravelerCard(e) {
			this.$emit("hideUserCard");
		},
		setTravelerId(id) {
			console.log(id);
			this.user.id = id;
		},
		openName () {
			this.isChangeName = true;
			this.$nextTick(() => this.$refs.firstname.focus());
		},
		closeNameEditor() {
			if (this.isChangeName) {
				this.isChangeName = false;
			}
		},
		saveName() {
			self = this;
			if (
				!this.tempVal.firstname ||
				!this.tempVal.lastname ||
				!this.tempVal.fathersname
			) {
				if (!this.tempVal.firstname) {
					VueNotifications.error({
						message: this.$t("validation.nameRequired", this.currentLangCode)
					});
				}
				if (!this.tempVal.fathersname) {
					VueNotifications.error({
						message: this.$t("validation.patronymicRequired", this.currentLangCode)
					});
				}
				if (!this.tempVal.lastname) {
					VueNotifications.error({
						message: this.$t("validation.lastnameRequired", this.currentLangCode)
					});
				}
			} else {
				if (
					/[^a-z]/gi.test(this.tempVal.firstname) ||
					/[^a-z]/gi.test(this.tempVal.firstname) ||
					/[^a-z]/gi.test(this.tempVal.firstname)
				) {
					VueNotifications.error({
						message: this.$t("validation.latinRequired", this.currentLangCode)
					});
				} else {
					self = this;
					var dataUser = {
						firstname: this.tempVal.firstname,
						lastname: this.tempVal.lastname,
						fathersname: this.tempVal.fathersname
					};
					self.nameIsSending = true;
					API.uptadePersonalInfo(dataUser)
						.then(response => {
							self.nameIsSending = false;
							if (response.data.status === "success") {
								self.isChangeName = false;
								self.user.firstname = self.tempVal.firstname;
								self.user.lastname = self.tempVal.lastname;
								self.user.fathersname = self.tempVal.fathersname;
							} else {
								VueNotifications.error({ message: this.$t("errors.unknownError", this.currentLangCode) });
							}
						})
						.catch(e => {
							self.nameIsSending = false;
							VueNotifications.error({ message: this.$t("errors.unknownError", this.currentLangCode) });
						});
				}
			}
		}
	}
};
</script>
