<template>
	<div class="user-bar" v-click-outside="hideUserBar">
		<a href="#" @click.prevent="toggleUserBar" class="user-bar__top">
			<img src="../assets/icons/userbar.svg" alt="" class="user-bar__ico" />
			<span class="name">{{userName}}</span>
			<img src="../assets/icons/down-arrow.svg" alt="" class="user-bar__ico-arrow" />
		</a>

		<div v-show="isUserBarShowed" class="user-bar__dropdown">
			<div class="user-bar__dropdown-top pointer" @click.stop='showDeposit'>
				<span>{{balance}}₽</span>
				<template v-if="isCompany">{{ $t("main.deposit", currentLang.code) }}</template>
				<template v-else>Cashback</template>
			</div><!-- .user-bar__dropdown-top -->
			<ul class="user-bar__dropdown-links">
				<template v-if="isCompany">
					<li><a href="javascript:void(0)" @click="showCompanyCard">{{ $t("main.companyProfile", currentLang.code) }}</a></li>
					<li><a href="javascript:void(0)" @click="showCompanyHistory" >{{ $t("main.history", currentLang.code) }}</a></li>
				</template>
				<template v-else>
					<li><a href="javascript:void(0)" @click="showUserCard">{{ $t("main.myProfile", currentLang.code) }}</a></li>
					<li><a href="javascript:void(0)" @click="showUserHistory" >{{ $t("main.history", currentLang.code) }}</a></li>
				</template>
			</ul><!-- .user-bar__dropdown-links -->
			<!-- <ul class="user-bar__dropdown-users">
				<li>
					<a href="#">
						<img src="../assets/icons/userbar2.svg" alt="" class="user-bar__dropdown-users-ico" />
						Вассилий Васечкин
					</a>
				</li>
				<li>
					<a href="#">
						<img src="../assets/icons/userbar2.svg" alt="" class="user-bar__ico" />
						Вассилий Васечкин
					</a>
				</li>
			</ul>.user-bar__dropdown-users -->
			<div class="user-bar__logout pointer" @click.prevent.stop="logOut">
				<span>{{ $t("main.logOut", currentLang.code) }}</span>
			</div><!-- .user-bar__logout -->
		</div><!-- .user-bar__dropdown -->
	</div><!-- .user-bar -->
</template>
<script>
import { API } from "../api.js";

export default {
	name: "userbar",
	data() {
		return {
			isUserBarShowed: false
		};
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		userName() {
			return this.$store.getters.getUserName();
		},
		balance() {
			var price = this.$store.getters.getUserBalance();
			var newPrice = price
				.toString()
				.split(".")[0]
				.replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
			return newPrice;
		},
		isCompany() {
			return this.$store.getters.isCompany();
		}
	},
	methods: {
		showUserCard() {
			this.$emit("showUserCard");
			this.hideUserBar();
		},
		showDeposit() {
			this.$emit("showDeposit");
			this.hideUserBar();
		},
		showUserHistory() {
			this.$emit("showUserHistory");
			this.hideUserBar();
		},
		showCompanyHistory() {
			this.$emit("showCompanyHistory");
			this.hideUserBar();
		},
		showCompanyCard() {
			this.$emit("showCompanyCard");
			this.hideUserBar();
		},
		showUserBar() {
			this.isUserBarShowed = true;
		},
		hideUserBar() {
			this.isUserBarShowed = false;
		},
		toggleUserBar() {
			this.isUserBarShowed = !this.isUserBarShowed;
		},
		logOut() {
			localStorage.removeItem("President_Travel_token");
			this.$store.commit('clear');
			this.$router.push("/login-user");
		}
	}
};
</script>
<style lang="scss">

</style>
