<template lang="pug">
	transition(name="fade")
		div.amenities-modal(@click.self="close")
			div.amenities-modal__body
				div.amenities-modal__close(@click="close")
				h3.amenities-modal__head {{ $t("hotels.amenities", currentLangCode) }}
				div.amenities-modal__container
					div.amenities-modal__container-item(v-for="amenity in amenities" :key="amenity.id") {{ amenity.name }}
</template>

<script>
    export default {
        name: "AmenitiesModal",
		props: {
        	amenities: {
        		type: Array,
				required: true
			}
		},
		beforeMount () {
			document.documentElement.style.overflowY = "hidden"
		},
		destroyed () {
			document.documentElement.style.overflowY = "auto"
		},
		methods: {
        	close () {
        		this.$emit('close')
			}
		}
    }
</script>

<style lang="sass" scoped>
.amenities-modal
	background-color: rgba(black, .5)
	bottom: 0
	left: 0
	position: fixed
	right: 0
	top: 0
	z-index: 999

	&__body
		background-color: white
		border-radius: 6px
		max-height: 100%
		left: 50%
		padding: 30px 20px
		position: absolute
		top: 50%
		transform: translate(-50%, -50%)
		width: 85%

		@media screen
			@media (max-width: 650px)
				border-radius: 0
				height: 100%
				left: 0
				padding: 20px 10px 10px
				position: relative
				top: 0
				transform: none
				width: 100%

	&__head
		color: black
		font-size: 25px

	&__close
		$translate: translate(-50%, -50%)
		cursor: pointer
		height: 15px
		position: absolute
		right: 20px
		top: 35px
		width: 15px

		@media screen
			@media (max-width: 650px)
				top: 25px


		&::before, &::after
			border-bottom: 1px solid black
			content: ''
			left: 50%
			position: absolute
			top: 50%
			width: 21px

		&::before
			transform: $translate rotate(45deg)

		&::after
			transform: $translate rotate(-45deg)

	&__container
		align-items: center
		display: flex
		flex-wrap: wrap

		@media screen
			@media (max-width: 650px)
				height: calc(100% - 20px)
				justify-content: space-between
				padding-top: 20px
				overflow-y: auto

		&-item
			background: url("../../assets/icons/checked-round-green.svg") left center no-repeat
			background-size: 16px
			color: black
			margin: 5px 0
			padding-left: 25px
			width: 25%

			@media screen
				@media (max-width: 650px)
					width: calc(50% - 4px)
</style>
