<template lang="pug">
div.hotel-info
	div.hotel-info__description
		h3.hotel-info__head {{ $t("main.hotel", currentLangCode) }}
		p.hotel-info__paragraph {{ currentHotel.description }}
	div.hotel-info__best
		h3.hotel-info__head {{ $t("hotels.bestServices", currentLangCode) }}
		div.hotel-info__best-list
			p.hotel-info__best-item(v-for="item in amenities" :key="item.id") {{ item.name }}
		p.hotel-info__best-all(@click="showModal") {{ $t("hotels.showAllAmenities", currentLangCode) }}
	//div.hotel-info__features
	div.hotel-info__rules
		h3.hotel-info__head {{ $t("hotels.rules", currentLangCode) }}
		div.hotel-info__rules-row(v-for="rule in rules" :key="rule.name")
			p.hotel-info__rules-item {{ rule.name }}
			p.hotel-info__rules-item {{ rule.value }}
	//div.hotel-info__info
		h3.hotel-info__head {{ $t("purchase.importantInfo", currentLangCode) }}
		p.hotel-info__paragraph.hotel-info__paragraph&#45;&#45;info blah blah
		h3.hotel-info__head {{ $t("hotels.policy", currentLangCode) }}

</template>

<script>
	import {mapGetters} from 'vuex'
    export default {
        name: "HotelInfo",
		computed: {
			...mapGetters({currentHotel: 'getSelectedHotel'}),
			amenities () {
				return this.currentHotel.amenity_data.slice(0, 16)
			},
			rules () {
        		let arr = [];
        		const roomsInfo = this.currentHotel.rooms_info;
        		const hotelInfo = this.currentHotel.hotel_info;
        		if (roomsInfo.hasOwnProperty('check_in_time')) {
        			arr.push({
						name: this.$t(`hotels.check_in_time`, this.currentLangCode),
						value: roomsInfo['check_in_time']
					})
				}
				if (roomsInfo.hasOwnProperty('check_out_time')) {
					arr.push({
						name: this.$t(`hotels.check_out_time`, this.currentLangCode),
						value: roomsInfo['check_out_time']
					})
				}
				if (hotelInfo.hasOwnProperty('pet_friendly')) {
					arr.push({
						name: this.$t('hotels.pet_friendly', this.currentLangCode),
						value: this.$t(`hotels.pet_friendly_${!!hotelInfo.pet_friendly.enable}`, this.currentLangCode)
					});
					arr.push({
						name: this.$t('hotels.pet_friendly_policy', this.currentLangCode),
						value: hotelInfo.pet_friendly.policy
					})
				}
				return arr
			}
		},
		methods: {
        	showModal () {
        		this.$emit('more')
			}
		}
    }
</script>

<style lang="sass" scoped>
@import "../../styles/sass/colors"
.hotel-info
	$border: 1px solid $light-grey-color
	background-color: white
	border-radius: 4px
	color: black
	display: grid
	grid-template-areas: "description bestFeatures" "rules info"
	grid-template-columns: 50% 50%
	grid-template-rows: auto auto
	margin-bottom: 10px
	width: 100%

	@media screen
		@media (max-width: 650px)
			grid-template-areas: "description" "bestFeatures" "rules" "info"
			grid-template-columns: 100%
			grid-template-rows: auto auto auto auto

	&__head
		font-size: 25px
		font-weight: 400
		margin-bottom: 30px

	&__paragraph
		color: black
		font-size: 13px

		&--info
			margin-bottom: 30px

	&__description
		border-right: $border
		border-bottom: $border
		grid-area: description
		padding: 15px 10px 30px 15px

		@media screen
			@media (max-width: 650px)
				border-right: none

	&__best
		border-bottom: $border
		grid-area: bestFeatures
		padding: 15px 15px 10px 10px

		&-list
			align-items: center
			display: flex
			flex-wrap: wrap

		&-item
			background: url("../../assets/icons/checked-round-green.svg") left center no-repeat
			background-size: 16px
			color: black
			margin: 5px 0
			padding-left: 25px
			width: 50%

		&-all
			color: $future-text-color
			cursor: pointer
			font-size: 15px
			font-weight: 600
			margin-top: 15px

	&__rules
		border-right: $border
		grid-area: rules
		padding: 5px 10px 25px 15px

		@media screen
			@media (max-width: 650px)
				border-right: none

		&-row
			align-items: center
			border-top: $border
			display: flex
			padding: 5px

		&-item
			color: black
			display: inline-block
			font-size: 14px
			width: 50%

	&__info
		grid-area: info
		padding: 5px 15px 25px 10px
</style>
