<template lang="pug">
    .hotel-card(:style="{ 'background-image': 'url(' + realThumb + ')'}"  :data-id="hotel.id")
        .title
            img(src='../../assets/icons/star.svg' v-if='hotel.star_rating>=1')
            img(src='../../assets/icons/star.svg' v-if='hotel.star_rating>=2')
            img(src='../../assets/icons/star.svg' v-if='hotel.star_rating>=3')
            img(src='../../assets/icons/star.svg' v-if='hotel.star_rating>=4')
            img(src='../../assets/icons/star.svg' v-if='hotel.star_rating>=5')
            span {{formatedStars}}
            span(class='rate' v-if='!isRateHide && hotel.review_rating != null ') {{hotel.review_rating}}
        .hotel-title
            h3 {{ hotel.name }}
            div.place
                img.ico-place(src='../../assets/icons/yellow-marker.svg')
                span {{hotel.address}}
            .check-in {{ $t("hotels.checkIn", currentLang.code) }} {{formateDateLabel(fromDate)}}
                .nights {{ $t("hotels.for", currentLang.code) }} {{formateNightsText()}}
        .hotel-footer
            .elements
                span(class='previous-cost' v-if='hotel.previousCost!=0'  v-html='formateCost(hotel.previousCost)' v-show='false')
                span(class='actual-cost' v-html='formateCost(hotel.display_price)')
                //- span(class='periode') {{ $t("hotels.for", currentLang.code) }} {{formateNightsText()}}
                span(class='periode') {{ $t("hotels.oneNight", currentLang.code) }}
                .button(class='hotel-btn' @click='selectHotel(hotel.id)')
                    span {{ $t("hotels.select", currentLang.code) }}





</template>

<script>
import formateCost from "../../utils/formateCost";
import formateDateLabel from "../../utils/formateDateLabel";
import Decliner from "../../utils/decliner";
export default {
	name: "hotel-card",
	props: ["currentCurrency", "hotel", "isRateHide", "days"],
	data() {
		return {
			realThumb: ""
		};
	},
	created() {
		var newImg = document.createElement("img");
		newImg.onload = () => {
			if (newImg.naturalWidth != 0 && newImg.complete) {
				this.realThumb = newImg.src;
			} else {
				this.realThumb = this.hotel.alt_thumb;
			}
		};
		newImg.onerror = () => {
			this.realThumb = this.hotel.alt_thumb;
		};
		newImg.src = this.hotel.thumb;
	},
	computed: {
		formatedStars() {
			let stars = this.hotel.star_rating;
			let declinerStars = this.$t("decliner.stars", this.currentLangCode);
			return `${stars} ${Decliner(stars, declinerStars, this.currentLangCode)}`;
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		fromDate() {
			return this.$store.state.hotels.searchInfo.from;
		}
	},
	methods: {
		formateDateLabel(date) {
			return formateDateLabel(Number(date), this.currentLang.code);
		},
		formateCost(cost) {
			return formateCost(parseInt(cost)) + this.currentCurrency.symbol;
		},
		selectHotel(id) {
			this.$store.commit("setSelectedHotel", id);
			this.$router.push("/current-hotel/" + id);
			this.$emit("selectHotel");
		},
		formateNightsText() {
			var days = this.days || 1;
			let declines = this.$t("hotels.nights", this.currentLangCode);
			return `${days} ${Decliner(this.days, ...declines, this.currentLangCode)}`;
		}
	}
};
</script>

<style lang='sass'>

</style>
