<template lang="pug">
	.hotels-list
		hotel-card(v-for='(hotel, index) in hotels' v-if='index < amountOfView' :key='hotel.id'  :hotel='hotel' :currentCurrency='currentCurrency' @selectHotel='selectHotel' :days='days')
		.button.hotel-btn.full-width(v-if='amountOfView < hotels.length' @click='showMore') {{ $t("main.showMore", currentLang.code) }}
</template>

<script>
import HotelCard from "./HotelCard.vue";
export default {
	name: "hotels-list",
	props: [
		"currentCurrency",
		"payTypes",
		"services",
		"hotels",
		"days",
		"minCost",
		"maxCost",
		"hotelsStars",
		"hotelsTypes"
	],
	components: {
		HotelCard
	},
	data() {
		return {
			amountOfView: 16
		};
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		showMore() {
			this.amountOfView = this.amountOfView + 16;
		},
		selectHotel(hotel) {
			this.$emit("selectHotel", hotel);
		}
	}
};
</script>

<style lang='sass'>

</style>
