<template lang="pug">
.hotel
	template(v-if='loading')
		amenities-modal(v-if="amenitiesModalOpen"
						:amenities="currentHotel.amenity_data"
						@close="amenitiesModalOpen = false")
		hotel-reviews-modal(v-if="lastReview && reviewsModalOpen"
							:reviews="sortedReviews"
							:rating="currentHotel.review_rating"
							@close="reviewsModalOpen = false")
		hotel-informational-sidebar(:hotel='currentHotel' :currentCurrency='currentCurrency' @scrollToMap='scrollToMap')
		.hotel-dashboard
			.filter-bar
				hotel-filter-bar(@updateHotel='updateHotel')
			rooms-list(:hotel='currentHotel.rooms_info')
				.place-title
					p {{ currentHotel.address }}
			hotel-info(@more="amenitiesModalOpen = true")
			hotel-review-body(v-if="lastReview"
						:review="lastReview"
						:rating="currentHotel.review_rating"
						@more="reviewsModalOpen = true")
			gmap-map(:center="position" :zoom="15" map-type-id="terrain" ref='googleMap')
				gmap-marker( :key="currentHotel.id" :position="position" :icon='markerIcon')
			.recomendation-block
				h3  {{ $t("hotels.askText", currentLang.code) }}
				p {{ $t("hotels.helpText1", currentLang.code) }} {{currentHotel.name}}, {{ $t("hotels.helpText2", currentLang.code) }}
				.hotels-list
					hotel-card(v-for='recomendedHotel in recomendedHotels' :days='days' :key='recomendedHotel.id'  :hotel='recomendedHotel'  :currentCurrency='currentCurrency' @selectHotel='selectHotel')
	template(v-else)
		.bad-response
			spinner(v-if='!badResponse')
			router-link(to='/hotels' class='back-link' v-if='badResponse') {{ $t("hotels.backToHotelResult", currentLang.code) }}
</template>

<script>
import HotelInformationalSidebar from "./HotelInformationalSidebar.vue";
import RoomsList from "./RoomsList.vue";
import HotelCard from "./HotelCard.vue";
import formateDateLabel from "../../utils/formateDateLabel";
import formateDate from "../../utils/formateDateFromValue2.js";
import HotelFilterBar from "./filter-bar/HotelFilterBar.vue";
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Spinner from "../small-spinner";
import HotelInfo from './HotelInfo'
import HotelReviewBody from './HotelReviewBody'
import AmenitiesModal from './AmenitiesModal'
import HotelReviewsModal from './reviews/HotelReviewsModal'

export default {
	name: "hotel",
	props: ["currentCurrency", "daysLabels", "monthsLabels"],
	components: {
		"hotel-informational-sidebar": HotelInformationalSidebar,
		"rooms-list": RoomsList,
		"hotel-card": HotelCard,
		"hotel-filter-bar": HotelFilterBar,
		spinner: Spinner,
    	HotelInfo,
		HotelReviewBody,
		AmenitiesModal,
		HotelReviewsModal
	},
	data() {
		return {
			loading: false,
			badResponse: false,
			markerIcon: {
				url: require("../../assets/icons/map-l.svg")
			},
			amenitiesModalOpen: false,
			reviewsModalOpen: false
		};
	},
	created() {
		this.loadRoomsInfo();
	},
	mounted() {
		this.$emit("hideSearchbar");
	},
	beforeDestroy() {
		this.$emit("showSearchbar");
	},
	beforeRouteUpdate(to, from, next) {
		// обработка изменений параметров пути...
		// не забудьте вызывать next()
		next();
		if (to.name == "CurrentHotel") {
			this.$store.commit("setSelectedHotel", this.$route.params.id);
			this.loading = false;
			this.loadRoomsInfo();
		}
	},
	methods: {
		scrollToMap() {
			this.scrollToItem(this.$refs.googleMap.$el);
		},
		scrollToItem(item, duration = 250) {
			const maxScrollTop = document.body.offsetHeight - document.documentElement.offsetHeight;
			const position = maxScrollTop > item.offsetTop ? item.offsetTop : maxScrollTop;
			console.log(position, maxScrollTop);
			const scroll = position - window.scrollY;
			const scrollStep = scroll / duration;
			let scrollInterval = setInterval(function() {
				let isEnded = scroll > 0 ? window.scrollY >= position : window.scrollY <= position;
				if (!isEnded) {
					window.scrollBy(0, scrollStep)
				} else clearInterval(scrollInterval)
			},1)
		},
		getNewPassengers(type) {
			return this.$store.state.searchparameters.hotelParams.newPassengers[type];
		},
		updateHotel() {
			this.loading = false;
			var dateFrom = formateDate(new Date(this.fromDate));
			var dateTo = formateDate(new Date(this.toDate));
			var travelers = [];
			var adults = 0;
			var childs = 0;
			var today = new Date();
			today.setHours(0, 0, 0, 0);
			this.selectedPassengers.forEach(function(element, index) {
				travelers.push(element.travelerId);
				var d = parseInt(element.birthday.slice(0, 2));
				var m = parseInt(element.birthday.slice(3, 5));
				var y = parseInt(element.birthday.slice(6, 10));
				var years =
					today.getFullYear() -
					y -
					((today.getMonth() - --m || today.getDate() - d) < 0);
				if (years < 12) {
					childs++;
				} else {
					adults++;
				}
			});

			var reqData = {
				hotel_id: this.currentHotel.id,
				history_id: this.$store.state.hotels.history_id,
				data: {
					startDate: dateFrom,
					endDate: dateTo,
					city: this.destination.abbr,
					adults: parseInt(this.getNewPassengers("adults")) + adults,
					childs: parseInt(this.getNewPassengers("children")) + childs,
					childrenAges: this.$store.state.searchparameters.hotelParams
						.childrenAge,
					rooms: this.$store.state.searchparameters.hotelParams.room
				}
			};
			this.ajax(reqData, true, travelers);
		},
		loadRoomsInfo() {
			self = this;
			if (this.currentHotel.rooms_info != undefined) {
				self.loading = true;
			} else {
				var reqData = {
					hotel_id: this.currentHotel.id,
					history_id: this.$store.state.hotels.history_id
				};
				this.ajax(reqData, false);
			}
		},
		updateInfo() {
			this.loading = false;
			var reqData = {
				hotel_id: this.currentHotel.id,
				history_id: this.$store.state.hotels.history_id
			};
			this.ajax(reqData, false);
		},
		ajax(reqData, updateSearchInfo, travelers) {
			const networkError = message => {
				this.badResponse = true;
				VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
				// TODO: remove debug on production
				console.log(message);
			};
			const rooms = API.getRoomsInfo(reqData)
				.then(response => {
					if (response.data.status === "success") {
						this.$store.commit("loadRooms", response.data.data);
						if (updateSearchInfo) {
							let searchInfo = {
								from: this.fromDate,
								to: this.toDate,
								city: this.destination.city,
								country: this.destination.country,
								travelers: this.totalPassangersCount,
								rooms: this.$store.state.searchparameters.hotelParams.room,
								selectedPassengers: travelers
							};
							this.$store.commit("setSearchInfo", searchInfo);
						}
					} else {
						networkError(response)
					}
				})
				.catch(networkError);
			const hotel = API.getHotelInfo(reqData)
				.then(response => {
					if (response.data.status === "success") this.$store.commit("loadHotelInfo", response.data.data);
					else networkError(response)
				})
				.catch(networkError);
			Promise.all([rooms, hotel]).then(() => this.loading = true);
		},
		formateDateLabel(date) {
			return formateDateLabel(date, this.currentLang.code);
		},
		selectHotel(hotel) {
			// this.loadRoomsInfo();
			// this.loading = false;
			// document.body.scrollTop = document.documentElement.scrollTop = 0;
		},
		formateDate(date) {
			return formateDate(date);
		}
	},
	computed: {
		lastReview () {
			if (this.sortedReviews.length) {
				return this.sortedReviews[0]
			}
		},
		sortedReviews () {
			if (this.currentHotel.hotel_info.hasOwnProperty('reviews')) {
				return this.currentHotel.hotel_info.reviews.sort((a, b) => {
					const getTimestamp = review => +(new Date(review.creation_date.split('-')));
					return getTimestamp(a) > getTimestamp(b) ? 1 : -1
				})
			} else return []
		},
		selectedCurrency() {
			return this.$store.state.currencies.selectedCurrency;
		},
		totalPassangersCount() {
			return (
				this.selectedPassengers.length +
				this.getNewPassengers("adults") +
				this.getNewPassengers("children")
			);
		},
		destination() {
			return this.$store.state.searchparameters.hotelParams.city;
		},
		selectedPassengers() {
			return this.$store.state.searchparameters.selectedPassengers;
		},
		fromDate() {
			return this.$store.state.searchparameters.hotelParams.fromDate;
		},
		toDate() {
			return this.$store.state.searchparameters.hotelParams.toDate;
		},
		days() {
			var from = this.$store.state.hotels.searchInfo.from;
			var to = this.$store.state.hotels.searchInfo.to;
			var res = (Number(to) - Number(from)) / (24 * 60 * 60 * 1000);
			return res;
		},
		currentHotel() {
			return this.$store.getters.getSelectedHotel;
		},
		position() {
			return {
				lat: Number(this.currentHotel.lat),
				lng: Number(this.currentHotel.lng)
			};
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		recomendedHotels() {
			var arr = [];
			var min = 0;
			var max = this.$store.state.hotels.hotels.length - 1;
			var hotels = this.$store.state.hotels.hotels;

			while (arr.length < 3) {
				var rand = min - 0.5 + Math.random() * (max - min + 1);
				rand = Math.round(rand);
				if (
					hotels[rand].id != this.currentHotel.id &&
					arr.indexOf(hotels[rand].id) == -1
				) {
					arr.push(hotels[rand]);
				}
			}

			return arr;
		}
	},
	watch: {
		selectedCurrency: function(newCurrency) {
			API.config.data.currency = newCurrency.code;
			this.updateInfo();
		},
		currentLang: function(newLang) {
			API.config.data.lang = newLang.code;
			this.updateInfo();
		}
	}
};
</script>

<style lang='sass'>
	.bad-response
		position: absolute
		top: 0
		left: 0
		right: 0
		bottom: 0
		display: flex
		align-items: center
		justify-content: center
	.back-link
		color: #fff
</style>
