<template lang="pug">
  .hotels-map
    .selected-hotel(v-if='selectedHotel')
      hotel-card(:key='selectedHotel.id' class="single" :hotel='selectedHotel' :isRateHide='true' :currentCurrency='currentCurrency' @selectHotel='selectHotel' :days='days')
      .close-icon(@click='close')
        img(src='../../assets/icons/cross.svg')
    gmap-map(:center="center" :zoom="8" map-type-id="terrain")
      gmap-cluster(:styles='clusterStyles')
        gmap-marker( :key="hotel.id" v-for="hotel in hotels" :position="getPossition(hotel)" @click='show(hotel)' :icon='markerIcon')







</template>

<script>
import HotelCard from "./HotelCard.vue";
export default {
	name: "hotels-map",
	components: {
		"hotel-card": HotelCard
	},
	props: ["currentCurrency", "hotels", "days"],
	data() {
		return {
			isMapShow: false,
			selectedHotel: false,
			markerIcon: {
				url: require("../../assets/icons/map-l.svg")
			},
			clusterStyles: [
				{
					url: require("../../assets/icons/cluster.svg"),
					height: 45,
					width: 45,
					textColor: "#FFFFFF",
					textSize: 14
				}
			]
		};
	},
	created() {
		this.center = {
			lat: Number(this.hotels[0].lat),
			lng: Number(this.hotels[0].lng)
		};
	},
	methods: {
		getPossition(hotel) {
			return { lat: Number(hotel.lat), lng: Number(hotel.lng) };
		},
		selectHotel(hotel) {
			this.$emit("selectHotel", hotel);
		},
		close() {
			this.selectedHotel = false;
		},
		show(hotel) {
			this.selectedHotel = hotel;
		}
	}
};
</script>

<style lang='sass'>
</style>
