<template lang="pug">
.informational-sidebar
  router-link.link(to='/hotels')
    img(src='../../assets/icons/left-arrow.svg')
    span {{ $t("hotels.searchResutl", currentLang.code) }}
  .title
    span(class='place') {{searchInfo.country}}, {{searchInfo.city}}
    h3 {{ hotel.name }}
    a(href='#' class='redirect' @click.prevent='scrollToMap' )
      img(src='../../assets/icons/blue-marker.svg')
      span {{ hotel.address}}
    .title-footer
      .star
        img(src='../../assets/icons/star.svg' v-if='hotel.star_rating >= 1')
        img(src='../../assets/icons/star.svg' v-if='hotel.star_rating >= 2')
        img(src='../../assets/icons/star.svg' v-if='hotel.star_rating >= 3')
        img(src='../../assets/icons/star.svg' v-if='hotel.star_rating >= 4')
        img(src='../../assets/icons/star.svg' v-if='hotel.star_rating >= 5')
        span {{formatedStars}}
      .rate(v-if="hotel.review_rating != null")
        .box {{hotel.review_rating}}
        span(v-html='$t("hotels.clisentEstimate", currentLang.code)')
  .photo(v-if='hotel.photos && loadedPhotos' :style="{ 'background': 'url(' + hotel.photos[0].src + ') center center'}" class='pointer' @click='openGallery')

    .label(@click='openGallery')
      span {{ $t("hotels.gallery", currentLang.code) }}
      span(class='photos-count') {{hotel.photos.length}}
      img(src='../../assets/icons/camera.svg')
  .description
    .best-rate(v-if="hotel.review_rating != null && Number(hotel.review_rating) >= 9")
      .img-wr
        img(src="../../assets/icons/ico-best-rating.svg")
      .ttl Гости в восторге
      span Отличный рейтинг отеля {{hotel.review_rating}}/10
    .best-rate(v-if='false')
      .img-wr
        img(src="../../assets/icons/ico-best-place.svg")
      .ttl ЛУЧШИЕ ПО  МЕСТОПОЛОЖЕНИЕ
      span Оценка гостей, расположение 9.3/10

    //- h3 {{ $t("hotels.services", currentLang.code) }}
    ul
        li(v-for='(service, index) in hotel.amenity_data' v-if='index < serviceAmount') {{service.name}}
    span(class='right more pointer' @click='showMore')
      template(v-if='serviceAmount==5') {{ $t("hotels.allServices", currentLang.code) }}
      template(v-else) {{ $t("hotels.hide", currentLang.code) }}
    br
    h3 {{ $t("hotels.aboutHotel", currentLang.code) }}
    ul
      li
        span {{ $t("confirm.adress", currentLang.code) }} {{ hotel.address}}
      li
        span {{ $t("hotels.checkAfter", currentLang.code) }}
           i.time  {{hotel.rooms_info.check_in_time}},
           template  {{ $t("hotels.depatureBefore", currentLang.code) }}
           i.time  {{hotel.rooms_info.check_out_time}}.
      br
      //- li
        //- span {{ $t("hotels.cardPayment", currentLang.code) }}
      //- ul(class='bank-cards')
        li(v-for='card in hotel.bankCards')

  //- галерея
  <lightbox v-if='loadedPhotos' :images="hotel.photos" :showLightBox="false" :showCaption='true' ref='lightbox'></lightbox>
</template>

<script>
	// TODO: too much hardcode
import { API } from "../../api";
import VueNotifications from "vue-notifications";
import Lightbox from "vue-image-lightbox";
import Decliner from "../../utils/decliner";

export default {
	name: "informational-sidebar",
	props: ["currentCurrency", "hotel", "filteredServices"],
	components: {
		Lightbox
	},
	data() {
		return {
			serviceAmount: 5,
			loadedPhotos: false
		};
	},
	created() {
		if (this.hotel.photos == undefined) {
			this.getPhotos();
		} else {
			this.loadedPhotos = true;
		}
	},
	methods: {
		scrollToMap() {
			this.$emit("scrollToMap");
		},
		openGallery() {
			this.$refs.lightbox.showImage(0);
		},
		getPhotos() {
			var reqData = {
				hotel_id: this.hotel.id
			};
			API.getHotelPhotos(reqData)
				.then(response => {
					if (response.data.status == "success") {
						var photos = response.data.data.photos.map(el => {
							return { thumb: el, src: el, caption: this.hotel.name };
						});
						this.$store.commit("addHotelPhotos", photos);
						this.loadedPhotos = true;
					} else {
						VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
					}
				})
				.catch(e => {
					VueNotifications.error({ message: this.$t("errors.dataFetch", this.currentLangCode) });
				});
		},
		showMore() {
			if (this.serviceAmount == 5) {
				this.serviceAmount = Infinity;
			} else {
				this.serviceAmount = 5;
			}
		}
	},
	computed: {
		formatedStars() {
			let stars = this.hotel.star_rating;
			let declinerStars = this.$t("decliner.stars", this.currentLangCode);
			return `${stars} ${Decliner(stars, declinerStars, this.currentLangCode)}`;
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		searchInfo() {
			return this.$store.state.hotels.searchInfo;
		}
	}
};
</script>

<style lang='sass'>

</style>
