<template lang="pug">
	.hotel-searchbar(:class='{ bgt:isDatePicker}')

		template(v-if='isCityPicker')
			city-picker-hotel(:isFrom='isCityPicker' :isHotel='true' :isTo='false' :currentLang='currentLang' :destination='destination' @changeDirection='selectCity' @closeCityPicker='hideChoicePanel' v-click-outside="hideChoicePanel")
		template(v-else-if='isDatePicker')
			.direction(class='hotels')
				.direct
					span {{ destination.city }}. {{ destination.country }}
			date-picker(:isRoundTrip='true' :changeDate='changeDate' :isHotelSearch='true' :currentLang='currentLang' :daysLabels='daysLabels' :monthsLabels='monthsLabels' :isAutonomus='true' @changeDateRange='changeDateRange' v-click-outside="hideChoicePanel")
		template(v-else-if='isGuestPicker')
			passenger-picker(:passengers='passengers' :isHotel='true' :currentLang='currentLang' :isGuestPicker='true' @confirmInformation='hide("isGuestPicker")' v-click-outside="hideChoicePanel" )
		template(v-else)
			.direction-panel
				.header
					span {{ $t("main.hotels", currentLang.code) }}
					span(class='right primary' v-if='fromDate') {{ formateDateRange() }}
					.destination(@click='show("isCityPicker")')
						span(class='label') {{ $t("hotels.destination", currentLang.code) }}
						template(v-if='destination.city')
							span(class='text') {{ destination.city }}, {{ destination.country}}
				.dates-panel
					.dates
						span(class='date text' @click='selectDateFrom')  {{ $t("hotels.arrivalDate", currentLang.code) }}
						span(class='separator')
						span(class='date text'  @click='selectDateTo')  {{ $t("hotels.depaturtureDate", currentLang.code) }}
						br
						template(v-if='fromDate && toDate')
							span(class='date' @click='selectDateFrom') {{formateDate(fromDate)}}
							span(class='separator') |
							span(class='date'  @click='selectDateTo') {{formateDate(toDate)}}
						template(v-else)
							span(class='date' @click='selectDateFrom') __.__.____
							span(class='separator') |
							span(class='date'  @click='selectDateTo') __.__.____

				.passenger-btn(v-if='totalPassangersCount==0' @click='show("isGuestPicker")')
					span {{ $t("hotels.selectGuest", currentLang.code) }}
				.room(v-if='totalPassangersCount>0')
					.new-passenger
						ul
							li.psng
								span(class='text') {{ $t("hotels.rooms", currentLang.code) }}
								span(class='minus' @click='removeRoom') –
								span(class='count') {{room}}
								span(class='plus' @click='addRoom') +
				.new-passengers-list(v-if="newPassengersCount")
					.passenger-class-picker
						.new-passenger
							ul
								li.psng(v-for='type in passagerTypes' v-if="getNewPassengers(type.name) > 0")
									span(class='text') {{ type.title[currentLang.code] }}
									span(class='minus' @click='removePassengerType(type)') –
									span(class='count') {{ getNewPassengers(type.name) + ' ' }}
									span(class='plus' @click='addPassengerType(type)') +

				.passengers-list(v-if='passengers')
					ul
						template(v-for='passenger in selectedPassengers')
							passenger( :classes="classes" :passenger="passenger" :isHotel='true')

					children-age(v-model='childrenAge[index]' v-for='(age, index) in childrenAge' :key='index')

			.search-btn-panel
				.empty-btn(class='formated' @click='show("isGuestPicker")' v-if="totalPassangersCount!=0")
						span {{ $t("direction.addGuest", currentLang.code) }}
				.empty-btn(@click='search')
					span {{ $t("hotels.search", currentLang.code) }}
</template>

<script>
import CityPickerHotel from "../search-parameters/CityPickerHotel.vue";
import DatePicker from "../search-parameters/DatePicker.vue";
import PassengerPicker from "../search-parameters/PassengerPicker.vue";
import formateDate from "../../utils/formateDateFromValue2.js";
import passenger from "../search-parameters/Passenger";
import ChildrenAge from "../search-parameters/ChildrenAge";
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";

export default {
	name: "hotel-search-panel",
	components: {
		"city-picker-hotel": CityPickerHotel,
		"date-picker": DatePicker,
		"passenger-picker": PassengerPicker,
		"children-age": ChildrenAge,
		passenger: passenger
	},
	props: [
		"daysLabels",
		"currentLang",
		"shortMonthsLabels",
		"monthsLabels",
		"passengers"
	],
	data() {
		return {
			isCityPicker: false,
			isDatePicker: false,
			isGuestPicker: false,
			changeDate: ""
		};
	},
	computed: {
		selectedCurrency() {
			return this.$store.state.currencies.selectedCurrency;
		},
		searchRequest() {
			return this.$store.state.hotels.searchRequest;
		},
		totalPassangersCount() {
			return (
				this.selectedPassengers.length +
				this.getNewPassengers("adults") +
				this.getNewPassengers("children")
			);
		},
		childrenAge: {
			set(data) {
				this.$store.commit("changeChildrenAge", data);
			},
			get() {
				return this.$store.state.searchparameters.hotelParams.childrenAge;
			}
		},
		room: {
			set(data) {
				this.$store.commit("changeRoom", data);
			},
			get() {
				return this.$store.state.searchparameters.hotelParams.room;
			}
		},
		selectedPassengers() {
			return this.$store.state.searchparameters.selectedPassengers;
		},
		passagerTypes() {
			return this.$store.state.params.travelerTypes;
		},
		classes() {
			return this.$store.state.params.classes;
		},
		getNewPassengersClassId() {
			return this.$store.state.searchparameters.newPassengers.class;
		},
		newPassengersCount() {
			return (
				this.getNewPassengers("adults") + this.getNewPassengers("children")
			);
		},
		fromDate() {
			return this.$store.state.searchparameters.hotelParams.fromDate;
		},
		toDate() {
			return this.$store.state.searchparameters.hotelParams.toDate;
		},
		destination() {
			return this.$store.state.searchparameters.hotelParams.city;
		}
	},
	methods: {
		removeRoom() {
			if (this.room > 1) {
				this.room--;
			}
		},
		addRoom() {
			this.room++;
		},
		addPassengerType(type) {
			this.$store.commit("increaseNewHotelPassengersCount", type.name); //---
			if (type.id == 2) {
				this.$store.commit("addChildren");
			}
		},
		removePassengerType(type) {
			this.$store.commit("descreaseNewHotelPassengersCount", type.name); //---
			if (type.id == 2) {
				this.$store.commit("removeChildren");
			}
		},
		selectDateFrom() {
			if (!this.destination.abbr) {
				//если не выбран город ИЗ - покажем
				this.isCityPicker = true;
			} else {
				//если города выгбраны - покажем календарь
				this.changeDate = "from";
				this.isDatePicker = true;
			}
		},
		selectDateTo() {
			if (!this.destination.abbr) {
				//если не выбран город ИЗ - покажем
				this.isCityPicker = true;
			} else if (!!this.fromDate && !!this.toDate) {
				//если невыбрана дата Туда и Обратно - откроем календарь
				this.changeDate = "to";
				this.isDatePicker = true;
			} else if (!!this.fromDate && !this.toDate) {
				//если выбрана дата Туда и не выбрана дата обратно  - покажем календарь
				//и сохраним дату Туда
				this.changeDate = "to";
				this.isDatePicker = true;
			} else {
				//не выбрана дата Туда - просто откроем календарь
				this.changeDate = "from";
				this.isDatePicker = true;
			}
		},
		hideChoicePanel() {
			this.isCityPicker = false;
			this.isDatePicker = false;
			this.isGuestPicker = false;
		},
		getNewPassengers(type) {
			return this.$store.state.searchparameters.hotelParams.newPassengers[type];
		},
		getClass(classID) {
			var index = this.classes.length;
			while (index--) {
				if (this.classes[index]["id"] == classID) {
					return this.classes[index]["title"];
				}
			}
		},
		search() {
			if (
				this.destination.id != 0 &&
				this.fromDate != "" &&
				this.toDate != "" &&
				this.totalPassangersCount != 0
			) {
				this.$Progress.setColor("#FFB63D");
				this.$Progress.start();
				this.$store.commit("setIsHotel");
				this.$store.commit("runPreloader");
				// this.$emit("search");
				// self = this;
				var dateFrom = formateDate(new Date(this.fromDate));
				var dateTo = formateDate(new Date(this.toDate));
				var travelers = [];
				var adults = 0;
				var childs = 0;
				var today = new Date();
				today.setHours(0, 0, 0, 0);
				this.selectedPassengers.forEach(function(element, index) {
					travelers.push(element.travelerId);
					var d = parseInt(element.birthday.slice(0, 2));
					var m = parseInt(element.birthday.slice(3, 5));
					var y = parseInt(element.birthday.slice(6, 10));
					var years =
						today.getFullYear() -
						y -
						((today.getMonth() - --m || today.getDate() - d) < 0);
					if (years < 12) {
						childs++;
					} else {
						adults++;
					}
				});

				var search = {
					startDate: dateFrom,
					endDate: dateTo,
					city: this.destination.abbr,
					adults: parseInt(this.getNewPassengers("adults")) + adults,
					childs: parseInt(this.getNewPassengers("children")) + childs,
					childrenAges: this.childrenAge,
					rooms: this.room,
					travelers: this.selectedPassengers.map(passenger => passenger.travelerId)
				};

				console.log(search);

				API.searchHotel(search)
					.then(response => {
						var data = response.data;
						if (data.status == "success") {
							this.$store.commit("setHotel", data.data);
							this.$store.commit("setFilters", data.filter);
							this.$store.commit("setHistoryId", data.history_id);
							var searchInfo = {
								from: this.fromDate,
								to: this.toDate,
								city: this.destination.city,
								country: this.destination.country,
								travelers: this.totalPassangersCount,
								rooms: this.room,
								selectedPassengers: travelers
							};
							search.from = this.fromDate;
							search.to = this.toDate;
							search.lang = this.currentLangCode;
							search.currency = this.selectedCurrency.code;
							this.$store.commit("setSearchInfo", searchInfo);
							this.$store.commit("setSearchRequest", search);

							// var tempTransition = {
							// 	speed: "0.2s",
							// 	opacity: "0.6s",
							// 	termination: 300
							// };
							// self.$Progress.tempTransition(temp)
							this.$Progress.set(10000);
							setTimeout(() => {
								this.$store.commit("stopPreloader");
								this.$router.push("/hotels");
								this.$Progress.set(0);
								// self.$Progress.revertTransition()
							}, 500);
						} else {
							console.log("Error: " + data.error);
							window.e = response;
							console.log(response);
							console.log(response.data);
							this.$store.commit("stopPreloader");
							this.$router.push("/hotels");
						}
					})
					.catch(e => {
						if (e.response) {
							console.log(e.response);
							// TODO: добавились новые ответы
							if (
								e.response.status == 500 &&
								e.response.data.message ==
									"Hotel.Results: Hotel unavailable (PLG)"
							) {
								VueNotifications.error({
									message:
										"Мы не нашли подходящие отели, попробуйте изменить параметры поиска"
								});
								this.$store.commit("stopPreloader");
								this.$router.push("/");
							}
						} else {
							console.log(e);
							this.$store.commit("stopPreloader");
							this.$router.push("/");
						}
					});
			}
		},
		hide(param) {
			this[param] = false;
		},
		show(param) {
			this[param] = true;
		},
		selectCity(flag) {
			this.isCityPicker = false;
			if (this.fromDate == "" || (this.toDate == "" && !flag)) {
				this.isDatePicker = true;
			}
		},
		formateDate(date) {
			return formateDate(date);
		},
		changeDateRange() {
			this.isDatePicker = false;
			if (!this.totalPassangersCount) {
				// если пассажиры не выбраны
				this.isGuestPicker = true;
			}
		},
		formateDateRange() {
			var fromDate = new Date(this.fromDate),
				toDate = new Date(this.toDate),
				timeDiff = Math.abs(toDate.getTime() - fromDate.getTime());
			var days = Math.ceil(timeDiff / (1000 * 3600 * 24));
			this.$store.commit("setDays", days);
			return (
				fromDate.getDate() +
				" " +
				this.$t("main.shortMonthsLabels", this.currentLang.code)[
					fromDate.getMonth()
				] +
				" - " +
				toDate.getDate() +
				" " +
				this.$t("main.shortMonthsLabels", this.currentLang.code)[
					toDate.getMonth()
				]
			);
		}
	}
};
</script>

<style lang='sass'>

</style>
