<template lang="pug">
div.hotel-review
	div.hotel-review__header
		img.hotel-review__head-img(:src="InfoGrey" align="left")
		h3.hotel-review__head {{ $t("hotels.allVerifiedComments", currentLangCode) }}
	hotel-rating.hotel-review__total(:rating="rating")
	div.hotel-review__latest
		h4.hotel-review__head-sub {{ $t("hotels.lastComment", currentLangCode) }}
		hotel-review(:review="review")
	p.hotel-review__footer(@click="more") {{ $t("hotels.showMoreComments", currentLangCode) }}
</template>

<script>
	import HotelRating from './reviews/HotelRating'
	import HotelReview from './reviews/HotelReview'
	import InfoGrey from '../../assets/icons/info_grey.svg'
    export default {
        name: "hotelReviewBody",
		components: {
        	HotelRating,
			HotelReview
		},
		data () {
        	return {
        		InfoGrey
			}
		},
		props: {
        	review: {
        		type: Object,
				required: true
			},
			rating: {
        		type: String,
        		required: true
			}
		},
		methods: {
        	more () {
        		this.$emit('more')
			}
		}
    }
</script>

<style lang="sass" scoped>
@import "../../styles/sass/colors"
.hotel-review
	$border: 1px solid $light-grey-color
	background-color: white
	border-radius: 4px
	color: $grey-color
	display: grid
	grid-template-areas: "header header" "total latest" "footer footer"
	grid-template-columns: 35% 65%
	grid-template-rows: 40px auto 40px
	margin-bottom: 10px

	@media screen
		@media (max-width: 650px)
			grid-template-areas: "header" "total" "latest" "footer"
			grid-template-columns: 100%
			grid-template-rows: auto auto auto 40px

	&__rate-box
		background-color: $orange-color
		border-radius: 6px
		color: white
		font-size: 20px
		font-weight: 600
		padding: 10px

	&__head
		font-size: 18px
		font-weight: 400

		@media screen
			@media (max-width: 370px)
				font-size: 16px
				line-height: 22px

		&-img
			margin-top: 2px
			margin-right: 7px

		&-sub
			font-size: 18px
			font-weight: 600
			margin-bottom: 25px

	&__header
		border-bottom: $border
		grid-area: header
		padding: 10px 15px

	&__total
		border-right: $border
		grid-area: total

		@media screen
			@media (max-width: 650px)
				border-bottom: $border
				border-right-style: none

	&__latest
		grid-area: latest
		padding: 15px 7px

	&__footer
		border-top: $border
		color: $future-text-color
		cursor: pointer
		font-weight: 600
		grid-area: footer
		line-height: 40px
		text-align: center
</style>
