<template>
<div class="room-gallery">
  <div class="gallery-content">
    <div class="title">
      <h2>{{hotel.title}}</h2>
      <p>{{ $t("hotels.rate", currentLang.code) }} {{' '+hotel.reviewsRate+' '}}{{ $t("hotels.outOf", currentLang.code) }}  10 {{ ' '+hotel.reviewsCount+' '}} {{ $t("hotels.reviews", currentLang.code) }}</p>
    </div>
    <div class="photo">

      <img class="arrow" @click='slideLeft' src="../../assets/icons/left-arrow.svg" alt="">

      <div class="current-photo" :style="{ 'background': 'url('+currentPhoto +') center center'}" >
      </div>
      <img class="arrow" @click='slideRight'  src="../../assets/icons/right-arrow.svg" alt="">
    </div>

    <div class="text">

    </div>
    <div class="photos">
      <div class="mini-photo" :key='photo.src' v-for='photo in photos' :style="{ 'background': 'url('+photo +') center center'}" :class='{"picked": currentPhoto == photo}'>

      </div>
    </div>
  </div>
</div>




</template>

<script>
export default {
	name: "room-gallery",
	props: ["photos", "hotel"],
	data() {
		return {
			currentPhoto: this.photos[0] || ""
		};
	},
	created() {},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		slideRight() {
			const imgs = this.photos;
			let index = imgs.indexOf(this.currentPhoto);
			if (index === imgs.length - 1) {
				index = 0;
			} else {
				index += 1;
			}
			this.currentPhoto = imgs[index];
		},
		slideLeft() {
			const imgs = this.photos;
			let index = imgs.indexOf(this.currentPhoto);
			if (index === 0) {
				index = imgs.length - 1;
			} else {
				index -= 1;
			}
			this.currentPhoto = imgs[index];
		}
	}
};
</script>

<style lang='sass'>
.room-gallery
  position: fixed
  display: flex
  justify-content: center
  align-items: center
  z-index: 99999
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: rgba(#232836, 0.89)
  .gallery-content
    width: 80%
    .title

      h2
        font-size: 21px
        color: white
      p
        color: white
    .photo
      display: flex
      width: 100%
      height: 400px
      align-items: center
      .arrow
        width: 30px
        height: 22px
      .current-photo
        flex: 1 0
        height: 100%
    .photos
      margin-top: 25px
      display: flex
      justify-content: center
      .mini-photo
        margin: 5px
        width: 100px
        height: 100px

        &.picked
          border: 2px solid #ffb63d


</style>
