<template lang="pug">
  .rooms-list
    room-card(@showModal='showModal' :hotel='hotel'  v-for='(room, key) in hotel.rooms' :room='room' :key='room.id' :name='key')
</template>

<script>
import RoomCard from "./RoomCard.vue";
export default {
	name: "rooms-list",
	props: ["hotel"],
	components: {
		"room-card": RoomCard
	},
	data() {
		return {
			modalIsShow: false
		};
	},
	methods: {
		showModal() {
			this.modalIsShow = true;
		}
	}
};
</script>

<style lang='sass'>

</style>
