<template lang="pug">
.room-card
	.main-info
		room-gallery(:photos='room.photos' :hotel='hotel' v-if='isGalleryShowed')
		.room-photo(:style="{ 'background-image': 'url('+roomImg +')'}")
			//- .round-btn(@click='toggleGallery')
				include ../../assets/icons/wide.svg
		.description
			h3 {{name}}
			.features-list
				.item
					img(src='../../assets/icons/bed.svg')
					span(v-if='room[0].bedding_data[0]') {{ room[0].bedding_data[0].count }}, {{ room[0].bedding_data[0].type }}
				.item(v-if='freeWiFi')
					img(src='../../assets/icons/wifi-connection-signal-symbol.svg')
					span {{ $t("rooms.frewifi", currentLang.code) }}
				//- .item
				//- 	img(src='../../assets/icons/food.svg')
				//- 	span(v-if='room.isFoodInclude') {{ $t("rooms.foodIncluded", currentLang.code) }}
				//- .item
				//- 	img(src='../../assets/icons/credit-card.svg')
				//- 	span(v-if='room.checkInPayment') {{ $t("rooms.checkInPayment", currentLang.code) }}
			//- .badge-list
				.badge
					span(v-if='room.isFreeWiFi') {{ $t("rooms.freeWifi", currentLang.code) }}
			//- .redirect {{ $t("rooms.roomServices", currentLang.code) }}
		//- .messages-block
			span(class='warning') {{room.additionText}}
		//- .cost-panel
			.guests
				span {{ $t("rooms.guestsNumber", currentLang.code) }}
				span(class='count') {{room.guests}}
				img(src='../../assets/icons/user.svg')
			.cost-block
				.previous-cost
					span {{room.previousCost}}
						span(v-html='currentCurrency.symbol')
				.cost
					span {{room.cost}}
						span(v-html='currentCurrency.symbol')
				.period
					span {{formateNightsText}}
				.cash-back
					span CashBack:  {{room.cashback}}
						span(v-html='currentCurrency.symbol')

				.button(class='hotel')
					span {{ $t("rooms.reservation", currentLang.code) }}
	.variations(v-for='item in room')
		.col1
			ul
				li(v-if="item.is_cancellable" class='big green') {{ $t("rooms.canCanel", currentLang.code) }}
				//- li(v-if='item.cancellation_information') {{item.cancellation_information}}
				li(v-if="!item.is_cancellable" class='big') {{ $t("rooms.cantCancel", currentLang.code) }}
				li(v-if='item.description') {{ $t("rooms.description", currentLang.code) }}: {{item.description}}
				li(v-if='item.free_wifi && !freeWiFi') {{ $t("rooms.frewifi", currentLang.code) }}
				li(v-if='item.free_breakfast') {{ $t("rooms.breakfast", currentLang.code) }}
				li(v-if='!item.free_breakfast') {{ $t("rooms.noBreakfast", currentLang.code) }}
				li(v-if='item.pre_paid') {{ $t("rooms.prepayment", currentLang.code) }} {{item.pre_paid_information}}
				li(v-if='item.all_inclusive') {{ $t("rooms.allInclusive", currentLang.code) }}
		.col2
				.guest {{ $t("rooms.guestsNumber", currentLang.code) }}: {{guestAmount}}
				//- .best-price Лучшее Предложение!
				//- .warning Остался всего 4 номера по этой цене!
		.col3
			.price-info
				.period {{ $t("hotels.for", currentLang.code) }} {{formateNightsText}}
				.price {{formatePrice(item.prices.display_total)}} {{item.prices.display_price_symbol}}
			.cashback-info CashBack:  {{formatePrice(item.prices.cashback)}} {{item.prices.display_price_symbol}}
			.btn-info
				button.btn(@click.prevent='selectRoom(item)') {{ $t("rooms.reservation", currentLang.code) }}
</template>

<script>
import RoomGallery from "./RoomGallery.vue";
import NoImage from "../../assets/icons/no-images.jpeg";
import Decliner from "../../utils/decliner"
export default {
	name: "room-card",
	props: ["room", "hotel", "name"],
	components: {
		"room-gallery": RoomGallery
	},
	data() {
		return {
			NoImage: NoImage,
			isGalleryShowed: false,
			freeWiFi: 0,
			freeBreakfast: 0
		};
	},
	created() {
		this.room.forEach(el => {
			if (el.free_wifi) {
				this.freeWiFi++;
			}
		});
		if (this.freeWiFi == this.room.length) {
			this.freeWiFi = true;
		}
	},
	methods: {
		formatePrice(price) {
			return Number(price).toFixed(2)
		},
		selectRoom(room) {
			this.$store.commit("setSelectedRoom", room);
			this.$router.push("/purchase-hotel");
		},
		toggleGallery() {
			this.isGalleryShowed = !this.isGalleryShowed;
		}
	},
	computed: {
		days() {
			var from = this.$store.state.hotels.searchInfo.from;
			var to = this.$store.state.hotels.searchInfo.to;
			var res = (Number(to) - Number(from)) / (24 * 60 * 60 * 1000);
			return Math.round(res);
		},
		formateNightsText() {
			var days = this.days ? this.days : 1;
			// Will not work with huge nights count (22+)
			// if (this.currentLang.code == "ru") {
			// 	if (days % 10 == 1) {
			// 		return days + " ночь";
			// 	} else if (days == 2 || days == 3 || days == 4) {
			// 		return days + " ночи";
			// 	} else {
			// 		return days + " ночей";
			// 	}
			// } else {
			// 	if (days == 1) {
			// 		return days + " night";
			// 	} else {
			// 		return days + " nights";
			// 	}
			// }
			let declines = this.$t("hotels.nights", this.currentLangCode);
			return `${days} ${Decliner(this.days, ...declines, this.currentLangCode)}`;
		},
		guestAmount() {
			return this.$store.state.hotels.searchInfo.travelers;
		},
		roomImg() {
			if (this.room[0].thumbnail != null && this.room[0].thumbnail != "") {
				return this.room[0].thumbnail;
			} else if (this.room[0].photos.length > 0) {
				return this.room[0].photos[0];
			} else {
				return NoImage;
			}
		},
		currentCurrency() {
			return this.$store.state.currencies.selectedCurrency;
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	}
};
</script>

<style lang='sass'>

</style>
