<template lang="pug">
	#app
		vue-progress-bar(v-show='preloader.isPreloaderShowed')
		nav( class="navbar" v-if='isNavbarShowed && clearPage && !preloader.isPreloaderShowed')
			div(class='burger' @click.stop='minifySidebar')
				img(src='./assets/icons/burger.svg' )
			a(href='/#/')
				img(src='./assets/icons/logo.svg' class='logo')
			.dropdown
				.dropbtn(@click.stop='toggleLangDropdown' v-click-outside='hideLangDropdown')
					| — {{langs.currentLang.title}}
					.icon
						img(src='./assets/icons/dropdown-icon.svg')
				.dropdown-content(v-if="showLangDropdown")
					a(@click.stop='changeLang(language)' v-for='language in langs.langs')
						| {{ language.title }}
						span(v-html='language.symbol')
			.dropdown
				.dropbtn(@click.stop='toggleCurrencyDropdown' v-click-outside='hideCurrencyDropdown')
					| — {{currencies.selectedCurrency.title}}
					.icon
						img(src='./assets/icons/dropdown-icon.svg')
				.dropdown-content(v-if="showCurrencyDropdown")
					a(@click.stop='changeCurrency(currency)' v-for='currency in currencies.currencies')
						| {{ currency.title }}
						span(v-html='currency.symbol')
			userbar(@showCompanyCard='showCompanyCard' @showCompanyHistory='showCompanyHistory' @showUserHistory='showUserHistory'  @showDeposit="showDeposit" @showUserCard='showUserCard')
		.app-content(v-if='isNavbarShowed && !preloader.isPreloaderShowed' :class="{ 'clear-page': !clearPage }")
			.sidebar(:class="{ minimize: isSidebarMinimize }" v-if="clearPage" v-click-outside="hideSidebar")
				.item
					.title
						img(src="./assets/icons/routes.svg")
						template {{ $t("sidebar.createTrip", langs.currentLang.code) }}
				.item(class='pointer')
					.text
						.air-ticket(:class='{ "is-active": !isHotelsSearch}' @click='setIsHotelsSearch(false)')
							img(src='./assets/icons/white-jet.svg')
							span {{ $t("sidebar.tickets", langs.currentLang.code) }}

				.item(class='pointer')
					.text
						.hotel(:class='{ "is-active": isHotelsSearch}' @click='setIsHotelsSearch(true)')
							img(src='./assets/icons/white-hotel.svg')
							span {{ $t("sidebar.hotels", langs.currentLang.code) }}
				.item.margin-top
					.title(@click='showSidebar') {{ $t("sidebar.menu", langs.currentLang.code) }}
					ul
						li
							a(href='' @click.prevent.stop='showTravelersList') {{ $t("sidebar.travelers", langs.currentLang.code) }}
						li
							a(href='' @click.prevent.stop='showCompanyHistory' v-if='isCompany') {{ $t("sidebar.reservation", langs.currentLang.code) }}
							a(href='' @click.prevent.stop='showUserHistory' v-else='isCompany') {{ $t("sidebar.reservation", langs.currentLang.code) }}
					.cashback-menu.pointer(@click.stop='showDeposit')
						template(v-if='isCompany') {{ $t("sidebar.deposit", langs.currentLang.code) }}:
						template(v-else) Cashback:
						template {{balance}}₽

			.searchbar-panel(v-if='isSearchbarShow && clearPage' :class='{tablet: tabletView}')
				searchbar(@hideNavbar='hideNavbar' :currentLang='langs.currentLang' :shortMonthsLabels='shortMonthsLabels' :isHotelsSearch='isHotelsSearch' :fromDate='fromDate' :toDate='toDate' @hideSearchbar='hideSearchbar' @changeDateRange='changeDateRange' :passengers='passengers')

			router-view(
				:servicesFullList='servicesFullList'
				:currentLang='langs.currentLang'
				:currentCurrency='currencies.selectedCurrency'
				:declensionMonthsLabels='declensionMonthsLabels'
				:currencies='currencies'
				@showTravelerCard='showTravelerCard'
				@openOrderInfo='openOrderInfo'
				@showTravelersList='showTravelersList'
				@enbaleClearPage='enbaleClearPage'
				@disableClearPage='disableClearPage'
				@showCompanyHistory='showCompanyHistory'
				@hideSearchbar='hideSearchbar'
				@showSearchbar='showSearchbar'
				@changeToHotel='changeToHotel'
				@changeToTicket='changeToTicket')
		preloader(
			v-if='preloader.isPreloaderShowed'
			:currentLang='langs.currentLang'
			:isHotelPreloader='isHotelPreloader'
			:fromDate='fromDate'
			:toDate='toDate'
			:shortMonthsLabels='shortMonthsLabels')
		traveler-card(
			v-if="isTravelerCard"
			@hideTravelerCard="hideTravelerCard"
			@travelerRemoved="removePassenger"
			:TravelerCardPassanger='TravelerCardPassanger'
			:currentLang='langs.currentLang')
		user-card(
			v-if="isUserCard"
			:showBlock="showBlockUserCrad"
			@hideUserCard="hideUserCard"
			:currentLang='langs.currentLang' )
		company-card(
			v-if='isCompanyCard'
			:showBlock="showBlockCompanyCrad"
			@hideCompanyCard="hideCompanyCard"
			@showTravelerCard='showTravelerCard')
		traveler-list(
			v-if='isTravelersList'
			@hideTravelersList='hideTravelersList'
			@showTravelerCard='showTravelerCard')
		order-info(
			v-if='isOrderInfo'
			@closeOrderInfo='closeOrderInfo')
</template>

<script>
import { API } from "./api.js";
import currencies from "./gags/currencies";
import axios from "axios";
import Searchbar from "./components/Searchbar";
import Preloader from "./components/Preloader";
import Userbar from "./components/UserBar";
import { mapState, mapMutations } from "vuex";
import TravelerCard from "./components/TravelerCard";
import UserCard from "./components/UserCard";
import CompanyCard from "./components/CompanyCard";
import TravelerList from "./components/travelersList";
import OrderInfo from "./components/OrderInfo";

import VueNotifications from "vue-notifications";

export default {
	name: "app",
	components: {
		searchbar: Searchbar,
		preloader: Preloader,
		"traveler-card": TravelerCard,
		"user-card": UserCard,
		userbar: Userbar,
		"company-card": CompanyCard,
		"traveler-list": TravelerList,
		"order-info": OrderInfo
	},
	data() {
		return {
			isUserCard: false,
			showLangDropdown: false,
			showCurrencyDropdown: false,
			isSidebarMinimize: window.innerWidth <= 1200 ? true : false,
			isNavbarShowed: true,
			isSearchbarShow: true,
			isHotelsSearch: false,
			isTravelerCard: false,
			isCompanyCard: false,
			showBlockCompanyCrad: "",
			showBlockUserCrad: "",
			isTravelersList: false,
			isOrderInfo: false,
			clearPage: true,
			fromDate: "",
			toDate: "",
			TravelerCardPassanger: "",
			travelerReturnToList: false,
			declensionMonthsLabels: [
				"Января",
				"Февраля",
				"Марта",
				"Апреля",
				"Мая",
				"Июня",
				"Июля",
				"Августа",
				"Сентября",
				"Октября",
				"Ноября",
				"Декабря"
			],
			shortMonthsLabels: [
				"Янв",
				"Фев",
				"Мар",
				"Апр",
				"Май",
				"Июнь",
				"Июль",
				"Авг",
				"Сен",
				"Окт",
				"Нояб",
				"Дек"
			],
			servicesFullList: {},
			isHotelPreloader: false
		};
	},
	computed: {
		selectedCurrency() {
			return this.$store.state.currencies.selectedCurrency;
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		passengers() {
			return this.$store.state.passengers.passengers;
		},
		balance() {
			var price = this.$store.getters.getUserBalance();
			var newPrice = price
				.toString()
				.split(".")[0]
				.replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
			return newPrice;
		},
		isCompany() {
			return this.$store.getters.isCompany();
		},
		tabletView() {
			return this.$store.state.params.tabletView;
		},
		...mapState(["langs", "currencies", "preloader"])
	},
	created() {
		//определим язык пользователя и запишем в localstorage
		if (
			localStorage.getItem("PTLanguage") != null ||
			localStorage.getItem("PTCurrency") != null
		) {
			var lang = localStorage.getItem("PTLanguage");
			var currency = localStorage.getItem("PTCurrency");
			if (lang == "ru") {
				API.config.data.lang = "ru";
				var lang = {
					id: 1,
					title: "Русский",
					symbol: "&#x584;",
					code: "ru"
				};
				this.$store.commit("changeLang", lang);
			}
			if (currency == "rub") {
				API.config.data.currency = "rub";
				var currency = {
					id: 1,
					title: "Рубль",
					symbol: "&#8381;",
					code: "rub"
				};
				this.$store.commit("selectCurrency", currency);
			} else if (currency == "eur") {
				API.config.data.currency = "eur";
				var currency = {
					id: 3,
					title: "Euro",
					symbol: "&euro;",
					code: "eur"
				};
				this.$store.commit("selectCurrency", currency);
			} else if (currency == "gbp") {
				API.config.data.currency = "gbp";
				var currency = {
					id: 4,
					title: "Pound",
					symbol: "&pound;",
					code: "gbp"
				};
				this.$store.commit("selectCurrency", currency);
			} else if (currency == "jpy") {
				API.config.data.currency = "jpy";
				var currency = {
					id: 5,
					title: "元",
					symbol: "&#65509;",
					code: "jpy"
				};
				this.$store.commit("selectCurrency", currency);
			}
		} else {
			var userLang = navigator.language || navigator.browserLanguage;
			if (userLang.indexOf("ru") != -1) {
				API.config.data.lang = "ru";
				API.config.data.currency = "rub";
				localStorage.setItem("PTLanguage", "ru");
				localStorage.setItem("PTCurrency", "rub");
				var lang = {
					id: 1,
					title: "Русский",
					symbol: "&#x584;",
					code: "ru"
				};
				this.$store.commit("changeLang", lang);
				var currency = {
					id: 1,
					title: "Рубль",
					symbol: "&#8381;",
					code: "rub"
				};
				this.$store.commit("selectCurrency", currency);
			}
		}

		if (localStorage.getItem("President_Travel_token") != null) {
			API.config = {
				headers: {
					Authorization:
						"Bearer " + localStorage.getItem("President_Travel_token")
				},
				data: {
					lang: this.langs.currentLang.code,
					currency: this.currencies.selectedCurrency.code
				}
			};
		}
		if (this.$router.history.current.path == "/") {
			//ticket
			this.setIsHotelsSearch(false);
		} else if (this.$router.history.current.path == "/hotel-search") {
			//hotel
			this.setIsHotelsSearch(true);
		}
		//инит запрос
		var self = this;
		if (localStorage.getItem("President_Travel_token") != null && this.$route.name !== "gate") {
			API.init()
				.then(response => {
					var initData = {
						name: response.data.name,
						isCompany: response.data.isCompany,
						balance: response.data.balance
					};
					if (response.data.isCompany) initData.companyId = response.data.companyId;
					this.$store.commit("setInitData", initData);
					//для календаря
					this.$store.commit("setEvents", response.data.orders);
					//для записной книги
					var passengers = response.data.travelers;
					passengers.forEach(element => {
						element.isTrip = false;
					});
					this.$store.commit("setPassengers", passengers);

					//для главной список путешественников
					this.$store.commit(
						"setPassengersForMainPage",
						response.data.travelersOrders
					);

					this.$store.commit(
						"setReservationForMainPage",
						response.data.myOrders
					);
				})
				.catch(e => {
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
					}
				});
		}
		// window.addEventListener('resize', function() {
		//    self.isSidebarMinimize = (window.innerWidth < 1201) ? true : false;
		// });
		var self = this;
	},
	methods: {
		test (...args) {console.log(args)},
		...mapMutations(['removePassenger']),
		changeToHotel() {
			this.isHotelsSearch = true;
		},
		changeToTicket() {
			this.isHotelsSearch = false;
		},
		showUserCard() {
			this.scrollToTop(300);
			this.showBlockUserCrad = "";
			this.isUserCard = true;
		},
		hideUserCard() {
			this.isUserCard = false;
		},
		closeOrderInfo() {
			this.isOrderInfo = false;
		},
		openOrderInfo() {
			this.isOrderInfo = true;
		},
		showSidebar() {
			this.isSidebarMinimize = false;
		},
		hideSidebar() {
			if (!this.isSidebarMinimize && window.innerWidth < 1200) {
				this.isSidebarMinimize = true;
			}
		},
		showCompanyTravelers() {
			if (window.innerWidth < 1200) {
				this.isSidebarMinimize = true;
			}
			this.scrollToTop(300);
			this.showBlockCompanyCrad = "showTravelers";
			this.opneCompanyCard();
		},
		showUserTravelers() {
			if (window.innerWidth < 1200) {
				this.isSidebarMinimize = true;
			}
			this.scrollToTop(300);
			this.showBlockUserCrad = "showTravelers";
			this.opneUserCard();
		},
		showTravelersList() {
			this.scrollToTop(300);
			this.isTravelersList = true;
		},
		hideTravelersList() {
			this.isTravelersList = false;
		},
		opneCompanyCard() {
			this.scrollToTop(300);
			this.isCompanyCard = true;
		},
		opneUserCard() {
			this.scrollToTop(300);
			this.isUserCard = true;
		},
		showCompanyHistory() {
			if (window.innerWidth < 1200) {
				this.isSidebarMinimize = true;
			}
			this.scrollToTop(300);

			if (this.$store.state.params.isCompany) {
				this.showBlockCompanyCrad = "showHistory";
				this.opneCompanyCard();
			} else {
				this.showBlockUserCrad = "showHistory";
				this.opneUserCard();
			}
		},
		showUserHistory() {
			if (window.innerWidth < 1200) {
				this.isSidebarMinimize = true;
			}
			this.scrollToTop(300);
			this.showBlockUserCrad = "showHistory";
			this.opneUserCard();
		},
		showCompanyCard() {
			this.scrollToTop(300);
			this.showBlockCompanyCrad = "";
			this.opneCompanyCard();
		},
		showDeposit() {
			if (window.innerWidth < 1200) {
				this.isSidebarMinimize = true;
			}
			this.scrollToTop(300);
			if (this.isCompany) {
				this.showBlockCompanyCrad = "showDeposit";
				this.opneCompanyCard();
			} else {
				this.showBlockUserCrad = "showHistory";
				this.opneUserCard();
			}
		},
		hideCompanyCard() {
			this.isCompanyCard = false;
		},
		toggleLangDropdown() {
			this.showLangDropdown = !this.showLangDropdown;
		},
		toggleCurrencyDropdown() {
			this.showCurrencyDropdown = !this.showCurrencyDropdown;
		},
		hideLangDropdown() {
			if (this.showLangDropdown) {
				this.showLangDropdown = false;
			}
		},
		hideCurrencyDropdown() {
			if (this.showCurrencyDropdown) {
				this.showCurrencyDropdown = false;
			}
		},
		setIsHotelsSearch(flag) {
			if (!flag) {
				this.isSearchbarShow = true;
				this.$router.push("/");
			} else {
				this.$router.push("/hotel-search");
			}
			// self.$router.push("/");
			this.isHotelsSearch = flag;
			this.hideSidebar();
		},
		changeDateRange(fromDate, toDate) {
			this.fromDate = fromDate;
			this.toDate = toDate;
		},
		hideSearchbar() {
			this.isSearchbarShow = false;
		},
		showSearchbar() {
			this.isSearchbarShow = true;
		},
		hideNavbar() {
			this.isNavbarShowed = false;
		},
		showNavbar() {
			this.isNavbarShowed = true;
		},
		enbaleClearPage() {
			this.clearPage = false;
		},
		disableClearPage() {
			this.clearPage = true;
		},
		changeLang(lang) {
			this.hideLangDropdown();
			this.$store.commit("changeLang", lang);
			if (lang.code == "ru") {
				API.config.data.lang = "ru";
				API.config.data.currency = "rub";
				localStorage.setItem("PTLanguage", "ru");
				localStorage.setItem("PTCurrency", "rub");
				var currency = {
					id: 1,
					title: "Рубль",
					symbol: "&#8381;",
					code: "rub"
				};
				this.$store.commit("selectCurrency", currency);
			} else if (lang.code == "en") {
				API.config.data.lang = "en";
				API.config.data.currency = "usd";
				localStorage.setItem("PTLanguage", "en");
				localStorage.setItem("PTCurrency", "usd");
				var currency = {
					id: 2,
					title: "Dollar",
					symbol: "&#36;",
					code: "usd"
				};
				this.$store.commit("selectCurrency", currency);
			}
		},
		changeCurrency(currency) {
			this.hideCurrencyDropdown();
			this.$store.commit("selectCurrency", currency);
			API.config.data.currency = currency.code;
			localStorage.setItem("PTCurrency", currency.code);
		},
		minifySidebar() {
			this.isSidebarMinimize = !this.isSidebarMinimize;
		},
		showTravelerCard(id, returnToList=false) {
			this.isTravelerCard = true;
			this.TravelerCardPassanger = id;
			this.travelerReturnToList = returnToList;
			// this.scrollToTop(300);
		},
		scrollToTop(scrollDuration) {
			const scrollHeight = window.scrollY,
				scrollStep = Math.PI / (scrollDuration / 15),
				cosParameter = scrollHeight / 2;
			var scrollCount = 0,
				scrollMargin,
				scrollInterval = setInterval(function() {
					if (window.scrollY != 0) {
						scrollCount = scrollCount + 1;
						scrollMargin =
							cosParameter - cosParameter * Math.cos(scrollCount * scrollStep);
						window.scrollTo(0, scrollHeight - scrollMargin);
					} else clearInterval(scrollInterval);
				}, 15);
		},
		hideTravelerCard() {
			this.isTravelerCard = false;
			if (this.travelerReturnToList) {
				this.showTravelersList();
				this.travelerReturnToList = false;
			}
		}
	},
	watch: {
		selectedCurrency: function(newCurrency) {
			API.config.data.currency = newCurrency.code;
		},
		currentLang: function(newLang) {
			API.config.data.lang = newLang.code;
		}
	}
};
</script>
<style src="./styles/sass/style.sass" lang="sass">
</style>
