<template>
	<div class="container">
		<small-inner-spinner v-if="loading" class="loader"/>
		<div class="book-error" v-else-if="isDataEmpty">
			<template v-if="responseErrorMessage">
				{{ responseErrorMessage }}
			</template>
			<template v-else>
				{{ defaultErrorMessage }}
			</template>
		</div>
		<div class="hotel-confirm-result" v-else>
			<h1>{{ $t("confirm.thank", currentLangCode) }}</h1>
			<ul class="list">
				<li>
					<div class="ttl">{{ $t("confirm.status", currentLangCode) }}:</div>
					<div class="text">{{ data.booking_status }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.rooms", currentLangCode) }}:</div>
					<div class="text">{{ data.hotel.rooms_count }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("purchase.customer", currentLangCode) }}:</div>
					<div class="text">{{ data.customer.name }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.confirmNum", currentLangCode) }}:</div>
					<!--<div class="text">{{ data.confirmation_code }}</div>-->
					<div class="text passengers-list">
						<p class="passengers-list__item" v-for="room in data.room">{{ room.name }}: {{ room.code }}</p>
					</div>
				</li>
			</ul>
			<div class="info-block">
				<div class="ttl">{{ $t("confirm.info", currentLangCode) }}</div>
				<div class="text">
					<p class="info-block__subheader">{{ $t("confirm.confirmNum", currentLangCode) }}:</p>
					<p class="text">{{ $t("hotels.usedOnCheckIn", currentLangCode) }}</p>
				</div>
			</div>
			<h2>{{ $t("confirm.info", currentLangCode) }}</h2>
			<ul class="list">
				<li>
					<div class="ttl"> {{ $t("confirm.hotelName", currentLangCode) }}:</div>
					<div class="text">{{ data.hotel.name }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.hotelAdress", currentLangCode) }}:</div>
					<div class="text">{{ data.hotel.country }}, {{ data.hotel.city }}, {{ data.hotel.address }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.phone", currentLangCode) }}:</div>
					<div class="text">{{ data.hotel.phone }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.roomType", currentLangCode) }}:</div>
					<div class="text">{{ data.hotel.room_type }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.nights", currentLangCode) }}:</div>
					<div class="text">{{ data.hotel.nights_count }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.checkIn", currentLangCode) }}:</div>
					<div class="text">
						{{ formatDateTime(data.hotel.check_in_time, data.hotel.check_in_date) }}
					</div>
					<!--<div class="text">{{formatedDate(searchInfo.from)}}, до {{selectedHotel.rooms_info.check_in_time}}</div>-->
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.checkOut", currentLangCode) }}:</div>
					<div class="text">
						{{ formatDateTime(data.hotel.check_out_time, data.hotel.check_out_date) }}
					</div>
				</li>
			</ul>
			<h2>{{ $t("confirm.clientInfo", currentLangCode) }}</h2>
			<ul class="list">
				<li>
					<div class="ttl">{{ $t("confirm.name", currentLangCode) }}:</div>
					<div class="text">{{ data.customer.name }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.phone", currentLangCode) }}:</div>
					<div class="text">{{ data.customer.phone }}</div>
				</li>
				<li v-if="data.customer.address">
					<div class="ttl">{{ $t("confirm.adress", currentLangCode) }}:</div>
					<div class="text">{{ data.customer.address }}</div>
				</li>
				<li v-if="data.customer.city">
					<div class="ttl">{{ $t("confirm.city", currentLangCode) }}:</div>
					<div class="text">{{ data.customer.city }}</div>
				</li>
				<li>
					<div class="ttl">email:</div>
					<div class="text">{{data.customer.email}}</div>
				</li>
				<li v-if="data.customer.card_type">
					<div class="ttl">{{ $t("confirm.paymentType", currentLangCode) }}:</div>
					<div class="text">{{ data.customer.card_type }}</div>
				</li>
				<li v-if="data.customer.card_last_four">
					<div class="ttl">{{ $t("confirm.card", currentLangCode) }}:</div>
					<div class="text">ХХХХ-ХХХХ-ХХХХ-{{data.customer.card_last_four}}</div>
				</li>
			</ul>
			<h2>{{ $t("confirm.paymentInfo", currentLangCode) }}</h2>
			<ul class="list">
				<li>
					<div class="ttl">{{ $t("confirm.paymentInfo", currentLangCode) }}:</div>
					<!--<div class="text" v-if='contractInfo.prices.nightly_rate_changes == 0'>{{contractInfo.prices.display_night_price}} {{contractInfo.prices.display_price_symbol}}</div>-->
					<!--<div class="text" v-if='contractInfo.prices.nightly_rate_changes == 1'>-->
					<!--<template v-for='price in contractInfo.prices.display_night_price'>{{price}} </template>-->
					<!--{{contractInfo.prices.display_price_symbol}}-->
					<!--</div>-->
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.rooms", currentLangCode) }}:</div>
					<div class="text">{{ data.hotel.rooms_count }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.nights", currentLangCode) }}:</div>
					<div class="text">{{ data.hotel.nights_count }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.total", currentLangCode) }}:</div>
					<div class="text">{{ formatPrice(data.prices.display_sub_total, data.price) }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.taxes", currentLangCode) }}:</div>
					<div class="text">{{ formatPrice(data.prices.display_taxes, data.price) }}</div>
				</li>
				<li>
					<div class="ttl">{{ $t("confirm.totalCost", currentLangCode) }}:</div>
					<div class="text">{{ formatPrice(data.prices.display_total, data.price) }}</div>
				</li>
			</ul>
			<template v-if="data.policy_data">
				<h2>{{ $t("purchase.policy", currentLangCode) }}</h2>
				<div class="sub-list" v-for="rule in data.policy_data">
					<h4 class="ttl sub-list__ttl">{{ rule.title }}:</h4>
					<div class="text sub-list__text" v-for="paragraph in rule.text" v-html="paragraph"></div>
				</div>
			</template>
			<template v-if="data.taxes_policy_data">
				<h2>{{ data.taxes_policy_data.title }}</h2>
				<p class="rules__ttl" v-html="text" v-for="text in data.taxes_policy_data.text"></p>
			</template>
		</div>
	</div>
</template>
<script>
import Decliner from "../../utils/decliner";
import {API} from "../../api";
import VueNotifications from "vue-notifications";
import SmallInnerSpinner from "../small-spinner";
import BookMixin from "../../utils/bookMixin";

export default {
	name: "HotelResult",
	components: {SmallInnerSpinner},
	mixins: [BookMixin],
	computed: {
		formatedStars() {
			let stars = this.selectedHotel.star_rating;
			let starsTranslated = this.$t("decliner.stars", this.currentLangCode);
			return `${stars} ${Decliner(stars, starsTranslated, this.currentLangCode)}`;
		}
	}
};
</script>

<style lang="sass" scoped src="../../styles/sass/book.sass"></style>
