<template lang="pug">
	.purchase-passenger
		.header(@click='show')
			.avatar
				span {{avatarText}}
			span.name {{ tempNmae }}
			img(src='../../assets/icons/dropdown-icon.svg' :class="{opened:isOpen}").arrow

		.body(v-if='isOpen')
			.inputs-group 
				.large-input
					span.label {{ $t("profile.name", currentLang.code) }}
					input(type='text' placeholder='___' v-model='newpassenger.firstname')
				.large-input
					span.label {{ $t("profile.surname", currentLang.code) }}
					input(type='text' placeholder='___' v-model='newpassenger.lastname')
</template>

<script>
// import TellInput from "../inputs/TelInput.vue";
export default {
	name: "purchase-passenger-new",
	components: {
		// "tell-input": TellInput
	},
	props: ["newpassenger"],
	data() {
		return {
			isOpen: true
		};
	},
	created() {},
	methods: {
		show() {
			this.isOpen = !this.isOpen;
		}
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		avatarText() {
			if (
				this.newpassenger.firstname != "" &&
				!!this.newpassenger.lastname != ""
			) {
				return (
					this.newpassenger.firstname[0].toUpperCase() +
					this.newpassenger.lastname[0].toUpperCase()
				);
			} else {
				return "??";
			}
		},
		tempNmae() {
			if (
				this.newpassenger.firstname != "" &&
				!!this.newpassenger.lastname != ""
			) {
				return this.newpassenger.firstname + " " + this.newpassenger.lastname;
			} else {
				if (this.currentLang.code == "ru") {
					return "Данные пассажира";
				} else {
					return "Traveler profile";
				}
			}
		}
	}
};
</script>

<style lang='sass'>
	


</style>
