<template lang="pug">
	.purchase
		div(class='purchase-title') {{ $t("purchase.purch", currentLangCode) }}
			router-link(to='/hotels' class="back-to-list") {{ $t("purchase.back", currentLangCode) }}
		.purchase-content
			information-sidebar(:selectedHotel='selectedHotel' :selectedRoom='selectedRoom' :searchInfo='searchInfo')
			purchase-hotels(:searchInfo='searchInfo' :selectedRoom='selectedRoom' :selectedHotel='selectedHotel' ref='hotelPurchase')
			.payment-info
				purchase-passengers-list(:isHotel='true' :passengers='passengers' :selectedPass='selectedPassengers' :oldPassengers='oldPassengers' :newPassengers='newPassengers' :buyer="buyer")
				purchase-payment(:card='card' :isHotel='true')
				.payment-checkbox
					input(type="checkbox" id="conditions" v-model='conditions')
					label(for="conditions") {{ $t("purchase.accept", currentLangCode) }}
				button.buy(href="#" @click.prevent="validate" :disabled='disabled')
					template {{ $t("purchase.pay", currentLangCode) }}
					spinner(class='spinner-btn' v-show='disabled')
				p.text {{ $t("purchase.secureInfo", currentLangCode) }}.

</template>

<script>
import PurchasePassengersList from "./PurchasePassengersList.vue";
import PurchaseHotels from "./PurchaseHotels.vue";
import PurchasePayment from "./PurchasePayment.vue";
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import FlightInfo from "../FlightInfo";
import Spinner from "../small-spinner";
import InformationSidebar from "./PurchaseHotelInformationSidebar";
import _ from "lodash";
export default {
	name: "purchaseHotel",
	components: {
		"purchase-passengers-list": PurchasePassengersList,
		"purchase-hotels": PurchaseHotels,
		"purchase-payment": PurchasePayment,
		"flight-info": FlightInfo,
		"information-sidebar": InformationSidebar,
		spinner: Spinner
	},
	mounted() {
		this.$emit("hideSearchbar");
	},
	beforeDestroy() {
		this.$emit("showSearchbar");
	},
	data() {
		const newPassengersCount = (
			this.$store.getters.getNewPassengersCount("adults") +
			this.$store.getters.getNewPassengersCount("children") +
			this.$store.getters.getNewPassengersCount("infants")
		);
		const passengers = this.$store.state.searchparameters.selectedPassengers;
		const passengerTpl = {
			travelerId: "",
			firstname: "",
			lastname: "",
			fathersname: "",
			birthday: "",
			sex: "0",
			sexname: "",
			citizenship: {
				citizenship_country_id: "0",
				county_name: ""
			},
			document: {
				type: "",
				number: "",
				typeName: ""
			},
			email: "",
			phone: ""
		}
		let newPassengers = [];
		let selectedPassengers = [];
		while (newPassengers.length < newPassengersCount) {
			let newItem = {
				id: newPassengers.length,
				firstname: "",
				lastname: "",
			};
			newPassengers.push(newItem);
		}
		for (let passenger of passengers) selectedPassengers.push(_.defaults(passenger, passengerTpl));
		return {
			conditions: false,
			allValid: true,
			disabled: false,
			buyer: {
				phone: "",
				email: "",
				firstName: "",
				lastName: "",
				country: "",
				city: "",
				street: "",
				zip: "",
				birthday: "",
				sex: ""
			},
			oldPassengers: [],
			card: {
				number: "",
				month: "",
				year: "",
				name: "",
				cvv: ""
			},
			newPassengers,
			selectedPassengers
		};
	},
	computed: {
		contractInfo() {
			return this.$store.state.hotels.contractInfo;
		},
		totalPassangersCount() {
			return this.$store.state.hotels.searchInfo.travelers;
		},
		searchInfo() {
			return this.$store.state.hotels.searchInfo;
		},
		selectedRoom() {
			return this.$store.state.hotels.selectedRoom;
		},
		selectedHotel() {
			return this.$store.getters.getSelectedHotel;
		},
		passengers() {
			return this.$store.state.flights.passengersForFlight;
		},
		getSelectedPass() {
			return this.$store.getters.getSelectedPass();
		}
	},
	methods: {
		validate() {
			this.allValid = true;
			// условия
			// TODO; copy to purchaseRegistration
			//покупатель
			if (this.buyer.phone === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.phoneRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.email === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.emailRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.firstName === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.nameRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.lastName === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.lastnameRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.country === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.countryRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.city === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.cityRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.street === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.streetRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.zip === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.postCodeRequired",
						this.currentLangCode
					)
				});
			}
			//карта
			if (this.card.number === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.cardNumberRequired",
						this.currentLangCode
					)
				});
			}
			if (this.card.number.length < 13) {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.curdNumberRules",
						this.currentLangCode
					)
				});
			}
			if (this.card.month === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.monthRequired",
						this.currentLangCode
					)
				});
			}
			if (this.card.month.length !== 2) {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t("validation.monthRules", this.currentLangCode)
				});
			}
			if (this.card.year === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.yearRequired",
						this.currentLangCode
					)
				});
			}
			if (this.card.year.length !== 4) {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t("validation.yearRules", this.currentLangCode)
				});
			}
			if (this.card.cvv === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t("validation.cvvRequired", this.currentLangCode)
				});
			}
			if (this.card.cvv.length !== 3) {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t("validation.cvvRules", this.currentLangCode)
				});
			}
			if (this.card.name === "") {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.ownerRequired",
						this.currentLangCode
					)
				});
			}
			this.newPassengers.forEach((element, index) => {
				if (element.lastname === "") {
					this.allValid = false;
					VueNotifications.error({
						message: this.$i18n.t("validation.passName", this.currentLangCode)
					});
				}
				if (element.firstname === "") {
					this.allValid = false;
					VueNotifications.error({
						message: this.$i18n.t(
							"validation.passSurname",
							this.currentLangCode
						)
					});
				}
			});
			if (!this.conditions) {
				this.allValid = false;
				VueNotifications.error({
					message: this.$i18n.t(
						"validation.offerRequired",
						this.currentLangCode
					)
				});
			}

			if (this.allValid) {
				this.pay();
			}
		},
		pay() {
			this.disabled = true;
			var obj = {
				history_id: this.$store.state.hotels.history_id,
				ppnBundle: this.contractInfo.ppn_bundle,
				firstName: this.buyer.firstName,
				lastName: this.buyer.lastName,
				birthday: this.buyer.birthday,
				sex: this.buyer.sex,
				email: this.buyer.email,
				phone: this.buyer.phone.replace(/[(,+,\-,\s)]/g, ""),
				guests: this.newPassengers.concat(this.selectedPassengers),
				cardNumber: this.card.number.replace(/\s/g, ""),
				cvcCode: this.card.cvv,
				cardExpires: String(this.card.month) + String(this.card.year),
				cardHolder: this.card.name,
				countryCode: this.buyer.country,
				city: this.buyer.city,
				street: this.buyer.street,
				postalCode: this.buyer.zip
			};

			console.log(obj);
			API.reserveHotel(obj)
				.then(response => {
					if (response.data.status === "success") {
						this.$store.commit("setConfirmInfo", response.data.data);
						this.$router.push(`/hotel/${this.$store.state.hotels.history_id}`);
					} else {
						console.log(response);
					}
					this.disabled = false;
				})
				.catch(e => {
					this.disabled = false;
					if (e.response && e.response.status === 422) {
						//ошибка валидации
						e.response.data.data.forEach(element => {
							VueNotifications.error({ message: element.message });
						});
					} else if (e.response) VueNotifications.error({message: e.response.data.error});
					else console.log(e);
				});
		},
		getFromStore(id) {
			return this.$store.getters.getFullInfoAboutPassangers(id);
		},
		getFromServer(id) {
			//запрос на сервер
			console.log(id);
		}
	}
};
</script>

<style lang='sass'>
	.buy
		position: relative
		.spinner-btn
			position: absolute !important;
			top: 50%
			left: 50%
			transform: translate(-100px, -50%)
</style>
