<template lang="pug">
	.purchase
		template(v-if="loading")
			spinner.loader
		template(v-else)
			div.purchase-title {{ $t("purchase.purch", currentLangCode) }}
				router-link.back-to-list(to='/ticket-selection') {{ $t("purchase.back", currentLangCode) }}
			.purchase-content
				purchase-tickets(@openFlightInfo='openFlightInfo', :contract="contractInfo")
				.payment-info
					purchase-passengers-list( :isHotel='false' :passengers='passengers' :selectedPass='selectedPassengers' :oldPassengers='oldPassengers' :newPassengers='newPassengers' :buyer="buyer")
					purchase-payment(
									:card='card'
									:isHotel='false'
									:cost="contractInfo.priceInfo.displayTotalFare"
									:taxes="contractInfo.priceInfo.displayTotalTaxes"
									:cashback="contractInfo.priceInfo.cashback"
									:baseFare="contractInfo.priceInfo.displayBaseFare"
									:ticketsAmount="ticketsAmount")
					.payment-checkbox
						input(type="checkbox" id="conditions" v-model="rulesAccepted")
						label(for="conditions") {{ $t("purchase.accept", currentLangCode) }}
					a.buy(href="#" @click.prevent="pay") {{ $t("purchase.pay", currentLangCode) }}
					p.text {{ $t("purchase.secureInfo", currentLangCode) }}.
			flight-info(
				v-if='isFlightInfo'
				:flightOfFlightInfo='flightOfFlightInfo'
				@closeFlightInfo='closeFlightInfo')
</template>

<script>
import PurchasePassengersList from "./PurchasePassengersList.vue";
import PurchaseTickets from "./PurchaseTickets.vue";
import PurchasePayment from "./PurchasePayment.vue";
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import FlightInfo from "../FlightInfo";
import Spinner from "../small-spinner";
import {mapGetters} from "vuex";
import _ from "lodash";

export default {
	name: "purchase",
	components: {
		"purchase-passengers-list": PurchasePassengersList,
		"purchase-tickets": PurchaseTickets,
		"purchase-payment": PurchasePayment,
		"flight-info": FlightInfo,
		Spinner
	},
	mounted() {
		if (window.innerWidth <= 1200) {
			this.$emit("hideSearchbar");
		}
	},
	beforeDestroy() {
		if (window.innerWidth <= 1200) {
			this.$emit("showSearchbar");
		}
	},
	created () {
		if (typeof this.contractInfo === "undefined") this.loadContractInfo();
		else this.loading = false
	},
	// mounted() {
	// 	// console.log(this.$store);
	// 	/* this.getSelectedPass.forEach(element => {
	// 		if (element.loadedDetailInfo == undefined) {
	// 			//нужно загружать данные пассажира
	// 			this.getFullInfoPassanger(element);
	// 		} else {
	// 			//не нужно загружать данные
	// 			this.oldPassengers.push(element);
	// 		}
	// 	}); */
	// },
	data() {
		const templatePassenger = {
			document_number: "",
			citizenship_id: "",
			travelerId: "",
			firstname: "",
			fathersname: "",
			lastname: "",
			birthday: "",
			email: "",
			phone: "",
			sex: "",
			citizenship: {
				citizenship_country_id: ""
			},
			document: {
				type: "",
				number: "",
				typeName: ""
			},
			preferenceCards: [],
			preferenceAirport: [],
			preferenceAirlines: [],
			orders: []
		}
		const newPassengersCount = (
			this.$store.getters.getNewPassengersCount("adults") +
			this.$store.getters.getNewPassengersCount("children") +
			this.$store.getters.getNewPassengersCount("infants")
		);
		let newPassengers = [];
		// Deep clone needed 'cause tpl isn't flat
		while (newPassengers.length < newPassengersCount) {
			let newItem = _.cloneDeep(templatePassenger);
			newItem.id = newPassengers.length;
			newPassengers.push(newItem);
		}
		let selectedPassengers = _.cloneDeep(this.$store.getters.getSelectedPass());
		selectedPassengers.map(passenger => _.defaults(passenger, _.cloneDeep(templatePassenger)));
		return {
			flightOfFlightInfo: "",
			isFlightInfo: false,
			loading: true,
			buyer: {
				phone: "",
				email: "",
				firstName: "",
				lastName: "",
				country: "",
				city: "",
				street: "",
				zip: "",
				sex: "",
				birthday: ""
			},
			oldPassengers: [],
			card: {
				number: "",
				month: "",
				year: "",
				name: "",
				cvv: ""
			},
			rulesAccepted: false,
			newPassengers,
			selectedPassengers
		};
	},
	watch: {
		"$store.state.currencies.selectedCurrency": {
			handler () {
				this.loadContractInfo()
			},
			deep: true
		}
	},
	computed: {
		...mapGetters({contractInfo: "getCurrentContractInfo"}),
		ticketsAmount () {
			return this.newPassengers.length + this.selectedPassengers.length
		},
		passengers() {
			return this.$store.state.flights.passengersForFlight;
		}
	},
	methods: {
		loadContractInfo () {
			this.loading = true;
			const payload = {
				searchId: this.$store.state.flights.searchId,
				tripHash: this.$store.state.flights.selectedFlights[0].tripHash
			};
			const networkError = (message = "Ошибка при загрузке данных", debug) => {
				this.badResponse = true;
				VueNotifications.error({message});
				// TODO: remove debug on production
				console.log(debug);
			};
			API.getContractInfo(payload)
				.then(response => {
					if (response.data.status === "success") {
						let contract = payload;
						contract.data = response.data.data;
						this.$store.commit("addContract", contract)
					} else {
						networkError(undefined, response)
					}
				})
				.catch(e => {
					if (e.response.error) networkError(e.response.error);
					else networkError(undefined, e);
				})
				.finally(() => this.loading = false)
		},
		closeFlightInfo() {
			if (this.isFlightInfo) {
				this.isFlightInfo = false;
				//надо вернуть скролл
				document.body.style.overflowY = "auto";
			}
		},
		openFlightInfo(flight) {
			if (!this.isFlightInfo) {
				this.isFlightInfo = true;
				//уберем скролл основного экрана
				document.body.style.overflowY = "hidden";
			}
			this.flightOfFlightInfo = flight;
		},
		pay() {
			let valid = true;
			if (this.buyer.phone === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.phoneRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.email === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.emailRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.firstName === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.nameRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.lastName === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.lastnameRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.country === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.countryRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.city === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.cityRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.street === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.streetRequired",
						this.currentLangCode
					)
				});
			}
			if (this.buyer.zip === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.postCodeRequired",
						this.currentLangCode
					)
				});
			}
			//карта
			if (this.card.number === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.cardNumberRequired",
						this.currentLangCode
					)
				});
			}
			if (this.card.number.length < 13) {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.curdNumberRules",
						this.currentLangCode
					)
				});
			}
			if (this.card.month === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.monthRequired",
						this.currentLangCode
					)
				});
			}
			if (this.card.month.length !== 2) {
				valid = false;
				VueNotifications.error({
					message: this.$t("validation.monthRules", this.currentLangCode)
				});
			}
			if (this.card.year === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.yearRequired",
						this.currentLangCode
					)
				});
			}
			if (this.card.year.length !== 4) {
				valid = false;
				VueNotifications.error({
					message: this.$t("validation.yearRules", this.currentLangCode)
				});
			}
			if (this.card.cvv === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t("validation.cvvRequired", this.currentLangCode)
				});
			}
			if (this.card.cvv.length !== 3) {
				valid = false;
				VueNotifications.error({
					message: this.$t("validation.cvvRules", this.currentLangCode)
				});
			}
			if (this.card.name === "") {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.ownerRequired",
						this.currentLangCode
					)
				});
			}
			if (!this.rulesAccepted) {
				valid = false;
				VueNotifications.error({
					message: this.$t(
						"validation.offerRequired",
						this.currentLangCode
					)
				});
			}
			if (valid) {
				let obj = {
					searchId: this.$store.state.flights.searchId,
					tripHash: this.$store.state.flights.selectedFlights[0].tripHash,
					ppnBundle: this.contractInfo.ppnBundle,
					email: this.buyer.email,
					phone: this.buyer.phone,
					firstName: this.buyer.firstName,
					lastName: this.buyer.lastName,
					countryCode: this.buyer.country,
					birthday: this.buyer.birthday,
					gender: this.buyer.sex,
					city: this.buyer.city,
					address: this.buyer.street,
					postalCode: this.buyer.zip,
					passengers: this.newPassengers.concat(this.selectedPassengers),
					cardNumber: this.card.number.replace(/\s/g, ""),
					cardExpiresYear: this.card.year,
					cardExpiresMonth: this.card.month,
					cardHolder: this.card.name,
					cvcCode: this.card.cvv
				};
				console.log(obj);
				let notify = errors => {
					if (errors.hasOwnProperty('passengers')) {
						for (let passenger of errors.passengers) {
							for (let field in passenger) {
								if (passenger.hasOwnProperty(field)) {
									for (let error of passenger[field]) {
										VueNotifications.error({
											title: 'Passenger',
											message: error
										});
									}
								}
							}
						}
						delete errors.passengers
					}
					for (let error in errors) {
						if (errors.hasOwnProperty(error)) {
							VueNotifications.error({message: errors[error]})
						}
					}
				};
				API.buyFlight(obj)
					.then(response => {
						if (response.data.status === "success") this.$router.push(`/ticket/${response.data.data.orderId}`);
						else if (response.data.status === "error") {
							//ошибки валидации пассажира
							console.log(response.data);
							const errors = response.data.data;
							notify(errors)
						} else {
							console.log("error" + data);
						}
					})
					.catch(e => {
						if (e.response && e.response.status === 422) notify(e.response.data.data);
						else if (e.response) VueNotifications.error({message: e.response.data.error});
						else console.log(e);
					})
			}
		},
		/* getFullInfoPassanger(passenger) {
			// надо грузить
			self = this;
			var reqData = {
				travelerId: passenger.travelerId
			};
			API.getTrevelersInfo(reqData)
				.then(response => {
					if (response.data.status == "success") {
						//мы получили все данные пассажира
						//запишем их в стор
						var newPass = Object.assign(
							{},
							this.templatePassemger,
							passenger,
							response.data.data
						);
						var updateData = {
							id: passenger.travelerId,
							data: newPass
						};

						this.oldPassengers.push(newPass);

						this.$store.commit("updateTravelerInfo", updateData);
					} else {
						VueNotifications.error({
							message: "Ошибка при загрузке данных пассажира"
						});
					}
				})
				.catch(e => {
					if (e.response) {
						VueNotifications.error({
							message: "Ошибка при загрузке данных данных пассажира"
						});
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
						VueNotifications.error({
							message: "Ошибка при загрузке данных данных пассажира"
						});
					}
				});
		}, */
		getFromStore(id) {
			return this.$store.getters.getFullInfoAboutPassangers(id);
		},
		getFromServer(id) {
			//запрос на сервер
			console.log(id);
		}
	}
};
</script>

<style lang='sass' scoped>
	.loader
		display: block !important
		margin: 20px auto
	.buy
		text-transform: uppercase
</style>
