<template lang="pug">
	.purchase-passenger
		.header(@click='show')
			.avatar
				span {{avatarText}}

			span.name {{ tempNmae }}
			img(src='../../assets/icons/dropdown-icon.svg' :class="{opened:isOpen}").arrow

		.body(v-if='isOpen')
			.inputs-group
				.large-input
					span.label {{ $t("profile.surname", this.currentLangCode) }}
					input(type='text' placeholder='___' v-model='newpassenger.lastname')
				.large-input
					span.label {{ $t("profile.name", this.currentLangCode) }}
					input(type='text' placeholder='___' v-model='newpassenger.firstname')
				.large-input
					span.label {{ $t("profile.patronymic", this.currentLangCode) }}
					input(type='text'  placeholder='___' v-model='newpassenger.fathersname')
				.large-input
					span.label {{ $t("profile.birthDate", this.currentLangCode) }}
					input(type='text' v-mask="'##.##.####'" placeholder='00.00.0000'  :value="tempBitrthday" @input="birthday($event.target.value)")
				.large-input
					span.label {{ $t("profile.sex", this.currentLangCode) }}
					.dropdown(v-click-outside="closeDropdownSex" :class="{open: showDropdownSex}")
						.dropbtn(@click='openDropdownSex') {{selectedGender}}
						.dropdown-content(v-show='showDropdownSex')
							div(@click='selectGender("0")' class="pointer item" v-if='newpassenger.sex !== 0') {{ $t("gender.woman", currentLangCode) }}
							div(@click='selectGender("1")' class="pointer item" v-if='newpassenger.sex !== 1') {{ $t("gender.man", currentLangCode) }}
				.large-input
					span.label {{ $t("profile.documentType", this.currentLangCode) }}
					.dropdown(v-click-outside="closeDropdownPassport" :class="{open: showDropdownPassport}")
						.dropbtn(@click='openDropdownPassport')
							template {{ documentTypeName }}
						.dropdown-content(v-show='showDropdownPassport')
							div(@click='selectPasport(pasport)' class="pointer item" v-for='pasport in documentType' v-show="pasport.type !== newpassenger.document.type")
									template {{ pasport.type === 1 ? $t("profile.passport", currentLangCode) : $t("profile.intPassport", currentLangCode)}}

				.large-input
					span.label {{ $t("profile.documentSN", this.currentLangCode) }}
					input(type='text' placeholder='___' v-model='newpassenger.document.number')


				.large-input
					span.label {{ $t("profile.citizenship", this.currentLangCode) }}
					autocomplete.dropdown(:class-list="citizenshipClasses",
										:list="citizenships"
										v-model="selectedCountry")
				.large-input
					span.label Email
					input(type='text' placeholder='Email' v-model='newpassenger.email')
				.large-input
					//- tell-input(:initValue='newpassenger.phone')
					span.label {{ $t("profile.phone", this.currentLangCode) }}
					input(type='text' v-mask="'+7(###) ##-##-###'" placeholder='+7(___) ___-__-__' v-model='newpassenger.phone')



</template>

<script>
// import TellInput from "../inputs/TelInput.vue";
import Autocomplete from "../plain/autocomplete";
export default {
	name: "purchase-passenger-new",
	components: {
		Autocomplete
		// "tell-input": TellInput
	},
	props: ["newpassenger"],
	data() {
		return {
			phone: "",
			documentType: [
				{
					type: 0,
					typeName: "Загран"
				},
				{
					type: 1,
					typeName: "Внутренний"
				}
			],
			tempBitrthday: "",
			showDropdownSex: false,
			showDropdownPassport: false,
			showDropdownBonusCard: false,
			isOpen: false,
			sex: "",

			//remove after all
			selectedPassport: {
				type: "",
				typeName: "",
				number: "",
				expires: ""
			},
			selectedBonusCard: {
				name: "",
				number: "",
				preferenceCardId: ""
			},
			citizenshipClasses: {
				dropdownWrapper: "dropdown-content citizenship",
				dropdown: "ovh-wrapper",
				dropdownItem: "pointer item"
			},
			selectedCountry: {}
		};
	},
	mounted() {
		if (this.newpassenger.birthday != "") {
			this.tempBitrthday = this.newpassenger.birthday.replace(/-/g, ".");
		}
	},
	methods: {
		birthday(day) {
			this.tempBitrthday = day;
			this.newpassenger.birthday = day.replace(/\./g, "-");
		},
		selectBonusCard(card) {
			this.selectedBonusCard.name = card.name;
			this.selectedBonusCard.number = card.number;
			this.selectedBonusCard.preferenceCardId = card.preferenceCardId;
			this.closeDropdownBonusCard();
		},
		openDropdownBonusCard() {
			this.showDropdownBonusCard = !this.showDropdownBonusCard;
		},
		closeDropdownBonusCard() {
			this.showDropdownBonusCard = false;
		},
		closeDropdownPassport() {
			this.showDropdownPassport = false;
		},
		openDropdownPassport() {
			this.showDropdownPassport = !this.showDropdownPassport;
		},
		openDropdownSex() {
			this.showDropdownSex = !this.showDropdownSex;
		},
		closeDropdownSex() {
			this.showDropdownSex = false;
		},
		show() {
			this.isOpen = !this.isOpen;
		},
		selectGender(gender) {
			this.closeDropdownSex();
			this.$set(this.newpassenger, "sex", gender);
			this.sex = gender
		},
		selectPasport(pasport) {
			this.closeDropdownPassport();
			this.newpassenger.document.type = pasport.type;
			this.newpassenger.document.typeName = pasport.typeName;
		}
	},
	computed: {
		documentTypeName () {
			return this.newpassenger.document.type === 1
				? this.$t("profile.passport", this.currentLangCode)
				: this.$t("profile.intPassport", this.currentLangCode);

		},
		citizenships() {
			return this.$store.state.params.citizenships;
		},
		avatarText() {
			if (
				this.newpassenger.firstname != "" &&
				!!this.newpassenger.lastname != ""
			) {
				return (
					this.newpassenger.firstname[0].toUpperCase() +
					this.newpassenger.lastname[0].toUpperCase()
				);
			} else {
				return "??";
			}
		},
		tempNmae() {
			if (
				this.newpassenger.firstname != "" &&
				!!this.newpassenger.lastname != ""
			) {
				return this.newpassenger.firstname + " " + this.newpassenger.lastname;
			} else {
				return this.$t("purchase.passInfo", this.currentLangCode);
			}
		},
		selectedGender() {
			if (this.sex === "1") {
				return this.$t("gender.man", this.currentLangCode);
			} else if (this.sex === "0") {
				return this.$t("gender.woman", this.currentLangCode);
			} else {
				return "";
			}
		}
	},
	watch: {
		selectedCountry ({id, name}) {
			this.newpassenger.citizenship.citizenship_country_id = id || "";
			this.newpassenger.citizenship.county_name = name || "";
		}
	}
};
</script>

<style lang='sass'>



</style>
