<template lang="pug">
	.inputs-group
		.loading(v-if='loadingUserData')
			spinner(color='red')
		.large-input(:class='{blur:loadingUserData}')
			span.label {{ $t("profile.name", currentLangCode) }}
			input.text(v-model='buyer.firstName' placeholder='___')
		.large-input(:class='{blur:loadingUserData}')
			span.label {{ $t("profile.surname", currentLangCode) }}
			input.text(v-model="buyer.lastName" placeholder='___')
		.large-input(:class='{blur:loadingUserData}' v-if="!isCompany")
			span.label {{ $t("profile.birthDate", currentLangCode) }}
			input(type='text' v-mask="'##.##.####'" placeholder='00.00.0000' :value="displayBirthday" @input="birthday($event.target.value)")
		.large-input(:class='{blur:loadingUserData}' v-if="!isCompany")
			span.label {{ $t("profile.sex", currentLangCode) }}
			.dropdown(v-click-outside="closeDropdownSex" :class="{open: showDropdownSex}")
				.dropbtn(@click='showDropdownSex = true') {{selectedGender}}
				.dropdown-content(v-show='showDropdownSex')
					div(@click='selectGender("0")' class="pointer item" v-show='user.sex !== "0"') {{ $t("gender.woman", currentLangCode) }}
					div(@click='selectGender("1")' class="pointer item" v-show='user.sex !== "1"') {{ $t("gender.man", currentLangCode) }}
		.large-input(:class='{blur:loadingUserData}')
			span.label {{ $t("profile.phone", currentLangCode) }}
			input(type='text' v-mask="'+7(###) ###-##-##'" placeholder='+7(___) ___-__-__' v-model='phone' )
			//- masked-input(
			//- 	type="tel"
			//- 	placeholder="+7(___) ___-__-__"
			//- 	:mask="['+', '7', ' ', '(', /[1-9]/, /\d/, /\d/, ')',/\d/,/\d/, /\d/, '-', /\d/, /\d/, '-',/\d/, /\d/]"

			//- 	v-model='phone'
			//- 	)

		.large-input(:class='{blur:loadingUserData}')
			span.label Email
			input(type='text' placeholder='Email' v-model='buyer.email')
		.large-input.pointer(:class='{blur:loadingUserData}')
			span.label {{ $t("profile.citizenship", currentLangCode) }}
			autocomplete.dropdown(:list="countries"
								:classList="citizenshipClasses"
								v-model="selectedCountry")
		.large-input(:class='{blur:loadingUserData}')
			span.label {{ $t("profile.city", currentLangCode) }}
			input(type='text' placeholder='___' v-model='buyer.city')
		.large-input(:class='{blur:loadingUserData}')
			span.label {{ $t("profile.street", currentLangCode) }}
			input(type='text' placeholder='___' v-model='buyer.street')
		.large-input(:class='{blur:loadingUserData}')
			span.label {{ $t("profile.postalCode", currentLangCode) }}
			input(type='text' placeholder='___' v-model='buyer.zip')
</template>
<script>
import VueNotifications from "vue-notifications";
import { API } from "../../api.js";
import Spinner from "../small-spinner";
import Autocomplete from "../plain/autocomplete";
export default {
	name: "PurchaseBuyer",
	components: {
		Autocomplete,
		spinner: Spinner
	},
	props: ["user", "company", "buyer"],
	data() {
		return {
			loadingUserData: false,
			phone: "",
			displayBirthday: this.buyer.birthday.split(".").join("-"),
			showDropdownSex: false,
			selectedCountry: {},
			citizenshipClasses: {
				dropdownWrapper: "dropdown-content citizenship",
				dropdown: "ovh-wrapper",
				dropdownItem: "pointer item"
			}
		};
	},
	created() {
		//нужно загрузить данные покупателя
		if (this.isCompany == 0) {
			//физ лицо
			if (!this.getUserFullInfo.dataLoaded) {
				//нужно загрузить данные пассажира
				this.loadingUserData = true;

				API.getUserInfo()
					.then(response => {
						response.data.status
						if (response.data.status == "success") {
							this.loadingUserData = false;
							//мы получили все данные пассажира
							//персональные данные
							this.user.dataLoaded = true;
							var buyer = Object.assign({}, this.user, response.data.data);
							//сохраняем в стор!!!!!!
							this.$store.commit("updateUserInfo", buyer);

							//карты предпочтений
							if (
								!!response.data.data.preferences &&
								!!response.data.data.preferences.airlines
							) {
								this.user.preferences.airlines.forEach(element => {
									element.preferenceAirlineId = element.id;
									this.$set(element, "isEdit", false);
								});
							} else {
								// this.user.preferences.airlines = [];
								this.$set(this.user.preferences, "airlines", []);
							}

							if (
								!!response.data.data.preferences &&
								!!response.data.data.preferences.airports
							) {
								this.user.preferences.airports.forEach(element => {
									this.$set(element, "isEdit", false);
									element.preferenceAirportId = element.id;
								});
							} else {
								// this.user.preferences.airports = [];
								this.$set(this.user.preferences, "airports", []);
							}

							if (
								!!response.data.data.preferences &&
								!!response.data.data.preferences.cards
							) {
								this.user.preferences.cards.forEach(element => {
									this.$set(element, "isEdit", false);
									element.preferenceCardId = element.id;
								});
							} else {
								// this.user.preferences.cards = [];
								this.$set(this.user.preferences, "cards", []);
							}
							//заказы
							if (!!response.data.data.orders) {
								response.data.data.orders.forEach(element => {
									this.user.orders.push(element);
								});
							}
							this.buyer.phone = response.data.data.phone;
							this.phone = this.buyer.phone;
							this.buyer.email = response.data.data.email;
							this.buyer.firstName = response.data.data.firstname;
							this.buyer.lastName = response.data.data.lastname;
						} else {
							this.loadingUserData = false;
							VueNotifications.error({
								message: this.$t("errors.buyerDataFetch", this.currentLangCode)
							});
						}
					})
					.catch(e => {
						this.loadingUserData = false;
						VueNotifications.error({
							message: this.$t("errors.buyerDataFetch", this.currentLangCode)
						});
						if (e.response) {
							this.loadingUserData = false;
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						} else {
							console.log(e);
						}
					});
			} else {
				this.buyer.firstName = this.buyerFirstName;
				this.buyer.lastName = this.buyerLastName;
				this.buyer.phone = this.buyerPhone;
				this.buyer.email = this.buyerEmail;
				this.phone = this.buyer.phone;
			}
		} else {
			//юр лицо
			Object.assign(this.company, this.getCompanyInfo);
			if (!this.company.dataLoaded) {
				//нужно загрузить данные пассажира
				this.loadingUserData = true;
				console.log(this.$store.state.params.companyId)
				API.getCompanyInfo({ company_id: this.$store.state.params.companyId })
					.then(response => {
						this.loadingUserData = false;
						if (response.data.status === "success") {
							//мы получили все данные пассажира
							//персональные данные
							Object.assign(this.company, response.data.data.data);
							//карты предпочтений
							this.company.deposit.amount = response.data.data.deposit.amount;

							//заказы
							response.data.data.orders.forEach(element => {
								this.company.orders.push(element);
							});

							this.company.dataLoaded = true;

							this.buyer.name = this.buyerName;
							this.buyer.phone = this.buyerPhone;
							this.buyer.email = this.buyerEmail;
						} else {
							VueNotifications.error({
								message: this.$t("errors.companyDataFetch", this.currentLangCode)
							});
						}
					})
					.catch(e => {
						this.loadingUserData = false;
						VueNotifications.error({
							message: this.$t("errors.companyDataFetch", this.currentLangCode)
						});
						if (e.response) {
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						} else {
							console.log(e);
						}
					});
			} else {
				this.buyer.name = this.buyerName;
				this.buyer.phone = this.buyerPhone;
				this.buyer.email = this.buyerEmail;
			}
		}
	},
	computed: {
		countries() {
			if (this.currentLangCode == "ru") {
				return this.$store.state.params.citizenships
					.sort((a, b) => {
						if (a.name < b.name) {
							return -1;
						}
						if (a.name > b.name) {
							return 1;
						}
						return 0;
					})
			} else {
				return this.$store.state.params.citizenships
					.sort((a, b) => {
						if (a.nameEn < b.nameEn) {
							return -1;
						}
						if (a.nameEn > b.nameEn) {
							return 1;
						}
						return 0;
					})
			}
		},
		getUserFullInfo() {
			return this.$store.getters.getUserFullInfo();
		},
		isCompany() {
			return this.$store.state.params.isCompany;
		},
		buyerFirstName() {
			if (this.isCompany) {
				return "";
			} else {
				return typeof this.$store.state.params.userInfo.firstname === "undefined"
					? ""
					: this.$store.state.params.userInfo.firstname;
			}
		},
		buyerLastName() {
			if (this.isCompany) {
				return "";
			} else {
				return typeof this.$store.state.params.userInfo.lastname === "undefined"
					? ""
					: this.$store.state.params.userInfo.lastname;
			}
		},
		buyerName() {
			if (this.isCompany) {
				return this.company.ceo == undefined ? "" : this.company.ceo;
			} else {
				return (
					(this.user.firstname == undefined ? "" : this.user.firstname) +
					" " +
					(this.user.lastname == undefined ? "" : this.user.lastname)
				).trim();
			}
		},
		buyerPhone() {
			if (this.isCompany) {
				return this.company.phone == undefined ? "" : this.company.phone;
			} else {
				return this.$store.state.params.userInfo.phone == undefined
					? ""
					: this.$store.state.params.userInfo.phone;
			}
		},
		buyerEmail() {
			if (this.isCompany) {
				return this.user.email == undefined ? "" : this.user.email;
			} else {
				return this.$store.state.params.userInfo.email == undefined
					? ""
					: this.$store.state.params.userInfo.email;
			}
		},
		selectedGender() {
			if (this.buyer.sex === "") return "";
			let gender = Number(this.buyer.sex);
			if (gender === 1) {
				return this.$t("gender.man", this.currentLangCode);
			} else if (gender === 0) {
				return this.$t("gender.woman", this.currentLangCode);
			} else {
				return "";
			}
		}
	},
	watch: {
		phone: function(newphone) {
			this.buyer.phone = newphone.replace(/[(,+,\-,\s)]/g, "");
		},
		selectedCountry ({code}) {
			this.buyer.country = code || ""
		}
	},
	methods: {
		openDropdownCountry() {
			this.showDropdownCountry = true;
		},
		closeDropdownCountry() {
			if (this.buyer.country === "") {
				this.selectedCountryName = "";
			}
			this.showDropdownCountry = false;
		},
		setBuyerPhone(e) {
			this.buyer.phone = e.target.value;
		},
		setBuyerEmail(e) {
			this.buyer.email = e.target.value;
		},
		birthday(day) {
			this.displayBirthday = day;
			this.buyer.birthday = day.replace(/\./g, "-");
		},
		selectGender(gender) {
			this.closeDropdownSex();
			console.log(gender)
			this.buyer.sex = gender;
		},
		closeDropdownSex() {
			this.showDropdownSex = false;
		},
	}
};
</script>
