<template lang="pug">
  .informational-sidebar
    router-link.link(to='/hotels')
      img(src='../../assets/icons/left-arrow.svg')
      span {{ $t("hotels.searchResutl", currentLangCode) }}
    .title
      span(class='place') {{searchInfo.country}}, {{searchInfo.city}}
      h3 {{ selectedHotel.name }}
      a(href='#' class='redirect' @click.prevent='scrollToMap' )
        img(src='../../assets/icons/blue-marker.svg')
        span {{ selectedHotel.address}}
      .title-footer
        .star
          img(src='../../assets/icons/star.svg' v-if='selectedHotel.star_rating >= 1')
          img(src='../../assets/icons/star.svg' v-if='selectedHotel.star_rating >= 2')
          img(src='../../assets/icons/star.svg' v-if='selectedHotel.star_rating >= 3')
          img(src='../../assets/icons/star.svg' v-if='selectedHotel.star_rating >= 4')
          img(src='../../assets/icons/star.svg' v-if='selectedHotel.star_rating >= 5')
          span {{formatedStars}}
        .rate(v-if="selectedHotel.review_rating != null")
          .box {{selectedHotel.review_rating}}
          span(v-html='$t("hotels.clisentEstimate", currentLangCode)')
    .other-variant
      .ttl {{ $t("purchase.sRoom", currentLangCode) }}
      .list
        template(v-for="(rooms, key) in selectedHotel.rooms_info.rooms")
          template(v-for="(room, idx) in rooms")
            .variant(:class="{active: room.ppn_bundle == selectedRoom.ppn_bundle}")
              .top
                .small-photo(:style="{ 'background-image': 'url('+roomImg(room) +')'}" )
                  .open-gallery(@click='openGalery(key+idx)' v-if="room.photos.length > 0")
                    img(src="../../assets/icons/ico-open-gallery.svg")
                .desc {{key}}
              .bottom
                .price {{formatePrice(room.prices.display_night_price)}} {{room.prices.display_price_symbol}}
                  span {{ $t("purchase.perDay", currentLangCode) }}
                button.selected(:class="{active: room.ppn_bundle == selectedRoom.ppn_bundle}" :disabled="room.ppn_bundle == selectedRoom.ppn_bundle" @click="select(room)")
                  template(v-if="room.ppn_bundle === selectedRoom.ppn_bundle") {{ $t("purchase.selected", currentLangCode) }}
                  template(v-else) {{ $t("purchase.select", currentLangCode) }}
              lightbox( v-if='room.photos.length > 0' :images="transfromToLightBox(room.photos, key)" :showLightBox="false" :showCaption='true' :ref='key+idx')
</template>
<script>
import Lightbox from "vue-image-lightbox";
import NoImage from "../../assets/icons/no-images.jpeg";
import Decliner from "../../utils/decliner"

export default {
	name: "informationSidebar",
	props: ["selectedHotel", "searchInfo", "selectedRoom"],
	components: {
		Lightbox
	},
	data() {
		return {};
	},
	methods: {
		transfromToLightBox(photos, key) {
			return photos.map(el => {
				return { thumb: el, src: el, caption: key };
			});
		},
		openGalery(id) {
			const el = this.$refs[id][0].showImage(0);
		},
		roomImg(room) {
			if (room.thumbnail != null && room.thumbnail !== "") {
				return room.thumbnail;
			} else if (room.photos.length > 0) {
				return room.photos[0];
			} else {
				return NoImage;
			}
		},
		select(room) {
			this.$store.commit("setSelectedRoom", room);
		},
		formatePrice(price) {
			var part1 = price
				.toString()
				.split(".")[0]
				.replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
			var part2 = price.toString().split(".")[1];

			var newPrice = `${part1}.${part2}`;
			return newPrice;
		}
	},
	computed: {
		formatedStars() {
			let stars = this.selectedHotel.star_rating;
			let starsTranslated = this.$t("decliner.stars", this.currentLangCode);
			return `${stars} ${Decliner(stars, starsTranslated, this.currentLangCode)}`;
		}
	}
};
</script>
