<template>
    <div class="payment">
        <div class="title">{{ $t("purchase.payment", currentLang.code) }}</div>
        <div class="info" v-if='!isHotel'>
            <!-- <div class="row">
                <div class="line">
                    <div class="num">0 ₽</div>Тариф + Таксы
                </div>
                <div class="line">
                    <div class="num">0 ₽</div>Комиссия
                </div>
            </div> -->
            <div class="row">
				<div class="line">
					1 {{ $t("tickets.declineTickets", currentLangCode)[0]}}:
					<div class="num" v-html='`${getPrice(baseFare)} ${currentCurrency.symbol}`'></div>
				</div>
				<div class="line" v-if=" ticketsAmount > 1">
					{{ ticketsAmount }} {{ Decliner(ticketsAmount, $t("tickets.declineTickets", currentLangCode), currentLangCode) }}:
					<div class="num" v-html='`${getPrice(baseFare * ticketsAmount)} ${currentCurrency.symbol}`'></div>
				</div>
				<div class="line dashed">
					{{ $t("tickets.taxes", currentLangCode) }}:
					<div class="num" v-html='`${getPrice(taxes)} ${currentCurrency.symbol}`'></div>
				</div>
                <div class="line">
					{{ $t("tickets.total", currentLangCode) }}:
                    <div class="num big" v-html='`${getPrice(cost)} ${currentCurrency.symbol}`'></div>
                </div>
                <div class="line">
					CashBack:
                    <div class="num" v-html='`${getPrice(cashback)} ${currentCurrency.symbol}`'></div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="input-wr">
                <label>{{ $t("purchase.cardNumber", currentLang.code) }}</label>
                <input type="text" v-model="card.number" v-mask="'#### #### #### #### '"  placeholder="0000 0000 0000 0000">
            </div>
            <div class="input-wr small">
                <label>{{ $t("purchase.month", currentLang.code) }}</label>
                <input type="text" v-model="card.month" placeholder="00" v-mask="'##'">
            </div>
            <div class="input-wr small">
                <label>{{ $t("purchase.yaer", currentLang.code) }}</label>
                <input type="text" v-model="card.year" placeholder="0000" v-mask="'####'">
            </div>
            <div class="input-wr">
                <label>{{ $t("purchase.cardHolder", currentLang.code) }}</label>
                <input type="text" v-model="card.name" placeholder="___">
            </div>
            <div class="input-wr cvv">
                <label>CVC / CVV</label>
                <input type="text" v-model="card.cvv" placeholder="000" v-mask="'###'">
            </div>
            <div class="cvv-desc">
                {{ $t("purchase.cvv", currentLang.code) }}
            </div>
        </div>
  </div>
</template>

<script>
import Decliner from "../../utils/decliner"
export default {
	name: "purchase-payment",
	props: ["card", "isHotel", "cost", "cashback", "taxes", "baseFare", "ticketsAmount"],
	data() {
		return {};
	},
	mounted() {},
	computed: {
		currentCurrency() {
			return this.$store.state.currencies.selectedCurrency;
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		Decliner,
		getPrice(price) {
			let priceChunks = price
				.toString()
				.split(".");
			let firstPart = priceChunks[0]
				.replace(/\B(?=(?:\d{3})+(?!\d))/g, " ");
			let secondPart = priceChunks[1] ? priceChunks[0].slice(0, 2) : "00";
			return `${firstPart}.${secondPart}`;
		}
	}
};
</script>

<style lang="sass" scoped>
	.dashed
		border-bottom: 1px dashed white
		margin-bottom: 10px
		padding-bottom: 10px
</style>
