<template>
	<div class="hotel-purchase-wr">
		<div class="hotel-purchase">
			<div class="loading" v-if='loading'>
				<spinner color='red'></spinner>
			</div>
			<div class="top-panel">
				<h3 class="hotel-name">{{selectedHotel.name}} </h3>
				<div class="cost" v-if='!loading && contractInfo.prices.nightly_rate_changes == 0'>
					<span>{{formatePrice(contractInfo.prices.display_night_price)}} {{contractInfo.prices.display_price_symbol}}</span> {{ $t("hotels.oneNight", currentLangCode)}}
				</div>
			</div>
			<div class="date-info">
				<div class="col date">
					<div class="ttl">{{ $t("purchase.checkIn", currentLangCode)}}</div>
					<div class="text date">
						<span class="num">{{getDateDay(searchInfo.from)}}</span>
						<span class="desc">
                <span class="month">{{getMonthLabel(searchInfo.from)}}</span>
                <span class="day">{{getDayLabel(searchInfo.from)}}</span>
              </span>
					</div>
				</div>
				<div class="col arrow">
					<div class="ttl"></div>
					<div class="text">
						<img src="../../assets/icons/ico-purchase-arrow-right.svg" alt="">
					</div>
				</div>
				<div class="col date">
					<div class="ttl">{{ $t("purchase.checkOut", currentLangCode)}}</div>
					<div class="text date">
						<span class="num">{{getDateDay(searchInfo.to)}}</span>
						<span class="desc">
                <span class="month">{{getMonthLabel(searchInfo.to)}}</span>
                <span class="day">{{getDayLabel(searchInfo.to)}}</span>
              </span>
					</div>
				</div>
				<div class="col">
					<div class="ttl">{{ $t("purchase.room") }}</div>
					<div class="text">{{ $store.state.hotels.searchInfo.rooms }}</div>
				</div>
				<div class="col">
					<div class="ttl">{{ nightsLabel }}</div>
					<div class="text">{{ days }}</div>
				</div>
			</div>
			<div class="price-panel" v-if='!loading'>
				<ul class="list">
					<li>
						<div class="ttl">{{ $t("purchase.roomCost", currentLangCode)}}
							<div class="info">
								<span class="ico"><img src="../../assets/icons/ico-infov2-blue.svg" alt=""></span>
								<!-- TODO: add content -->
								<span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus incidunt recusandae, molestiae assumenda non tempore a optio consequuntur nemo ipsam nulla laudantium vitae enim!</span>
							</div>
						</div>
						<div class="desc" v-if='contractInfo.prices.nightly_rate_changes == 0'>{{formatePrice(contractInfo.prices.display_night_price)}} {{contractInfo.prices.display_price_symbol}}</div>
						<div class="desc" v-if='contractInfo.prices.nightly_rate_changes == 1'>
							<template v-for='price in contractInfo.prices.display_night_price'>{{formatePrice(price)}} </template>
							{{contractInfo.prices.display_price_symbol}}
						</div>
					</li>
					<li>
						<div class="ttl">1 {{ $t("purchase.room", currentLangCode)}} х {{formateNightsText}}</div>
						<div class="desc"> {{formatePrice(contractInfo.prices.display_sub_total)}} {{contractInfo.prices.display_price_symbol}}</div>
					</li>
					<li class="taxes">
						<div class="ttl">{{ $t("purchase.taxes", currentLangCode)}}
							<div class="info">
								<span class="ico"><img src="../../assets/icons/ico-infov2-blue.svg" alt=""></span>
								<!-- TODO: add content -->
								<span class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto necessitatibus incidunt recusandae, molestiae assumenda non tempore a optio consequuntur nemo ipsam nulla laudantium vitae enim!</span>
							</div>
						</div>
						<div class="desc">{{formatePrice(contractInfo.prices.display_taxes)}} {{contractInfo.prices.display_price_symbol}}</div>
					</li>
					<li class="big">
						<div class="ttl semibold">
							{{ $t("purchase.totalCost", currentLangCode)}}
							<div class="cashback-ttl">CashBack:</div>
						</div>
						<div class="desc price">
							{{formatePrice(contractInfo.prices.display_total)}} {{contractInfo.prices.display_price_symbol}}
							<div class="cashback-desc">{{formatePrice(contractInfo.prices.cashback)}} {{contractInfo.prices.display_price_symbol}}</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="info-panel">
				<h4 @click='togglePolicy'>{{ $t("purchase.importantInfo", currentLangCode)}} <img src="../../assets/icons/angle-arrow-down-black.svg" alt="" :class="{rotate:!showPolicy }"></h4>
				<ul class="info-list" v-show='showPolicy'>
					<template v-for='(item, index) in contractInfo.taxes_policy_data'>
						<li class='ttl' :key="index">
							<b>{{item.title}}</b>
						</li>
						<li v-for='(text, index) in item.text' :key='index'>{{text}}</li>
					</template>
					<template v-for='(item, index) in selectedRoom.policy_information'>
						<li class='ttl' :key="index"><b>{{item.title}}</b></li>
						<li :key="index">{{item.text}}</li>
					</template>
				</ul>
			</div>
		</div>
	</div>
</template>





<script>
	import { API } from "../../api.js";
	import VueNotifications from "vue-notifications";
	import Spinner from "../small-spinner";
	import Decliner from "../../utils/decliner"

	export default {
		name: "PurchaseHotels",
		props: ["searchInfo", "selectedRoom", "selectedHotel"],
		components: {
			spinner: Spinner
		},
		data() {
			return {
				loading: true,
				showPolicy: true
			};
		},
		created() {
			this.loadPrice();
		},
		methods: {
			formatePrice(price) {
				return Number(price).toFixed(2)
			},
			togglePolicy() {
				this.showPolicy = !this.showPolicy;
			},
			loadPrice() {
				self = this;
				var reqData = {
					history_id: this.$store.state.hotels.history_id,
					ppn_bundle: this.selectedRoom.ppn_bundle
					// test_mode: 1 //remove after test
				};
				let errorMessage = this.$t("errors.dataFetch", this.currentLangCode);
				API.getHotelContract(reqData)
					.then(response => {
						if (response.data.status == "success") {
							this.$store.commit("addContractInfo", response.data.data);
						} else {
							VueNotifications.error({message: errorMessage});
						}
						this.loading = false;
					})
					.catch(e => {
						this.loading = false;
						VueNotifications.error({message: errorMessage});
					});
			},
			getDayLabel(date) {
				var date = new Date(date);
				var day = date.getDay();
				return this.$t("main.daylabel", this.currentLangCode)[day];
			},
			getDateDay(date) {
				var date = new Date(date);
				return date.getDate();
			},
			getMonthLabel(date) {
				var date = new Date(date);
				var month = date.getMonth();
				return this.$t("main.monthsLabels2", this.currentLangCode)[month];
			},
			formateDate(date) {
				var date = new Date(date);
				var d = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
				var m =
					date.getMonth() + 1 < 10
						? "0" + (date.getMonth() + 1)
						: date.getMonth() + 1;
				var y = date.getFullYear();
				return d + "." + m + "." + y;
			}
		},
		computed: {
			nightsLabel () {
				return Decliner(this.days, this.$t("hotels.nights", this.currentLangCode), this.currentLangCode)
			},
			selectedCurrency() {
				return this.$store.state.currencies.selectedCurrency;
			},
			contractInfo() {
				return this.$store.state.hotels.contractInfo;
			},
			formateRoomsText() {
				var rooms = this.$store.state.hotels.searchInfo.rooms;
				let declinerRooms = this.$t("decliner.rooms", this.currentLangCode);
				return `${rooms} ${Decliner(rooms, declinerRooms, this.currentLangCode)}`;
			},
			formateGuestText() {
				var guest = this.$store.state.hotels.searchInfo.travelers;
				if (this.currentLangCode == "ru") {
					if (guest == 0) {
						return "0 гостей";
					}
					if (guest % 10 == 1) {
						return guest + " гость";
					} else {
						return guest + " гостя";
					}
				} else {
					if (guest == 0) {
						return "0 guest";
					} else {
						return guest + " guests";
					}
				}
			},
			days() {
				var from = this.$store.state.hotels.searchInfo.from;
				var to = this.$store.state.hotels.searchInfo.to;
				var res = (Number(to) - Number(from)) / (24 * 60 * 60 * 1000);
				return Math.round(res);
			},
			formateNightsText() {
				var days = this.days ? this.days : 1;
				if (this.currentLangCode == "ru") {
					if (days % 10 == 1) {
						return days + " ночь";
					} else if (days == 2 || days == 3 || days == 4) {
						return days + " ночи";
					} else {
						return days + " ночей";
					}
				} else {
					if (days == 1) {
						return days + " night";
					} else {
						return days + " nights";
					}
				}
			},

			formatedStars() {
				let stars = this.selectedHotel.star_rating;
				let starsTranslated = this.$t("hotels.stars", this.currentLangCode);
				return `${stars} ${Decliner(stars, starsTranslated, this.currentLangCode)}`;
			}
		},
		watch: {
			selectedRoom: function() {
				this.loading = true;
				this.loadPrice();
			},
			selectedCurrency: function(newCurrency) {
				API.config.data.currency = newCurrency.code;
				this.loading = true;
				this.loadPrice();
			},
			currentLang: function(newLang) {
				API.config.data.lang = newLang.code;
				this.loading = true;
				this.loadPrice();
			}
		}
	};
</script>
