<template lang="pug">
ul.purchase-tickets
	li.flights-list.purchase-list
		.flights-list__direction
			.flights-list__img
				img(:src="imgurl(flight[0].directions.forward[0].airlineCode)" :srcset="`${imgurl2x(flight[0].directions.forward[0].airlineCode)} 2x`")
			.flights-list__from
				.time {{ startTimeForward }}
				.airport {{airportFromForward}}
				.date {{formateDate(startDateForward)}}
			.flights-list__info
				.duration {{flightDurationForward}}
				.line(class="red" :class="{ one: (flight[0].directions.forward.length == 2), two: (flight[0].directions.forward.length == 3) }")
					img(src="../../assets/icons/jet.svg" class='ico')
				.info(v-if='flight[0].directions.forward.length == 1') {{ $t("purchase.directFlight", currentLangCode) }}
				.info(class="red" v-else) {{ flight[0].directions.forward.length - 1 }} {{ Decliner(flight[0].directions.forward.length - 1, $t("decliner.transfer", currentLangCode), currentLangCode) }}
			.flights-list__to
				.time {{  entTimeForward }}
				.airport {{airportToForward}}
				.date {{formateDate(entDateForward)}}
			.flights-list__arrow
				a(class="btn" href="" @click.prevent="toggleForvardDetail()")
					img(src="../../assets/icons/down-arrow.svg")
			.flights-list__more-details(v-show="isDetailForward")
				template(v-for="(item, index) in flight[0].directions.forward")
					.top
						span.company {{item.plane}}
							template(v-if="getAirline(item.airlineCode)")  |
								template(v-if="currentLangCode === 'ru'")  {{ $t("purchase.airline", currentLangCode) }} «{{ getAirline(item.airlineCode).name }}»
								template(v-else)  «{{ getAirline(item.airlineCode).name }}» {{ $t("purchase.airline", currentLangCode) }}
						a(class="tariff" href='' @click.prevent.stop='openFlightInfo(flight)') {{ $t("purchase.tariffConditions", currentLangCode) }}
						span.class {{flightClass}}
					.flight
						.line
						.from
							span.time {{item.startTime}}
							span.place {{ getAirpotAndCityFrom( item ) }}
						.time-flight
							img(src='../../assets/icons/clock-grey.svg')
							template {{ formateJrTime(item.jrnTm)}}
						.to
							span.time {{item.endTime}}
							span.place {{ getAirpotAndCityTo( item ) }}
					.transfer-duration(v-if="(item.transferTime || item.cityFromName) && !isLastIndex('forward', index)")
						img(src='../../assets/icons/clock-red.svg')
						template {{formateJrTime(item.transferTime)}}
							template(v-if="currentLangCode === 'ru'")  Пересадка в г. {{ item.cityToName }}
							template(v-else)  Transfer in {{ item.cityToName }} city
		.flights-list__direction(v-if="isRoundTrip")
			.flights-list__img
				img(:src="imgurl(flight[0].directions.backward[0].airlineCode)" :srcset="`${imgurl2x(flight[0].directions.backward[0].airlineCode)} 2x`")
			.flights-list__from
				.time {{startTimeBackward}}
				.airport {{airportFromBackward}}
				.date {{formateDate(startDateBackward)}}
			.flights-list__info
				.duration  {{flightDurationBackward}}
				.line(class="blue" :class="{ one: (flight[0].directions.backward.length == 2), two: (flight[0].directions.backward.length == 3) }")
					img(src="../../assets/icons/jet-blue.svg" class='ico')
				.info(v-if='flight[0].directions.backward.length == 1') {{ $t("purchase.directFlight", currentLangCode) }}
				.info.red(v-else) {{ flight[0].directions.backward.length - 1 }} {{ Decliner(flight[0].directions.backward.length - 1, $t("decliner.transfer", currentLangCode), currentLangCode) }}
			.flights-list__to
				.time {{  entTimeBackward }}
				.airport {{airportToBackward}}
				.date {{formateDate(entDateBackward)}}
			.flights-list__arrow
				a(class="btn" href="" @click.prevent="toggleBackwardDetail")
					img(src="../../assets/icons/down-arrow.svg")
			.flights-list__more-details(v-show="isDetailBackward")
				template(v-for="(item, index) in flight[0].directions.backward")
					.top
						span.company {{item.plane}}
							template(v-if="getAirline(item.airlineCode)")  |
								template(v-if="currentLangCode === 'ru'")  {{ $t("purchase.airline", currentLangCode) }} «{{ getAirline(item.airlineCode).name }}»
								template(v-else)  «{{ getAirline(item.airlineCode).name }}» {{ $t("purchase.airline", currentLangCode) }}
						a(class="tariff" href='' @click.prevent.stop='openFlightInfo(flight)') {{ $t("purchase.tariffConditions", currentLangCode) }}
						span.class {{flightClass}}
					.flight
						.line
						.from
							span.time {{item.startTime}}
							span.place {{ getAirpotAndCityFrom( item ) }}
						.time-flight
							img(src='../../assets/icons/clock-grey.svg')
							template {{ formateJrTime(item.jrnTm)}}
						.to
							span.time {{item.endTime}}
							span.place {{ getAirpotAndCityTo( item ) }}
					.transfer-duration(v-if="(item.transferTime || item.cityFromName) && !isLastIndex('backward', index)")
						img(src='../../assets/icons/clock-red.svg')
						template {{formateJrTime(item.transferTime)}}
							template(v-if="currentLangCode === 'ru'")  Пересадка в г. {{ item.cityToName }}
							template(v-else)  Transfer in {{ item.cityToName }} city
		purchase-important-info(:list="contract.important_info_data"
								v-if="contract.important_info_data") {{ $t("purchase.importantInfo", currentLangCode) }}
		purchase-important-info(:list="contract.policy_data"
								v-if="contract.policy_data") {{ $t("purchase.policy", currentLangCode) }}
</template>

<script>
import PurchaseImportantInfo from "./purchaseImportantInfo";
import Decliner from "../../utils/decliner";
import _ from "lodash";

export default {
	name: "purchase-tickets",
	components: {PurchaseImportantInfo},
	props: {
		contract: {
			type: Object,
			required: true
		}
	},
	data() {
		return {
			isDetailForward: true,
			isDetailBackward: true
		};
	},
	created() {},
	methods: {
		Decliner,
		isLastIndex (direction, index) {
			return this.flight[0].directions[direction].length - 1 === index
		},
		openFlightInfo(flight) {
			this.$emit("openFlightInfo", flight);
		},
		imgurl(code) {
			return (
				"//beta.president.travel/images/airlogos/simple/" + code + ".png"
			);
		},
		imgurl2x(code) {
			return (
				"//beta.president.travel/images/airlogos/retina/" + code + ".png"
			);
		},
		getCityName(code) {
			let airport = this.getAirport(code);
			let city = this.getCity(airport.cityCode).cityName;
			return city;
		},
		getAirpotAndCityFrom(item) {
			let airport = item.airportFromName;
			let city = item.cityFromName;
			if (city == airport) {
				return item.airportFromCode + " " + city;
			} else {
				return item.airportFromCode + " " + city + " " + airport;
			}
		},
		getAirpotAndCityTo(item) {
			let airport = item.airportToName;
			let city = item.cityToName;
			if (city == airport) {
				return item.airportToCode + " " + city;
			} else {
				return item.airportToCode + " " + city + " " + airport;
			}
		},
		toggleForvardDetail() {
			this.isDetailForward = !this.isDetailForward;
		},
		toggleBackwardDetail() {
			this.isDetailBackward = !this.isDetailBackward;
		},
		getAirport(code) {
			return this.$store.getters.getAirportByCode(code);
		},
		getAirline(code) {
			return this.$store.getters.getAirlineByCode(code);
		},
		getCity(code) {
			return this.$store.getters.getCityByCode(code);
		},
		formateDate(date) {
			return date.split("-").reverse().join(".")
		},
		formateJrTime(time) {
			if (typeof time === "undefined" || !time) return "";
			time = time.split(":");
			let dayLetter = this.$t("datetime.short.day", this.currentLangCode);
			let hourLetter = this.$t("datetime.short.hour", this.currentLangCode);
			let minuteLetter = this.$t("datetime.short.minute", this.currentLangCode);
			let output = `${time[1]}${hourLetter}. ${time[2]}${minuteLetter}.`;
			if (time[0] !== "00") output = `${time[0]}${dayLetter}. ${output}`;
			return output;
		}
	},
	computed: {
		flightClass() {
			let id = this.$store.state.flights.classId;
			return `${this.$t("flightClasses", this.currentLangCode)[id]} ${_.toLower(this.$t("main.cls", this.currentLangCode))}`;
		},
		startTimeForward() {
			return this.flight[0].directions.forward[0].startTime;
		},
		entTimeForward() {
			return this.flight[0].directions.forward[
				this.flight[0].directions.forward.length - 1
			].endTime;
		},
		startDateForward() {
			return this.flight[0].directions.forward[0].startDate;
		},
		entDateForward() {
			return this.flight[0].directions.forward[
				this.flight[0].directions.forward.length - 1
			].endDate;
		},
		airportFromForward() {
			return this.flight[0].directions.forward[0].airportFromCode;
		},
		airportToForward() {
			return this.flight[0].directions.forward[
				this.flight[0].directions.forward.length - 1
			].airportToCode;
		},
		flightDurationForward() {
			let beginDate = new Date(
				...this.startDateForward.split("-"),
				...this.startTimeForward.split(":")
			);
			let endDate = new Date(
				...this.entDateForward.split("-"),
				...this.entTimeForward.split(":"),
			);
			let difference = new Date(endDate - beginDate);
			let dayLetter = this.$t("datetime.short.day", this.currentLangCode);
			let hourLetter = this.$t("datetime.short.hour", this.currentLangCode);
			let minuteLetter = this.$t("datetime.short.minute", this.currentLangCode);
			let result = "";
			if (difference.getDate() > 1) {
				result += `${difference.getDate() - 1}${dayLetter}. `;
			}
			result +=
				`${difference.getHours() - 2}${hourLetter}. ${difference.getMinutes()}${minuteLetter}.`;

			return result;
		},
		startTimeBackward(direction) {
			return this.flight[0].directions.backward[0].startTime;
		},
		entTimeBackward(direction) {
			return this.flight[0].directions.backward[
				this.flight[0].directions.backward.length - 1
			].endTime;
		},
		startDateBackward(direction) {
			return this.flight[0].directions.backward[0].startDate;
		},
		entDateBackward(direction) {
			return this.flight[0].directions.backward[
				this.flight[0].directions.backward.length - 1
			].endDate;
		},
		airportFromBackward() {
			return this.flight[0].directions.backward[0].airportFromCode;
		},
		airportToBackward() {
			return this.flight[0].directions.backward[
				this.flight[0].directions.backward.length - 1
			].airportToCode;
		},
		flightDurationBackward() {
			let beginDate = new Date(
				...this.startDateBackward.split("-"),
				...this.startTimeBackward.split(":")
			);
			let endDate = new Date(
				...this.entDateBackward.split("-"),
				...this.entTimeBackward.split(":"),
			);
			let difference = new Date(endDate - beginDate);
			let dayLetter = this.$t("datetime.short.day", this.currentLangCode);
			let hourLetter = this.$t("datetime.short.hour", this.currentLangCode);
			let minuteLetter = this.$t("datetime.short.minute", this.currentLangCode);
			let result = "";
			if (difference.getDate() > 1) {
				result += `${difference.getDate() - 1}${dayLetter}. `;
			}
			result +=
				`${difference.getHours() - 2}${hourLetter}. ${difference.getMinutes()}${minuteLetter}.`;
			return result;
		},
		currentCurrency() {
			return this.$store.state.currencies.selectedCurrency;
		},
		classes() {
			return this.$store.state.params.classes;
		},
		isRoundTrip() {
			return this.$store.state.searchparameters.isRoundTripSearch;
		},
		flight() {
			return this.$store.state.flights.selectedFlights;
		}
	}
};
</script>

<style lang='sass'>
</style>
