<template lang="pug">
	.purchase-passengers-list

		.title  {{ $t("purchase.buyer", currentLang.code) }}
		purchase-buyer(:user='user' :company="company" :buyer='buyer')
		.title
			template(v-if='!isHotel') {{ $t("purchase.passngs", currentLang.code) }}
			template(v-if='isHotel') {{ $t("purchase.trvlrs", currentLang.code) }}
		.inputs-group
			purchase-passenger(v-for='(passenger, index) in selectedPass' :key="passenger.travelerId" :passenger='passenger' :oldPassengers='oldPassengers')
			template(v-if='isHotel')
				hotel-passenger-new(v-for='(newpassenger, index) in newPassengers' :key="newpassenger.id" :newpassenger='newpassenger')
			template(v-else)
				purchase-passenger-new(v-for='(newpassenger, index) in newPassengers' :key="newpassenger.id" :newpassenger='newpassenger')



</template>

<script>
// import TellInput from "../inputs/TelInput.vue";
import PurchasePassenger from "./PurchasePassenger.vue";
import PurchasePassengerNew from "./PurchasePassNew.vue";
import HotelPassengerNew from "./HotelNewPassengers.vue";
import VueNotifications from "vue-notifications";
import PurchaseBuyer from "./PurchaseBuyer.vue";
// import { API } from "../../api.js";
import Spinner from "../small-spinner";
export default {
	name: "purchase-passengers-list",
	components: {
		// "tell-input": TellInput,
		"purchase-passenger": PurchasePassenger,
		"purchase-passenger-new": PurchasePassengerNew,
		"hotel-passenger-new": HotelPassengerNew,
		"purchase-buyer": PurchaseBuyer,
		spinner: Spinner
	},
	props: [
		"passengers",
		"newPassengers",
		"buyer",
		"oldPassengers",
		"selectedPass",
		"isHotel"
	],
	data() {
		return {
			phone: "",
			passengerDate: "",
			user: {
				firstname: "",
				fathersname: "",
				lastname: "",
				birthday: "",
				email: "",
				phone: "",
				sex: "",
				document: [
					//загран
					{
						type: 1,
						number: ""
					},
					//внутр
					{
						type: 0,
						number: ""
					}
				],
				citizenship: {
					citizenship_country_id: ""
				},
				innerDocument: "",
				foreignDocument: "",

				orders: [],

				preferences: {
					airlines: [],
					airports: [],
					cards: []
				}
			},
			company: {
				deposit: {
					amount: 0
				},
				orders: []
			}
		};
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		isCompany() {
			return this.$store.state.params.isCompany;
		},
		newPassengersCount() {
			return (
				this.$store.getters.getNewPassengersCount("adults") +
				this.$store.getters.getNewPassengersCount("children") +
				this.$store.getters.getNewPassengersCount("infants")
			);
		},
		getUserInfo() {
			return this.$store.getters.getUserFullInfo();
		}
	}
};
</script>

<style lang='sass'>


</style>
