<template lang="pug">
	.purchase-passenger
		.header(@click='show')
			.avatar
				span {{avatarText}}

			span.name {{ passenger.firstname }} {{passenger.lastname}}
			img(src='../../assets/icons/dropdown-icon.svg' :class="{opened:isOpen}").arrow

		.body(v-if='isOpen')
			.inputs-group
				.large-input
					span.label {{ $t("profile.birthDate", currentLangCode) }}
					input(type='text' v-mask="'##.##.####'" placeholder='00.00.0000' :value="tempBitrthday" @input="birthday($event.target.value)")
				.large-input
					span.label {{ $t("profile.sex", currentLangCode) }}
					.dropdown(v-click-outside="closeDropdownSex" :class="{open: showDropdownSex}")
						.dropbtn(@click='openDropdownSex') {{selectedGender}}
						.dropdown-content(v-show='showDropdownSex')
							div(@click='selectGender("0")' class="pointer item" v-show='passenger.sex !== 0') {{ $t("gender.woman", currentLangCode) }}
							div(@click='selectGender("1")' class="pointer item" v-show='passenger.sex !== 1') {{ $t("gender.man", currentLangCode) }}

				.large-input(v-if='hasDocument')
					span.label {{ $t("profile.documentType", currentLangCode) }}
					.dropdown(v-click-outside="closeDropdownPassport" :class="{open: showDropdownPassport}")
						.dropbtn(@click='openDropdownPassport')
							span.red {{getPaspornName(selectedPassport.type)}}
							template {{selectedPassport.number}}
						.dropdown-content(v-show='showDropdownPassport')
							div(@click='selectPasport(pasport)' class="pointer item" v-for='pasport in passenger.document' v-show="pasport.number != selectedPassport.number && pasport.type != selectedPassport.type")
									span.red {{getPaspornName(pasport.type)}}
									template {{pasport.number}}
				template(v-else)
					.large-input
						span.label {{ $t("profile.documentSN", currentLangCode) }}
						input(type='text' placeholder='___' v-model='passenger.document_number')

				.large-input
					span.label {{ $t("profile.citizenship", currentLangCode) }}
					autocomplete.dropdown(:class-list="citizenshipClasses",
										:list="citizenships",
										v-model="selectedCountry")
				.large-input
					span.label Email
					input(type='text' placeholder='Email' v-model='passenger.email')
				.large-input
					//- tell-input(:initValue='passenger.phone')
					span.label {{ $t("profile.phone", currentLangCode) }}
					input(type='text' placeholder='+7(___) ___-__-__' v-model='passenger.phone')
				//- .large-input
					span.label Бонусная карта
					.dropdown(v-click-outside="closeDropdownBonusCard" :class="{open: showDropdownBonusCard}")
						.dropbtn(@click='openDropdownBonusCard')
							template {{selectedBonusCard.name}} {{selectedBonusCard.number}}
						.dropdown-content(v-show='showDropdownBonusCard' v-bar='{useScrollbarPseudo: true}')
							div.ovh-wrapper
								div(@click='selectBonusCard(item)' v-show="item.preferenceCardId !== selectedBonusCard.preferenceCardId" class="pointer item" v-for='item in passenger.preferenceCards')
									template {{item.name}} {{item.number}}



</template>

<script>
// import TellInput from "../inputs/TelInput.vue";
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Autocomplete from "../plain/autocomplete";
export default {
	name: "purchase-passenger",
	components: {
		Autocomplete
		// "tell-input": TellInput
	},
	props: ["passenger", "oldPassengers"],
	data() {
		return {
			isOpen: false,
			tempBitrthday: "",
			showDropdownSex: false,
			showDropdownPassport: false,
			showDropdownBonusCard: false,
			documentType: [
				{
					type: 0,
					typeName: "Загран"
				},
				{
					type: 1,
					typeName: "Внутренний"
				}
			],
			hasDocument: false,
			selectedPassport: {
				// type: this.passenger.document[0].type,
				// typeName: this.passenger.document[0].typeName,
				// number: this.passenger.document[0].number,
				// expires: this.passenger.document[0].expires
				type: "",
				number: ""
			},
			selectedBonusCard: {
				// name: this.passenger.preferenceCards[0].name,
				// number: this.passenger.preferenceCards[0].number,
				// preferenceCardId: this.passenger.preferenceCards[0].preferenceCardId
				name: "",
				number: "",
				preferenceCardId: ""
			},
			template: {
				document_number: "",
				citizenship_id: "",
				travelerId: "",
				firstname: "",
				fathersname: "",
				lastname: "",
				birthday: "",
				email: "",
				phone: "",
				sex: "",
				citizenship: {
					citizenship_country_id: ""
				},
				document: [
					//загран
					{
						type: 1,
						number: ""
					},
					//внутр
					{
						type: 0,
						number: ""
					}
				],
				preferenceCards: [],
				preferenceAirport: [],
				preferenceAirlines: [],
				orders: []
			},
			citizenshipClasses: {
				dropdownWrapper: "dropdown-content citizenship",
				dropdown: "ovh-wrapper",
				dropdownItem: "pointer item"
			},
			selectedCountry: {}
		};
	},
	created() {
		if (this.passenger.loadedDetailInfo == undefined) {
			//нужно загружать
			this.getFullInfoPassanger(this.passenger.travelerId);
		} else {
			//данные есть
		}
	},
	mounted() {
		/* if (this.passenger.birthday != "") {
			this.tempBitrthday = this.passenger.birthday.replace(/-/g, ".");
		}
		//форматируем данные для заказа
		if (
			this.passenger.citizenship.citizenship_country_id != "" ||
			this.passenger.citizenship.citizenship_country_id != undefined
		) {
			this.passenger.citizenship_id = this.passenger.citizenship.citizenship_country_id;
		}
		if (
			this.passenger.document[0].number != "" ||
			this.passenger.document[1].number != ""
		) {
			//есть документ
			this.hasDocument = true;
			if (this.passenger.document[0].number != "") {
				// выбримае первый документ
				this.passenger.document_number = this.passenger.document[0].number;
				this.selectedPassport.type = this.passenger.document[0].type;
				this.selectedPassport.number = this.passenger.document[0].number;
			} else if (this.passenger.document[1].number != "") {
				//выбираем второй документ
				this.passenger.document_number = this.passenger.document[1].number;
				this.selectedPassport.type = this.passenger.document[1].type;
				this.selectedPassport.number = this.passenger.document[1].number;
			}
		} */
	},
	methods: {
		getFullInfoPassanger(id) {
			// надо грузить
			self = this;
			var reqData = {
				travelerId: id
			};
			/* API.getTrevelersInfo(reqData)
				.then(response => {
					if (response.data.status == "success") {
						//мы получили все данные пассажира
						//запишем их в стор
						var newPass = Object.assign({}, this.template, response.data.data);
						var updateData = {
							id: id,
							data: newPass
						};

						this.oldPassengers.push(newPass);
						console.log(newPass);
						this.$store.commit("updateTravelerInfo", updateData);
						console.log(updateData);
					} else {
						VueNotifications.error({
							message: "Ошибка при загрузке данных пассажира"
						});
					}
				})
				.catch(e => {
					if (e.response) {
						VueNotifications.error({
							message: "Ошибка при загрузке данных данных пассажира"
						});
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e);
						VueNotifications.error({
							message: "Ошибка при загрузке данных данных пассажира"
						});
					}
				}); */
		},
		getPaspornName(type) {
			return type === 1
				? this.$t("profile.passport", this.currentLangCode)
				: this.$t("profile.intPassport", this.currentLangCode);
		},
		getCitizenshipName(id) {
			for (let index = 0; index < this.citizenships.length; index++) {
				const element = this.citizenships[index];
				if (element.id == id) {
					return element.name;
				}
			}
		},
		birthday(day) {
			this.tempBitrthday = day;
			this.passenger.birthday = day.replace(/\./g, "-");
		},
		selectBonusCard(card) {
			this.selectedBonusCard.name = card.name;
			this.selectedBonusCard.number = card.number;
			this.selectedBonusCard.preferenceCardId = card.preferenceCardId;
			this.closeDropdownBonusCard();
		},
		openDropdownBonusCard() {
			this.showDropdownBonusCard = !this.showDropdownBonusCard;
		},
		closeDropdownBonusCard() {
			this.showDropdownBonusCard = false;
		},
		closeDropdownPassport() {
			this.showDropdownPassport = false;
		},
		openDropdownPassport() {
			this.showDropdownPassport = !this.showDropdownPassport;
		},
		openDropdownSex() {
			this.showDropdownSex = !this.showDropdownSex;
		},
		closeDropdownSex() {
			this.showDropdownSex = false;
		},
		show() {
			this.isOpen = !this.isOpen;
		},
		selectGender(gender) {
			this.closeDropdownSex();
			this.passenger.sex = gender;
		},
		selectPasport(pasport) {
			this.closeDropdownPassport();
			this.selectedPassport.type = pasport.type;
			this.selectedPassport.typeName = pasport.typeName;
			this.selectedPassport.number = pasport.number;
			this.selectedPassport.expires = pasport.expires;
		}
	},
	computed: {
		getSelectedPass() {
			return this.$store.getters.getSelectedPass();
		},
		citizenships() {
			return this.$store.state.params.citizenships;
		},
		avatarText() {
			return (
				this.passenger.firstname[0].toUpperCase() +
				this.passenger.lastname[0].toUpperCase()
			);
		},
		selectedGender() {
			if (this.passenger.sex === "") return "";
			let gender = Number(this.passenger.sex);
			if (gender === 1) {
				return this.$t("gender.man", this.currentLangCode);
			} else if (gender === 0) {
				return this.$t("gender.woman", this.currentLangCode);
			} else {
				return "";
			}
		}
	},
	watch: {
		selectedCountry ({id, name}) {
			this.passenger.citizenship.citizenship_country_id = id || "";
			this.passenger.citizenship.countryName = name || "";
			this.passenger.citizenship_id = id || "";
		}
	}
};
</script>

<style lang='sass'>



</style>
