<template lang="pug">
	.info-panel
		h4(@click='show = !show')
			slot
			img(:src="AngleArrowDown" alt="" :class="{rotate:!show}")
		ul.info-list(v-show="show")
			template(v-for='(item, index) in list')
				li.ttl(:key="index")
					b {{ item.title }}
				li(v-for='text in item.text' :key="text" v-html="text")
</template>

<script>
	import AngleArrowDown from "../../assets/icons/angle-arrow-down-black.svg"
    export default {
        name: "purchaseImportantInfo",
		props: {
			list: {
        		type: Array,
				required: true
			}
		},
		data () {
        	return {
        		AngleArrowDown,
				show: false
			}
		}
    }
</script>

<style lang="sass" scoped>
	.info-panel
		padding: 0 5px
		h4
			color: black
			font-size: 18px;
			padding: 20px 10px
			position: relative
			cursor: pointer
			img
				position: absolute
				right: 10px
				width: 14px
				top: 50%
				transform: translate(0, -50%)
				transition: transform .55s
				&.rotate
					transform: translate(0, -50%) rotateX(180deg)
		.info-list
			margin-left: 10px
			padding-bottom: 20px
			li
				color: black
				position: relative
				margin-bottom: 15px
				&:not(.ttl)
					padding-left: 20px
				&.ttl
					&:before
						display: none
				&:before
					position: absolute
					content: ''
					width: 5px
					height: 5px
					border-radius: 50%
					background: #4A4A4A
					top: 7px
					left: 2px
</style>
