<template lang="pug">
	.guests-picker
		.new-passenger
			ul
				li.psng(v-for='type in passagerTypes')
					span(class='text') {{ type.title[currentLang.code] }}
					span(class='minus' @click='removePassengerType(type)') –
					span(class='count') {{ getNewPassengers(type.name) + ' ' }}
					span(class='plus' @click='addPassengerType(type)') +
				//- li
				//-   span(class='minus' @click='remove("childs")') –
				//-   span(class='text') Дети(до 18 лет)
				//-   span(class='count') {{newPassengers.children}} чел.
				//-   span(class='plus' @click='add("childs")') +
				children-age(v-model='childrenAge[index]' v-for='(age, index) in childrenAge' :key='index')
				li.psng
					span(class='text') {{ $t("hotels.rooms", currentLang.code) }}
					span(class='minus' @click='removeRoom') –
					span(class='count') {{rooms}}
					span(class='plus' @click='addRoom') +
</template>
<script>
import ChildrenAge from "../../search-parameters/ChildrenAge";
export default {
	name: "guests-picker",
	data() {
		return {};
	},
	components: {
		"children-age": ChildrenAge
	},
	methods: {
		removeRoom() {
			if (this.rooms > 1) {
				var newRooms = this.rooms - 1;
				this.$store.commit("updateSearchInfoRooms", newRooms);
			}
		},
		addRoom() {
			var newRooms = this.rooms + 1;
			this.$store.commit("changeRoom", newRooms);
		},
		getNewPassengersCount(type) {
			return this.$store.getters.getNewPassengersCount(type);
		},
		addPassengerType(type) {
			this.$store.commit("increaseNewHotelPassengersCount", type.name); //---
			if (type.id == 2) {
				this.$store.commit("addChildren");
			}
		},
		removePassengerType(type) {
			this.$store.commit("descreaseNewHotelPassengersCount", type.name); //---
			if (type.id == 2) {
				this.$store.commit("removeChildren");
			}
		},
		getNewPassengers(type) {
			return this.$store.state.searchparameters.hotelParams.newPassengers[type];
		}
	},
	computed: {
		childrenAge: {
			set(data) {
				this.$store.commit("changeChildrenAge", data);
			},
			get() {
				return this.$store.state.searchparameters.hotelParams.childrenAge;
			}
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		passagerTypes() {
			return this.$store.state.params.travelerTypes;
		},
		rooms() {
			return this.$store.state.searchparameters.hotelParams.room;
		},
		newPassengers() {
			return this.$store.state.searchparameters.hotelParams.newPassengers;
		}
	}
};
</script>

<style lang='sass'>
	@import "../../../styles/sass/colors"
	.guests-picker
		position: absolute
		top: 100%
		width: 290px
		right: 0
		background-color: #fff
		box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important
		@media (max-width: 600px)
			right: auto
			left: 0
		.new-passenger
			ul
				padding: 0
				li
					background: none
					height: 45px
					border: 0
					margin: 0


</style>
