<template lang="pug">
  .hotel-filter-bar
    .filter-bar
      .item
        .wrapper-datapicker(@click.stop='openDataPicker("from")' class='pointer')
          .text
            p {{ $t("hotels.Stars", currentLang.code) }}
            p(class='content') {{formateDateLabel(fromDate)}}
          img(src='../../../assets/icons/down-arrow.svg')
        .data-picker-wrapper(v-if="isDataPickerShowed")
          data-picker(:isRoundTrip='true' :changeDate='changeDate' :isHotelSearch='true' :currentLang='currentLang' :isAutonomus='true' @changeDateRange='closeDataPicker' v-click-outside="closeDataPicker")
      .item
        .wrapper-datapicker(@click.stop='openDataPicker("to")' class='pointer')
          .text
            p {{ $t("hotels.depature", currentLang.code) }}
            p(class='content') {{formateDateLabel(toDate)}} ({{days}} {{ Decliner(days, $t("hotels.nights", currentLangCode), currentLangCode) }})
          img(src='../../../assets/icons/down-arrow.svg')
      .item
        .wrapper-datapicker(@click.stop='toggleGuestPicker')
          .text
            p {{ $t("hotels.roomsAndGuests", currentLang.code) }}
            p(class='content') {{getGuestsRoomsText}}
          img(src='../../../assets/icons/down-arrow.svg')
        guest-picker(v-if='isGuestPickerShowed' v-click-outside="toggleGuestPicker")
      .item(class='btn' @click='updateHotel') {{ $t("hotels.update", currentLang.code) }}
 </template>
<script>
import formateDateLabel from "../../../utils/formateDateLabel";
import DataPicker from "../../search-parameters/DatePicker.vue";
import GuestPicker from "./GuestsPicker.vue";
import Decliner from "../../../utils/decliner";
export default {
	name: "hotel-filter-bar",
	components: {
		DataPicker,
		GuestPicker
	},
	props: [],
	data() {
		return {
			isDataPickerShowed: false,
			isGuestPickerShowed: false,
			changeDate: ""
		};
	},
	methods: {
		updateHotel() {
			this.$emit("updateHotel");
		},
		formateDateLabel(date) {
			return formateDateLabel(date, this.currentLang.code);
		},
		toggleGuestPicker() {
			this.isGuestPickerShowed = !this.isGuestPickerShowed;
		},
		openDataPicker(flag) {
			this.changeDate = flag;
			this.isDataPickerShowed = true;
		},
		closeDataPicker() {
			if (this.isDataPickerShowed) {
				this.isDataPickerShowed = false;
			}
		},
		Decliner
	},
	computed: {
		getGuestsRoomsText() {
			var guests =
				this.$store.state.searchparameters.hotelParams.newPassengers.adults +
				this.$store.state.searchparameters.hotelParams.newPassengers.children +
				this.$store.state.searchparameters.selectedPassengers.length;
			var rooms = this.$store.state.searchparameters.hotelParams.room;
			var resultText = "";
			if (this.currentLang.code == "ru") {
				if (guests == 1) {
					resultText += "1 гость, ";
				} else {
					resultText += guests + " гостя, ";
				}
			} else {
				if (guests == 1) {
					resultText += "1 guest, ";
				} else {
					resultText += guests + " guests, ";
				}
			}
			if (this.currentLang.code == "ru") {
				if (rooms == 1) {
					resultText += "1 комната";
				} else {
					resultText += rooms + " комнаты,";
				}
			} else {
				if (rooms == 1) {
					resultText += " 1 room";
				} else {
					resultText += rooms + " rooms";
				}
			}
			return resultText;
		},
		fromDate() {
			return this.$store.state.searchparameters.hotelParams.fromDate;
		},
		toDate() {
			return this.$store.state.searchparameters.hotelParams.toDate;
		},
		days() {
			var from = this.fromDate;
			var to = this.toDate;
			var res = (Number(to) - Number(from)) / (24 * 60 * 60 * 1000);
			return Math.round(res);
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	}
};
</script>

<style lang='sass'>
  @import "../../../styles/sass/colors"
  .hotel-filter-bar
    .filter-bar
      .item
        position: relative
        .wrapper-datapicker
          width: 100%
          display: flex
          flex-flow: row nowrap

          box-sizing: border-box
          align-items: center
      .data-picker-wrapper
        position: absolute
        top: 100%
        left: 0
        z-index: 999999
        width: 320px
        .calendar
          box-shadow: 5px 5px 5px rgba(74, 74, 74, 0.34)
          .content
            ul
              li
                .marked
                  border-color: $orange-color
                .drawed
                  color: $orange-color

</style>
