<template>
	<div class="text-page">
		<div class="text">
			<a class="close" href="javascript:void(0)" @click="$emit('close')">
				<img src="../../assets/icons/empty-close.svg" alt="" />
			</a>
			<h1>Пользовательское соглашение</h1>
			<h2>1. Введение</h2>
			<p>Настоящее Соглашение является юридическим документом, определяющим как права и обязанности компании Копикот.ру (именуемой в дальнейшем "мы", "нас" или ""), связанные с услугами данного сайта (Копикот.ру), так и права и обязанности Покупателя (в дальнейшем "Вы" или "Пользователь") после принятия данного Соглашения. <br />
				Вы должны прочитать и понять содержание этого Договора в полном объеме, прежде чем Вы подпишитесь на услуги Копикот.ру. Примите к сведению, что периодически в Договор могут вноситься изменения в соответствии с п.16 настоящего Договора. Подписавшись на услуги, Вы одновременно создаете "учетную запись/аккаунт" и становитесь "Пользователем". <br />
				Определение: Бонус/ Премия (по-английски "cashback") - это выраженное в денежной форме возмещение расходов Покупателя, состоявшееся после того как покупка/сделка с Рекламодателем определена как легитимная и завершенная, в соответствии с условиями данного Договора.  Определение: Зарегистрированное Событие – это покупка, которая совершена через сайт Копикот.ру, и извещение о которой мы получили от Продавца (Интернет-магазин/ Интернет-компания). На данном этапе Событие зарегистрировано, но еще не дается гарантии, что будет произведена выплата Бонуса Продавцом.</p>
			<h2>2. Услуги </h2>
			<p>Услуги позволяют Пользователю получать определенный процент - Бонус (по-английски "cashback") от каждой суммы, которую он перевел за свою покупку в Интернет-магазин (далее - Рекламодатель), зарегистрированный в каталоге Копикот.ру. Для того чтобы данная выплата состоялась, Интернет-магазин, где была произведена покупка, должен подтвердить реальный факт оплаты, доставки товара, подтверждения заявки и/или исполнения других условий, указанных в поле "Особые условия" для каждого магазина. <br />Выплаты могут производиться мгновенно, но в большинстве случаев Интернет-магазины подтверждают комиссионную сумму только после завершения сделки - оплаты товара/услуги Пользователем. Данный процесс может занимать около 30 дней. Далее комиссионные выплачиваются Интернет-магазином на счет Копикот.ру, и уже Копикот.ру, в свою очередь, выплачивает оговоренный Бонус Покупателю. <br />В случае если Интернет-магазин не предоставляет нам информацию по сделкам/покупкам, мы не несем никакой ответственности за не начисленный им кэшбэк.</p>
			<h2>3. Учетная запись Пользователя</h2>
			<p>Вам должно быть не менее 16 лет, чтобы получить учетную запись пользователя. Один человек может иметь только одну учетную запись пользователя на сайте Копикот.ру. Чтобы получать выплату, Вам потребуется указать реквизиты банковского или другого счета, при этом необходимо иметь ввиду следующее <br />	Вы должны иметь полное право пользования данным счетом на данный момент.Вы должны подтвердить, что хотите получить Бонус на тот же счет или тем же методом, с помощью которого была совершена сделка. Вы должны предоставлять эту информацию своевременно и поддерживать ее актуальность в своей учетной записи/аккаунте. Примите во внимание, что различные платежные системы могут иметь свои особенности: например, минимально и максимально возможные переводы, которые 	Вы можете осуществлять с их помощью. <br />Важное замечание - на сайте Копикот.ру, в Вашей учетной записи/аккаунте, должен иметься Ваш «действующий» электронный адрес, который функционирует без проблем, и Вы своевременно получаете от нас электронные письма. Если Вы меняете свой электронный адрес, то поменяйте его и в Вашей учетной записи/аккаунте. <br />Также важно отметить, что в случае, если в учетную запись Пользователя не выполнялся вход/авторизация в течение одного года, мы «замораживаем» аккаунт и все накопленные на нем бонусы с возможностью последующей «разморозки» по заявке Пользователя. Кэшбэк при этом будет сохранен.</p>
			<h2>4. Бонус/Премия (cashback)</h2>
			<p>Если учетная запись Пользователя отвечает всем требованиям, и все необходимые условия сделки/покупки соблюдены, если мы получили от Продавца правильную комиссионную сумму, то мы выплачиваем Бонус Пользователю удобным ему способом.
				Копикот.ру оставляет за собой право решать, какую долю он получает от комиссии, выплаченной Рекламодателем. Деньги находятся в полной собственности Копикот.ру, и Пользователь не имеет на них права до тех пор, пока они не переведены на его (Пользователя) банковскую карту, счет мобильного телефона, PayPal счет или на один из электронных кошельков, Пользователь предварительно выбирает метод выплаты. Мы оставляем за собой право запрашивать выплаченную сумму у банка, где находится счет Пользователя, если Пользователем были нарушены условия настоящего Пользовательского Соглашения.
				Пожалуйста, обратите внимание, что существует множество различных ситуаций, при которых Рекламодатель может счесть, что условия сделки/покупки выполняются некорректно, и в таких случаях выплата Бонуса не производится. Также стоит отметить и целый ряд ситуаций, при которых выплата Бонуса не производится Пользователю и вся сумма остается в полном распоряжении Копикот.ру. Например:
				Если Пользователь совершил покупку через Копикот.ру, не выполнив авторизацию на сайте (то есть, не введя пару «логин-пароль»).
				Если сделка, гарантирующая Бонус, отменена после возврата товара или отмены заказа, право на которое гарантируется многими Интернет-магазинами.
				Деньги также не будут выплачены Пользователю (или не перечислены на его учетную запись/аккаунт), если:
				a. положения настоящего Соглашения будут отменены в соответствии с пунктом 8;
				b. были выявлены любые факты мошенничества или нарушения данного Соглашения в любой форме;
				c. учетная запись использовалась или используется, чтобы сделать покупки от имени другого лица или в интересах другого лица;</p>
			<h2>5. Интеллектуальная Собственность:</h2>
			<p>Подписываясь на услуги Копикот.ру и предоставляя нам свои личные данные, а также другую информацию, Пользователь соглашается со следующими условиями:
				A. Пользователь предоставляет нам неэксклюзивную лицензию (в том числе право раздавать сублицензии) использовать, копировать или распространять данные материалы через Копикот.ру и все другие интерактивные услуги, которые мы или лица, имеющие нашу сублицензию, предоставляем в своем пакете услуг;
				B. Через нас Вы предоставляете неисключительное право обзора данного материала другим нашим Пользователям.
				Вы признаете и понимаете, что мы владеем всем содержимым веб-сайта, всеми товарными знаками и имеем лицензию на предоставляемые нами услуги и другие права интеллектуальной собственности компании Копикот.ру (в том числе и материалы, в производстве которых участвуют пользователи и рекламодатели). Никто не имеет права копировать, распространять, публично демонстрировать или создавать производные сайта Копикот.ру или использовать любое материалы, принадлежащие компании, не получив от Копикот.ру специального письменного разрешения.</p>
			<h2>6. Конфиденциальность</h2>
			<p>Обеспечение конфиденциальности является частью условий данного Договора и, заключая его с нами, Вы принимаете наши способы обращения и хранения Ваших личных данных, в соответствии с нашей политикой конфиденциальности. Поскольку Интернет является глобальной информационной сетью, мы просим Вас принять во внимание, что данные, хранящиеся в Копикот.ру, могут стать доступными для пользователей Интернета во всем мире.</p>
			<h2>7. Наша роль</h2>
			<p>Никоим образом не участвует в каких-либо сделках с рекламодателями и не является продавцом или поставщиком товаров или услуг, которые предлагаются рекламодателями. Поэтому мы не несем никаких юридических обязательств, которые относятся к продуктам или услугам, предоставляемым рекламодателями.
				На основании вышеизложенного, мы не имеем возможности влиять или принимать на себя ответственность за:
				Услуги или товары, предлагаемые рекламодателями, их качество, безопасность и законность;
				Доставку рекламодателями товаров или предоставление оговоренных услуг.
				Пользователь должен проявлять адекватную осторожность при совершении сделок с рекламодателями. Вы освобождаете нас, наших сотрудников и других потенциальных партнеров от ответственности, сопровождающей любую сделку с рекламодателями в той мере, которая разрешена законом, в том числе (без каких-либо ограничений) и ото всех требований и претензий, связанных с реализованными или нереализованными сделками с рекламодателями, либо с товарами и их доставкой или с услугами, предоставляемыми ими.</p>
			<h2>8. Нарушение условий соглашения</h2>
			<p>Мы (Копикот.ру) оставляем за собой право в одностороннем порядке приостановить или полностью прекратить доступ любого Пользователя к услугам Копикот.ру, если мы проверяем данные Пользователя или его учетную запись в связи с возможным нарушением любого из положений настоящего Соглашения.
				Пользовательские учетные записи/аккаунты могут быть использованы только для совершения покупок или иных действий только от своего имени и в своих интересах (никогда в интересах другого лица или не от своего имени). Пользователь не может предпринимать никаких попыток по совершению любых сделок с рекламодателями для получения Бонуса, если:
				a. Пользователь предоставляет персональные данные другого лица,
				b. использует тот способ оплаты, на осуществление которого он не имеет права
				c. Пользователь заведомо ложным путем совершает сделку с рекламодателем,
				d. найдено нарушение любого из условий существующего Соглашения или правил, установленных Копикот.ру и рекламодателями.
				Каждый Пользователь несет ответственность за то, чтобы ни его учетная записи/аккаунт, ни любой материал, связанный с ним, не содержал:
				a. клеветнической, оскорбительной, ложной информации и угрозы;
				b. информации, которая может вызвать раздражение, страх или беспокойство у другого лица;
				c. вирусов, макровирусов, вирусов типа «Троянский конь», «Червь» и/или любых других программ, созданных для проникновения в компьютерную систему и направленных на прерывание или нарушения нормального функционирования компьютера или на тайный сбор личных и системных данных;
				d. материал не нарушает действующее законодательство (включая, например, закон о защите прав потребителей, закон о конфиденциальности переписки, законы о дистанционной торговле, недобросовестной конкуренции, дискриминации, ложном маркетинге, об авторском праве, товарных знаках и неприкосновенности частной жизни);
				e. материал не нарушает никаких прав человека или организации (в том числе любые права в отношении неприкосновенности частной жизни);
				f. содержание «обратной связи» с рекламодателями является точным и справедливым;
				Если Вы видите или подозреваете факты нарушения вышеприведенных условий - пожалуйста, сообщите нам об этом незамедлительно. Каждый Пользователь признает, что мы имеем право, но не обязанность, удалять любой материал, который выглядит как нарушение настоящего Соглашения, основываясь на показаниях третьих лиц или других пользователей.</p>
			<h2>9. Связь с третьими лицами</h2>
			<p>Если нам поступает информация о неподходящих, ложных или противозаконных материалах, имеющих отношение к Вам или Вашей учетной записи/аккаунту, то мы готовы связаться с Вами в течение одной недели и прояснить этот вопрос.</p>
			<h2>10. Дополнительные услуги</h2>
			<p>Мы (Копикот.ру) и/или наши партнеры можем время от времени предоставлять Вам новые или дополнительные услуги. Если Вы заинтересуетесь данными услугами, то мы предоставим Вам и перечень дополнительных условий, которые необходимо будет принять, чтобы иметь доступ к дополнительным услугам. Сообщая Вам об Дополнительных условиях и правилах, Копикот.ру оставляет за собой право решать, когда предоставлять Вам их. Любое нарушение Дополнительных условий неизменно означает и нарушение всего настоящего Соглашения.</p>
			<h2>11. Сервис и Техническое Обслуживание </h2>
			<p>Мы оставляем за собой право удалять или изменять часть услуг Копикот.ру, а также приостановить или полностью прекратить деятельность Копикот.ру
				Это может быть сделано в связи с вопросами безопасности или по правовым, техническим или коммерческим причинам. Мы постараемся (но не обещаем или гарантируем) уведомить Вас за 30 дней до рассмотрения такого рода действий, за исключением тех ситуаций, когда подобные меры необходимы по соображениям безопасности или из-за технических трудностей, которые могли бы негативно повлиять на Копикот.ру.
				Наш сайт и предоставляемые им услуги могут быть недоступны время от времени в связи с техническими трудностями или, более вероятно, из-за проблем с Интернетом; однако, мы всегда стремимся устранить данные неудобства, если это зависит от нас. Тем не менее, обратите внимание, что Копикот.ру не гарантирует постоянную доступность услуг. Несмотря на вышесказанное, мы стремимся к тому, чтобы период недоступности наших услуг был сведен минимуму. Из соображений безопасности или по другим причинам мы можем попросить Вас изменить Ваш пароль или запросить ключевую информацию, необходимую для авторизации на сайте Копикот.ру. При этом пользователь сам несет ответственность за обеспечение конфиденциальности своих личных данных.</p>
			<h2>12. Наши обязательства</h2>
			<p>Мы стремимся предоставлять услуги Копикот.ру нашим Пользователям с должной компетенцией, мы стремимся соответствовать нашему представлению о предлагаемых услугах, но мы не можем гарантировать, что услуги Копикот.ру будут соответствовать Вашим ожиданиям или Вашим требованиям.
				Копикот.ру несет ответственность только в той степени и в тех случаях, что оговорены в настоящем Соглашении, при этом Копикот.ру не имеет других обязательств и не несет ответственности в случае какого-либо ущерба.
				Копикот.ру не несет ответственности за любые травмы или смерти Пользователей и других лиц, случившиеся по каким-либо причинам.
				Копикот.ру несет ответственность только за прямые потери или неудобства, оговоренные в настоящем Соглашении, вызванные действием или бездействием сотрудников Копикот.ру.
				Мы не несем ответственности перед Вами или любым другим юридическим лицом по поводу любого вида ущерба (включая халатность, нарушение юридических обязательств, а также любые другие убытки) или иным образом:
				a. при любом финансовом ущербе, при потери ожидаемого дохода или накоплений,
				b. при особых или косвенных жалобах на причиненный ущерб, даже если ущерб был нанесен при несвоевременном исполнением услуг Копикот.ру или их невыполнении, неисполнении условий данного Соглашения тем или иным образом;
				Невзирая на упомянутые выше пункты данного Соглашения, все предложения, гарантии, условия и другие положения и распоряжения (явные или неявные, но легитимные) оформляются и оговариваются отдельно, исключая те положения, которые могут быть названы мошенничеством или согласование которых противоречит закону;
				Для большей ясности сообщаем, что Копикот.ру не ответственен перед Вами или другими лицами, имеющими отношение к контенту (его созданию или к участию в его создании) и причастные к сделкам с Рекламодателями или связанные любыми другими способами с Копикот.ру, его услугами и т.д.
				Условия, оговоренные в 12 пункте, остаются в силе даже в случае прекращения действия данного Соглашения;
				Мы (Копикот.ру) оставляем за собой право уведомлять пользователей об изменениях в сервисе, рассылать им материалы касающиеся сервиса или оказываемых нами услуг, посредством использования любой контактной информации предоставленной пользователем в  профиле личного кабинета.</p>
			<h2>Обратная Связь (Наши контактные данные)</h2>
			<p>Связаться с нами или направить Ваши вопросы и заявки можно, воспользовавшись электронным адресом нашей службы поддержки клиентов help@
				Пожалуйста, примите к сведению, что вся корреспонденция (включая письма и рассылку различных уведомлений) относящаяся к сути данного Соглашения, будет направляться Пользователям посредством электронной почты. Для этой цели Вам понадобится отправить нам сообщение на адрес help@, и мы пришлем Вам ответ на тот электронный адрес, который Вы указали при регистрации на нашем сайте, позже Вы можете изменить его в настройках Вашей учетной записи/аккаунта.</p>
		</div><!-- .text -->
	</div>
</template>

<script>
    export default {
        name: "agreements"
    }
</script>

<style lang="sass" scoped>
.text-page
	padding-top: 0
</style>
