<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<div class="auth__btns-wr">
			<router-link to='login-corp' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>
			<router-link to='reg-corp' class="auth__btn">{{ $t("registration.signUp", currentLang.code) }}</router-link>
			<ul>
				<li>
					<router-link to='login-user'>{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>
				</li>
				<li>
					<router-link to='login-corp'>{{ $t("registration.legalPerson", currentLang.code) }}</router-link>
				</li>
			</ul>
		</div><!-- .btns-wr -->
		<form class="login-private" @submit.prevent="validate">
			<div class="input-wr">
				<label>{{ $t("registration.phone", currentLang.code) }}</label>
				<masked-input
			      type="text"
			      placeholder="+7 (___)___-__-__"
			      v-model="user.phone"
			      :mask="['+', '7', ' ', '(', /[1-9]/, /\d/, /\d/, ')',/\d/,/\d/, /\d/, '-', /\d/, /\d/, '-',/\d/, /\d/]"
			      :guide="true"
			      placeholderChar="_">
			    </masked-input>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.password", currentLang.code) }}</label>
				<input type="password" placeholder="Ваш пароль" v-model.trim="user.password"/>
			</div><!-- .input-wr -->
			<div class="auth__link-wr text-right">
				<router-link to='forgot-pass-corporate'>{{ $t("registration.foggot", currentLang.code) }}</router-link>
			</div><!-- .link-wr -->
			<button href="#" @submit.prevent="validate" class="auth__btn-next">
				<span class="loader" v-show="loading"></span>
				{{ $t("registration.sign", currentLang.code) }}
			</button>
			<div class="auth__cashback">
				{{ $t("registration.participation", currentLang.code) }} <router-link to="agreements">{{ $t("registration.more", currentLang.code) }}</router-link>
			</div><!-- .auth__cashback -->
		</form><!-- .login-private -->
	</div>

</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";

export default {
	name: "auth-login-corporate",
	data() {
		return {
			loading: false,
			user: {
				//данные введены для тестирования, что бы каждый раз не вводить при входе
				//сейчас не работае авторизация по телефону для юр лиц
				phone: "",
				password: ""
			}
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	beforeDestroy() {
		var path = this.$route.path;
		if (path == "/") {
			this.$emit("disableClearPage");
		}
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		validate() {
			if (this.user.phone == "" || this.user.password == "") {
				if (this.user.phone == "") {
					VueNotifications.error({
						message: this.$t("validation.phoneRequired", this.currentLangCode)
					});
				}
				if (this.user.password == "") {
					VueNotifications.error({
						message: this.$t("validation.passwordRequired", this.currentLangCode)
					});
				}
			} else {
				this.login();
			}
		},
		login() {
			self = this;
			self.loading = true;
			var user = {
				phone: this.user.phone.replace(/[^0-9]/g, ""),
				password: this.user.password
			};
			API.auth(user)
				.then(response => {
					var data = response.data;
					self.loading = false;
					if (!!data.access_token) {
						localStorage.setItem("President_Travel_token", data.access_token);
						API.config = {
							headers: {
								Authorization:
									"Bearer " + localStorage.getItem("President_Travel_token")
							},
							data: {
								lang: this.$store.state.langs.currentLang.code,
								currency: this.$store.state.currencies.selectedCurrency.code
							}
						};
						this.initRec()
					} else {
						VueNotifications.error({ message: "error" + data });
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					}
				});
		},
		initRec() {
			API.init()
				.then(response => {
					var initData = {
						name: response.data.name,
						isCompany: response.data.isCompany,
						balance: response.data.balance
					};
					if (response.data.isCompany) initData.companyId = response.data.companyId;
					this.$store.commit("setInitData", initData);
					//для календаря
					this.$store.commit("setEvents", response.data.orders);
					//для записной книги
					var passengers = response.data.travelers;
					passengers.forEach(element => {
						element.isTrip = false;
					});
					this.$store.commit("setPassengers", passengers);

					//для главной список путешественников
					this.$store.commit(
						"setPassengersForMainPage",
						response.data.travelersOrders
					);

					this.$store.commit(
						"setReservationForMainPage",
						response.data.myOrders
					);
					self.loading = false;
					self.$router.push("/");
				})
				.catch(e => {
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
					}
					self.loading = false;
				});
		}
	}
};
</script>
