<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<div class="auth__btns-wr">
			<router-link to='login-user' class="auth__btn router-link-active" >{{ $t("registration.signIn", currentLang.code) }}</router-link>
			<router-link to='reg-user' class="auth__btn">{{ $t("registration.signUp", currentLang.code) }}</router-link>
			<ul>
				<li>
					<router-link to='forgot-pass-user'>{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>
				</li>
				<li>
					<router-link to='forgot-pass-corporate'>{{ $t("registration.legalPerson", currentLang.code) }}</router-link>
				</li>
			</ul>
		</div><!-- .btns-wr -->

		<form class="login-private" @submit.prevent="validate">
			<div class="input-wr">
				<label>{{ $t("registration.email", currentLang.code) }}</label>
				<input type="email" placeholder="info@index.com" v-model.trim="user.email"/>
			</div><!-- .input-wr -->
			<button href="#" @submit.prevent="validate" class="auth__btn-next" :disabled='loading'>
				<span class="loader left" v-show="loading"></span>
				{{ $t("registration.sendPass", currentLang.code) }}
			</button>
		</form><!-- .login-private -->

	</div>


</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "authloginprivate",
	data() {
		return {
			loading: false,
			user: {
				email: ""
			}
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	beforeDestroy() {
		var path = this.$route.path;
		if (path == "/") {
			this.$emit("disableClearPage");
		}
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		validate() {
			if (this.user.email == "") {
				VueNotifications.error({
					message: this.$t("validation.emailRequired", this.currentLangCode)
				});
			} else {
				this.sendForgottenPass();
			}
		},
		sendForgottenPass() {
			self = this;
			self.loading = true;
			let email = {
				email: this.user.email
			};
			API.resetPass(email)
				.then(response => {
					self.loading = false;
					var data = response.data;
					if (data.status == "success") {
						VueNotifications.success({
							message: this.$t("confirm.passwordSend", this.currentLangCode)
						});
						this.$router.push("login-corp");
					} else {
						VueNotifications.error({ message: "error" + data });
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					}
				});
		}
	}
};
</script>
