<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<div class="auth__btns-wr">
			<router-link to='login-user' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>
			<router-link to='reg-user' class="auth__btn">{{ $t("registration.signUp", currentLang.code) }}</router-link>
			<!--<ul>-->
				<!--<li>-->
					<!--<router-link to='login-user'>{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>-->
				<!--</li>-->
				<!--<li>-->
					<!--<router-link to='login-corp'>{{ $t("registration.legalPerson", currentLang.code) }}</router-link>-->
				<!--</li>-->
			<!--</ul>-->
		</div><!-- .btns-wr -->
		<form class="login-private" @submit.prevent="validate" >
			<div class="input-wr">
				<label>{{ $t("registration.email", currentLang.code) }}</label>
				<input type="email" placeholder="info@index.com" v-model.trim="user.email"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.password", currentLang.code) }}</label>
				<input type="password" placeholder="Ваш пароль" v-model.trim="user.password"/>
			</div><!-- .input-wr -->
			<div class="auth__link-wr text-right">
				<router-link to='forgot-pass-user'>{{ $t("registration.foggot", currentLang.code) }}</router-link>
			</div><!-- .link-wr -->
			<button href="#" @submit.prevent="validate" class="auth__btn-next" :disabled='loading'>
				<span class="loader" v-show="loading"></span>
				{{ $t("registration.sign", currentLang.code) }}
			</button>
		</form><!-- .login-private -->
	</div>


</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "authloginprivate",
	data() {
		return {
			loading: false,
			user: {
				email: "",
				password: ""
			}
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	beforeDestroy() {
		var path = this.$route.path;
		if (path == "/") {
			this.$emit("disableClearPage");
		}
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		validate() {
			if (this.user.email == "" || this.user.password == "") {
				if (this.user.email == "") {
					VueNotifications.error({
						message: this.$t("validation.emailRequired", this.currentLangCode)
					});
				}
				if (this.user.password == "") {
					VueNotifications.error({
						message: this.$t("validation.passwordRequired", this.currentLangCode)
					});
				}
			} else {
				this.login();
			}
		},
		login() {
			self = this;
			self.loading = true;
			API.auth(this.user)
				.then(response => {
					var data = response.data;
					if (data.access_token) {
						localStorage.setItem("President_Travel_token", data.access_token);
						API.config = {
							headers: {
								Authorization:
									"Bearer " + localStorage.getItem("President_Travel_token")
							},
							data: {
								lang: this.$store.state.langs.currentLang.code,
								currency: this.$store.state.currencies.selectedCurrency.code
							}
						};
						//перед тем как отправить на главную - сделаем инит запрос
						self.initRec();
					} else {
						VueNotifications.error({ message: "error" + data });
						self.loading = false;
					}
				})
				.catch(e => {
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					}
					self.loading = false;
				});
		},
		initRec() {
			API.init()
				.then(response => {
					var initData = {
						name: response.data.name,
						isCompany: response.data.isCompany,
						balance: response.data.balance
					};
					if (response.data.isCompany) initData.companyId = response.data.companyId;
					this.$store.commit("setInitData", initData);
					//для календаря
					this.$store.commit("setEvents", response.data.orders);
					//для записной книги
					var passengers = response.data.travelers;
					passengers.forEach(element => {
						element.isTrip = false;
					});
					this.$store.commit("setPassengers", passengers);

					//для главной список путешественников
					this.$store.commit(
						"setPassengersForMainPage",
						response.data.travelersOrders
					);

					this.$store.commit(
						"setReservationForMainPage",
						response.data.myOrders
					);
					self.loading = false;
					self.$router.push("/");
				})
				.catch(e => {
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
					}
					self.loading = false;
				});
		}
	}
};
</script>
