<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<div class="auth__btns-wr">
			<router-link to='login-user' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>
			<router-link to='reg-user' class="auth__btn router-link-active">{{ $t("registration.signUp", currentLang.code) }}</router-link>
			<ul>
				<li>
					<router-link to='login-user'>{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>
				</li>
				<li>
					<router-link to='reg-corp' class="router-link-active">{{ $t("registration.legalPerson", currentLang.code) }}</router-link>
				</li>
			</ul>
		</div><!-- .btns-wr -->
		<form class="login-private" @submit.prevent="next">
			<div class="desc">
				<div class="ttl">{{ $t("registration.execution", currentLang.code) }}</div>
				<p class="with-link">{{ $t("registration.fill", currentLang.code) }}
					<router-link to='/reg-corp' class="back"><img src="../../assets/icons/arrow-left-reg.svg" alt="" />{{ $t("registration.back", currentLang.code) }}</router-link>
					<span class="step-ttl">{{ $t("registration.subscriber", currentLang.code) }}</span>
				</p>

			</div><!-- .desc -->
			<div class="input-wr">
				<label>{{ $t("registration.surname", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="signer.lastname"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.name", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="signer.firstname"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.patronymic", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="signer.fathersname"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.position", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="signer.position"/>
			</div><!-- .input-wr -->


			<button href="#" @submit.prevent="next" class="auth__btn-next" :disabled='loading'>
				<span class="loader" v-show="loading"></span>
				{{ $t("registration.next", currentLang.code) }}
			</button>
			<div class="became-corp">{{ $t("registration.how", currentLang.code) }}<br /><router-link to='/agreements'>{{ $t("registration.more", currentLang.code) }}</router-link> </div>

		</form><!-- .login-private -->
	</div>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "regcorporate2",
	data() {
		return {
			loading: false,
			step_name: "contract_signer",
			signer: {
				lastname: "",
				firstname: "",
				fathersname: "",
				position: ""
			}
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		next() {
			self = this;
			self.loading = true;
			var info = {
				step_name: this.step_name,
				lastname: this.signer.lastname,
				firstname: this.signer.firstname,
				fathersname: this.signer.fathersname,
				position: this.signer.position
			};
			API.validateCorporate(info)
				.then(response => {
					var data = response.data;
					self.loading = false;
					if (data.status == "success") {
						self.$store.commit("RegCorp2", info);
						//переходим на след шаг
						self.$router.push("/reg-corp/step3");
					} else {
						VueNotifications.error({ message: "error" + data });
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					}
				});
		}
	}
};
</script>
