<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<div class="auth__btns-wr">
			<router-link to='login-corp' class="auth__btn">{{ $t("registration.signIn", currentLangCode) }}</router-link>
			<router-link to='reg-user' class="auth__btn router-link-active">{{ $t("registration.signUp", currentLangCode) }}</router-link>
			<ul>
				<li>
					<router-link to='reg-user'>{{ $t("registration.PrivatePerson", currentLangCode) }}</router-link>
				</li>
				<li>
					<router-link to='reg-corp' class="router-link-active">{{ $t("registration.legalPerson", currentLangCode) }}</router-link>
				</li>
			</ul>
		</div><!-- .btns-wr -->
		<form class="login-private" @submit.prevent="next">
			<div class="desc">
				<div class="ttl">{{ $t("registration.execution", currentLangCode) }}</div>
				<p>{{ $t("registration.fill", currentLangCode) }}</p>
			</div><!-- .desc -->

			<autocomplete placeholder="..."
						  class="input-wr pointer"
						  :classList="autocompleteClassList"
						  :label="$t('registration.country', currentLangCode)"
						  :list="countries"
						  v-model="country"
			/>

			<div class="input-wr pointer" @click="showType = !showType" v-click-outside="hideType">
				<label>{{ $t("registration.type", currentLangCode) }}</label>
				<input type="text" placeholder="..." v-model="contractName" readonly="readonly" />
				<div class="inp-dropdown-wr"   v-bar='{useScrollbarPseudo: true}' v-show="showType">
					<ul class="inp-dropdown">
						<li v-for="(item, index) in types" :key="index" @click='selectContractType(item)'>
							<template v-if='currentLangCode == "ru"'> {{item.name}}</template>
							<template v-if='currentLangCode == "en"'> {{item.nameEn}}</template>
						</li>
					</ul>
				</div><!-- .inp-dropdown-wr -->
			</div><!-- .input-wr -->
			<button @submit.prevent="next" class="auth__btn-next" :disabled='loading'>
				<span class="loader" v-show="loading"></span>
				{{ $t("registration.next", currentLangCode) }}
			</button>
			<div class="became-corp">{{ $t("registration.how", currentLangCode) }}<br /><router-link to='/'>{{ $t("registration.more", currentLangCode) }}</router-link> </div>

		</form><!-- .login-private -->
	</div>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Autocomplete from "../plain/autocomplete";
export default {
	name: "regcorporate1",
	components: {Autocomplete},
	data() {
		return {
			loading: false,
			step_name: "registration_begin",
			country: {},
			contract_type: "",
			contractName: "",
			showCountry: false,
			showType: false,
			types: [
				{
					name: "Корпоративный",
					nameEn: "Corporate",
					type: "corporate"
				},
				{
					name: "Пользовательский",
					nameEn: "Custom",
					type: "custom"
				}
			],
			autocompleteClassList: {
				dropdownWrapper: "inp-dropdown-wr",
				dropdown: "inp-dropdown"
			}
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	computed: {
		countries() {
			return this.$store.getters.getCitizenships();
		}
	},
	methods: {
		selectContractType(item) {
			if (this.currentLangCode === "ru") {
				this.contractName = item.name;
			} else {
				this.contractName = item.nameEn;
			}
			this.contract_type = item.type;
		},
		hideType() {
			this.showType = false;
		},
		hideCountry() {
			this.showCountry = false;
		},
		next() {
			self = this;
			self.loading = true;
			var info = {
				step_name: this.step_name,
				country: this.country.id,
				contract_type: this.contract_type
			};
			API.validateCorporate(info)
				.then(response => {
					var data = response.data;
					self.loading = false;
					if (data.status == "success") {
						console.log("success");
						self.$store.commit("RegCorp1", info);

						//переходим на след шаг
						self.$store.commit("RegCorp1", info);
						self.$router.push("reg-corp/step2");
					} else {
						VueNotifications.error({ message: "error" + data });
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					}
				});
		}
	}
};
</script>
