<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<div class="auth__btns-wr">
			<router-link to='login-user' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>	
			<router-link to='reg-user' class="auth__btn router-link-active">{{ $t("registration.signUp", currentLang.code) }}</router-link>
			<ul>
				<li>
					<router-link to='login-user'>{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>
				</li>
				<li>
					<router-link to='reg-corp' class="router-link-active">{{ $t("registration.legalPerson", currentLang.code) }}</router-link>
				</li>
			</ul>
		</div><!-- .btns-wr -->
		<form class="login-private" @submit.prevent="next">
			<div class="desc">
				<div class="ttl">{{ $t("registration.execution", currentLang.code) }}</div>
				<p class="with-link">{{ $t("registration.fill", currentLang.code) }}
					<router-link to='/reg-corp/step4' class="back"><img src="../../assets/icons/arrow-left-reg.svg" alt="" />{{ $t("registration.back", currentLang.code) }}</router-link>
					<span class="step-ttl">{{ $t("registration.bankDetails", currentLang.code) }}</span>
				</p>
				
			</div><!-- .desc -->
			<div class="input-wr">
				<label>{{ $t("registration.bankName", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="bank.bank_name"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.bik", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="bank.bik"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.checkingAccount", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="bank.payment_account"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.corrrespondetnAccoutn", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="bank.kor_account"/>
			</div><!-- .input-wr -->

			<button href="#" @submit.prevent="next" class="auth__btn-next" :disabled='loading'>
				<span class="loader" v-show="loading"></span>
				{{ $t("registration.next", currentLang.code) }}
			</button>
			<div class="became-corp">{{ $t("registration.how", currentLang.code) }}<br /><router-link to='/agreements'>{{ $t("registration.more", currentLang.code) }}</router-link> </div>

		</form><!-- .login-private -->
	</div>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "regcorporate5",
	data() {
		return {
			loading: false,
			step_name: "bank_requisites",
			bank: {
				bank_name: "",
				bik: "",
				payment_account: "",
				kor_account: ""
			}
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		next() {
			self = this;
			self.loading = true;
			var info = {
				step_name: this.step_name,
				bank_name: this.bank.bank_name,
				bik: this.bank.bik,
				payment_account: this.bank.payment_account,
				kor_account: this.bank.kor_account
			};
			API.validateCorporate(info)
				.then(response => {
					var data = response.data;
					self.loading = false;
					if (data.status == "success") {
						self.$store.commit("RegCorp5", info);
						//переходим на след шаг
						self.$router.push("/reg-corp/step6");
					} else {
						VueNotifications.error({ message: "error" + data });
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					}
				});
		}
	}
};
</script>