<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<div class="auth__btns-wr">
			<router-link to='login-user' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>	
			<router-link to='reg-user' class="auth__btn router-link-active">{{ $t("registration.signUp", currentLang.code) }}</router-link>
			<ul>
				<li>
					<router-link to='login-user'>{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>
				</li>
				<li>
					<router-link to='reg-corp' class="router-link-active">{{ $t("registration.legalPerson", currentLang.code) }}</router-link>
				</li>
			</ul>
		</div><!-- .btns-wr -->
		<form class="login-private" @submit.prevent="next">
			<div class="desc">
				<div class="ttl">{{ $t("registration.execution", currentLang.code) }}</div>
				<p class="with-link">{{ $t("registration.fill", currentLang.code) }}
					<router-link to='/reg-corp/step5' class="back"><img src="../../assets/icons/arrow-left-reg.svg" alt="" />{{ $t("registration.back", currentLang.code) }}</router-link>
					<span class="step-ttl">{{ $t("registration.contactDet", currentLang.code) }}</span>
				</p>
				
			</div><!-- .desc -->
			<div class="input-wr">
				<label>{{ $t("registration.contactPerson", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="contactUser.fio"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.phone", currentLang.code) }}</label>
				<!-- <input type="text" placeholder="+7(___) ___-__-__" v-model="contactUser.phone"/> -->
				<masked-input 
					type="tel"
					placeholder="+7(___) ___-__-__"
					:mask="['+', '7', ' ', '(', /[1-9]/, /\d/, /\d/, ')',/\d/,/\d/, /\d/, '-', /\d/, /\d/, '-',/\d/, /\d/]"
					:value="phone"
					@input="setPhone"/>
				</masked-input>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.fax", currentLang.code) }}</label>
				<!-- ]<input type="text" placeholder="+7(___) ___-__-__" v-model="contactUser.fax"/> -->
				<masked-input 
					type="tel"
					placeholder="+7(___) ___-__-__"
					:mask="['+', '7', ' ', '(', /[1-9]/, /\d/, /\d/, ')',/\d/,/\d/, /\d/, '-', /\d/, /\d/, '-',/\d/, /\d/]"
					:value="fax"
					@input='setFax'/>
				</masked-input>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.email", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="contactUser.email"/>
			</div><!-- .input-wr -->

			<button href="#" @submit.prevent="next" class="auth__btn-next"  :disabled='loading'>
				<span class="loader left-left" v-show="loading"></span>
				{{ $t("registration.execution", currentLang.code) }}
			</button>
			<div class="became-corp">{{ $t("registration.how", currentLang.code) }}<br /><router-link to='/agreements'>{{ $t("registration.more", currentLang.code) }}</router-link> </div>

		</form><!-- .login-private -->
	</div>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "regcorporate6",
	data() {
		return {
			loading: false,
			step_name: "contact_user",
			phone: "",
			fax: "",
			contactUser: {
				fio: "",
				phone: "",
				fax: "",
				email: ""
			}
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	computed: {
		corp() {
			return this.$store.state.auth.corp;
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		setPhone(phone) {
			this.phone = phone;
			this.contactUser.phone = phone.replace(/[(,+,\-,\s)]/g, "");
		},
		setFax(fax) {
			this.fax = fax;
			this.contactUser.fax = fax.replace(/[(,+,\-,\s)]/g, "");
		},
		next() {
			self = this;
			self.loading = true;
			var info = {
				step_name: this.step_name,
				fio: this.contactUser.fio,
				phone: this.contactUser.phone,
				fax: this.contactUser.fax,
				email: this.contactUser.email
			};
			API.validateCorporate(info)
				.then(response => {
					var data = response.data;

					if (data.status == "success") {
						self.$store.commit("RegCorp6", info);
						self.reg();
					} else {
						VueNotifications.error({ message: "error" + data });
						self.loading = false;
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					}
				});
		},
		reg() {
			self = this;
			var data = this.$store.state.auth.corp;
			API.regCorporate(data)
				.then(response => {
					var data = response.data;
					self.loading = false;
					if (data.status == "success") {
						// переходим на след шаг
						self.$router.push("/reg-corp/step7");
					} else {
						VueNotifications.error({ message: "error" + data });
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					}
				});
		}
	}
};
</script>