<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<div class="auth__btns-wr">
			<router-link to='login-user' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>	
			<router-link to='reg-user' class="auth__btn router-link-active">{{ $t("registration.signUp", currentLang.code) }}</router-link>
			<ul>
				<li>
					<router-link to='login-user'>{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>
				</li>
				<li>
					<router-link to='reg-corp' class="router-link-active">{{ $t("registration.legalPerson", currentLang.code) }}</router-link>
				</li>
			</ul>
		</div><!-- .btns-wr -->
		<form class="login-private" @submit.prevent="next">
			<div class="desc">
				<div class="ttl">{{ $t("registration.execution", currentLang.code) }}</div>
				<p class="with-link">{{ $t("registration.fill", currentLang.code) }}
					<router-link to='/reg-corp/step2' class="back"><img src="../../assets/icons/arrow-left-reg.svg" alt="" />{{ $t("registration.back", currentLang.code) }}</router-link>
					<span class="step-ttl">{{ $t("registration.legalAdress", currentLang.code) }}</span>
				</p>
				
			</div><!-- .desc -->
			<div class="input-wr">
				<label>{{ $t("registration.region", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="legalAdress.region"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.city", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="legalAdress.city"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.street", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="legalAdress.street"/>
			</div><!-- .input-wr -->
			<div class="input-wr">
				<label>{{ $t("registration.postcode", currentLang.code) }}</label>
				<input type="text" placeholder="…" v-model="legalAdress.post_code"/>
			</div><!-- .input-wr -->
			<div class="input-group">
				<div class="input-wr">
					<label>{{ $t("registration.house", currentLang.code) }}</label>
					<input type="text" placeholder="…" v-model="legalAdress.house"/>
				</div><!-- .input-wr -->
				<div class="input-wr">
					<label>{{ $t("registration.housing", currentLang.code) }}</label>
					<input type="text" placeholder="…" v-model="legalAdress.housing"/>
				</div><!-- .input-wr -->
				<div class="input-wr">
					<label>{{ $t("registration.office", currentLang.code) }}</label>
					<input type="text" placeholder="…" v-model="legalAdress.office"/>
				</div><!-- .input-wr -->
			</div><!-- .input-group -->
			

			<button href="#" @submit.prevent="next" class="auth__btn-next" :disabled='loading'>
				<span class="loader" v-show="loading"></span>
				{{ $t("registration.next", currentLang.code) }}
			</button>
			<div class="became-corp">{{ $t("registration.how", currentLang.code) }} <br /><router-link to='/agreements'>{{ $t("registration.more", currentLang.code) }}</router-link> </div>

		</form><!-- .login-private -->
	</div>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "regcorporate3",
	data() {
		return {
			loading: false,
			step_name: "legal_address",
			legalAdress: {
				region: "",
				city: "",
				street: "",
				post_code: "",
				house: "",
				housing: "",
				office: ""
			}
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		next() {
			self = this;
			self.loading = true;
			var info = {
				step_name: this.step_name,
				region: this.legalAdress.region,
				city: this.legalAdress.city,
				street: this.legalAdress.street,
				post_code: this.legalAdress.post_code,
				house: this.legalAdress.house,
				housing: this.legalAdress.housing,
				office: this.legalAdress.office
			};
			API.validateCorporate(info)
				.then(response => {
					var data = response.data;
					self.loading = false;
					if (data.status == "success") {
						self.$store.commit("RegCorp3", info);
						//переходим на след шаг
						self.$router.push("/reg-corp/step4");
					} else {
						VueNotifications.error({ message: "error" + data });
					}
				})
				.catch(e => {
					self.loading = false;
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					}
				});
		}
	}
};
</script>