<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<div class="auth__btns-wr">
			<router-link to='login-user' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>	
			<router-link to='reg-user' class="auth__btn router-link-active">{{ $t("registration.signUp", currentLang.code) }}</router-link>
			<ul>
				<li>
					<router-link to='login-user'>{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>
				</li>
				<li>
					<router-link to='reg-corp' class="router-link-active">{{ $t("registration.legalPerson", currentLang.code) }}</router-link>
				</li>
			</ul>
		</div><!-- .btns-wr -->
		<form class="login-private">

				<div class="congratulation">
					<div class="ttl">{{ $t("registration.issued", currentLang.code) }}</div>
					<div class="copy">{{ $t("registration.sendEmail", currentLang.code) }}</div>
					<div class="mail">{{mail}}</div>
					<div class="call">{{ $t("registration.willContact", currentLang.code) }}</div>
				</div>
			<!-- <button href="#" @submit.prevent="login" class="auth__btn-next red">Войти</button> -->
		</form><!-- .login-private -->
	</div>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
export default {
	name: "regcorporate7",
	data() {
		return {};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		mail() {
			return this.$store.state.auth.corp.contact_user.email;
		}
	},
	methods: {
		login() {}
	}
};
</script>