<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<template v-if="!agreements">
			<div class="auth__btns-wr">
				<router-link to='login-user' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>
				<router-link to='reg-user' class="auth__btn router-link-active">{{ $t("registration.signUp", currentLang.code) }}</router-link>
				<!--<ul>-->
					<!--<li>-->
						<!--<router-link to='login-user' class="router-link-active">{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>-->
					<!--</li>-->
					<!--<li>-->
						<!--<router-link to='reg-corp'>{{ $t("registration.legalPerson", currentLang.code) }}</router-link>-->
					<!--</li>-->
				<!--</ul>-->
			</div><!-- .btns-wr -->
			<form class="login-private" @submit.prevent="login">
				<div class="input-wr">
					<label>{{ $t("registration.name", currentLang.code) }}</label>
					<input type="text" placeholder="..." v-model="user.name"/>
				</div><!-- .input-wr -->
				<div class="input-wr">
					<label>{{ $t("registration.surname", currentLang.code) }}</label>
					<input type="text" placeholder="..." v-model="user.lastname"/>
				</div><!-- .input-wr -->
				<div class="input-wr ">
					<label>{{ $t("profile.birthDate", currentLang.code) }}</label>
					<!-- <input type="text" placeholder="день. месяц. год." v-model="user.date_of_birth"/> -->
					<masked-input
						type="text"
						placeholder="день. месяц. год."
						v-model="user.date_of_birth"
						:mask="[/\d/, /\d/, '.', /\d/, /\d/, '.', /\d/, /\d/, /\d/, /\d/]"
						:guide="true"
						placeholderChar="_">
					</masked-input>
				</div><!-- .input-wr -->
				<div class="input-wr pointer" @click="showSex = !showSex" v-click-outside="hideSex">
					<label>{{ $t("profile.sex", currentLang.code) }}</label>
					<input type="text" placeholder="..." v-model="displaySexName" readonly="readonly" />
					<div class="inp-dropdown-wr"  v-show="showSex">
						<ul class="inp-dropdown">
							<li v-for="item in sex" @click='selecetSex(item)'>
								<template v-if='currentLang.code == "ru"'> {{item.name}}</template>
								<template v-if='currentLang.code == "en"'> {{item.nameEn}}</template>
							</li>
						</ul>
					</div><!-- .inp-dropdown-wr -->
				</div><!-- .input-wr -->
				<div class="input-wr pointer" @click="showCitizenship = !showCitizenship" v-click-outside="hideCitizenship">
					<label>{{ $t("profile.citizenship", currentLang.code) }}</label>
					<input type="text" placeholder="..." v-model="displayCitizenshipName" readonly="readonly" />
					<div class="inp-dropdown-wr" v-bar='{useScrollbarPseudo: true}' v-show="showCitizenship">
						<ul class="inp-dropdown">
							<li v-for="citizenship in citizenships" @click='selecetCitizenship(citizenship)'>
								<template v-if='currentLang.code == "ru"'> {{citizenship.name}}</template>
								<template v-if='currentLang.code == "en"'> {{citizenship.nameEn}}</template>
							</li>
						</ul>
					</div><!-- .inp-dropdown-wr -->
				</div><!-- .input-wr s-->
				<!-- <div class="input-wr">
                    <label>Номер документа</label>
                    <input type="text" placeholder="…" v-model="user.document_number"/>
                </div> -->
				<router-link to="/" class="auth__center-link">{{ $t("registration.deferredFormFill", this.currentLangCode) }}</router-link>
				<div class="auth__cashback">
					{{ $t("registration.participation", currentLangCode) }} <a href="javascript:void(0)" @click="agreements = true">{{ $t("registration.more", currentLang.code) }}</a>
				</div><!-- .auth__cashback -->
				<button href="#" @submit.prevent="login" class="auth__btn-next" :disabled='loading'>
					<span class="loader" v-show="loading"></span>
					Войти
				</button>
			</form><!-- .login-private -->
		</template>
		<agreements v-else @close="agreements = false"/>
	</div>
</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Agreements from "./agreements";
export default {
	name: "reguser3",
	components: {Agreements},
	data() {
		return {
			loading: false,
			displaySexName: "",
			displayCitizenshipName: "",
			user: {
				name: "",
				lastname: "",
				date_of_birth: "",

				email: "",
				password: "",
				citizenship: {
					name: "",
					id: ""
				},
				sex: {
					name: "",
					id: ""
				}
			},
			showCitizenship: false,
			showSex: false,
			sex: [
				{
					name: "Женский",
					nameEn: "Female",
					id: 2
				},
				{
					name: "Мужской",
					nameEn: "Male",
					id: 1
				}
			],
			agreements: false
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	beforeDestroy() {
		var path = this.$route.path;
		if (path == "/") {
			this.$emit("disableClearPage");
		}
	},
	computed: {
		citizenships() {
			return this.$store.state.params.citizenships;
		},
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		selecetSex(item) {
			this.user.sex = item;
			if (this.currentLang.code == "ru") {
				this.displaySexName = item.name;
			} else {
				this.displaySexName = item.nameEn;
			}
		},
		selecetCitizenship(citizenship) {
			this.user.citizenship = citizenship;
			if (this.currentLang.code == "ru") {
				this.displayCitizenshipName = citizenship.name;
			} else {
				this.displayCitizenshipName = citizenship.nameEn;
			}
		},
		hideSex() {
			this.showSex = false;
		},
		hideCitizenship() {
			this.showCitizenship = false;
		},
		login() {
			//отсправить данные на сервер
			self = this;
			self.loading = true;
			let user = {
				firstname: this.user.name,
				lastname: this.user.lastname,
				birthday: this.user.date_of_birth.replace(/\./g, "-"),
				sex: this.user.sex.id,

				citizenship: this.user.citizenship.id
				// document_number: this.user.document_number
			};
			API.uptadePersonalInfo(user)
				.then(response => {
					var data = response.data;
					if (data.status == "success") {
						self.$router.push("/");
					} else {
						console.log("error" + data);
					}
					self.loading = false;
				})
				.catch(e => {
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
					}
					self.loading = false;
				});
		}
	}
};
</script>
