<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<template v-if="!agreements">
			<div class="auth__btns-wr">
				<router-link to='login-user' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>
				<router-link to='reg-user' class="auth__btn router-link-active">{{ $t("registration.signUp", currentLang.code) }}</router-link>
				<!--<ul>-->
					<!--<li>-->
						<!--<router-link to='login-user' class="router-link-active">{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>-->
					<!--</li>-->
					<!--<li>-->
						<!--<router-link to='reg-corp'>{{ $t("registration.legalPerson", currentLang.code) }}</router-link>-->
					<!--</li>-->
				<!--</ul>-->
			</div><!-- .btns-wr -->
			<form class="login-private" @submit.prevent="send">
				<div class="input-wr">
					<label>{{ $t("registration.verifyCode", currentLang.code) }}</label>
					<input type="password" class="center" v-model="verification"/>
				</div><!-- .input-wr -->
				<span class="text pointer" @click.prevent="confirm">
					<template v-if="!clicked">{{reSendCode}}</template>
					<template v-else>{{forgotText}}</template>
				</span>
				<div class="auth__cashback">
					{{ $t("registration.participation", currentLangCode) }} <a href="javascript:void(0)" @click="agreements = true">{{ $t("registration.more", currentLang.code) }}</a>
				</div><!-- .auth__cashback -->
				<button href="#" @submit.prevent="send" class="auth__btn-next" :disabled='loading'>
					<span class="loader" v-show="loading"></span>
					{{ $t("registration.next", currentLang.code) }}
				</button>
			</form><!-- .login-private -->
		</template>
		<agreements v-else @close="agreements = false"/>
	</div>


</template>
<script>
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Agreements from "./agreements";
import _ from "lodash";

export default {
	name: "reguser2",
	components: {Agreements},
	data() {
		return {
			loading: false,
			verification: "",
			reSendCode: this.$t("registration.resendConfirmationCode", this.currentLangCode),
			clicked: false,
			leftTime: 30000,
			agreements: false,
			doubleReSendCodeLabel: this.$t("registration.reResendConfirmationCode", this.currentLangCode),
			waitForResendTPL: _.template(this.$t("registration.waitForResendTPL", this.currentLangCode))
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	mounted() {
		self = this;
		setInterval(function() {
			if (self.leftTime > 0) {
				self.leftTime -= 1000;
			}
		}, 1000);
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		},
		userId() {
			return this.$store.state.auth.user.id;
		},
		forgotText: {
			set(val) {
				this.forgotText = val;
			},
			get() {
				if (this.leftTime > 0) {
					return this.waitForResendTPL({seconds: String(Math.round(this.leftTime / 1000))});
				} else {
					return this.$t("registration.sendingCode", this.currentLangCode);
				}
			}
		}
	},
	methods: {
		confirm() {
			this.clicked = true;
			self = this;
			if (this.leftTime > 0) {
				setTimeout(function() {
					API.reSendSmsCode(self.userId)
						.then(response => {
							var data = response.data;
							if (data.status === "success") {
								self.reSendCode = this.doubleReSendCodeLabel;
								self.clicked = false;
								self.leftTime = 30000;
							} else {
								alert("error" + data);
							}
						})
						.catch(e => {
							if (e.response) {
								e.response.data.data.forEach(function(el) {
									VueNotifications.error({ message: el.message });
								});
							} else {
								console.log(e.response);
							}
						});

					//пока не работает АПИ
					// self.reSendCode = "Код отправлен. Не получили код активации?";
					// self.clicked = false;
					// this.leftTime = 30000;
				}, this.leftTime);
			} else {
				API.reSendSmsCode(self.userId)
					.then(response => {
						var data = response.data;
						if (data.status == "success") {
							self.reSendCode = this.doubleReSendCodeLabel;
							self.clicked = false;
							self.leftTime = 30000;
						} else {
							alert("error" + data);
						}
					})
					.catch(e => {
						if (e.response) {
							e.response.data.data.forEach(function(el) {
								VueNotifications.error({ message: el.message });
							});
						} else {
							console.log(e.response);
						}
					});

				//пока не работает АПИ
				// self.reSendCode = "Код отправлен. Не получили код активации?";
				// self.clicked = false;
				// this.leftTime = 30000;
			}
		},
		send() {
			self = this;
			self.loading = true;
			let code = {
				sms_code: self.verification,
				user_id: this.$store.state.auth.user.id
			};
			API.confirmSmsCode(code)
				.then(response => {
					var data = response.data;
					if (data.access_token) {
						localStorage.setItem("President_Travel_token", data.access_token);
						//тут происходит авторизация пользователя (см AuthLoginUser!!!!!!)
						API.config = {
							headers: {
								Authorization:
									"Bearer " + localStorage.getItem("President_Travel_token")
							},
							data: {
								lang: this.$store.state.langs.currentLang.code,
								currency: this.$store.state.currencies.selectedCurrency.code
							}
						};
						self.$router.push("/reg-user/step3");
					} else {
					}
					self.loading = false;
				})
				.catch(e => {
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
					}
					self.loading = false;
				});
		}
	}
};
</script>
