<template>
	<div class="auth">
		<router-link to="/"><img class="auth__logo" src="../../assets/icons/logo.svg" alt="" /></router-link>
		<template v-if="!agreements">
			<div class="auth__btns-wr">
				<router-link to='login-user' class="auth__btn">{{ $t("registration.signIn", currentLang.code) }}</router-link>
				<router-link to='reg-user' class="auth__btn router-link-active">{{ $t("registration.signUp", currentLang.code) }}</router-link>
				<!--<ul>-->
					<!--<li>-->
						<!--<router-link to='reg-user' class="router-link-active">{{ $t("registration.PrivatePerson", currentLang.code) }}</router-link>-->
					<!--</li>-->
					<!--<li>-->
						<!--<router-link to='reg-corp'>{{ $t("registration.legalPerson", currentLang.code) }}</router-link>-->
					<!--</li>-->
				<!--</ul>-->
			</div><!-- .btns-wr -->
			<form class="login-private" @submit.prevent="next">
				<div class="input-wr">
					<label>{{ $t("registration.email", currentLang.code) }}</label>
					<input type="text" placeholder="info@index.com" v-model="user.email"/>
				</div><!-- .input-wr -->
				<div class="input-wr">
					<label>{{ $t("registration.phone", currentLang.code) }}</label>
					<masked-input
						type="tel"
						placeholder="+7(___) ___-__-__"
						:mask="['+', '7', ' ', '(', /[1-9]/, /\d/, /\d/, ')',/\d/,/\d/, /\d/, '-', /\d/, /\d/, '-',/\d/, /\d/]"
						:value="phone"
						@input="setPhone"
					/>
				</div><!-- .input-wr -->
				<div class="input-wr">
					<label>{{ $t("registration.password", currentLang.code) }}</label>
					<input type="password" :placeholder='$t("registration.youPassword", currentLang.code)' v-model="user.password"/>
				</div><!-- .input-wr -->
				<div class="auth__cashback">
					{{ $t("registration.participation", currentLangCode) }} <a href="javascript:void(0)" @click="agreements = true">{{ $t("registration.more", currentLang.code) }}</a>
				</div><!-- .auth__cashback -->
				<button href="#" @submit.prevent="next" class="auth__btn-next" :disabled='loading'>
					<span class="loader" v-show="loading"></span>
					{{ $t("registration.next", currentLang.code) }}
				</button>
			</form><!-- .login-private -->
		</template>
		<agreements v-else @close="agreements = false"/>
	</div>


</template>
<script>
import Inp from "../inputs/TelInput.vue";
import { API } from "../../api.js";
import VueNotifications from "vue-notifications";
import Agreements from "./agreements";
export default {
	name: "reguser1",
	components: {
		Agreements,
		Inp: Inp
	},
	data() {
		return {
			loading: false,
			phone: "",
			user: {
				phone: "",
				email: "",
				password: ""
			},
			agreements: false
		};
	},
	created() {
		this.$emit("enbaleClearPage");
	},
	beforeDestroy() {
		var path = this.$route.path;
		if (path == "/") {
			this.$emit("disableClearPage");
		}
	},
	computed: {
		currentLang() {
			return this.$store.state.langs.currentLang;
		}
	},
	methods: {
		setPhone(phone) {
			this.user.phone = phone.replace(/[(,+,\-,\s)]/g, "");
			this.phone = phone;
		},
		next() {
			self = this;
			self.loading = true;
			let user = {
				phone: self.user.phone,
				email: self.user.email,
				password: self.user.password
			};
			API.regUser(user)
				.then(response => {
					if (response.data.status == "success") {
						user.id = response.data.user_id; //идентификатор пользователя который нужен будет для отпраки смс
						self.$store.commit("AuthUserFirstStep", user);
						self.$router.push("reg-user/step2");
					} else {
						console.log("error" + data);
					}
					self.loading = false;
				})
				.catch(e => {
					if (e.response) {
						e.response.data.data.forEach(function(el) {
							VueNotifications.error({ message: el.message });
						});
					} else {
						console.log(e.response);
					}
					self.loading = false;
				});
		}
	}
};
</script>

<style
